@keyframes loadingtextanimation {
  0%{
      color:rgba(#fff,1);
    }
  50%{
      color:rgba(#fff,1);
    }
    60% {
      color:rgba(#fff,0.2);
    }
    100% {
      color:rgba(#fff,1);
    }
}
