@mixin ball($colour:"red",$opacity:1){

  // background-image: url('data:image/svg+xml;charset=UTF-8,<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 104 102.7" preserveAspectRatio="none" version="1.1" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 104 102.7"><path d="m96.9 29.1c-11.6-19.9-43.2-34.8-65.4-26.8-28 10-38.8 49.1-26.5 74.5 27.8 57.6 125.9 9.2 91.9-47.7" fill="#{$colour}" fill-opacity="#{$opacity}"/></svg>');
  background-size: 100% 100%;



  $colour: str-replace($colour, '#', '%23');

  // background-image: url('data:image/svg+xml;charset=UTF-8,<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 104 102.7" preserveAspectRatio="none" version="1.1" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 104 102.7"><path d="m96.9 29.1c-11.6-19.9-43.2-34.8-65.4-26.8-28 10-38.8 49.1-26.5 74.5 27.8 57.6 125.9 9.2 91.9-47.7" fill="red" fill-opacity="1"/></svg>');


  // background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20xmlns%3D%…-47.7%22%20fill%3D%22#{$colour}%22%20fill-opacity%3D%22#{$opacity}%22%2F%3E%3C%2Fsvg%3E');

  background-image: url('data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xml%3Aspace%3D%22preserve%22%20viewBox%3D%220%200%20104%20102.7%22%20preserveAspectRatio%3D%22none%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20enable-background%3D%22new%200%200%20104%20102.7%22%3E%3Cpath%20d%3D%22m96.9%2029.1c-11.6-19.9-43.2-34.8-65.4-26.8-28%2010-38.8%2049.1-26.5%2074.5%2027.8%2057.6%20125.9%209.2%2091.9-47.7%22%20fill%3D%22#{$colour}%22%20fill-opacity%3D%22#{$opacity}%22%2F%3E%3C%2Fsvg%3E');


// url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2017%2013%22%3E%3Cpath%20fill%3D%22%2359a6ca%22%20d%3D%22M15.57%202.845L14.238%201.51c-.13-.13-.353-.13-.48%200L6.66%208.623l-3.093-3.11c-.13-.13-.352-.13-.482%200L1.75%206.845c-.128.13-.128.352%200%20.48l4.67%204.67c.073.055.147.092.24.092s.167-.037.24-.093l8.67-8.67c.13-.13.13-.35%200-.48z%22%2F%3E%3C%2Fsvg%3E')

}


