@font-face {
    font-family: 'icomoon';
    src:  url("../fonts/icomoon/icomoon.eot?v=2");
    src:  url("../fonts/icomoon/icomoon.eot?v=2?#iefix") format("embedded-opentype"),
          url("../fonts/icomoon/icomoon.woff2?v=2") format('woff2'),
          url("../fonts/icomoon/icomoon.ttf?v=2") format("truetype"),
          url("../fonts/icomoon/icomoon.woff?v=2") format("woff");
    font-weight: normal;
    font-style: normal;
}


@mixin fonticon($character, $vertical-align: top, $pesudoElement: before) {
    @if $pesudoElement != false {
        display: inline-block;
        @if($vertical-align!=natural){
            line-height: 1;
        }@else{
            $vertical-align:top;
        }
        &:#{$pesudoElement} {
            @include fonticonUtility($vertical-align, $character);
        }
    }
    @else {
        @include fonticonUtility($vertical-align, $character);
    }
}

@mixin fonticonUtility($vertical-align, $character) {
    font-family: "icomoon" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: $vertical-align;
    content: $character;
    // @media print {
    //     display: none;
    // }
}









// @mixin fonticon-download($arguments...){
//      @include fonticon("\e90f", $arguments...);
// }


@mixin fonticon-arrow-left($arguments...){
     @include fonticon("\e900", $arguments...);
}


// @mixin fonticon-arrow-right($arguments...){
//      @include fonticon("\e901", $arguments...);
// }


// @mixin fonticon-delete($arguments...){
//      @include fonticon("\e902", $arguments...);
// }


// @mixin fonticon-edit($arguments...){
//      @include fonticon("\e903", $arguments...);
// }

// @mixin fonticon-external($arguments...){
//      @include fonticon("\e904", $arguments...);
// }

// @mixin fonticon-add($arguments...){
//      @include fonticon("\e905", $arguments...);
// }
@mixin fonticon-close($arguments...){
     @include fonticon("\e906", $arguments...);
}


// @mixin fonticon-tick($arguments...){
//      @include fonticon("\e907", $arguments...);
// }

// @mixin fonticon-back($arguments...){
//      @include fonticon("\e908", $arguments...);
// }


@mixin fonticon-collapse($arguments...){
     @include fonticon("\e909", $arguments...);
}

@mixin fonticon-expand($arguments...){
     @include fonticon("\e90a", $arguments...);
}

// @mixin fonticon-help($arguments...){
//      @include fonticon("\e90b", $arguments...);
// }
// @mixin fonticon-tickcircle($arguments...){
//      @include fonticon("\e90c", $arguments...);
// }

// @mixin fonticon-liveusage($arguments...){
//      @include fonticon("\e90d", $arguments...);
// }

// @mixin fonticon-mail($arguments...){
//      @include fonticon("\e90e", $arguments...);
// }
// @mixin fonticon-bin($arguments...){
//      @include fonticon("\e615", $arguments...);
// }


// @mixin fonticon-popuptick($arguments...){
//      @include fonticon("\e616", $arguments...);
// }

// @mixin fonticon-popupclose($arguments...){
//      @include fonticon("\e617", $arguments...);
// }

// @mixin fonticon-dot($arguments...){
//      @include fonticon("\e612", $arguments...);
// }

// // @mixin fonticon-close($arguments...){
// //      @include fonticon("\e609", $arguments...);
// // }

// @mixin fonticon-quote($arguments...){
//      @include fonticon("\e60a", $arguments...);
// }













@mixin fonticon-arrow-up($arguments...){
     @include fonticon("\e913", $arguments...);
}
@mixin fonticon-discuss($arguments...){
     @include fonticon("\e90e", $arguments...);
}
@mixin fonticon-download($arguments...){
     @include fonticon("\e90f", $arguments...);
}
@mixin fonticon-mail($arguments...){
     @include fonticon("\e910", $arguments...);
}
@mixin fonticon-phone($arguments...){
     @include fonticon("\e911", $arguments...);
}
@mixin fonticon-viewweb($arguments...){
     @include fonticon("\e912", $arguments...);
}
@mixin fonticon-close($arguments...){
     @include fonticon("\e90d", $arguments...);
}
@mixin fonticon-register($arguments...){
     @include fonticon("\e90c", $arguments...);
}
@mixin fonticon-arrow-down($arguments...){
     @include fonticon("\e900", $arguments...);
}
@mixin fonticon-arrow-left($arguments...){
     @include fonticon("\e901", $arguments...);
}
@mixin fonticon-arrowline-right($arguments...){
     @include fonticon("\e902", $arguments...);
}
@mixin fonticon-arrow-right($arguments...){
     @include fonticon("\e903", $arguments...);
}
@mixin fonticon-clock($arguments...){
     @include fonticon("\e904", $arguments...);
}
@mixin fonticon-ctaarrow($arguments...){
     @include fonticon("\e905", $arguments...);
}
@mixin fonticon-edit($arguments...){
     @include fonticon("\e906", $arguments...);
}
@mixin fonticon-papers($arguments...){
     @include fonticon("\e907", $arguments...);
}
@mixin fonticon-search($arguments...){
     @include fonticon("\e908", $arguments...);
}
@mixin fonticon-tickcircle($arguments...){
     @include fonticon("\e909", $arguments...);
}
@mixin fonticon-twitter($arguments...){
     @include fonticon("\e90a", $arguments...);
}
@mixin fonticon-youtube($arguments...){
     @include fonticon("\e90b", $arguments...);
}

@mixin fonticon-icon-arrow-right-small($arguments...){
     @include fonticon("\e914", $arguments...);
}

// @mixin fonticon-icon-arrow-right-small($arguments...){
//      @include fonticon("\e914", $arguments...);
// }

@mixin fonticon-arrow-left-big($arguments...){
    @include fonticon("\e915", $arguments...);
}
@mixin fonticon-arrow-up-big($arguments...){
    @include fonticon("\e916", $arguments...);
}
@mixin fonticon-arrow-down-big($arguments...){
    @include fonticon("\e917", $arguments...);
}
@mixin fonticon-icon-down-small($arguments...){
    @include fonticon("\e918", $arguments...);
}
@mixin fonticon-icon-left-small($arguments...){
    @include fonticon("\e919", $arguments...);
}
@mixin fonticon-icon-up-small($arguments...){
    @include fonticon("\e91a", $arguments...);
}
@mixin fonticon-icon-right-small($arguments...){
    @include fonticon("\e91b", $arguments...);
}

@mixin fonticon-icon-inProgress($arguments...){
    @include fonticon("\e91c", $arguments...);
}

@mixin fonticon-icon-reviewClosed($arguments...){
    @include fonticon("\e91d", $arguments...);
}

@mixin fonticon-icon-reviewOpened($arguments...){
    @include fonticon("\e91e", $arguments...);
}

@mixin fonticon-collapse($arguments...){
    @include fonticon("\e811", $arguments...);
}

@mixin fonticon-expand($arguments...){
    @include fonticon("\e80f", $arguments...);
}

@mixin fonticon-arrowreturn($arguments...){
    @include fonticon("\e91f", $arguments...);
}

@mixin fonticon-video($arguments...){
    @include fonticon("\e922", $arguments...);
}

@mixin fonticon-gallery($arguments...){
    @include fonticon("\e921", $arguments...);
}

@mixin fonticon-webpage($arguments...){
    @include fonticon("\e920", $arguments...);
}

@mixin fonticon-office($arguments...){
    @include fonticon("\e925", $arguments...);
}








@mixin fonticon-upload($arguments...){
     @include fonticon("\e923", $arguments...);
}
@mixin fonticon-document($arguments...){
     @include fonticon("\e924", $arguments...);
}
@mixin fonticon-share($arguments...){
     @include fonticon("\e926", $arguments...);
}
