@font-face {
  font-family: "halis_grthin";
  src: url("../fonts/halis/2EFABF_16_0.eot");
  src: url("../fonts/halis/2EFABF_16_0.eot?#iefix") format("embedded-opentype"), url("../fonts/halis/2EFABF_16_0.woff2") format("woff2"), url("../fonts/halis/2EFABF_16_0.woff") format("woff"), url("../fonts/halis/2EFABF_16_0.ttf") format("truetype");
}


@font-face {
  font-family: "halis_grlight";
  src: url("../fonts/halis/2EFABF_1_0.eot");
  src: url("../fonts/halis/2EFABF_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/halis/2EFABF_1_0.woff2") format("woff2"), url("../fonts/halis/2EFABF_1_0.woff") format("woff"), url("../fonts/halis/2EFABF_1_0.ttf") format("truetype");
}


@font-face {
  font-family: "halis_grbook";
  src: url("../fonts/halis/2EFABF_6_0.eot");
  src: url("../fonts/halis/2EFABF_6_0.eot?#iefix") format("embedded-opentype"), url("../fonts/halis/2EFABF_6_0.woff2") format("woff2"), url("../fonts/halis/2EFABF_6_0.woff") format("woff"), url("../fonts/halis/2EFABF_6_0.ttf") format("truetype");
}


@font-face {
  font-family: 'halis_grregular';
  src: url('../fonts/halis/HalisGR-Regular.eot');
  src: url('../fonts/halis/HalisGR-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/halis/HalisGR-Regular.woff2') format('woff2'),
       url('../fonts/halis/HalisGR-Regular.woff') format('woff'),
       url('../fonts/halis/HalisGR-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "halis_grmedium";
  src: url("../fonts/halis/2EFABF_7_0.eot");
  src: url("../fonts/halis/2EFABF_7_0.eot?#iefix") format("embedded-opentype"), url("../fonts/halis/2EFABF_7_0.woff2") format("woff2"), url("../fonts/halis/2EFABF_7_0.woff") format("woff"), url("../fonts/halis/2EFABF_7_0.ttf") format("truetype");
}


@font-face {
  font-family: "halis_grbold";
  src: url("../fonts/halis/2EFABF_4_0.eot");
  src: url("../fonts/halis/2EFABF_4_0.eot?#iefix") format("embedded-opentype"), url("../fonts/halis/2EFABF_4_0.woff2") format("woff2"), url("../fonts/halis/2EFABF_4_0.woff") format("woff"), url("../fonts/halis/2EFABF_4_0.ttf") format("truetype");
}


@font-face {
  font-family: "halis_grblack";
  src: url("../fonts/halis/2EFABF_2_0.eot");
  src: url("../fonts/halis/2EFABF_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/halis/2EFABF_2_0.woff2") format("woff2"), url("../fonts/halis/2EFABF_2_0.woff") format("woff"), url("../fonts/halis/2EFABF_2_0.ttf") format("truetype");
}





@mixin font-Verdana-Regular {
    font-family: "Verdana", sans-serif;
    font-weight: 400;
    font-style: normal;
}


@mixin font-Verdana-Bold {
    font-family: "Verdana", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@mixin font-Halis-Thin {
    font-family: "halis_grthin", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin font-Halis-Light {
    font-family: "halis_grlight", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin font-Halis-Regular {
    font-family: "halis_grregular", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin font-Halis-Book {
    font-family: "halis_grbook", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.03em;
}

@mixin font-Halis-Medium {
    font-family: 'halis_grmedium', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.05em;
}


@mixin font-Halis-Bold {
    font-family: 'halis_grbold', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.05em;
}


@mixin font-Halis-Black {
    font-family: 'halis_grblack', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.05em;
}
