i {
    //We use i tags for icons, so normalize
    font-style: normal;
}

@mixin icon($vertical-align: top) {
    // @include hide-text;
    user-select:none;
    vertical-align: $vertical-align;
    // @media print {
    //     display: none;
    // }
}









@mixin icon-cc-mastercard-inactive($arguments...){
    @include icon($arguments...);
    @include spriteIcon("icon-payment", "png", 0, 0, 35, 23);
}

@mixin icon-cc-mastercard-active($arguments...){
    @include icon($arguments...);
    @include spriteIcon("icon-payment", "png", 0, 23, 35, 23);
}

@mixin icon-cc-visa-inactive($arguments...){
    @include icon($arguments...);
    @include spriteIcon("icon-payment", "png", 35, 0, 35, 23);
}

@mixin icon-cc-visa-active($arguments...){
    @include icon($arguments...);
    @include spriteIcon("icon-payment", "png", 35, 23, 35, 23);
}

@mixin icon-cc-amex-inactive($arguments...){
    @include icon($arguments...);
    @include spriteIcon("icon-payment", "png", 70, 0, 35, 23);
}

@mixin icon-cc-amex-active($arguments...){
    @include icon($arguments...);
    @include spriteIcon("icon-payment", "png", 70, 23, 35, 23);
}

@mixin icon-cc-diners-inactive($arguments...){
    @include icon($arguments...);
    @include spriteIcon("icon-payment", "png", 105, 0, 35, 23);
}

@mixin icon-cc-diners-active($arguments...){
    @include icon($arguments...);
    @include spriteIcon("icon-payment", "png", 105, 23, 35, 23);
}







@mixin icon-form-check-normal($arguments...) {
    @include icon($arguments...);
    @include spriteIcon("icon", "png", 4, 76, 30, 30);
}

@mixin icon-form-check-focused($arguments...) {
    @include icon($arguments...);
    // @include spriteIcon("icon", "png", 89, 58, 31, 38);
    background-position: -46px -76px;
}

@mixin icon-form-check-checked($arguments...) {
    @include icon($arguments...);
    // @include spriteIcon("icon", "png", 465, 0, 25, 25);
    background-position: -91px -76px;
}

@mixin icon-form-check-checked-focused($arguments...) {
    @include icon($arguments...);
    // @include spriteIcon("icon", "png", 543, 0, 25, 25);
    background-position: -91px -76px;
}





@mixin icon-form-radio-normal($arguments...) {
    @include icon($arguments...);
    @include spriteIcon("icon", "png", 4, 108, 30, 30);
}

@mixin icon-form-radio-focused($arguments...) {
    @include icon($arguments...);
    // @include spriteIcon("icon", "png", 89, 58, 31, 38);
    background-position: -46px -108px;
}

@mixin icon-form-radio-checked($arguments...) {
    @include icon($arguments...);
    // @include spriteIcon("icon", "png", 465, 0, 25, 25);
    background-position: -91px -108px;
}

@mixin icon-form-radio-checked-focused($arguments...) {
    @include icon($arguments...);
    // @include spriteIcon("icon", "png", 543, 0, 25, 25);
    background-position: -91px -108px;
}

@mixin icon-tooltip($arguments...) {
    @include icon($arguments...);
    // @include spriteIcon("icon", "png", 543, 0, 25, 25);
    @include spriteIcon("icon", "png", 0, 42, 14, 14);
}

@mixin icon-tooltip-inverted($arguments...) {
    @include icon($arguments...);
    // @include spriteIcon("icon", "png", 543, 0, 25, 25);
    @include spriteIcon("icon", "png", 0, 58, 14, 14);
}




@mixin icon-form-dropdown-arrow($arguments...) {
    @include icon($arguments...);
    @include spriteIcon("icon", "png", 16, 42, 18, 12);
}






// @mixin icon-form-radio-normal($arguments...) {
//     @include icon($arguments...);
//     @include spriteIcon("icon", "png", 89, 40, 31, 38);
// }

// @mixin icon-form-radio-focused($arguments...) {
//     @include icon($arguments...);
//     // @include spriteIcon("icon", "png", 89, 58, 31, 38);
//     background-position: -122px -40px;
// }

// @mixin icon-form-radio-hover($arguments...) {
//     @include icon($arguments...);
//     // @include spriteIcon("icon", "png", 517, 0, 25, 25);
//     background-position: -155px -40px;
// }

// @mixin icon-form-radio-checked($arguments...) {
//     @include icon($arguments...);
//     // @include spriteIcon("icon", "png", 465, 0, 25, 25);
//     background-position: -188px -40px;
// }

// @mixin icon-form-radio-checked-focused($arguments...) {
//     @include icon($arguments...);
//     // @include spriteIcon("icon", "png", 543, 0, 25, 25);
//     background-position: -221px -40px;
// }

// @mixin icon-form-radio-checked-hover($arguments...) {
//     @include icon($arguments...);
//     // @include spriteIcon("icon", "png", 543, 0, 25, 25);
//     background-position: -254px -40px;
// }

// @mixin icon-video-play-mobile($arguments...) {
//     @include icon($arguments...);
//     @include spriteIcon("icon", "png", 0, 88, 50, 50);
// }

// @mixin icon-video-play-desktop($arguments...) {
//     @include icon($arguments...);
//     @include spriteIcon("icon", "png", 52, 88, 77, 77);
// }

// // @mixin icon-article-quote-mobile($arguments...){
// //     @include icon($arguments...);
// //     @include spriteIcon("icon", "png", 165, 88, 75, 54);
// // }

// // @mixin icon-article-quote-desktop($arguments...){
// //     @include icon($arguments...);
// //     @include spriteIcon("icon", "png", 242, 88, 107, 77);
// // }

// @mixin icon-inspiredgiftsarrow-mobile($arguments...) {
//     @include icon($arguments...);
//     @include spriteIcon("icon", "png", 131, 88, 32, 19);
// }

// @mixin icon-inspiredgiftsarrow-desktop($arguments...) {
//     @include icon($arguments...);
//     @include spriteIcon("icon", "png", 165, 88, 22, 38);
// }
