///
/// Viewport sized typography with minimum and maximum values
///
/// @author Eduardo Boucas (@eduardoboucas)
///
/// @param {Number}   $responsive  - Viewport-based size
/// @param {Number}   $min         - Minimum font size (px)
/// @param {Number}   $max         - Maximum font size (px)
///                                  (optional)
/// @param {Number}   $fallback    - Fallback for viewport-
///                                  based units (optional)
///
/// @example scss - 5vw font size (with 50px fallback),
///                 minumum of 35px and maximum of 150px
///  @include responsive-font(5vw, 35px, 150px, 50px);
///
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}



// @mixin responsive-property($responsive, $property, $min, $max: false, $fallback: false) {
//   $responsive-unitless: $responsive / ($responsive - $responsive + 1);
//   $dimension: 'width';
//   $min-breakpoint: $min / $responsive-unitless * 100;

//   @media (max-#{$dimension}: #{$min-breakpoint}) {
//     #{$property}: $min;
//   }

//   @if $max {
//     $max-breakpoint: $max / $responsive-unitless * 100;

//     @media (min-#{$dimension}: #{$max-breakpoint}) {
//       #{$property}: $max;
//     }
//   }

//   @if $fallback {
//     #{$property}: $fallback;
//   }

//   #{$property}: $responsive;
// }




@mixin fp($property, $min, $max, $clip: true, $clipAtStart: true, $clipAtEnd: true, $start:320, $end:1680) {

    $multiplier: ($max - $min) / ($end - $start) * 100;
    $adder: ($min * $end - $max * $start) / ($end - $start);

    $formula: calc(#{$multiplier + 0vw} + #{$adder + 0px});

    @if($clip and $clipAtStart){
        @media (max-width: #{$start + 0px}) {
            #{$property}: $min + 0px;
        }
    }

    @if($clip and $clipAtEnd){
        @media (min-width: #{$end + 0px}) {
            #{$property}: $max + 0px;
        }
    }

    #{$property}: $formula;
}
