@mixin typography-heading-a {

   @include fp(font-size,28,65);
    line-height: 1;

    @include font-Halis-Black;

    text-transform: uppercase;

    color:#342e2e;
   @include fp(margin-bottom,15,25);


}


@mixin typography-heading-b {
   @include fp(font-size,22,45);
   @include fp(line-height,25,50);

    @include font-Halis-Bold;


    color:#342e2e;
   @include fp(margin-bottom,25,50);

}



@mixin typography-heading-c {
   @include fp(font-size,27,38);
   @include fp(line-height,31,40);

    @include font-Halis-Bold;


    color:#342e2e;
   @include fp(margin-bottom,20,30);

}


@mixin typography-heading-d {
   @include fp(font-size,22,32);
    line-height: 1;

    @include font-Halis-Black;

    text-transform: uppercase;

    color:#342e2e;
   @include fp(margin-bottom,38,55);

}


@mixin typography-heading-e {
   @include fp(font-size,20,26);
   @include fp(line-height,22,30);

    @include font-Halis-Bold;


    color:#342e2e;
   @include fp(margin-bottom,20,22);
    // @include fp(margin-bottom, 10, 10);

}


@mixin typography-heading-f {
   @include fp(font-size,16,20);
   @include fp(line-height,20,25);

    @include font-Halis-Light;


    color:#342e2e;
   @include fp(margin-bottom,15,20);

}


@mixin typography-heading-g {
   @include fp(font-size,14,16);
   @include fp(line-height,18,20);

    @include font-Halis-Light;

    text-transform: uppercase;


    color:#342e2e;
   @include fp(margin-bottom,15,20);

}

@mixin typography-featuretext {
   @include fp(font-size,18,26);
    line-height: 1.38;

    @include font-Halis-Light;


    color:#342e2e;
    margin-bottom: 1.38em;

}


@mixin typography-heading-h {
   @include fp(font-size,18,24);
    line-height: 1.38;

    @include font-Halis-Light;


    color:#342e2e;
    margin-bottom: 1.38em;

}

@mixin typography-heading-i {
   @include fp(font-size,14,16);
    line-height: 1.38;

    @include font-Halis-Bold;


    color:#342e2e;
    margin-bottom: 1.38em;

}

@mixin typography-heading-j {
   @include fp(font-size,24,38);
   @include fp(line-height,31,40);

    @include font-Halis-Bold;


    color:#342e2e;
    @include fp(margin-bottom,30, 39);

}






@mixin typography-paneltitle {
   @include fp(font-size,20,24);
    line-height: 1;

    @include font-Halis-Black;
    text-transform: uppercase;


    color:#342e2e;
    margin-bottom: 0.6em;

}


@mixin typography-genericheader-subtitle {
    color:#342e2e;
    @include font-Halis-Light;
    @include fp(font-size,18,26);
    line-height: 1.38;

    a {
      border-bottom: 1px solid;
      color: #006dbd;
      text-decoration: none;

      transition: border .2s ease,color .2s ease;

      &:focus,
      &:hover{
        border-bottom: 6px solid #cccccc;
        color:#666;
      }
    }
}


// @mixin typography-heading2-style2 {
//     @include font-Halis-Black;
//     font-size: 24px;
//     line-height: 24px;
//     margin-bottom: 20px;
//     text-transform: uppercase;
//     color:#342e2e;
//     @media (min-width: 768px) {
//         font-size: 26px;
//         line-height:26px;
//         margin-bottom: 26px;
//     }
//     @media (min-width: 1024px) {
//         font-size: 26px;
//         line-height:26px;
//         margin-bottom: 26px;
//     }
// }



// @mixin typography-body {
//     @include font-Halis-Black;
//     font-size: 16px;
//     line-height: 20px;
//     @media (min-width: 768px) {
//         font-size: 18px;
//         line-height: 24px;
//     }
//     @media (min-width: 1024px) {
//         font-size: 18px;
//         line-height: 24px;
//     }
// }

// @mixin typography-herotitle {
//     @include font-Halis-Black;
//     font-size: 38px;
//     line-height: 36px;
//     margin-bottom: 0px;
//     @media (min-width: 768px) {
//         font-size: 102px;
//         line-height: 96px;
//     }
//     @media (min-width: 1024px) {
//         font-size: 102px;
//         line-height: 96px;
//    }
// }
