/// Replace `$search` with `$replace` in `$string`
/// @author Hugo Giraudel
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}



@mixin hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

@mixin hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacityIE: $opacity * 100;
    filter: alpha(opacity = $opacityIE);
}

@mixin placeholder($delay: 0) {
    &.placeholdersjs {
        @content;
    }
    &::input-placeholder {
        opacity: 1;
        transition-property: opacity;
        transition-timing-function: ease;
        transition-duration: 0.2s;
        transition-delay: $delay;
        @content;
    }
    &::-webkit-input-placeholder {
        opacity: 1;
        transition-property: opacity;
        transition-timing-function: ease;
        transition-duration: 0.2s;
        transition-delay: $delay;
        @content;
    }
    &::-moz-placeholder {
        opacity: 1;
        transition-property: opacity;
        transition-timing-function: ease;
        transition-duration: 0.2s;
        transition-delay: $delay;
        @content;
    }
    &:-moz-placeholder {
        opacity: 1;
        transition-property: opacity;
        transition-timing-function: ease;
        transition-duration: 0.2s;
        transition-delay: $delay;
        @content;
    }
    &:-ms-input-placeholder {
        opacity: 1;
        transition-property: opacity;
        transition-timing-function: ease;
        transition-duration: 0.2s;
        transition-delay: $delay;
        @content;
    }
    &:focus::input-placeholder {
        // color: transparent;
        opacity: 0;
    }
    &:focus::-webkit-input-placeholder {
        // color: transparent;
        opacity: 0;
    }
    &:focus:-moz-placeholder {
        // color: transparent;
        opacity: 0;
    }
    &:focus::-moz-placeholder {
        // color: transparent;
        opacity: 0;
    }
    &:focus::-ms-input-placeholder {
        // color: transparent;
        opacity: 0;
    }
}

@mixin forceHardwareAcceleration {
    //Force hardware acceleration in webkit to fix random hiding issue.
    // -webkit-transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

@mixin clearfix {
    /**
     * For modern browsers
     * 1. The space content is one way to avoid an Opera bug when the
     *    contenteditable attribute is included anywhere else in the document.
     *    Otherwise it causes space to appear at the top and bottom of elements
     *    that are clearfixed.
     * 2. The use of `table` rather than `block` is only necessary if using
     *    `:before` to contain the top-margins of child elements.
     */
    &:before,
    &:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */
    }
    &:after {
        clear: both;
    }
    /**
     * For IE 6/7 only
     * Include this rule to trigger hasLayout and contain floats.
     */
    & {
        *zoom: 1;
    }
}

@mixin rgbaBackground($color, $alpha) {
    $rgba: rgba($color, $alpha);
    $ie-hex-str: ie-hex-str($rgba);
    background-color: transparent;
    background-color: $rgba;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str}, endColorstr=#{$ie-hex-str});
    zoom: 1;
    .modern & {
        filter: none;
    }
}

@mixin spriteIcon($name, $ext, $x, $y, $width, $height) {
    display: inline-block;
    background-image: url("../images/#{$name}.#{$ext}");
    background-position: $x * -1px $y * -1px;
    background-repeat: no-repeat;
    width: $width * 1px;
    height: $height * 1px;
    @if $name == "icon" {
        background-size: 500px 500px;
        @include spriteRetina($name, $ext);
    }
    @if $name == "icon-payment" {
        background-size: 140px 46px;
        @include spriteRetina($name, $ext);
    }
}

@mixin spriteRetina($name, $ext) {
    // .modern & {
        @media (-webkit-min-device-pixel-ratio: 1.25), (min--moz-device-pixel-ratio: 1.25), (-moz-min-device-pixel-ratio: 1.25), (-ms-min-device-pixel-ratio: 1.25), (min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx) {
            background-image: url("../images/#{$name}@2.#{$ext}");
        }
        /* I guessed min-resolution: 288dpi by messing around in chrome inspector */
        @media (-webkit-min-device-pixel-ratio: 3), (min--moz-device-pixel-ratio: 3), (-moz-min-device-pixel-ratio: 3), (-ms-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
            background-image: url("../images/#{$name}@3.#{$ext}");
        }
    // }
}

@mixin spriteBackground($name, $ext, $width, $height, $x: 0, $y: 0, $repeat: no-repeat, $minWidth: 0, $minHeight: 0) {
    // display: inline-block;
    background-image: url("../images/#{$name}.#{$ext}");
    background-position: $x * -1px $y * -1px;
    background-repeat: $repeat;
    background-size: $width $height;
    min-width: $minWidth * 1px;
    min-height: $minHeight * 1px;
    @include spriteRetina($name, $ext);
}

@mixin listBackground($x, $y, $minWidth: 0, $minHeight: 0) {
    @include spriteBackground("list", "png", 36px, 4000px, $x, $y, no-repeat, $minWidth, $minHeight);
}

