$z-index-tooltip:110;
$z-index-mfp:106; //popup used this + 6 for internal layers
$z-index-sod:103;
$z-index-headermobile:102;
$z-index-navigation-bodyblocker:100;
$z-index-navigation-full-mobile:101;
$z-index-navigation-full-desktop:101;

$z-index-form-advanced: 10;
