html, body {
    margin: 0;
    color: #202021;
    background: #fff;
    line-height: 1.65;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";

    background-color: #fff;

    @include font-Verdana-Regular;
    font-size: 16px;
    // line-height: 20px;//1.3 ish
    // margin-bottom: 45px;
    // @media (min-width: 768px) {
    //     font-size: 18px;
    //     // line-height: 24px;//1.3 ish
    //     // margin-bottom: 26px;
    // }

}


// :focus {
//     /* -webkit-focus-ring-color = '#5B9DD9' */
//     // outline: -webkit-focus-ring-color auto 5px;
//     // 1px dotted #212121
//     // outline:1px solid #6dbae7;
// }


a {
    text-decoration: none;
    color: #0075b9;
    // outline: none;

    transition: background-color 0.2s ease, color 0.2s ease;

    &:focus {
        outline: thin dotted;
    }

    &:active,
    &:hover {
        outline: 0;
    }
    &:focus, &:hover, &.is-hovered {
        // text-decoration: none;
        text-decoration: underline;
        outline: none;
        color: #007bc3;
    }
}

p {
    // color:#202021;
    // // margin-bottom: 45px;
}

b,
strong {
    // @include font-Verdana-Bold;
}


i,
em {
    // @include font-Verdana-Italic;
}
