button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

form, fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input, textarea, select {
  vertical-align: middle;
  border-radius: 0;
}

input[type=text]::-ms-clear { display: none; }

button{
    -webkit-appearance: none;
    background: transparent;
    border:0;
    padding:0;
    margin:0;
}

input {
  &[type="reset"], &[type="submit"], &[type="button"] {
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
    &::-moz-focus-inner {
      border: 0;
    }

  }
  &[type="checkbox"], &[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
  }
}


label {
    -webkit-touch-callout: none;
    // user-select:none;//Can't use or firefox won't select text field text inside
    cursor:pointer;
}
