h1{
    padding: 0;
    margin: 0;
    font-weight: normal;
    // @include typography-heading1;
}

h2{
    padding: 0;
    margin: 0;
    font-weight: normal;
    // @include typography-heading2;
}

h3{
    padding: 0;
    margin: 0;
    font-weight: normal;
    // @include typography-heading3;
}


h4{
    padding: 0;
    margin: 0;
    font-weight: normal;
    // @include typography-heading3;
}

h5{
    padding: 0;
    margin: 0;
    font-weight: normal;
    // @include typography-heading3;
}


h6{
    padding: 0;
    margin: 0;
    font-weight: normal;
    // @include typography-heading3;
}


// h7{
//     padding: 0;
//     margin: 0;
//     font-weight: normal;
//     // @include typography-heading3;
// }

// .typography-headingstrapline {
//     padding: 0;
//     margin: 0;
//     font-weight: normal;
//     @include typography-headingstrapline;
// }


// h3, .typography-heading3 {
//     padding: 0;
//     margin: 0;
//     font-weight: normal;
//     @include typography-heading3;
// }

// h4, .typography-heading4 {
//     padding: 0;
//     margin: 0;
//     font-weight: normal;
//     @include typography-heading4;
// }

// h5, .typography-heading5 {
//     padding: 0;
//     margin: 0;
//     font-weight: normal;
//     @include typography-heading5;
// }

// h6, .typography-heading6 {
//     padding: 0;
//     margin: 0;
//     font-weight: normal;
//     @include typography-heading6;
// }
