html {
    box-sizing: border-box;
}

html *, html *:before, html *:after {
    box-sizing: inherit;
}

*, *:before, *:after {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
}

a,
button {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

p {
    margin: 0 0 20px;
    color: #000;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

b,
strong {
    font-weight: bold;
}

small {
    font-size: 80%;
}

blockquote {
    margin: 1em 40px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
    background: #34393b;
    box-sizing: content-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

::-moz-selection {
    background: #6dbae7;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #6dbae7;
    color: #fff;
    text-shadow: none;
}

::-ms-clear {
    display: none;
}

// Crazy firefox hacks to maintain compatibility with other browsers button
::-moz-focus-inner {
    padding: 0 !important;
    border: 0 none !important;
    margin-top: -1px;
    margin-bottom: -1px;
}

// input[type="submit"] {
//     padding: 0;
//     border: 0;
// }

input[type="submit"]:hover,
button:hover {
    cursor: pointer;
}
