@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?tevgdl');
    src:    url('fonts/icomoon.eot?tevgdl#iefix') format('embedded-opentype'),
        url('fonts/icomoon.woff2?tevgdl') format('woff2'),
        url('fonts/icomoon.ttf?tevgdl') format('truetype'),
        url('fonts/icomoon.woff?tevgdl') format('woff'),
        url('fonts/icomoon.svg?tevgdl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon-share:before {
    content: "\e926";
}
.icon-icon-building:before {
    content: "\e925";
}
.icon-upload:before {
    content: "\e923";
}
.icon-document:before {
    content: "\e924";
}
.icon-icon-weblink:before {
    content: "\e920";
}
.icon-icon-gallery:before {
    content: "\e921";
}
.icon-icon-video:before {
    content: "\e922";
}
.icon-arrow-return:before {
    content: "\e91f";
}
.icon-subtract-1:before {
    content: "\e811";
}
.icon-add-1:before {
    content: "\e80f";
}
.icon-arrow-up:before {
    content: "\e913";
}
.icon-discuss:before {
    content: "\e90e";
}
.icon-download:before {
    content: "\e90f";
}
.icon-mail:before {
    content: "\e910";
}
.icon-phone:before {
    content: "\e911";
}
.icon-viewweb:before {
    content: "\e912";
}
.icon-close:before {
    content: "\e90d";
}
.icon-register:before {
    content: "\e90c";
}
.icon-arrow-down:before {
    content: "\e900";
}
.icon-arrow-left:before {
    content: "\e901";
}
.icon-arrowline-right:before {
    content: "\e902";
}
.icon-arrow-right:before {
    content: "\e903";
}
.icon-clock:before {
    content: "\e904";
}
.icon-ctaarrow:before {
    content: "\e905";
}
.icon-edit:before {
    content: "\e906";
}
.icon-papers:before {
    content: "\e907";
}
.icon-search:before {
    content: "\e908";
}
.icon-tickcircle:before {
    content: "\e909";
}
.icon-twitter:before {
    content: "\e90a";
}
.icon-youtube:before {
    content: "\e90b";
}
.icon-arrow-right-small:before {
    content: "\e914";
}
.icon-arrow-left-big:before {
    content: "\e915";
}
.icon-arrow-up-big:before {
    content: "\e916";
}
.icon-arrow-down-big:before {
    content: "\e917";
}
.icon-icon-down-small:before {
    content: "\e918";
}
.icon-icon-left-small:before {
    content: "\e919";
}
.icon-icon-up-small:before {
    content: "\e91a";
}
.icon-icon-right-small:before {
    content: "\e91b";
}
.icon-icon-inProgress:before {
    content: "\e91c";
}
.icon-icon-reviewClosed:before {
    content: "\e91d";
}
.icon-icon-reviewOpen:before {
    content: "\e91e";
}

