
.accordion-category-list {
    @include clearfix;
    background-color: #fff;
    // padding: 20px;
    @media (min-width: 721px) {}
    @media (min-width: 1000px) {
        // padding: 60px;
    }
    @media (min-width: 1200px) {}
    @media (min-width: 1400px) {}
}

.accordion-category {
    border-top: 1px solid #d5d9d8;
    &:last-child {
        margin-bottom: 0;
        border-bottom: 1px solid #d5d9d8;
    }
}

.accordion-category-content {
    &.js-slide-hidden {
        position: absolute;
        left: -9999px;
        top: -9999px;
    }
}

.accordion-category-content-inner {
    border-top: 1px solid #d5d9d8;
}

.accordion-category-inner {}

.accordion-category-title {
    display: table;
    width: 100%;
    cursor: pointer;
    padding-top: 25px;
    padding-bottom: 25px;
}

.accordion-category-title-copy {
    font-size: 23px;
    line-height: 28px;
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
    color: #464646;
    @media (min-width: 721px) {}
    @media (min-width: 1000px) {
        font-size: 25px;
        line-height: 31px;
    }
    @media (min-width: 1200px) {}
    @media (min-width: 1400px) {}
}

.accordion-category-title-toggle {
    font-size: 12px;
    line-height: 14px;
    color: #000;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}

.accordion-category-title-toggle-copy {
    display: inline-block;
}

.accordion-category-title-toggle-icon {
    display: inline-block;
    color: #cc0033;
}

.accordion-category-title-toggle-collapse {
    display: none;
    i {
        @include icon-accordion-category-title-toggle-collapse;
    }
    .is-accordion-category-open & {
        display: block;
    }
}

.accordion-category-title-toggle-expand {
    display: block;
    i {
        @include icon-accordion-category-title-toggle-expand;
    }
    .is-accordion-category-open & {
        display: none;
    }
}

.accordion-reed {
    // background-color: #f2f4f3;
    // padding:40px;
    // margin-bottom: 10px;
    // margin-bottom: 25px;
    //border-top: 1px solid #d6d6d6;
    //border-top: 1px solid rgba(0,0,0,0.15);
    &:before {
        position: absolute;
        content: '';
        display: block;
        height: 0;
        border-top: 1px solid #d6d6d6;
        width: 200%;
        margin-left: -50%;
    }

    &:first-child:before {
        //border-top: 1px solid #d6d6d6;
        //border-top: 1px solid rgba(0,0,0,0.15);
        //border-top: none;
        display: none;
    }


}

.accordion-reed-inner {
    // padding-top:25px;
}

.accordion-reed-list {}

.accordion-reed-title {
    display: table;
    width: 100%;
    cursor: pointer;
}

.accordion-reed-title-copy {
    display: table-cell;
    vertical-align: top;
    padding: 15px 0;

    color: #464646;
    font-size: 21px;
    line-height: 25px;

    transition:color 0.2s ease;

    @media (min-width: 768px) {
        padding: 30px 0;
        font-size: 30px;
        line-height: 38px;
    }

    .is-accordion-reed-open & {
        color: #09f;
    }

    .accordion-reed-title:hover & {
        color: #09f;
    }
}

.accordion-reed-title-toggle {
    display: table-cell;
    vertical-align: top;
    padding-top: 15px + (25px - 21px);


    color: #000;
    line-height: 1;
    text-align: right;
    white-space: nowrap;
    position: relative;
    width: 16px;

    @media (min-width: 768px) {
        width: 26px;
        padding-top: 30px  + (38px - 30px)/2;
    }
}

.accordion-reed-title-toggle-collapse {
        display: inline-block;
    line-height: 16px;
    margin-left: 16px;
    position: absolute;
    top:27px;
    left:50%;
    // margin-top: -1px;
    margin-top: -13px;
    margin-left: -8px;
    @media (min-width: 768px) {
        top:48px;
        margin-top: -13px;
        margin-left: -13px;
    }

    i {
        // @include icon-accordion-reed-title-toggle-collapse-mobile;
        display: inline-block;

        transition-property:opacity, transform, visibility;
        transition-timing-function:ease;
        transition-delay:0, 0, 0.4s;
        transition-duration:0.4s;
        @include opacity(0);
        visibility: hidden;

        width: 16px;
        height: 2px;
        background-color: #ef4e4e;
        position: relative;
        @media (min-width: 768px) {
            // @include icon-accordion-reed-title-toggle-collapse;

            width: 26px;
            height: 2px;

        }

        .is-accordion-reed-open & {

            @include opacity(1);
            transform:rotate(90deg);
            visibility: visible;

        }


    }
}

.accordion-reed-title-toggle-expand {
    display: inline-block;
    line-height: 16px;
    margin-left: 16px;

    position: absolute;
    top:27px;
    left:50%;
    margin-top: -1px;
    margin-left: -7px;
    @media (min-width: 768px) {
        top:48px;
        margin-top: -1px;
        margin-left: -13px;
    }


    i {
        // @include icon-accordion-reed-title-toggle-expand-mobile;
        display: inline-block;
        width: 16px;
        height: 2px;
        background-color: #ef4e4e;
        position: absolute;
        transition-property:opacity, transform, visibility;
        transition-delay:0, 0, 0.4s;
        transition-timing-function:ease;
        transition-duration:0.4s;


        @media (min-width: 768px) {
            // @include icon-accordion-reed-title-toggle-expand;
            width: 26px;
            height: 2px;

        }

        &:before{
            content:"";
            background-color: #ef4e4e;
            display: block;
            height:16px;
            width:2px;
            position: absolute;
            left:50%;
            top:0;
            margin-left: -1px;
            margin-top: -7px;

            @media (min-width:768px){
                height:26px;
                margin-left: -1px;
                margin-top: -13px;
            }

        }

        .is-accordion-reed-open & {
            // display: none;
            transform:rotate(90deg);
            @include opacity(0);
        }

    }
}

.accordion-reed-content {
    &.js-slide-hidden {
        position: absolute;
        left: -9999px;
        top: -9999px;
    }
}

.accordion-reed-content-inner {
    // margin-top: 14px;
    @include clearfix();

    @media (min-width: 1024px) {
        max-width: 980px;
    }
}

.accordion-reed-content-inner2 {
    margin-bottom: 20px; // so margins collapse

    @media (min-width: 768px) {
        margin-bottom: 30px; // so margins collapse
    }
}
