
.accordion-category-list {
    @include clearfix;
    background-color: #fff;
    // padding: 20px;
    @media (min-width: 721px) {}
    @media (min-width: 1000px) {
        // padding: 60px;
    }
    @media (min-width: 1200px) {}
    @media (min-width: 1400px) {}
}

.accordion-category {
    border-top: 1px solid #d5d9d8;
    &:last-child {
        margin-bottom: 0;
        border-bottom: 1px solid #d5d9d8;
    }
}

.accordion-category-content {
    &.js-slide-hidden {
        position: absolute;
        left: -9999px;
        top: -9999px;
    }
}

.accordion-category-content-inner {
    border-top: 1px solid #d5d9d8;
}

.accordion-category-inner {}

.accordion-category-title {
    display: table;
    width: 100%;
    cursor: pointer;
    padding-top: 25px;
    padding-bottom: 25px;
}

.accordion-category-title-copy {
    font-size: 23px;
    line-height: 28px;
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
    color: #464646;
    @media (min-width: 721px) {}
    @media (min-width: 1000px) {
        font-size: 25px;
        line-height: 31px;
    }
    @media (min-width: 1200px) {}
    @media (min-width: 1400px) {}
}

.accordion-category-title-toggle {
    font-size: 12px;
    line-height: 14px;
    color: #000;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}

.accordion-category-title-toggle-copy {
    display: inline-block;
}

.accordion-category-title-toggle-icon {
    display: inline-block;
    color: #cc0033;
}

.accordion-category-title-toggle-collapse {
    display: none;
    icon {
       // @include fonticon-collapse;
    }
    .is-accordion-category-open & {
        display: block;
    }
}

.accordion-category-title-toggle-expand {
    display: block;
    icon {
        //@include fonticon-expand;
    }
    .is-accordion-category-open & {
        display: none;
    }
}

.accordion-reed {
    // background-color: #f2f4f3;
    // padding:40px;
    // margin-bottom: 10px;
    // margin-bottom: 25px;
    //border-top: 1px solid rgba(0,0,0,0.15);
    position: relative;
    &:before {
        position: absolute;
        content: '';
        display: block;
        height: 0;
        top:0;
        border-top: 1px solid #d6d6d6;
        left:0;
        right:0;

          @media (min-width:768px){

            margin-right: -500px;
            padding-right: 500px;

          }

          @media (min-width:1024px){

          }
    }

    &:last-child:after {
        position: absolute;
        content: '';
        display: block;
        height: 0;
        bottom:0;
        border-top: 1px solid #d6d6d6;
        left:0;
        right:0;

          @media (min-width:768px){

            margin-right: -500px;
            padding-right: 500px;

          }

    }


}

.accordion-reed-inner {
    // padding-top:25px;
}

.accordion-reed-list {}

.accordion-reed-title {
    display: table;
    width: 100%;
    cursor: pointer;
}

.accordion-reed-title-copy {
    display: table-cell;
    vertical-align: top;
    padding: 30px 0;

    color: #231f20;
    font-size: 20px;
    line-height: 20px;
    @include font-Verdana-Regular;

    transition:color 0.2s ease;

    // @media (min-width: 768px) {
    //     padding: 30px 0;
    //     font-size: 30px;
    //     line-height: 38px;
    // }

    .is-accordion-reed-open & {
        color: #5bc5c4;
    }
    .accordion-reed-title:focus &,
    .accordion-reed-title:hover & {
        color: #5bc5c4;
    }
}

.accordion-reed-title-toggle {
    display: table-cell;
    vertical-align: top;
    padding-top: 27px;


    color: #000;
    line-height: 1;
    text-align: right;
    white-space: nowrap;


    // @media (min-width: 768px) {
    //     padding-top: 30px  + (38px - 30px)/2;
    // }
}

.accordion-reed-title-toggle-collapse {
    display: none;
    icon {
        //@include fonticon-collapse;
        font-size: 23px;

        @media (min-width: 768px) {
            // @include icon-accordion-reed-title-toggle-collapse;
        }

    }
    .is-accordion-reed-open & {
        display: inline-block;
        line-height: 16px;
        margin-left: 16px;


    }
}

.accordion-reed-title-toggle-expand {
    display: inline-block;
    line-height: 16px;
    margin-left: 16px;
    icon {
        //@include fonticon-expand;
        font-size: 23px;

        @media (min-width: 768px) {
            // @include icon-accordion-reed-title-toggle-expand;
        }
    }
    .is-accordion-reed-open & {
        display: none;
    }
}

.accordion-reed-content {
    &.js-slide-hidden {
        position: absolute;
        left: -9999px;
        top: -9999px;
    }
}

.accordion-reed-content-inner {
    // margin-top: 14px;
    @include clearfix();

    @media (min-width: 1024px) {
        max-width: 980px;
    }
}

.accordion-reed-content-inner2 {
    margin-bottom: 20px; // so margins collapse

    @media (min-width: 768px) {
        margin-bottom: 30px; // so margins collapse
    }
}
