
.achart{
  position: relative;
  height: 400px;
  overflow: hidden;

}

.achart-inner{
  height: 100%;
  width: 100%;
}

.achart-label{
  position: absolute;
  left:20px;
  top:20px;
  bottom:20px;
  width: 40px;
  // background:darkorange;
}

.achart-label-inner{
  display: table;
  height: 100%;
  width: 100%;

}

.achart-label-positive{
  display: table-row;
}

.achart-label-positive-inner, .achart-label-negative-inner{
  display: table-cell;
  position: relative;



  // &:before{
  //   content:"";
  //   position: absolute;
  //   top:0;
  //   left:0;
  //   right:0;
  //   background-color: red;
  //   height: 1px;
  // }


  // &:after{
  //   content:"";
  //   position: absolute;
  //   bottom:0;
  //   left:0;
  //   right:0;
  //   background-color: red;
  //   height: 1px;
  // }


}



.achart-label-valuelabels{
  display: table-row;
  height: 60px;
}

.achart-label-valuelabels-inner{
  display: table-cell;
}

.achart-label-negative{
  display: table-row;
}

.achart-label-negative-inner{
  display: table-cell;
}

.achart-label-list{
  display: table;
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
  position: relative;
  // border-top:1px solid red;
  // border-bottom:1px solid red;



}

.achart-label-item{
  display: table-row;
}

.achart-label-item-inner{
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  // border:1px solid red;
  text-align: right;
  position: relative;
  font-size: 12px;
  line-height: 12px;
  @include font-Halis-Bold;

  // &:before{
  //   content:"";
  //   position: absolute;
  //   top:0;
  //   left:0;
  //   right:0;
  //   background-color: red;
  //   height: 1px;
  // }


}

.achart-label-item-inner2{
  position: relative;
}

.achart-label-item-inner3{

  transform:translateX(0) translateY(-50%);
  background-color: #fff;
  border-radius: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top:0;
  right:5px;

  margin-top:1px;
  z-index: 1;

  &.is-zero{

    top:100%;

  }

  .achart-label-negative &{

    margin-top:-1px;

    top:100%;

    &.is-zero{

      top:0;

    }


  }



}


.achart-value-box{
  position: absolute;

  left: 0;
  right: 0px;
  top: 0px;
  bottom: 0px;


}


.achart-value{

    height: 100%;
  // min-width: 678px;
}

.achart-value-inner{
// overflow: hidden;
// width: 100%;
height: 100%;
// text-align: center;
}

.achart-value-list{
    display: table;
    vertical-align: top;
    width: 100%;
    height: 100%;
    // margin-left: 3px;
    text-align: left;
}

.achart-value-item{
display: table-cell;
// vertical-align: bottom;
text-align: center;
position: relative;
width: 40px;
// padding-bottom: 60px;

  // .achart-content-negative &{
  //   vertical-align: top;
  // }

}

.achart-value-item-inner{

  // position: relative;

}

.achart-value-item-copy{

    position: absolute;
    bottom:0;
    left:0;
    transform-origin: 0 100%;
    transform:rotate(-90deg) translateY(100%);
    text-align: left;

    @include font-Hind-Bold;
    line-height: 12px;
    font-size: 12px;
white-space: nowrap;
// overflow: hidden;
    // width: 60px;
  // height: 100%;
  text-align: left;
  padding-right: 5px;
  color:#fff;
  padding-left: 5px;
  display: block;
  z-index: 1;
  // background-color: blue;
    .achart-content-negative &{
      bottom:auto;
      top:0;
      transform-origin: 0 0;
      transform: rotate(90deg) translateY(-100%);
    }

}

.achart-value-item-bar{
  display: block;
    background-color: yellow;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin:0 1px;
    height: 0%;
    position: absolute;
    bottom:0;
    left:0;
    right:0;


    transition:height 1s ease;

    .achart-content-negative &{
      bottom:auto;
      top:0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;


    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    }

  // position: absolute;
  // bottom:0;
  // left:0;
  // right:0;
  // &:before{
  //   content:"";
  //   display: block;
  //   margin:0 auto;
  //   height: 100%;
  //   width: 100%;

  // }
}











.achart-content-valuelabels-list{
    display: table;
    vertical-align: top;
    width: 658px;
    height: 60px;
    text-align: left;
}

.achart-content-valuelabels-item{
display: table-cell;
vertical-align: bottom;
text-align: center;
position: relative;
width: 14px;
// padding-bottom: 60px;

}

.achart-content-valuelabels-item-label{
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  height: 60px;
  text-align: center;
  z-index: 1;
  // font-size:15px;
  // display: none;
}

.achart-content-valuelabels-item-label-inner{
    position: absolute;
    top:0;
    left:50%;
    transform-origin: 0 0;
    transform: rotate(-90deg) translateY(-50%) translateX(-100%);
    text-align: center;

    @include font-Hind-Bold;
    line-height: 12px;
    font-size: 12px;
white-space: nowrap;
// overflow: hidden;
    width: 60px;
  // height: 100%;
  text-align: right;
  padding-right: 5px;
  color:#fff;
  padding-left: 5px;

  .achart--has-negative &{
    text-align: center;
  }

}













.achart-content{

    height: 400px;
    position: relative;

    position: absolute;

    left: 60px;
    top: 0px;
    right: 20px;

  overflow: auto;
  overflow-y: hidden;
  // -webkit-overflow-scrolling:touch;


  &::-webkit-scrollbar-thumb:vertical {
      height: 100px;
  }

  &::-webkit-scrollbar-thumb:horizontal {
      height: 16px !important;
  }



  &::-webkit-scrollbar-thumb {
      background-color: #aaa;
      border-radius: 50px;
      border: 5px solid #000;


    .no-touchevents &:hover {
        background-color: #fff;
    }

  }


  &::-webkit-scrollbar {
      height: 16px;
      width: 16px;
      background-color:#000;
      border-radius: 10px;
  }

  &::-webkit-scrollbar-corner {
      background-color: #000;
  }

}

.achart-content-inner{

    display: table;
    width: 658px;
    height: 360px;
    table-layout: fixed;
    margin-top: 20px;
    // padding-right: 20px;

}

.achart-content-valuelabels{

  height: 60px;
  display: table-row;

}

.achart-content-valuelabels-inner{
display: table-cell;
position: relative;
overflow: hidden;

}


.achart-content-positive{

display: table-row;

}
.achart-content-positive-inner{
display: table-cell;
position: relative;
}

.achart-content-negative{

display: table-row;

}
.achart-content-negative-inner{
display: table-cell;
position: relative;
}

.achart-grid-box{

  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

}


.achart-grid{
position: relative;
  // min-width: 678px;
  height: 100%;
}

.achart-grid-inner{
// overflow: hidden;
// width: 100%;
height: 100%;
position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;


  &:before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    right:0;
    background-color: red;
    height: 1px;
  }


  &:after{
    content:"";
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    background-color: red;
    height: 1px;
  }
}

.achart-grid-list{
  display: table;
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
  // border-top:1px solid red;
  // border-bottom:1px solid red;
  position: relative;



}

.achart-grid-item{
  display: table-row;
}

.achart-grid-item-inner{
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  // border:1px solid red;
  text-align: right;
  position: relative;

  &:before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    right:0;
    background-color: red;
    height: 1px;
  }

}
