.advancesearch{




}

.advancesearch-two-cols-outer{
  @media (min-width:1024px){
        margin-right: -20px;

  }
}

.advancesearch-two-cols{

    @media (min-width:1024px){
      display: table;
      width: 100%;
    }

}

.advancesearch-two-cols-left{
  @media (min-width:1024px){
      display: table-cell;
      width: 50%;
      vertical-align: top;
      padding-right: 20px;
    }

}

.advancesearch-two-cols-right{
  @media (min-width:1024px){
      display: table-cell;
      width: 50%;
      vertical-align: top;
      padding-right: 20px;
    }

}

.advancesearch-button-wrap{

}

.advancesearch-button{
  background-color: #007bc3;


   position: relative;
    display: inline-block;
    vertical-align: top;
    @include fp(font-size, 14, 16);
    line-height: 1.65;
    text-transform: uppercase;
    @include font-Halis-Black;
    color: #ffffff;
    padding: 1em 1em;
    text-align: center;

    width: 100%;

    &:focus,
    &:hover {
        background-color: #e2e2de;
        text-decoration: none;
        color: #202021;
    }

    @media (min-width:1024px){
      padding: 0.8em 1em;
      max-width: 340px;
    }


}
