.archive {
	margin-bottom: 25px;
}

.archive-item {
	margin-bottom: 12px;
	padding-bottom: 12px;

	border-bottom: 1px solid #c2c2c2;
}

.archive-list {

}

.archive-months {
	
	display: none; 
	margin-top: 10px;

	.archive-item--is-open & {
		display: block;
	}

	&.js-slide-hidden{
		@media (max-width: 1023px) {
			display: none;
		}
	}
}

.archive-months-item {
	line-height: 1;

}

.archive-months-item-link {
	display: inline-block;
	padding: 6px 0;
  	
	color: #5d5d5d;
	font-size: 14px;
}

.archive-year {
	
	color: #aaa;
	font-size: 17px;
	line-height: 1;

	cursor: pointer;

	transition: color .2s ease;

	&:hover,
	.archive-item--is-open & {
		color: #000;
	}
}