.article-detail {

}



.article-detail-content{

}

.article-detail-content-inner {
    // padding-left: 20px;
    // padding-right: 20px;
    @include fp(padding-top, 36, 76);
    @include fp(padding-bottom, 36, 90);

    @include fp(max-width, 280,1328);
    border-bottom: 1px solid #d2d2d2;


  margin:0 auto;
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        // padding-left: 40px;
        // padding-right: 40px;
    }


    @media (min-width:1024px){

      @include fp(max-width, (1024-100),1328, $start:1024);


    }
}


.article-detail-relate-articles{

}



.article-detail-relate-articles-inner {
    // padding-left: 20px;
    // padding-right: 20px;
    @include fp(padding-top, 47, 34);
    @include fp(padding-bottom, 47, 78);

    @include fp(max-width, 280,1328);


  margin:0 auto;
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        // padding-left: 40px;
        // padding-right: 40px;
    }


    @media (min-width:1024px){

      @include fp(max-width, (1024-100),1328, $start:1024);


    }
}


.article-detail-relate-articles-title {
   @include fp(font-size,21,26);
    line-height: 1;
    @include font-Halis-Light;
    color:#342e2e;
    @include fp(padding-bottom, 15, 31);


}
