.askus{

}

.askus-inner{
    // padding-left: 20px;
    // padding-right: 20px;
    @include fp(padding-top, 40, 108);
    @include fp(padding-bottom, 47, 118);

    @include fp(max-width, 280,1228);


  margin:0 auto;
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        // padding-left: 40px;
        // padding-right: 40px;
    }


    @media (min-width:1024px){

      @include fp(max-width, (1024-100),1228, $start:1024);


    }
}


.askus-title{
  text-align: center;
  @include font-Halis-Light;
  @include fp(padding-bottom, 14, 24);
  @include fp(font-size, 18, 25);

}

.askus-button-wrap{
  text-align: center;
}

.askus-button {
  position: relative;
    display: inline-block;
    vertical-align: top;
    @include fp(font-size, 14, 18);
    text-transform: uppercase;
    @include font-Halis-Black;
    color: #666666;
    padding: 1em 1em;
    text-align: center;
    max-width: 424px;
    width: 100%;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        border: 1px solid #666666;
        transition: border 0.2s ease;
    }
        &:focus:before,
        &:hover:before {
            border-width: 3px;
        }
    &:focus,
    &:hover {
        color: #666666;
        text-decoration: none;
    }

    &.is-wide{
        max-width: 422px;
    }
}
