.backtotop {
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 10px;
  width: 50px;
  height : 67px;
  display: none;
   
  
}


.backtotop-inner{
  display: table;
  width: 100%;
  height :100%;

}

.backtotop-button{
  font-size: 30px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #424243;
  background-color: #ddddda;
  cursor: pointer;
  transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;

  &:hover, 
  &:focus {
    color: #ddddda;  
    background-color: #424243;
    text-decoration: none; 
  }

  
  icon{
    @include fonticon-arrow-up-big(top);
  }
  
}