.billtable{

  color:#231f20;


}


.billtable-header{

display: table;
width: 100%;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 17px;
      @include font-Halis-Bold;

}


.billtable-header-date{
display: table-cell;
vertical-align: top;

width: 31%;

}


.billtable-header-amount{

display: table-cell;
vertical-align: top;
  width:28%;


}


.billtable-header-type{


display: table-cell;
vertical-align: top;

width: 41%;
  @media (min-width:768px){

width: 21%;
  }

  @media (min-width:1024px){

  }

}


.billtable-header-status{

display: none;
vertical-align: top;
width: 20%;

  @media (min-width:768px){
    display: table-cell;

  }

  @media (min-width:1024px){

  }



}

.billtable-header-status-copy{
  display: none;
    @media (min-width:768px){
      display: block;
    }

    @media (min-width:1024px){

    }
}


.billtable-data-list{

  font-size: 18px;
  line-height: 21px;
  margin-bottom: 40px;
      @include font-Verdana-Regular;

border-bottom: 1px solid #e3e3e3;


}


.billtable-data-item{

width: 100%;
display: table;
border-top: 1px solid #e3e3e3;
padding-top: 21px;
padding-bottom: 21px;

  @media (min-width:768px){
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media (min-width:1024px){

  }

}


.billtable-data-item-date{

  display: table-cell;
  vertical-align: top;
  width:31%;
padding-right: 10px;



}

.billtable-data-item-amount{

display: table-cell;
vertical-align: top;
width: 28%;
padding-right: 10px;


}


.billtable-data-item-paymentstatus{

display: table-cell;
vertical-align: top;
width:41%;



}

.billtable-data-item-paymentstatus-inner{

    @media (min-width:768px){
      display: table;
  width: 100%;
  table-layout: fixed;
    }

    @media (min-width:1024px){

    }

}


.billtable-data-item-payment{

margin-bottom: 5px;
display: block;

  @media (min-width:768px){
    margin-bottom: 0;
    display: table-cell;
vertical-align: middle;
width: 21%;
  }

  @media (min-width:1024px){

  }



}

.billtable-data-item-payment-copy{

// display: inline-block;
// vertical-align: top;
overflow: hidden;

  a &{
    text-decoration: underline;
  }

}

.billtable-data-item-payment-icon{
// display: inline-block;
// vertical-align: top;
float: left;
padding-right: 14px;
color:#a5a5a5;
  i{
    font-size: 19px;
    @include fonticon-download;
  }

}

.billtable-data-item-status{

text-transform: uppercase;
padding-left: 28px;

  @media (min-width:768px){
    padding-left: 0;
    display: table-cell;
vertical-align: middle;
width: 20%;

  }


&.is-outstanding{

color:#e36b79;


}

&.is-paid{

color:#5bc5c4;

}



}

