.blogcta{

  margin-top: 30px;

  @media (min-width:768px){
    margin-top: 50px;
  }

  @media (min-width:1320px){

  }

}



.blogcta-title{

  // color:#ef4e4e;

}


.blogcta-content{



}

.blogcta-button{

margin:25px 0;

}
