.breadcrumbs{

  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
  position: relative;


}

.breadcrumbs-inner{

    max-width: 1428px;
    margin: 0 auto;

      // padding:0 20px;

  @include fp(padding-left,20,50);
  @include fp(padding-right,20,50);


      @media (min-width:768px){

      }

      @media (min-width:1024px){

        // padding:0 50px;

      }

}


.breadcrumbs-list{

  display: block;
  @include clearfix;

  padding-top:12px;
  padding-bottom: 12px;



}


.breadcrumbs-item{


  @include fp(font-size,11,13);

  @include fp(line-height,16,19);
  // line-height: 1;
  display: block;
  float: left;
  vertical-align: top;

  color:#333333;

  &:after{
    content:"/";
    display: inline-block;
    vertical-align: middle;
    color:#cccccc;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: relative;
    top:-0.05em;
    overflow: hidden;
    height: 1em;
    line-height: 1em;

  }

  &:last-child:after{
    display: none;
  }

}
