.breadcrumb{

    display: inline-block;

}


.breadcrumb-list{

    display: inline-block;


}

.CMSBreadCrumbsCurrentItem, .CMSBreadCrumbsLink, .breadcrumb-separator{

    display: inline-block;
    color:#000;
    font-size: 13px;
    @include opacity(0.6);

    .copy-white &{
        color:#fff;

    }
    @media (min-width:768px){
        font-size: 15px;
    }

    @media (min-width:1320px){

    }

}


.CMSBreadCrumbsCurrentItem, .CMSBreadCrumbsLink{

    &:hover{
        color:#000;
        .copy-white &{
            color:#fff;

        }
    }

}
