@mixin button {
    transition-property: background-color, color, border;
    transition-duration: .4s;
    transition-timing-function: ease;

}

.button-submit {
    @include button;
    color: #fff;
    width: 100%;
    border: 0;
    // max-width: 390px;
    display: inline-block;
    background-color: #007bc3;
    border: 1px solid transparent;
    // border-radius: 70px;
    // font-size: 14px;
    // line-height: 22px;
    text-align: center;
    // padding: 13px 5px;
    text-transform: uppercase;
    @include font-Halis-Bold;
    outline: 0;
    // box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
    border:1px solid #e3e3e3;
    transition: box-shadow 0.2s ease, background 0.2s ease;

    @include fp(font-size,14,16);
    @include fp(padding-top ,13,15);
    @include fp(padding-bottom ,13,15);

    // @media (min-width: 1024px) {
    //     // line-height: 26px;
    //     font-size: 16px;
    //     padding: 15px 5px;
    // }
    &:focus {
        border-color: #202021;
    }
    &:focus,
    &:hover {
        color: #fff;
        background-color: #006098;
        // border-bottom-color: #2f76a8;

    }

    &.is-narrow{
        @media (min-width:1024px) {
             max-width: 322px;
          }
    }
}

.button-brand {
    @include button;
    color: #231f20;
    // width: 100%;
    border: 0;
    max-width: 390px;
    display: inline-block;
    border-radius: 70px;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    padding: 17px 65px;
    text-transform: uppercase;
    @include font-Halis-Bold;
    position: relative;
    // min-width: 180px;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background-image: url(../../Theme/images/button-yellow.svg);
        background-size: 100% 100%;
        transition-property: background-color, color, border;
        transition-duration: .4s;
        transition-timing-function: ease;
        z-index: 0;
    }
    // @media (min-width: 768px) {
    //     line-height: 26px;
    //     font-size: 26px;
    //     padding: 19px 67px;
    // }
    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background-image: url(../../Theme/images/button-yellow-hover.svg);
        background-size: 100% 100%;
        transition-property: opacity;
        transition-duration: .4s;
        transition-timing-function: ease;
        opacity: 0;
        z-index: 0;
    }
    &:focus:after,
    &:hover:after {
        opacity: 1;
    }

    &:focus:after {
        background-image: url(../../Theme/images/button-yellow-focus.svg);
        opacity: 1;
    }

    &:focus {
        outline: 0;
    }

    &:focus,
    &:hover {
        color: #231f20;
        // background-color: #ffe500;
        // border-bottom-color: #2f76a8;

    }
}

.button-brand-inner {
    z-index: 1;
    position: relative;
}












.button-white {
    @include button;
    color: #231f20;
    width: 100%;
    border: 0;
        max-width: 243px;
    display: inline-block;
    background: transparent;
    border:1px solid #7f7f7f;
    border-radius: 70px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    padding: 14px 5px;
    text-transform: uppercase;
    @include font-Verdana-Regular;
    outline: 0;
    transition: border 0.2s ease, box-shadow 0.2s ease, background 0.2s ease;
    @media (min-width: 768px) {
        line-height: 18px;
        font-size: 18px;
        padding: 14px 5px;
        max-width: 243px;
    }
    &:focus {
        border-color: #a3a3a3;
    }
    &:focus,
    &:hover {
        color: #231f20;
        background-color: #ffe500;
        // border-bottom-color: #2f76a8;

    }
}



.button-white-wide {
    @include button;
    color: #231f20;
    width: 100%;
    border: 0;
        max-width: 400px;
    display: inline-block;
    background: transparent;
    border:1px solid #7f7f7f;
    border-radius: 70px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    padding: 14px 5px;
    text-transform: uppercase;
    @include font-Verdana-Regular;
    outline: 0;
    transition: border 0.2s ease, box-shadow 0.2s ease, background 0.2s ease;
    @media (min-width: 768px) {
        line-height: 18px;
        font-size: 18px;
        padding: 14px 5px;
        max-width: 400px;
    }
    &:focus {
        border-color: #a3a3a3;
    }
    &:focus,
    &:hover {
        color: #231f20;
        background-color: #ffe500;
        // border-bottom-color: #2f76a8;

    }
}



.button-popupsubmit {
    @include button;
    color: #231f20;
    width: 100%;
    border: 0;
    max-width: 335px;
    display: inline-block;
    background: #6dbae7;
    border:0;
    border-radius: 70px;
    font-size: 18px;

    line-height: 18px;
    text-align: center;
    padding: 14px 5px;
    text-transform: uppercase;
    @include font-Verdana-Regular;
    outline: 0;
    transition: border 0.2s ease, box-shadow 0.2s ease, background 0.2s ease;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
    @media (min-width: 768px) {
        line-height: 18px;
        font-size: 18px;
        padding: 14px 5px;
        max-width: 243px;
    }
    &:focus {
        border-color: #a3a3a3;
    }
    &:focus,
    &:hover {
        color: #231f20;
        background-color: #ffe500;
        // border-bottom-color: #2f76a8;

    }
}


.button-dashplans{

    @include button;
    color: #231f20;
    width: 100%;
    border: 0;
        max-width: 155px;
    display: inline-block;
    background: #fff;
    border:1px solid #231f20;
    border-radius: 70px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    padding: 14px 5px;
    text-transform: uppercase;
    @include font-Verdana-Regular;
    outline: 0;
    transition: border 0.2s ease, box-shadow 0.2s ease, background 0.2s ease;
    @media (min-width: 768px) {
        line-height: 18px;
        font-size: 18px;
        padding: 14px 5px;
        // max-width: 243px;
    }
    &:focus {
        border-color: #a3a3a3;
    }
    &:focus,
    &:hover {
        color: #231f20;
        background-color: #ffe500;
        // border-bottom-color: #2f76a8;

    }

}







.button-brandheaderlogin {
    @include button;
    color: #231f20;
    // width: 100%;
    border: 0;
    max-width: 390px;
    display: inline-block;
    border-radius: 70px;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    padding: 13px 21px;
    text-transform: uppercase;
    @include font-Halis-Bold;
    position: relative;
    // min-width: 180px;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background-image: url(../../Theme/images/button-yellow.svg);
        background-size: 100% 100%;
        transition-property: background-color, color, border;
        transition-duration: .4s;
        transition-timing-function: ease;
        z-index: 0;
    }
    @media (min-width: 768px) {
        line-height: 22px;
        font-size: 23px;
        padding: 17px 31px;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background-image: url(../../Theme/images/button-yellow-hover.svg);
        background-size: 100% 100%;
        transition-property: opacity;
        transition-duration: .4s;
        transition-timing-function: ease;
        opacity: 0;
        z-index: 0;
    }
    &:focus:after,
    &:hover:after {
        opacity: 1;
    }
    &:focus:after {
        background-image: url(../../Theme/images/button-yellow-focus.svg);
        opacity: 1;
    }
    &:focus {
        outline: 0;
    }
    &:focus,
    &:hover {
        color: #231f20;
        // background-color: #ffe500;
        // border-bottom-color: #2f76a8;

    }
}

.button-brandheaderlogin-inner {
    z-index: 1;
    position: relative;
}
