.cardpagination{



}

.cardpagination-inner{

    display: table;
    width: 100%;
    color:#ef4e4e;
    height: 50px;

    font-size: 14px;

    @media (min-width:768px){
        font-size:20px;
    }

    @media (min-width:1320px){

    }

}

.cardpagination-label{

    display: table-cell;
    vertical-align: middle;
    border:1px solid #c6c6c6;
    text-align: center;
    background-color: #ffffff;

}

.cardpagination-label-number{

    @include font-Univers-Bold;

}


.cardpagination-prev{

    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border:1px solid #c6c6c6;
    border-right: 0;
    width: 35px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #ffffff;
    line-height: 1;


    @media (min-width:768px){
        width: 51px;
    }

    i{
        @include fonticon-pagination-left(natural);
        font-size: 13px;
        vertical-align: middle;
    }

}

.cardpagination-next{

    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border:1px solid #c6c6c6;
    width: 35px;
    border-left: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    background-color: #ffffff;

    @media (min-width:768px){
        width: 51px;
    }

    i{
        @include fonticon-pagination-right(natural);
        font-size: 13px;
        vertical-align: middle;
    }
}
