.contentandsidebar{

      // background-color: orange;
    overflow: hidden;
    background-color: #fff;


}


.contentandsidebar-inner{

    display: table;
    width: 100%;
    margin: 0 auto;
    table-layout: fixed;
    position: relative;

    max-width: 1366px;//match taryns request

    // max-width: 1500px;//match design

}

.contentandsidebar-content{

  background-color: #fff;
  @media (min-width:1024px){
    display: table-cell;
    vertical-align: top;
    position: relative;

  }
}

.contentandsidebar-content-inner{


  padding:0 20px 77px;
    position: relative;


  @media (min-width:1024px){

    // padding:0 10% 270px;
    // padding:0 10% 270px 5%;

     padding: 0 40px 120px 40px;

    // max-width: 1036px;
    // margin-left: auto;

  }

  @media (min-width:1024px){


     padding: 0 58px 120px 58px;

  }

}




.contentandsidebar-sidebar{

  background-color: #fafafa;
  display: none;
  @media (min-width:1024px){

  display: table-cell;
  vertical-align: top;
    // width: 31%;
    width: 36%;
    // position: relative;


    &:before{
      content:"";
      display: block;
      position: absolute;
      background-color: #fafafa;
      right: 0px;
      top: 0px;
      bottom: 0px;
      margin-right: -1000px;
      padding-right: 1000px;
    }
  }

  @media (min-width:1024px){

    width: 30%;

  }


}

.contentandsidebar-sidebar-inner{

  padding:30px 20px;
  // background-color: green;

  padding-top: (30px + 160px);


  @media (min-width:1024px){

    padding:30px 40px;
    // background-color: green;

    padding-top: (30px + 160px);


  }

  @media (min-width:1024px){

  }

}

.contentandsidebar-sidebar-title{



}

