.contactdetails {
    background-color: #f1f1f1;
    line-height: 1;
}

.contactdetails-inner {
  @include fp(max-width, (1024-100),1328, $start:1024);

  @media (min-width: 1024px) {
    @include fp(padding-top, 50,60, $start:1024);
    @include fp(padding-bottom, 50,60, $start:1024);
  }

  margin:0 auto;
}

.contactdetails-mapinfo {
  @media (min-width: 1024px) {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}

.contactdetails-mapinfo-map {
  @media (min-width: 1024px) {
    @include fp(padding-right, 20, 80, $start: 1024);
    display: table-cell;
    width: 40%;
    vertical-align: top;
  }

  @media (min-width: 1280px) {
    width: 45.5%;
  }
}

.contactdetails-map {
  @include fp(height, 210, 355, $end: 1024);
  position: relative;
  display: block;
  padding: 0;
  overflow: hidden;
  width: 100%;

  &:before{
    content:"";
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 2;
  }

  // @media (min-width: 768px) {
  //     height: 350px;
  // }

  // @media (min-width: 1024px) {
  //     height: 533px;
  // }

  iframe {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;

  }
}

.contactdetails-mapinfo-info {
  @include fp(padding-bottom, 40,60, $end:1023);
  @include fp(padding-top, 40,60, $end:1023);

  @media (min-width: 768px) {

  }

  @media (min-width: 1024px) {
    display: table-cell;
    padding-top: 0;
    padding-bottom: 0;
    width: 60%;
    vertical-align: top;
  }

  @media (min-width: 1280px) {
    width: 54.5%;
  }
}


.contactdetails-info {
  @include fp(max-width, 280,1228);
  margin: 0 auto;
  position: relative;
}


.contactdetails-infocols {
  @media (min-width: 768px) {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}


.contactdetails-infocols-col1 {
  border-bottom: 1px solid rgba(102,102,102,0.1);
  margin-bottom: 20px;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    border-bottom: 0;
    border-right: 1px solid rgba(102,102,102,0.1);
    display: table-cell;
    margin-bottom: 0;
    padding-right: 40px;
    table-layout: fixed;
    width: 50%;
  }

  @media (min-width: 1024px) {
    @include fp(padding-right, 20, 40, $start: 1024);
    padding-bottom: 0;
  }
}

.contactdetails-infocols-col2 {
  @media (min-width: 768px) {
    display: table-cell;
    padding-left: 40px;
    table-layout: fixed;
    width: 50%;
  }

  @media (min-width: 1024px) {
    @include fp(padding-left, 20, 40, $start: 1024);
  }
}

.contactdetails-inforows {
  @media (min-width: 768px) {
    position: absolute;
    height: 100%;
  }
}

.contactdetails-inforows-row {
  border-bottom: 1px solid rgba(102,102,102,0.1);
  margin-bottom: 20px;
  padding-bottom: 20px;


  @media (min-width: 768px) {
    height: calc(50% - 20px/2);
  }

  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
  }
}


.contactdetails-heading {
  @include font-Halis-Light;
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contactdetails-group {
  display: table;
  line-height: 1.71em;
  margin-bottom: 20px;
  table-layout: fixed;
  width: 100%;

  &.is-singleline {
    line-height: 1.57em;
    margin-bottom: 6px;
  }
}


.contactdetails-label {
  @include font-Verdana-Bold;
  display: table-cell;
  font-size: 14px;
  vertical-align: top;
  width: 42px;

  @media (min-width: 1024px) {
    @include fp(width, 32, 42, $start: 1024);
  }

  icon {
    font-size: 22px;
    position: relative;
    top: 6px;

    .is-office & {
      @include fonticon-office;
    }

    .is-postal & {
      @include fonticon-mail;
    }
  }
}

.contactdetails-label-copy {
  display: inline-block;
  position: relative;
  line-height: 1;

  .is-singleline &:after {
    position: absolute;
    content: "";
    border-right: 1px solid rgba(102,102,102,0.1);
    height: 100%;
    left: 20px;
  }
}

.contactdetails-value {
  @include font-Verdana-Regular;
  display: table-cell;
  font-size: 14px;
  vertical-align: top;

  a {
    border-bottom: 1px solid;
    color: #006dbd;
    text-decoration: none;

    transition: border .2s ease,color .2s ease;

    &:focus,
    &:hover{
      border-bottom: 6px solid #cccccc;
      color:#666;
    }
  }
}



