.cookienotification{

    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: $z-index-cookienotification;

}

.cookienotification-background{

    @include rgbaBackground(#303030,0.9);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

}

.cookienotification-close{

    position: absolute;
    right: 20px;
    top:20px;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    margin-top: -18px;
    margin-right: -18px;

    @media (min-width:768px){
            right: 50px;
    }

    @media (min-width:1320px){

    }

    i{

        @include fonticon-popupclose(middle);
        color:#fff;
    }

}


.cookienotification-inner{

    padding:0 20px;
    max-width: 1260px + 20px+20px;
    margin:0 auto;
    position: relative;

    color: #fff;

        @media (min-width:768px){
            padding:0 50px;
            max-width: 1260px + 50px+50px;
        }

        @media (min-width:1320px){

        }

}

.cookienotification-inner2{

    display: table;
    width: 100%;

}

.cookienotification-inner3{

    display: table-cell;
    vertical-align: middle;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 26px + 10px;

        @media (min-width:768px){
        }

        @media (min-width:1320px){

        }

}

.cookienotification-title{

    @include font-Univers-Bold;
    font-size: 17px;
    margin-bottom: 2px;

        @media (min-width:768px){
            font-size: 20px;
        }

        @media (min-width:1320px){

        }

}


.cookienotification-description{

    font-size: 14px;

    @media (min-width:768px){
        font-size: 17px;
    }

    @media (min-width:1320px){

    }

}
