.cta {


    font-size: 16px;
    line-height: 1;

    @include font-Halis-Black;
    text-transform: uppercase;

    color:#006dbd;

    display: inline-block;
    position: relative;
    padding-right: 1.4em;
    transition:color 0.2s ease;
    &:focus, a:focus &,
    &:hover, a:hover & {
        color: #666666;
    }

}

.cta-label {
    display: inline-block;
    // text-decoration: underline;
    padding-right: 1em;
    //Space
}

.cta-arrow {
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -0.5em;/* Negative Half Icon Height */
    margin-left: 0;//0.8em;/* Negative Icon Width */
    line-height: 1;
    width: .8em;

    transform:translateX(0);

    transition:transform 0.2s ease;
    a:focus &,
    a:hover &{

    transform:translateX(100%);
    }

    icon {
        vertical-align: middle;
        line-height: 1;
        display: block;
        position: relative;
        margin-top: -0.1em;
        @include fonticon-arrow-right;
        font-size: .8em;
        width: .8em;
    }
}
