.cta2 {


   font-size: 16px;
    line-height: 1;

    @include font-Halis-Black;
    text-transform: uppercase;


    color:#006dbd;
    margin-bottom: 0.6em;


    display: inline-block;
    position: relative;
    color: #ef4e4e;
    padding-right: 1em;
    transition:color 0.2s ease;
    @include font-Univers-Roman;

    font-size: 18px;

    @media (min-width:768px){
        font-size: 23px;
    }


    &:hover, a:hover & {
        color: #5ebfff;
    }
    .copy-white & {
        color: #fff;
        &:hover {
            color: #ccebff;
        }
    }
    .copy-white a:hover & {
        color: #ccebff;
    }
}

.cta2-label {
    display: inline-block;
    // text-decoration: underline;
    padding-right: 0.4em;
    //Space
}

.cta2-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -0.5em;
    /* Negative Half Icon Height */
    margin-left: 1em;
    /* Negative Icon Width */
    line-height: 1;
    width: 1em;
    i {
        vertical-align: middle;
        line-height: 1;
        display: block;
        position: relative;
        margin-top: -0.1em;
        @include fonticon-arrow;
        font-size: 1em;
        width: 1em;
    }
}
