.ctaback {
    display: inline;
    color: #ef4e4e;
    transition:color 0.2s ease;
    @include font-Univers-Roman;

    font-size: 18px;

    @media (min-width:768px){
        font-size: 23px;
    }


    &:hover, a:hover & {
        color: #5ebfff;
    }
    .copy-white & {
        color: #fff;
        &:hover {
            color: #ccebff;
        }
    }
    .copy-white a:hover & {
        color: #ccebff;
    }
}

.ctaback-label {
    // display: inline-block;
    display: inline;
    // text-decoration: underline;
    &:before {
        content: "";
        display: inline;
        width: 0;
        padding-left: 1em;
        padding-right: 0.4em;
    }
}

.ctaback-arrow {
    display: inline-block;
    width: 0;
    //The magic to avoid the arrow div wrapping.
    position: relative;
    vertical-align: middle;
    top: -2px;
    i {
        vertical-align: middle;
        line-height: 1;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -0.5em;
        /* Negative Half Icon Height */
        // margin-left: -1em;
        margin-left: 0;
        /* Negative Icon Width */
        @include fonticon-back;
        width: 1em;
        font-size: 1em;
    }
}
