// Describes the pattern where we have an icon on the left and branded text on the right

.ctawithicon {
  display: inline-block;
  @include font-Halis-Medium;
  @include fp(font-size, 14, 15); // 14, 15);//was 15 but font rendering in chrome is poor, so bumping to 16
  text-transform: uppercase;
  text-decoration: none;



  icon {
    display: inline-block;
    vertical-align: middle;

    &:before {
      width: 33px;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      position: relative;
      top: -3px;
      font-size: 19px;
      padding-right: 10px;
    }
  }

  &.is-email {
    icon {
      @include fonticon-mail(middle);
    }
  }

  &.is-download {
    icon {
      @include fonticon-download(middle);
    }
  }

  //client

  &.is-verdana {
    @include font-Verdana-Bold;
  }


}

a.ctawithicon {
  text-decoration: none;

  &:focus,
  &:hover {
    color: #666;
  }
}

.ctawithicon-copy {
  display: inline;

  a & {
    border-bottom: 1px solid;
    display: inline;
    transition: border .2s ease, color .2s ease;
  }

  a:focus &,
  a:hover & {
    border-bottom: 6px solid #cccccc;
  }

  &.is-small{
    @include fp(font-size, 13, 14);
  }
}
