.dashpaymentdetails{


    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (min-width: 1024px) {
        padding-left: 86px;
        padding-right: 86px;
    }

}


.dashpaymentdetails-inner{

    margin: 0 auto;
    max-width: 738px;
    padding-top: 40px;
    padding-bottom: 70px;
    @media (min-width: 768px) {
        padding-top: 50px;
        padding-bottom: 60px;

    }

}


.dashpaymentdetails-title{

text-align: center;
@include font-Halis-Bold;
text-transform: uppercase;
color:#231f20;
font-size: 38px;
line-height: 36px;
margin-bottom: 40px;

  @media (min-width:768px){
    font-size: 42px;
    line-height: 39px;
    margin-bottom: 50px;
  }

  @media (min-width:1024px){

  }


}


.dashpaymentdetails-payments-title{

text-align: center;

@include font-Halis-Bold;
text-transform: uppercase;
color:#5bc5c4;

font-size: 24px;
line-height: 20px;
margin-bottom: 17px;

  @media (min-width:768px){
    font-size: 32px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  @media (min-width:1024px){

  }

}


.dashpaymentdetails-payments{

  margin-bottom: 40px;
  overflow: hidden;

  @media (min-width:768px){
    margin-bottom: 50px;
  }

  @media (min-width:1024px){

  }

}


.dashpaymentdetails-payments-list{

  margin-bottom: -20px;

    @media (min-width:768px){
  @include clearfix;
  margin-right: -30px;
  margin-bottom: -30px;

    }

    @media (min-width:1024px){

    }

}


.dashpaymentdetails-payments-item{

  border:1px solid #e6e6e7;
  border-radius: 2px;
  position: relative;
  min-height: 160px;
  margin-bottom: 20px;

  @media (min-width:768px){

    float: left;
    width: calc(50% - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  min-height: 300px;

  }

  @media (min-width:1024px){

  }

    &.is-addanother{

      border-style: dashed;
      border-color: #d8d8d9;

    }



}

.dashpaymentdetails-payments-item-inner{

  padding-left: 30px;
  padding-top: 32px;
  padding-bottom: 32px;

}



.dashpaymentdetails-payments-item-account-item{

  background-color: #eef9f9;
  padding: 25px 28px;
  font-size: 16px;
  line-height: 18px;

  & + &{
    margin-top: 20px;
  }

}

.dashpaymentdetails-payments-item-account-item-address{
  margin-bottom: 10px;
}

.dashpaymentdetails-payments-item-account-list{



}


.dashpaymentdetails-payments-item-personname{

  @include font-Verdana-Regular;
  font-size: 26px;
  line-height: 24px;
  margin-bottom: 7px;
  color:#231f20;
  margin-right: 106px;

}


.dashpaymentdetails-payments-item-accountname{

  @include font-Verdana-Regular;
  font-size: 18px;
  line-height: 16px;
  margin-bottom: 7px;
  text-transform: uppercase;

  color:#231f20;

}

.dashpaymentdetails-payments-item-accountnumber{

  @include font-Verdana-Regular;
  font-size: 18px;
  line-height: 16px;
  margin-bottom: 17px;
  text-transform: uppercase;
  color:#999999;



}


.dashpaymentdetails-payments-item-caption{

  @include font-Halis-Bold;
  font-size: 18px;
  line-height: 16px;
  margin-bottom: 17px;
  text-transform: uppercase;

  color:#000;


}


.dashpaymentdetails-payments-item-addanother{

  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  text-align: center;
  background-color: #fff;
  background-image: url(../../Theme/images/dashpaymentdetails-addanother.png);
  background-position: bottom left;
  background-size: 181px 52px;
  background-repeat: no-repeat;
  color:#231f20;

  &:hover{
    background-color: #f4f4f4;
    color:#999;
  }

}

.dashpaymentdetails-payments-item-addanother-inner{

  display: inline-table;
  vertical-align: middle;
  height: 100%;
  padding-bottom: 52px;
  padding-top: 52px;


}

.dashpaymentdetails-payments-item-addanother-copy{

  display: table-cell;
  vertical-align: middle;
  @include font-Verdana-Regular;
  text-transform: uppercase;
  // color:#231f20;

}

.dashpaymentdetails-payments-item-addanother-icon{

  display: table-cell;
  vertical-align: middle;

  @include font-Verdana-Regular;
  padding-right: 10px;
  // color:#231f20;

  i{
@include fonticon-add;
font-size: 32px;
    // &:before{

    //   content:"+";
    //   height: 33px;
    //   width: 33px;
    //   line-height: 30px;
    //   text-align: center;
    //   display: block;
    //   padding-left:2px;
    //   border:1px solid #918f8f;
    //   border-radius: 100%;
    //   font-size: 20px;


    // }
  }

}

.dashpaymentdetails-payments-item-tools{

  position: absolute;
  top:0;
  right:0;

}

.dashpaymentdetails-payments-item-tools-list{

  // width: 100%;
  display: inline-table;
  height: 45px;



}

.dashpaymentdetails-payments-item-tools-item{


 display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  color:#000000;

  // & + &{
  //   border-left: 1px solid #f3f4f4;
  // }

    // @media (min-width:768px){
    //   padding-left: 10px;
    //   padding-right: 10px;
    // }

    @media (min-width:1024px){

    }

  &:hover{
    background-color: #fffccc;
    color:#000000;

  }

  i{
    font-size: 18px;

      @media (min-width:768px){
        font-size: 18px;
      }

      @media (min-width:1024px){

      }
  }


  &.is-delete{

    i{
      @include fonticon-delete;
    }

  }

  &.is-edit{

    i{
      @include fonticon-edit;
    }

  }

}


