.dashalerts{

      position: relative;
      overflow: hidden;

      background-size: 259px 141px;

      background-image: url(../../Theme/images/dashboard-circles.svg);
      background-position: -158px 0;
      background-repeat: no-repeat;


        @media (min-width:768px){

          background-size: 173px 94px;
          background-position: 0 0;



        }

        @media (min-width:1024px){

        }




}




.dashalerts-inner{

  padding-top: 55px;
  padding-bottom: 55px;

  padding-left: 20px;
  padding-right: 20px;

  @media (min-width:768px){

    padding-top: 100px;
    padding-bottom: 100px;

    padding-left: 15px;
    padding-right: 15px;

  }

  @media (min-width:1024px){

      padding-left: 86px;
      padding-right: 86px;

  }

}




.dashalerts-intro{

  text-align: center;
  margin-bottom: 34px;

  @media (min-width:768px){

  margin-bottom: 40px;
  }

  @media (min-width:1024px){

  }

}

.dashalerts-intro-title{

font-size: 24px;
line-height: 24px;
margin-bottom: 5px;

  @media (min-width:768px){
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 5px;
  }

  @media (min-width:1024px){

  }

}



.dashalerts-intro-description{

  max-width: 560px;
  margin:0 auto;


}






.dashalerts-alerts{

  max-width: 738px;
  margin:0 auto;
  margin-bottom: 80px;

}


.dashalerts-alerts-list{

  position: relative;
  // border-bottom: 1px solid #f3f4f4;
  margin-right: -20px;

    @media (min-width:768px){
      margin-right: 0;
    }

    @media (min-width:1024px){

    }

  &:before{
    content:"";
    display: block;
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    height: 1px;
    background-color: #f3f4f4;
    // padding-left: 1000px;
    // margin-left: -1000px;
    padding-right: 1000px;
    margin-right: -1000px;
  }


}



.dashalerts-alerts-item{

display: table;
width: 100%;
height: 70px;
position: relative;
// border-top: 1px solid #f3f4f4;

  &:before{
    content:"";
    display: block;
    position: absolute;
    left:0;
    right:0;
    top:0;
    height: 1px;
    background-color: #f3f4f4;
    // padding-left: 1000px;
    // margin-left: -1000px;
    padding-right: 1000px;
    margin-right: -1000px;
  }



}

.dashalerts-alerts-item-copy{

  display: table-cell;
  vertical-align: middle;
  color:#231f20;
  font-size: 18px;
  line-height: 18px;
  padding-right: 10px;
  @include font-Verdana-Regular;
  padding-top: 18px;
  padding-bottom: 18px;
  @media (min-width:768px){
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width:1024px){

  }

  strong{

    @include font-Halis-Bold;

  }

}

.dashalerts-alerts-item-tools{

  display: table-cell;
  vertical-align: middle;
  text-align: right;


}

.dashalerts-alerts-item-tools-list{

  // width: 100%;
  display: inline-table;
  height: 100%;
  vertical-align: top;


    border-left: 1px solid #f3f4f4;

}

.dashalerts-alerts-item-tools-item{


 display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  color:#231f20;

  & + &{
    border-left: 1px solid #f3f4f4;
  }

    @media (min-width:768px){
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (min-width:1024px){

    }

  &:hover{
    background-color: #fffccc;
    color:#231f20;
  }

  i{
    font-size: 24px;

      @media (min-width:768px){
        font-size: 18px;
      }

      @media (min-width:1024px){

      }
  }


  &.is-delete{

    i{
      @include fonticon-delete;
    }

  }

  &.is-edit{

    i{
      @include fonticon-edit;
    }

  }

}






.dashalerts-form{
  max-width: 738px;
  margin:0 auto;
}


.dashalerts-form--edit{
  display: none;
}

.dashalerts-form--delete{
  display: none;
}

.dashalerts-form--add{

}

.dashalerts-form-submit{
  padding-top: 20px;
  text-align: center;
}

.dashalerts-form-cancel{
  padding-top: 20px;
  text-align: center;
}


.dashalerts-form-cancel-link{
  text-transform: uppercase;
  @include font-Verdana-Regular;
  color:#999999;
  text-decoration: underline;

  &:hover{
    color:#000;
    text-decoration: underline;
  }

}
