.dashbilling{


    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;//needed because of form
    @media (min-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (min-width: 1024px) {
        padding-left: 86px;
        padding-right: 86px;
    }

}


.dashbilling-inner{

    margin: 0 auto;
    max-width: 738px;
    padding-top: 40px;
    padding-bottom: 70px;
    @media (min-width: 768px) {
        padding-top: 50px;
        padding-bottom: 60px;

    }

}



.dashbilling-intro{

  margin-bottom: 20px;
  text-align: center;

    @media (min-width:768px){
      margin-bottom: 60px;
    }

    @media (min-width:1024px){

    }

}




.dashbilling-intro-title{

      @include font-Halis-Bold;
      font-size: 38px;
      line-height: 38px;
      margin-bottom: 10px;
      color:#000000;
      text-transform: uppercase;

        @media (min-width:768px){
          font-size: 42px;
          line-height: 42px;
        }

        @media (min-width:1024px){

        }


}


.dashbilling-intro-description{



}






.dashbilling-account{

  margin-bottom: 20px;




    border: 1px solid #e6e7e8;
    border-radius: 3px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 35px;
    padding-bottom: 35px;

      @media (min-width:768px){
        padding-left: 40px;
        padding-right: 40px;
      margin-bottom: 40px;
    }

      @media (min-width:1024px){

      }


}





.dashbilling-account-benefits{



}


.dashbilling-account-benefits-list{

  margin-bottom: 44px;

    @media (min-width:768px){
      margin-bottom: 0;
    }

    @media (min-width:1024px){

    }


}

.dashbilling-account-benefits-item{

  display: table;
  width: 100%;
  font-size: 17px;
  line-height: 17px;
  @include font-Verdana-Regular;

  @media (min-width:768px){
  font-size: 20px;
  line-height: 20px;

  }

  @media (min-width:1024px){

  }

  &+&{
    margin-top: 10px;
  }

}

.dashbilling-account-benefits-item-icon{

  width: 30px;
  display: table-cell;
  vertical-align: middle;

  img{
    width: 100%;
  }

}

.dashbilling-account-benefits-item-copy{

  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;

}







.dashbilling-account-column-list{

  // margin-bottom: 40px;

    @media (min-width:768px){

      display: table;
      width: 100%;
      table-layout: fixed;
      border-style: hidden;
      border-collapse: collapse;
      // margin-bottom: 30px;

    }




}


.dashbilling-account-column-item{

  &+&{

    margin-top: 30px;

    @media (min-width:768px){
      margin-top: 0;
    }
  }

  @media (min-width:768px){
    margin-bottom: 0;
    display: table-cell;
    vertical-align: top;
    border:20px solid transparent;
    vertical-align: middle;
  }





}




.dashbilling-account-address{

  color:#231f20;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
      margin-bottom: 7px;
  @include font-Verdana-Regular;

  @media (min-width:768px){

  margin-bottom: 0;
  }

  @media (min-width:1024px){

  }

}


.dashbilling-account-title{

  font-size: 26px;
  line-height: 26px;

  @include font-Verdana-Regular;
  color:#231f20;
  text-transform: uppercase;
  margin-bottom: 10px;

}

.dashbilling-account-title-number{

  @include font-Halis-Bold;
  color:#5bc5c4;
  display: inline-block;


}



.dashbilling-latestbills{
margin-bottom: 40px;

  @media (min-width:768px){
    margin-bottom: 55px;
  }

  @media (min-width:1024px){

  }
}


.dashbilling-latestbills-list{

  @media (min-width:768px){
    display: table;
width: 100%;
border-collapse: collapse;
border-style: hidden;

  }

  @media (min-width:1024px){

  }


}


.dashbilling-latestbills-item{

  margin-bottom: 20px;

  @media (min-width:768px){
    border:40px solid transparent;
    display: table-cell;
    vertical-align: top;
  margin-bottom: 0;
  }

  @media (min-width:1024px){

  }

}

.dashbilling-latestbills-item-inner{
  border:1px solid #e6e7e8;
  border-radius: 4px;
  padding:30px;
  color:#231f20;

  @media (min-width:768px){
    padding:40px;
  }
}

.dashbilling-latestbills-item-title{

font-size: 26px;
line-height: 30px;

  @include font-Verdana-Regular;

}


.dashbilling-latestbills-item-date{

  @include font-Verdana-Regular;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 13px;
  text-transform: uppercase;

}


.dashbilling-latestbills-item-label{

  @include font-Halis-Bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

}

.dashbilling-latestbills-item-label-outstanding{

  color:#e36b79;
  display: inline-block;

}

.dashbilling-latestbills-item-value{
margin-bottom: 20px;
  @include font-Halis-Bold;
  font-size: 32px;
  line-height: 32px;
}

.dashbilling-latestbills-item-cta{

  height: 48px;
  display: table-cell;
  width: 10000px;
  vertical-align: middle;

}

.dashbilling-latestbills-item-cta-link{
    font-size: 18px;
    line-height: 18px;

    text-transform: uppercase;


    border-bottom: 0 solid #6dbae7;
    box-shadow: inset 0 -6px 0 #6dbae7;
    color:#231f20;

    transition: border 0.2s ease,box-shadow 0.2s ease;

    user-select:none;

    @include font-Verdana-Regular;

    color:#231f20;

    @media (min-width:768px){

      font-size: 18px;
      line-height: 24px;

    }



    &:hover{

        box-shadow: inset 0 -2px 0 #6dbae7;
        border-bottom: 4px solid #6dbae7;
    color:#231f20;

    }



  }













.dashbilling-bills{



}



.dashbilling-bills-intro{

text-align: center;
margin-bottom: 40px;

}


.dashbilling-bills-pagination{
  margin-bottom: 40px;


    @media (min-width:768px){
      margin-bottom: 60px;
    }

    @media (min-width:1024px){

    }
}

.dashbilling-bills-intro-description{



}

.dashbilling-bills-intro-title{

  color:#5bc5c4;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 5px;
      @include font-Halis-Bold;
      text-transform: uppercase;

    @media (min-width:768px){
      font-size: 32px;
      line-height: 32px;
    }


}


.dashbilling-bills-form{


    background-color:#eef9f9;

    padding-left: 30px;
    padding-right: 30px;

    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
margin-bottom: 40px;
  @media (min-width:768px){
    margin-bottom: 55px;
    // padding-right: 0;
  }

  @media (min-width:1024px){

  }

    // &:after{
    // content:"";
    // display: block;
    // position: absolute;
    // left:100%;
    // right:0;
    // top:0;
    // bottom:0;
    // background-color: #eef9f9;
    // // padding-left: 1000px;
    // // margin-left: -1000px;

    // padding-right: 1000px;
    // margin-right: -1000px;


    // }
}

.dashbilling-bills-form-caption{

text-align: center;
font-size: 16px;
margin-bottom: 5px;

}

.dashbilling-bills-form-fields{


  max-width: 350px;
    margin:0 auto;
  @media (min-width:768px){
    display: table;
    width: 100%;
    max-width: none;
  }

  @media (min-width:1024px){

  }

.form-row{
padding-top: 10px;
}


.form-row-inner{
  display: table;
  table-layout: fixed;
  width: 100%;

    @media (min-width:768px){
  width: auto;

    }

    @media (min-width:1024px){

    }

}

.form-label{
  display: table-cell;
  vertical-align: top;
  padding-right: 20px;
  width: 50px;
  padding-top: 18px;
  // &:before{
  //   width: 50px;
  //   content:"";
  //   display: block;
  // }
    @media (min-width:768px){
        width: auto;


    }

    @media (min-width:980px){

    }
}

.form-row-fieldvalidation{
  display: table-cell;
  vertical-align: top;

    @media (min-width:768px){

      width: 100%;

    }

    @media (min-width:1024px){

    }
}


.form-validation{
  // padding-left: 50px;
  @include clearfix;
}

.form-row{
  margin-bottom: 0;
}

}


.dashbilling-bills-form-fields-field{

margin-bottom: 10px;
  @media (min-width:768px){
    display: table-cell;
    vertical-align: top;
    padding-right: 35px;
    margin-bottom: 0;
    width: 188px;
  }


}
.dashbilling-bills-form-fields-submit{

padding-top: 10px;
// padding-left: 50px;
width: 180px;
  margin:0 auto;


  @media (min-width:768px){
    text-align: left;
    display: table-cell;
    vertical-align: top;
    width: 150px;
    padding-left: 0;
    // padding-left: 40px;
    padding-top: 17px;


    // //force width
    // &:before{
    //   content: "";
    //   display: block;
    //   width: 150px;
    // }

  }
}

.dashbilling-bills-form-fields-submit-button{



}


.dashbilling-bills-table{



}
