.dashmeter-chart{

    @include font-Verdana-Regular;
    color:#fff;

}



.dashmeter-chart-chart{
position: relative;
height: 361px;
// background-color: green;


}



.dashchart-labels{

position: absolute;
left:0;
top:14px;
width:53px;
bottom:44px;
// background-color: blue;

}

.dashchart-content{


position: absolute;
left:53px;
top:0;
right:15px;
bottom:0px;
// padding-right: 15px;
// background-color: red;
padding-top:26px;
    overflow: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling:touch;




  &::-webkit-scrollbar-thumb:vertical {
      width: 11px !important;
  }

  &::-webkit-scrollbar-thumb:horizontal {
      height: 11px !important;
  }



  &::-webkit-scrollbar-thumb {
      background-color: #666666;
      border-radius: 50px;
      border: 3px solid #363333;


    .no-touchevents &:hover {
        background-color: #fff;
    }

  }


  &::-webkit-scrollbar {
      height: 11px;
      width: 11px;
      background-color:#363333;
      border-radius: 10px;
      -webkit-appearance: none;
      cursor:pointer;

  }

  &::-webkit-scrollbar-corner {
      background-color: #363333;
  }




}






.dashchart-labels-caption{



}

.dashchart-labels-unit{
  position: absolute;
  left:0;
  top:4px;
  font-size: 14px;
  line-height: 14px;
  z-index: 1;
  @include font-Halis-Bold;

  &.is-using-systemfont{
    font-family:Tahoma, Verdana, Segoe, sans-serif;
  }

}

.dashchart-labels-set{

position: relative;

  &.is-positive{
    // background-color: blue;

  }


}

.dashchart-labels-valuelabel{
  height: 16px;
}


.dashchart-labels-set-caption{

  position: absolute;
  left:0;
  // background-color: red;
  color:#999999;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;


  .is-positive &{
    transform-origin:0 100%;
    transform:rotate(-90deg) translateY(100%);
      bottom:34px;

    .has-negative &{
      bottom:8px;
    }
  }

  .is-negative &{
    top:8px;
    transform-origin:0 0;
    // display: none;
    transform:rotate(-90deg) translateX(-100%);

  }

}

.dashchart-labels-set-item{

  text-align: right;

  font-size: 12px;
  line-height: 25px;
  position: relative;
  padding-right: 9px;

  height: 50px;

  .has-negative &{
      height: 25px;
  }

}

.dashchart-labels-set-list{



}

.dashchart-labels-valuelabel{



}



.dashmeter-chart-info{

  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  color:#231f20;
  padding-top: 15px;
  padding-bottom: 15px;

    @media (min-width:710px){
      margin-left: 0;
      margin-right: 0;
      padding-top: 19px;
      padding-bottom: 18px;
  border-radius: 4px;
      // padding-left: 0;
      // padding-right: 0;

    }

    @media (min-width:1024px){

    }

}



.dashmeter-chart-info-inner{

text-align: center;
    @media (min-width:710px){
  @include clearfix;
  text-align: left;

    //   width: 100%;
    //   display: table;
    // margin-bottom: 0;

    }

    @media (min-width:1024px){

    }


}

.dashmeter-chart-info-datelink{

    margin-bottom: 15px;

  @media (min-width:710px){

    float: left;
    margin-bottom: 0;

  }

  @media (min-width:1024px){

  }

}



.dashmeter-chart-info-date{

display: inline-block;
vertical-align: top;

// width: 100%;
margin-right: 10px;
    // font-size: 16px;
    // line-height: 16px;
  @media (min-width:710px){
    width: auto;
    margin-bottom: 0;
  }

  @media (min-width:1024px){

  }

}

.dashmeter-chart-info-date-label{


display: inline-block;
vertical-align: top;
    @include font-Verdana-Regular;

}

.dashmeter-chart-info-date-value{
text-transform: uppercase;
display: inline-block;
vertical-align: top;
    @include font-Halis-Bold;


}


.dashmeter-chart-info-link{

  display: inline-block;
  vertical-align: top;

  @media (min-width:710px){
  }

  @media (min-width:1024px){

  }


  a{
    display: inline-block;
    vertical-align: middle;
  // border-bottom: 1px solid #231f20;
  // color:#231f20;

  // &:hover{
  //   border-bottom-color: #6dbae7;
  //   color:#6dbae7;

  // }




    font-size: 16px;
    line-height: 16px;

    text-transform: uppercase;


    border-bottom: 1px solid #231f20;
    // box-shadow: inset 0 -0px 0 #231f20;
    // color:#231f20;

    transition: color 0.4s ease,border 0.4s ease;//,box-shadow 0.2s ease;

    // user-select:none;

    @include font-Verdana-Regular;

    color:#231f20;

    // @media (min-width:768px){

    //   font-size: 18px;
    //   line-height: 24px;

    // }



    &:hover{

        // box-shadow: inset 0 -2px 0 #6dbae7;
        border-bottom-color:#aaa;
    color:#aaa;

    }

  }

}


.dashmeter-chart-info-data{



  @media (min-width:710px){
    float: right;
    // width: auto;
  }

  @media (min-width:1024px){

  }


}


.dashmeter-chart-info-data-list{

  margin-bottom: -5px;
  // overflow: hidden;
    // display: table;
    // width: 100%;

  @media (min-width:710px){
    float: right;
    margin-right: -20px;
  }

  @media (min-width:1024px){

  }


}


.dashmeter-chart-info-data-item{
    // width: 100%;
    // float: right;
    // clear: right;
    // width: 100%;
    display: table;
    vertical-align: top;
    margin:0 auto;
    margin-bottom: 5px;


  @media (min-width:710px){
    display: inline-table;
    margin-right:20px;
  }

  // @media (min-width:768px){
  //   display: inline-table;
  //   vertical-align: top;
  //   width: auto;
  //   float: none;
  //   // clear: none;
  // }

  @media (min-width:1024px){

  }

}

.dashmeter-chart-info-data-item-icon{



    display: table-cell;
    vertical-align: top;
    padding-right: 7px;
    width: 12px + 7px;

  @media (min-width:1024px){

  }
  i{
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height:12px;

    .is-smartmeter &{
      background-color: #6dbae7;
    }


    .is-solarsavings &{
      background-color: #5bc5c4;
    }

  }

}

.dashmeter-chart-info-data-item-label{


    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
    @include font-Verdana-Regular;
    // width: 90px;

      @media (min-width:710px){
        width: auto;
      }

      @media (min-width:1024px){

      }

}

.dashmeter-chart-info-data-item-value{

    display: table-cell;
    vertical-align: top;
    // width: 55px;
    text-align: right;

    @include font-Halis-Bold;

}






@keyframes slideInLeft {
  0% {
    transform: translateX(0);
    visibility: visible;
  }
  25% {
    transform: translateX(100px);
  }

  75% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0);
  }
}




.dashchart-values{

  position: relative;

  .is-showing-scroll-animation &{
    animation-duration: 1s;
    // animation-fill-mode: both;
    animation-name: slideInLeft;
    animation-timing-function:(.42,0,.58,1);
  }


}


.dashchart-values-list{
  @include clearfix;
}

.dashchart-values-item{

  width: 39px;
  height: 291px;



  &:last-child{
    width:34px;
  }

  float: left;
  // margin-bottom: 44px;
  // margin-top: 26px;
position: relative;

  &:before{
    content:"";
    display: block;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    width: 1px;
    display: none;
    z-index: 1;

    background-color: #d7d7d7;


  }


  &.has-period-caption:before{
    display: block;
  }

  &.is-billing:before{
    background-color: #e36b79;
  }


  &:after{
    content:"";
    display: block;
width: 0;
height: 0;
border-style: solid;
border-width: 14px 17px 0 17px;
border-color: #ffffff transparent transparent transparent;
position: absolute;
left:50%;
top:-26px;
margin-left: -17px;
opacity: 0;
transition:opacity 0.4s ease;
  }


  &.is-active:after{
opacity: 1;
  }

}

.dashchart-values-item-caption{
  position: absolute;
  left:0;
  bottom:-17px;
  white-space: nowrap;
  font-size: 12px;
  line-height: 12px;
  color: #999999;
  text-transform: uppercase;

}
.dashchart-values-item-positive{
  position: relative;
  height: 250px;

  .has-negative &{
    height: 125px;
  }
}

.dashchart-values-item-negative{
  position: relative;
  height: 250px;

  .has-negative &{
    height: 125px;
  }
}


.dashchart-values-item-label{
  height: 41px;
  width: 34px;
  display: table;
  cursor: pointer;
}
.dashchart-values-item-label-inner{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  line-height: 12px;
}



.dashchart-values-item-bar{
  background-color: #6dbae7;
  position: absolute;
  left:0;
  width: 34px;
  transform:scaleY(0.00001);
  cursor: pointer;

  .dashchart-values-item-positive &{
      bottom:0;
      transform-origin: 0 100%;
  }

  .dashchart-values-item-negative &{
      top:0;
      transform-origin: 0 0;
      background-color: #5bc5c4;
  }

  .is-animations-enabled &{
    transition:transform .5s cubic-bezier(1, 0, 0, 1), background-color .4s ease;
  }

.is-animations-animate &{
    transform:none;
  }


  @for $item from 1 through 48{
    $percent : $item/48;
    $delay : $percent*1.5s;

    .dashchart-values-item:nth-child(#{$item}) &{
      transition-delay: $delay, 0s;
    }
  }


  .is-active &{

    background-color: #ffffff;

  }

}







.dashchart-grid{

position: absolute;
left:53px;
top:0;
right:15px;
bottom:0px;
// padding-right: 15px;
// background-color: red;


}








.dashchart-grid-set{

position: relative;

  &.is-negative{

    display: none;

    .has-negative &{
      display: block;
    }


  }



}

.dashchart-grid-valuelabel{
  height: 16px;
}


.dashchart-grid-set-item{

  position: relative;

  height: 25px;
  margin-bottom: 25px;

  .has-negative &{
      // height: 25px;
      margin-bottom: 0;
  }

  &:before{
    content:"";
    position: absolute;
    left:0;
    bottom:-2px;
    right:0;
    background-color: #3c3c3c;
    // background-color: #fff;
    height: 1px;

    .is-negative &{
      bottom:-1px;
    }
  }



}
