.dashmoving {
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: -1000px;
    padding-bottom: 1000px;
    // margin-right: -1000px;
    // padding-right: 1000px;
    width: 100%;
    @media (min-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (min-width: 1024px) {
        padding-left: 86px;
        padding-right: 86px;
    }
}

.dashmoving-inner {
    margin: 0 auto;
    max-width: 738px;
    padding-top: 40px;
    padding-bottom: 70px;
    @media (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.dashmoving-tabs {
    position: relative;
    margin-bottom: 40px;

    // padding-left: 1000px;
    // margin-left: -1000px;

    // padding-right: 1000px;
    // margin-right: -1000px;

    // border-bottom: 1px solid #f3f4f4;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left:0;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: #f3f4f4;
        padding-right: 1000px;
        margin-right: -1000px;
        @media (min-width: 768px) {}
        @media (min-width: 1024px) {

            // width: 50vw;
        }
    }
}

.dashmoving-tabs-inner {
    text-align: center;
}

.dashmoving-tabs-tabs-list {
    display: inline-table;
    vertical-align: top;
    width: 100%;
    table-layout: fixed;
    max-width: 400px;
    @media (min-width: 768px) {
        max-width: none;
        width: auto;
    }
    @media (min-width: 1024px) {}
}

.dashmoving-tabs-item {
    display: table-cell;
    vertical-align: top;
    position: relative;
    &:after {
        display: none;
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 5px;
        background-color: #5bc5c4;
    }
    &.is-active:after {
        display: block;
    }
    &.is-gap {
        width: 20px;
        @media (min-width: 768px) {
            width: 48px;
        }
        @media (min-width: 1024px) {}
    }
}

.dashmoving-tabs-item-inner {
    text-align: center;
    @media (min-width: 768px) {
        position: relative;
        display: table;
        width: 100%;
        height: 60px;
        text-align: left;
    }
    @media (min-width: 1024px) {}
}

.dashmoving-tabs-item-copy {
    @include font-Verdana-Regular;
    text-align: center;
    font-size: 17px;
    line-height: 16px;
    color: #d7d7d7;
    padding-bottom: 12px;
    @media (min-width: 768px) {
        text-align: left;
        display: table-cell;
        vertical-align: middle;
        padding-bottom: 0;
    }
    .is-active & {
        color: #5bc5c4;
        @include font-Halis-Bold;
    }
    .is-gap & {
        @include font-Verdana-Regular;
        &:before {
            font-size: 35px;
            content: "\2026";
            height: 10px;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -0.5em;
            width: 30px;
            margin-left: -15px;
        }
    }
}

.dashmoving-tabs-item-icon {
    width: 28px;
    margin: 0 auto;
    padding-bottom: 8px;
    @media (min-width: 768px) {
        display: table-cell;
        vertical-align: middle;
        padding-right: 5px;
        padding-bottom: 0;
    }
    i {
        display: block;
        background-color: #d7d7d7;
        border-radius: 100%;
        vertical-align: middle;
        width: 28px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        @include font-Halis-Bold;
        color: #fff;
        .is-active & {
            background-color: #5bc5c4;
        }
    }
}

.dashmoving-title {
    text-align: center;
    color: #231f20;
    // margin-bottom: 20px;
    text-transform: uppercase;
    @include font-Halis-Bold;
    font-size: 38px;
    line-height: 38px;
    margin-bottom: 15px;
    @media (min-width: 768px) {
        font-size: 42px;
        line-height: 42px;
        margin-bottom: 20px;
    }
}

.dashmoving-intro {
    margin-bottom: 35px;
    text-align: center;

      margin-top: 40px;

    // * + &{


    // }
}

.dashmoving-intro-title {
    color: #5bc5c4;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 15px;
    text-transform: uppercase;
    @include font-Halis-Bold;
    @media (min-width: 768px) {
        font-size: 32px;
        line-height: 32px;
    }
    @media (min-width: 1024px) {}
}

.dashmoving-intro-description {}

.dashmoving-field-dateofmovingout {
    @media (min-width: 768px) {
        width: 186px;
    }
    @media (min-width: 1024px) {}
}

.dashmoving-submit {
    padding-top: 40px;
    text-align: center;
}

.dashmoving-submit-button {
    margin: 0 auto;
}

.dashmoving-addresses {
  border:1px solid #e6e7e8;
  border-radius: 4px;
}


.dashmoving-addresses-out {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 35px;
    @media (min-width: 768px) {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 35px;
        padding-bottom: 35px;
    }
}
.dashmoving-addresses-in {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 35px;
    border-top: 1px solid #e6e7e8;
    @media (min-width: 768px) {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    @media (min-width: 1024px) {}
}


.dashmoving-addresses-field{
 color:#231f20;
}

.dashmoving-disclaimer{
  text-align: center;
  p{
    font-size: 12px;
    line-height: 14px;
    // color:#666666;

      @media (min-width:1024px){
        font-size: 15px;
        line-height: 17px;
      }

      @media (min-width:980px){

      }
    }

    a {
        color: #999;
        border-bottom: 1px solid #999;
        display: inline-block;
        margin-bottom: -1px;
    }


    }



.dashmoving-cta{
  text-align: center;
  margin-top: 40px;
}


.dashmoving-newaddress{
  text-align: center;
    border:1px solid #e6e7e8;
  border-radius: 4px;

      padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 35px;
    @media (min-width: 768px) {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 35px;
        padding-bottom: 35px;
      }

}

.dashmoving-billing{

  margin-top: 40px;

}



.dashmoving-billing-intro{
  text-align: center;
}


.dashmoving-billing-intro-title{

    color: #5bc5c4;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 15px;
    text-transform: uppercase;
    @include font-Halis-Bold;
    @media (min-width: 768px) {
        font-size: 32px;
        line-height: 32px;
    }
    @media (min-width: 1024px) {}

}

.dashmoving-billing-intro-label{

    color: #231f20;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 15px;
    padding-top: 10px;
    text-transform: uppercase;
    @include font-Verdana-Regular;
    @media (min-width: 768px) {
        font-size: 26px;
        line-height: 26px;
    }
    @media (min-width: 1024px) {}

}


.dashmoving-selectpayment{
  margin-bottom: 40px;
}


.dashmoving-addpayment{
  display: none;
  margin-bottom: 40px;
}
