.dashaccount{

    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (min-width: 1024px) {
        padding-left: 86px;
        padding-right: 86px;
    }

}


.dashaccount-inner{

    margin: 0 auto;
    max-width: 738px;
    padding-top: 40px;
    padding-bottom: 70px;
    @media (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;

    }

}


.dashaccount-title{

    text-align: center;

      @include font-Halis-Bold;
      font-size: 38px;
      line-height: 38px;
      margin-bottom: 35px;
      color:#000000;
      text-transform: uppercase;

        @media (min-width:768px){
          font-size: 42px;
          line-height: 42px;
          margin-bottom: 54px;
        }

        @media (min-width:1024px){

        }


}
.dashaccount-overview{

    border: 1px solid #e6e7e8;
    border-radius: 3px;
    background-image: url(../../Theme/images/dashaccount-overview.png);
    background-repeat: no-repeat;
    background-position: left bottom;

    background-size: 87px 18px;

    padding-top: 17px;
    padding-bottom: 21px;
    text-align: center;
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;

      @media (min-width:768px){


        padding-top: 35px;
        padding-bottom: 35px;
        background-size: 188px 35px;
        margin-bottom: 50px;
        padding-left: 40px;
        padding-right: 40px;

      }

      @media (min-width:1024px){

      }

}

.dashaccount-overview-title{

  color:#5bc5c4;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 5px;
      @include font-Halis-Bold;
      text-transform: uppercase;

    @media (min-width:768px){
      font-size: 32px;
      line-height: 32px;
    }

    @media (min-width:1024px){

    }

}

.dashaccount-overview-description{

      @include font-Verdana-Regular;
      font-size: 16px;
      line-height: 20px;
      color:#231f20;

        @media (min-width:768px){
          font-size: 20px;
          line-height: 26px;
        }

        @media (min-width:1024px){

        }

      strong{

        @include font-Halis-Bold;

      }


}




.dashaccount-section{


    margin-bottom: 20px;

      // @media (min-width:768px){

      //   margin-bottom: 50px;

      // }


}



.dashaccount-section-intro{

  margin-bottom: 15px;
  text-align: center;

  margin-top: 40px;


  @media (min-width:768px){

    margin-top: 50px;

  }

  @media (min-width:1024px){

  }

}

.dashaccount-section-intro-title{

  color:#5bc5c4;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 13px;
      @include font-Halis-Bold;
      text-transform: uppercase;

    @media (min-width:768px){
      font-size: 32px;
      line-height: 32px;
    }

    @media (min-width:1024px){

    }

}



.dashaccount-section-intro-description{



}


.dashaccount-section-form{


    border: 1px solid #e6e7e8;
    border-radius: 3px;

    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;

      @media (min-width:768px){


        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 40px;

      }

}


.dashaccount-section-column-list{

    & + &{
      margin-top: 30px;
    }

    @media (min-width:768px){

      display: table;
      width: 100%;
      table-layout: fixed;
      border-style: hidden;
      border-collapse: collapse;

    }

    &.is-alwayscolumns{

      display: table;
      width: 100%;
      table-layout: fixed;
      border-style: hidden;
      border-collapse: collapse;

    }


}


.dashaccount-section-column-item{

  &+&{

    margin-top: 30px;

    @media (min-width:768px){
      margin-top: 0;
    }
  }

  @media (min-width:768px){
    margin-bottom: 0;
    display: table-cell;
    vertical-align: top;
    border:20px solid transparent;
  }


    .is-alwayscolumns &{
    margin-bottom: 0;
    display: table-cell;
    vertical-align: top;
    border:20px solid transparent;
  }

  @media (min-width:1024px){

  }
}


.dashaccount-section-form-label{

    @include font-Halis-Bold;
    font-size: 18px;
    line-height: 18px;

    color:#231f20;
    margin-bottom: 4px;

}


.dashaccount-section-form-field{

    // @include font-Halis-Bold;
    // font-size: 18px;
    // line-height: 18px;

    color:#231f20;


    &.is-password{

       color:#d7d7d7;
       font-size: 23px;
       line-height: 13px;
       padding-top: 2px;

    }

}


.dashaccount-section-form-title{

  color:#231f20;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 10px;

}


.dashaccount-section-form-description{

  margin-bottom: 10px;



}





.dashaccount-section-form-tools{

  position: absolute;
  top:0;
  right:0;

}

.dashaccount-section-form-tools-list{

  // width: 100%;
  display: inline-table;
  height: 45px;
  vertical-align: top;



}

.dashaccount-section-form-tools-item{


 display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  color:#000000;

  // & + &{
  //   border-left: 1px solid #f3f4f4;
  // }

    // @media (min-width:768px){
    //   padding-left: 10px;
    //   padding-right: 10px;
    // }

    @media (min-width:1024px){

    }

  &:hover{
    background-color: #fffccc;
    color:#000000;

  }

  i{
    font-size: 18px;

      @media (min-width:768px){
        font-size: 18px;
      }

      @media (min-width:1024px){

      }
  }


  &.is-delete{

    i{
      @include fonticon-delete;
    }

  }

  &.is-edit{

    i{
      @include fonticon-edit;
    }

  }

}





.dashaccount-account{

  &+&{
    margin-top: 20px;
  }

    border: 1px solid #e6e7e8;
    border-radius: 3px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 35px;
    padding-bottom: 35px;

      @media (min-width:768px){
        padding-left: 40px;
        padding-right: 40px;
      }

      @media (min-width:1024px){

      }


}

.dashaccount-account-postal{

  background-color: #eef9f9;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: -30px;
  padding-right: 60px;

    @media (min-width:768px){

      padding-left: 40px;
      padding-right: 80px;
      margin-right: -40px;
    }

    @media (min-width:1024px){

    }

}


.dashaccount-account-postal-label{

    @include font-Halis-Bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color:#231f20;
    margin-bottom: 8px;


}


.dashaccount-account-postal-address{

    @include font-Verdana-Regular;
    font-size: 26px;
    line-height: 26px;

    color:#231f20;
    margin-bottom: 8px;


}


.dashaccount-account-postal-description{

  font-size: 16px;

}





.dashaccount-account-postal-tools{

  position: absolute;
  top:0;
  right:0;

}

.dashaccount-account-postal-tools-list{

  // width: 100%;
  display: inline-table;
  height: 45px;
  vertical-align: top;



}

.dashaccount-account-postal-tools-item{


 display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  color:#000000;

  // & + &{
  //   border-left: 1px solid #f3f4f4;
  // }

    // @media (min-width:768px){
    //   padding-left: 10px;
    //   padding-right: 10px;
    // }

    @media (min-width:1024px){

    }

  &:hover{
    background-color: #fffccc;
    color:#000000;

  }

  i{
    font-size: 18px;

      @media (min-width:768px){
        font-size: 18px;
      }

      @media (min-width:1024px){

      }
  }


  &.is-delete{

    i{
      @include fonticon-delete;
    }

  }

  &.is-edit{

    i{
      @include fonticon-edit;
    }

  }

}







.dashaccount-addsecondary{

    display: inline-block;
    vertical-align: top;
    // margin-top: -20px;
    // margin-bottom: 40px;

}

  .dashaccount-addsecondary-inner{

  display: inline-table;
  vertical-align: top;
  height: 100%;


}

.dashaccount-addsecondary-copy{

  display: table-cell;
  vertical-align: middle;
  @include font-Verdana-Regular;
  text-transform: uppercase;
  // color:#231f20;

}

.dashaccount-addsecondary-icon{

  display: table-cell;
  vertical-align: middle;

  @include font-Verdana-Regular;
  padding-right: 10px;
  // color:#231f20;

  i{
    @include fonticon-add;
    font-size: 32px;
  }

}





.dashaccount-account-column-list{

  margin-bottom: 40px;

    @media (min-width:768px){

      display: table;
      width: 100%;
      table-layout: fixed;
      border-style: hidden;
      border-collapse: collapse;
      margin-bottom: 30px;

    }




}


.dashaccount-account-column-item{

  &+&{

    margin-top: 30px;

    @media (min-width:768px){
      margin-top: 0;
    }
  }

  @media (min-width:768px){
    margin-bottom: 0;
    display: table-cell;
    vertical-align: top;
    border:20px solid transparent;
  }




}





.dashaccount-account-benefits{



}


.dashaccount-account-benefits-list{

  margin-bottom: 44px;

    @media (min-width:768px){
      margin-bottom: 0;
    }

    @media (min-width:1024px){

    }


}

.dashaccount-account-benefits-item{

  display: table;
  width: 100%;
  font-size: 17px;
  line-height: 17px;
  @include font-Verdana-Regular;

  @media (min-width:768px){
  font-size: 20px;
  line-height: 20px;

  }

  @media (min-width:1024px){

  }

  &+&{
    margin-top: 10px;
  }

}

.dashaccount-account-benefits-item-icon{

  width: 30px;
  display: table-cell;
  vertical-align: middle;

  img{
    width: 100%;
  }

}

.dashaccount-account-benefits-item-copy{

  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;

}





.dashaccount-account-cta{

text-align: center;
margin-bottom: 40px;

}

.dashaccount-account-link-list{

max-width: 243px;
  margin:0 auto;

}


.dashaccount-account-link-item{

& + &{
  margin-top: 15px;
}

  a{
    font-size: 18px;
    line-height: 18px;

    text-transform: uppercase;


    border-bottom: 0 solid #6dbae7;
    box-shadow: inset 0 -6px 0 #6dbae7;
    color:#231f20;

    transition: border 0.2s ease,box-shadow 0.2s ease;

    user-select:none;

    @include font-Verdana-Regular;

    color:#231f20;

    @media (min-width:768px){

      font-size: 18px;
      line-height: 24px;

    }



    &:hover{

        box-shadow: inset 0 -2px 0 #6dbae7;
        border-bottom: 4px solid #6dbae7;

    }



  }

}



.dashaccount-account-address{

  color:#231f20;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 7px;
  text-transform: uppercase;



}


.dashaccount-account-title{

  font-size: 26px;
  line-height: 26px;

  @include font-Verdana-Regular;
  color:#231f20;
  text-transform: uppercase;
  margin-bottom: 10px;

}

.dashaccount-account-title-number{

  @include font-Halis-Bold;
  color:#5bc5c4;
  display: inline-block;


}


.dashaccount-faqs{



}

.dashaccount-faqs-title{

  text-align: center;

  color:#5bc5c4;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px;
      @include font-Halis-Bold;
      text-transform: uppercase;

    @media (min-width:768px){
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 40px;
    }

    @media (min-width:1024px){

    }


}





.dashaccount-switchanother{

  text-align: center;
  padding-top: 20px;
  margin-bottom: 50px;

}

