.dashaccountcurrentbilling{

  @media (max-width:1023px){
    border-bottom: 1px solid #b4b3b3;
  }

}

.dashaccountcurrentbilling-inner{


  @media (min-width:768px){
display: table;
width: 100%;
height: 55px;

  }

  @media (min-width:980px){

  }


}



.dashaccountcurrentbilling-gap{

display: none;

@media (min-width:1024px){
    display: table-cell;
    vertical-align: middle;
    background-color: #e6e7e8;
    width: 112px;
  }

}

.dashaccountcurrentbilling-switch{

background-color: #fff;

@media (min-width:768px){
    display: table-cell;
    vertical-align: middle;
    width: 47.2%;
    border-bottom: 1px solid #ebebeb;
  }

  select{
    visibility: hidden;
  }



}



.dashaccountcurrentbilling-switch-label{

display: table;
width: 100%;
height: 54px;

}

.dashaccountcurrentbilling-switch-label-inner{

  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  line-height: 16px;
  border-right: 1px solid #e7e7e7;

  color:#231f20;
  padding-left: 15px;

  @media (min-width:1024px){
  padding-left: 86px;

  }


}

.dashaccountcurrentbilling-billing{

  @media (max-width:767px){
    background-color: #f8f8f8;
    font-size: 15px;
    padding:11px 20px;
    min-height: 41px;
    &.is-disabled{
      display: none;
    }
  }

  @media (min-width:768px){
    background-color: #fff;
    display: table-cell;
    vertical-align: middle;
    padding-left: 40px;
    padding-right: 20px;
    color:#231f20;
    font-size: 15px;
    padding-top: 2px;
    border-bottom: 1px solid #ebebeb;

  }



}
