.dashchangeplans{

    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (min-width: 1024px) {
        padding-left: 86px;
        padding-right: 86px;
    }

}


.dashchangeplans-inner{

    margin: 0 auto;
    max-width: 738px;
    padding-top: 40px;
    padding-bottom: 70px;
    @media (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;

    }

}

.dashchangeplans-frequency-title{
  color:#231f20;
  text-transform: uppercase;
    @include font-Halis-Bold;
  text-align: center;
    font-size: 18px;
    line-height: 18px;
  margin-bottom: 15px;

  @media (min-width:768px){
      font-size: 26px;
  line-height: 26px;
  // margin-bottom: 15px;

}

}

.dashchangeplans-title{
text-align: center;
  color:#231f20;
  // margin-bottom: 20px;
  text-transform: uppercase;
    @include font-Halis-Bold;

    font-size: 38px;
    line-height: 38px;

  @media (min-width:768px){
      font-size: 42px;
  line-height: 42px;

  }

  @media (min-width:1024px){

  }

}








.dashbackaccount{


  margin-bottom: 35px;

  @media (min-width:768px){
margin-bottom: 32px;

  }

  @media (min-width:1024px){

  }


}


.dashbackaccount-inner{

  width: 100%;
  display: table;
  table-layout: fixed;

}



.dashbackaccount-back{

    color:#231f20;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 19px;

      @media (min-width:768px){
        display: table-cell;
        vertical-align: top;
        margin-bottom: 0;
      }

      @media (min-width:1024px){

      }

}

.dashbackaccount-back-inner{

  display: table;
  // width: 100%;

}


.dashbackaccount-back-copy{

    font-size: 18px;
    line-height: 18px;
    @include font-Verdana-Regular;
    text-transform: uppercase;
  display: table-cell;
  vertical-align: middle;
}

.dashbackaccount-back-icon{

  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;

  i{
    @include fonticon-back;
    font-size: 32px;
  }

}




.dashbackaccount-account{

  color:#666666;
  font-size: 18px;
  line-height: 18px;

  text-align:center;
    @media (min-width:768px){
        text-align: right;
      display: table-cell;
      margin-bottom: 0;
      vertical-align: top;

    }

    @media (min-width:1024px){

    }

}

.dashbackaccount-account-number{


    @include font-Halis-Bold;
    text-transform: uppercase;
    margin-bottom: 4px;

}

.dashbackaccount-account-address{


    @include font-Verdana-Regular;

}








.dashchangeplans-plansintro{

  margin-bottom: 23px;
  text-align: center;

    @media (min-width:768px){
  margin-bottom: 38px;

    }

    @media (min-width:1024px){

    }

}


.dashchangeplans-plansintro-title{

  font-size: 33px;
  line-height: 33px;
  text-transform: uppercase;
  color:#231f20;
    @include font-Halis-Bold;
    margin-bottom: 5px;

    @media (min-width:768px){
     font-size: 31px;
     line-height: 31px;
      margin-bottom: 0;

    }

    @media (min-width:1024px){

    }


}



.dashchangeplans-plansintro-description{



}









.button-dashchangeplans{

// margin-left: -20px;
// margin-right: -20px;

}














.dashchangeplans-tabs{

  position: relative;
  margin-bottom: 40px;
  // border-bottom: 1px solid #f3f4f4;

  &:before{
    content:"";
    display: block;
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    height: 1px;
    background-color: #f3f4f4;
    // padding-left: 1000px;
    // margin-left: -1000px;


      @media (min-width:768px){

      }

      @media (min-width:1024px){
    padding-right: 1000px;
    margin-right: -1000px;

      }
  }



}

.dashchangeplans-tabs-inner{

  text-align: center;

}

.dashchangeplans-tabs-tabs-list{

  display: inline-table;
  vertical-align: top;
  table-layout: fixed;



}




.dashchangeplans-tabs-item{

  display: table-cell;
  vertical-align: middle;

  position: relative;

  &:after{
    display: none;
    content:"";
    position: absolute;
    right:0;
    bottom:0;
    left:0;
    height: 5px;
    background-color: #5bc5c4;
  }

  &.is-active:after{
    display: block;
  }

  &.is-gap{

    width: 48px;

  }



}

.dashchangeplans-tabs-item-copy{

    display: table-cell;
    vertical-align: middle;
      @include font-Verdana-Regular;
      text-align: left;
      font-size: 17px;
      line-height: 16px;
  color:#d7d7d7;
  .is-active &{
    color:#5bc5c4;
      @include font-Halis-Bold;
  }

  .is-gap &{
      @include font-Verdana-Regular;
    &:before{
    font-size: 35px;
    content: "\2026";
    height: 10px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.5em;
    width: 30px;
    margin-left: -15px;
    }

  }

}

.dashchangeplans-tabs-item-icon{

    display: table-cell;
      padding-right: 5px;
      vertical-align: middle;



i{
  display: block;
  background-color: #d7d7d7;
    border-radius: 100%;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
      @include font-Halis-Bold;
      color:#fff;

  .is-active &{
    background-color: #5bc5c4;
  }

}


}

.dashchangeplans-tabs-item-inner{

  position: relative;
  display: table;
  width: 100%;
  height: 60px;


}



.dashchangeplans-frequency-clarification{
  text-align: center;
  margin-top: 10px;
}



.dashchangeplans-iagree{
margin-top: 40px;

}


.dashchangeplans-submit{
  text-align: center;
  margin-top: 60px;
}


.dashchangeplans-backbutton{
  margin-top: 20px;
  text-align: center;
}




.dashchangeplans-done{

  background-image: url(../../Theme/images/dashchangeplans-done-bubbles.png);
  background-position: bottom right;
  background-size: 91px 50px;
  background-repeat: no-repeat;
  border:1px solid #f2f2f3;
  border-radius: 3px;
  margin-top: 37px;
  padding-top: 40px;
  padding-bottom: 38px;
  text-align: center;


}

.dashchangeplans-done-icon{

  width: 80px;
  margin:0 auto;
  margin-bottom: 15px;

    @media (min-width:768px){

    width: 90px;
    }

    @media (min-width:1024px){

    }

  img{
    width: 100%;
  }


}

.dashchangeplans-done-title{

  color:#5bc5c4;

      @include font-Halis-Bold;
font-size: 24px;
line-height: 24px;
margin-bottom: 5px;
text-transform: uppercase;

}

.dashchangeplans-done-description{



}


