.chart{
  position: relative;
  height: 400px;
  overflow: hidden;
}

.chart-inner{
  height: 100%;
  width: 100%;
}

.chart-label{
  position: absolute;
  left:0;
  top:0;
  bottom:20px;
  width: 60px;
  background:darkorange;
}

.chart-label-inner{
  display: table;
  height: 100%;
  width: 100%;

}

.chart-label-positive{
  display: table-row;
}

.chart-label-positive-inner, .chart-label-negative-inner{
  display: table-cell;
  position: relative;



  &:before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    right:0;
    background-color: red;
    height: 1px;
  }


  &:after{
    content:"";
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    background-color: red;
    height: 1px;
  }


}



.chart-label-valuelabels{
  display: table-row;
  height: 80px;
}

.chart-label-valuelabels-inner{
  display: table-cell;
}

.chart-label-negative{
  display: table-row;
}

.chart-label-negative-inner{
  display: table-cell;
}

.chart-label-list{
  display: table;
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
  position: relative;
  // border-top:1px solid red;
  // border-bottom:1px solid red;



}

.chart-label-item{
  display: table-row;
}

.chart-label-item-inner{
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  // border:1px solid red;
  text-align: right;
  position: relative;
  font-size: 12px;
  line-height: 12px;

  &:before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    right:0;
    background-color: red;
    height: 1px;
  }


}

.chart-label-item-inner2{
  transform:translateX(0) translateY(-50%);
  background-color: darkorange;
  padding-left: 2px;
  padding-right: 2px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top:100%;
  right:5px;

  margin-top: 1px;
  z-index: 1;

  &.chart-label-item-inner2--top{

    top:0;

  }

}


.chart-value-box{
  position: absolute;

  left: 0;
  right: 0px;
  top: 0px;
  bottom: 0px;


}


.chart-value{

    height: 100%;
  // min-width: 678px;
}

.chart-value-inner{
// overflow: hidden;
// width: 100%;
height: 100%;
// text-align: center;
}

.chart-value-list{
    display: table;
    vertical-align: top;
    width: 672px;
    height: 100%;
    margin-left: 3px;
    text-align: left;
}

.chart-value-item{
display: table-cell;
vertical-align: bottom;
text-align: center;
position: relative;
width: 14px;
// padding-bottom: 80px;

  .chart-content-negative &{
    vertical-align: top;
  }

}


.chart-value-item-bar{
  display: block;
    background-color: yellow;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin:0 1px;
    height: 0%;

    transition:height 1s ease;

    .chart-content-negative &{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;


    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    }

  // position: absolute;
  // bottom:0;
  // left:0;
  // right:0;
  // &:before{
  //   content:"";
  //   display: block;
  //   margin:0 auto;
  //   height: 100%;
  //   width: 100%;

  // }
}











.chart-content-valuelabels-list{
    display: table;
    vertical-align: top;
    width: 672px;
    height: 80px;
    margin-left: 3px;
    text-align: left;
}

.chart-content-valuelabels-item{
display: table-cell;
vertical-align: bottom;
text-align: center;
position: relative;
width: 14px;
// padding-bottom: 80px;

}

.chart-content-valuelabels-item-label{
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  height: 80px;
  text-align: center;
  z-index: 1;
  font-size:15px;
  white-space: nowrap;
  // display: none;
}

.chart-content-valuelabels-item-label-inner{
    position: absolute;
    top:0;
    left:50%;
    transform-origin: 0 0;
    transform: rotate(-90deg) translateY(-50%) translateX(-100%);
    text-align: center;

    line-height: 12px;
    font-size: 12px;

    width: 80px;
  // height: 100%;
  text-align: right;
  padding-right: 5px;
  color:#000;
  padding-left: 5px;

  .chart--has-negative &{
    text-align: center;
  }

}













.chart-content{

    height: 400px;
    position: relative;

    position: absolute;

    left: 60px;
    top: 0px;
    right: 0;

  overflow: auto;
  overflow-y: hidden;



  &::-webkit-scrollbar-thumb:vertical {
      height: 100px;
  }

  &::-webkit-scrollbar-thumb:horizontal {
      height: 16px !important;
  }



  &::-webkit-scrollbar-thumb {
      background-color: #8c8d8e;
      border-radius: 50px;
      border: 5px solid #1f282d;


    .no-touchevents &:hover {
        background-color: #fff;
    }


  @media (min-width:980px){

  }

  }


  &::-webkit-scrollbar {
      height: 16px;
      width: 16px;
      background-color: #1f282d;
  }

  &::-webkit-scrollbar-corner {
      background-color: #1f282d;
  }

}

.chart-content-inner{

    display: table;
    width: 100%;
    height: 380px;
    table-layout: fixed;

}

.chart-content-valuelabels{

  height: 80px;
  display: table-row;

}

.chart-content-valuelabels-inner{
display: table-cell;
position: relative;
}


.chart-content-positive{

display: table-row;

}
.chart-content-positive-inner{
display: table-cell;
position: relative;
}

.chart-content-negative{

display: table-row;

}
.chart-content-negative-inner{
display: table-cell;
position: relative;
}

.chart-grid-box{

  height: 100%;

}


.chart-grid{
position: relative;
  // min-width: 678px;
  height: 100%;
}

.chart-grid-inner{
// overflow: hidden;
// width: 100%;
height: 100%;
position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.chart-grid-list{
  display: table;
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
  // border-top:1px solid red;
  // border-bottom:1px solid red;
  position: relative;


  // &:before{
  //   content:"";
  //   position: absolute;
  //   top:0;
  //   left:0;
  //   right:0;
  //   background-color: red;
  //   height: 1px;
  // }


  // &:after{
  //   content:"";
  //   position: absolute;
  //   bottom:0;
  //   left:0;
  //   right:0;
  //   background-color: red;
  //   height: 1px;
  // }

}

.chart-grid-item{
  display: table-row;
}

.chart-grid-item-inner{
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  // border:1px solid red;
  text-align: right;
  position: relative;

  &:before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    right:0;
    background-color: red;
    height: 1px;
  }

}
