.dashbilling-summaries{

  border:1px solid #e6e7e8;
  border-radius: 4px;
  color:#231f20;

}

.dashbilling-summaries-inner{

padding:30px;

}

.dashbilling-summaries-list{

margin-bottom: -30px;
  @media (min-width:768px){
    margin-bottom: 0;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-style: hidden;
    border-collapse: collapse;
  }

  @media (min-width:1024px){

  }

}


.dashbilling-summaries-item{

  margin-bottom: 30px;

  @media (min-width:768px){
    margin-bottom: 0;
    display: table-cell;
    vertical-align: top;
    border:10px solid transparent;
  }


}

.dashbilling-summaries-item-caption{

text-transform: uppercase;
font-size: 18px;
line-height: 18px;
    @include font-Halis-Bold;
    margin-bottom: 4px;

}


.dashbilling-summaries-item-title{

    @include font-Verdana-Regular;
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 20px;


}


.dashbilling-summaries-item-cta{



}

.dashbilling-summaries-item-cta-link{


    font-size: 18px;
    line-height: 18px;

    text-transform: uppercase;


    border-bottom: 0 solid #6dbae7;
    box-shadow: inset 0 -6px 0 #6dbae7;
    color:#231f20;

    transition: border 0.2s ease,box-shadow 0.2s ease;

    user-select:none;

    @include font-Verdana-Regular;

    color:#231f20;

    // @media (min-width:768px){

    //   font-size: 18px;
    //   line-height: 24px;

    // }



    &:hover{

        box-shadow: inset 0 -2px 0 #6dbae7;
        border-bottom: 4px solid #6dbae7;
    color:#231f20;

    }


}


