.dashfooter{

    background-color:#1e1e1e;
    overflow: hidden;
    color:#fff;
        @media (min-width:768px){
          // padding: 0 50px;
          padding-right: 50px;
        }

        @media (min-width:1320px){

        }

}


.dashfooter-inner{

  padding-left: 20px;
  padding-right: 20px;

  position: relative;

    padding-top: 30px;
    padding-bottom: 30px;

  @media (min-width:768px){


  // max-width: 1366px;
  margin:0 auto;


    display: table;
    width: 100%;

          padding:82px 0 47px;
  }

  @media (min-width:1024px){

  }

}


.dashfooter-logo{

  margin-bottom: 30px;

    @media (min-width:768px){

      margin:0;
      display: table-cell;

      vertical-align: top;
      width: 112px;
      text-align: left;

    // padding-left: 100px;


  }

}

.dashfooter-logo-inner{
// display: none;
  width: 53px;
  margin:0 auto;
    @media (min-width:768px){



        // width: 53px;
        //   margin:0;

    }

    @media (min-width:1024px){

    }

  img{
    width: 100%;
  }


}




.dashfooter-menu{


  border-bottom:1px solid #2d2d2d;
  margin-bottom: 40px;

  @media (min-width:768px){
    display: table-cell;
    vertical-align: top;
    border-bottom: 0;
    margin-bottom: 0;
  }

  @media (min-width:1320px){

  }

}

.dashfooter-menu-inner{
  @media (min-width:768px){
    @include clearfix;
    margin-top: -14px;
    border-left: 1px solid #3c3c3c;
  }

}

.dashfooter-menu-item{

  border-top:1px solid #2d2d2d;

  padding: 20px 0;
  display: block;

  @include font-Hind-Regular;
  font-size: 14px;
  line-height: 16px;
  color:#fff;


  &.is-external{

    &:after{
      padding-left: 12px;
      @include fonticon-external(middle, false);
      font-size: 12px;
      position: relative;
      top:-1px;
    }

  }

  &:hover{
    color:#999;
  }



    @media (min-width:768px){
      border-top: 0;
      padding: 14px 42px;
      font-size: 18px;
      line-height: 20px;
    }

    @media (min-width:1320px){

    }

}

.dashfooter-menu-list{


  @media (min-width:768px){
    margin-top: -14px;
    margin-bottom: -14px;
    max-width: 300px;
  }

  @media (min-width:1320px){

  }

}




.dashfooter-social{

  width: 276px;
  margin:0 auto;

  @media (min-width:768px){

    width: 47px;
    display: table-cell;
    text-align: right;

  }

  @media (min-width:1024px){
    width: 338px;
  }

}


.dashfooter-social-list{

  margin-bottom: 20px;
  margin-left: -11px;
  margin-right: -11px;


  @include clearfix;


  @media (min-width:1024px){
    margin-bottom: 20px;
  }

  @media (min-width:1320px){

  }

}

.dashfooter-social-item{

  display: inline-block;
  height: 34px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-left: 11px;
  margin-right: 11px;
  @media (min-width:768px){
  width: 48px;
  text-align: center;

  }


  @media (min-width:1024px){
  margin-bottom: 20px;
  width: auto;
  }

  img{
    height: 69px;
      margin-top: 0;

  }
  &:hover img{
    margin-top: -35px;
  }

}

.dashfooter-social-item--facebook{



}

.dashfooter-social-item--instagram{



}

.dashfooter-social-item--linkedin{



}

.dashfooter-social-item--twitter{



}




.dashfooter-socialandcopyright{

    @media (min-width:768px){

      display: table-cell;
      vertical-align: top;
      text-align: right;
      width: 48px;
      padding-bottom: 70px;

    }

    @media (min-width:1024px){
      width: 370px;

      padding-top: 55px;
      padding-bottom: 0;
    }
}


.dashfooter-socialandcopyright-inner{

    @media (min-width:768px){
      display: table;
      width: 100%;

    }

    @media (min-width:1024px){

    }
}




.dashfooter-copyright{

  position: relative;

    margin-top: -30px;
    width: 211px;
    height: 109px;
    margin-left: auto;



  @media (min-width:768px){

    margin-top: 0;
    position: absolute;
    bottom:0;
    right:53px;
    width: 447px;
    height: 126px;
    margin-right: -53px;

  }

  @media (min-width:1320px){

  }

}


.dashfooter-copyright-inner{

  margin-left: auto;
  width: 209px;
  position: absolute;
  bottom: -13px;
  left: 0;
  right: -2px;
  text-align: right;
  font-size: 14px;
  line-height: 14px;

  @media (min-width:768px){

    // background-color: green;
    position: absolute;
    bottom:38px;
    left:0;
    right:0;
    width: auto;
    font-size: 18px;
    line-height: 18px;

  }

  @media (min-width:1320px){

  }


}



.dashfooter-copyright-grpahic-blue{

@include ball("#5CC5C4",1);
    position: absolute;

    width: 321px;
    height: 318px;

    right: -106px;
    bottom: -275px;


  @media (min-width:768px){
      width:642px;
      height: 636px;

      right: -304px;
      bottom: -528px;

  }

  @media (min-width:1024px){

  }

}


.dashfooter-copyright-grpahic-yellow{

  @include ball("#6dbae7",0.8);
  position: absolute;
  z-index: 1;
  width: 62px;
  height: 61px;

    right: -32px;
    bottom: 19px;

    @media (min-width:768px){

    right: -150px;
    bottom: 54px;

    width: 123px;
    height: 121px;

    }

    @media (min-width:1320px){

    }

}

