.dashrefer{


    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;//needed because of form
    @media (min-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (min-width: 1024px) {
        padding-left: 86px;
        padding-right: 86px;
    }

}


.dashrefer-inner{

    margin: 0 auto;
    max-width: 738px;
    padding-top: 40px;
    padding-bottom: 70px;
    @media (min-width: 768px) {
        padding-top: 50px;
        padding-bottom: 60px;

    }

}



.dashrefer-intro{

  margin-bottom: 20px;
  text-align: center;

    @media (min-width:768px){
      margin-bottom: 60px;
    }

    @media (min-width:1024px){

    }

}




.dashrefer-intro-title{

      @include font-Halis-Bold;
      font-size: 38px;
      line-height: 38px;
      margin-bottom: 10px;
      color:#000000;
      text-transform: uppercase;

        @media (min-width:768px){
          font-size: 42px;
          line-height: 42px;
        }

        @media (min-width:1024px){

        }


}


.dashrefer-intro-description{



}



.dashrefer-title{

      text-align: center;
      @include font-Halis-Bold;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 40px;
      color:#5bc5c4;
      text-transform: uppercase;

        @media (min-width:768px){
          font-size: 32px;
          line-height: 32px;
        }


}


.dashrefer-form-label{
  text-align: center;
}
.dashrefer-form-input{
  text-align: center;
  background-color: #fff;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}


.dashrefer-form{

    background-color:#eef9f9;

    padding-left: 30px;
    padding-right: 30px;

    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
margin-bottom: 40px;
  @media (min-width:768px){
    margin-bottom: 55px;
  }

  @media (min-width:1024px){

  }

    // &:after{
    // content:"";
    // display: block;
    // position: absolute;
    // left:100%;
    // right:0;
    // top:0;
    // bottom:0;
    // background-color: #eef9f9;
    // // padding-left: 1000px;
    // // margin-left: -1000px;

    // padding-right: 1000px;
    // margin-right: -1000px;


    // }


}

.dashrefer-form-cta{

text-align: center;

}

.dashrefer-form-cta-link{



}

.dashrefer-form-field{



}

.dashrefer-form-inner{



}

.dashrefer-form-label{



}


.dashrefer-share{



}

.dashrefer-share-list{

  @media (min-width:768px){
    display: table;
    width: 100%;
  }

  @media (min-width:1024px){

  }

}


.dashrefer-share-item{

  text-align: center;
&+&{
  margin-top: 20px;
  @media (min-width:768px){
    margin-top: 0;
  }
}

  @media (min-width:768px){
    display: table-cell;
    vertical-align: top;

  }


}

