
.dashplans{
    margin-left: -20px;
    margin-right: -20px;
    @media (min-width: 768px) {
        margin-left: 0;
        margin-right: 0;
    }
    @media (min-width: 1024px) {
    }


}

.dashplans-inner{



}




.dashplans-list{

  // border-right:1px solid #e6e7e8;
  @media (min-width:768px){
    // display: table;
    // width: 100%;
  }

  @media (min-width:1024px){

  }

  .slick-next, .slick-prev{
    pointer-events:none;
    position: absolute;
      top: 63px;
      bottom: 0;
      height: auto;
      width: 17%;
      background-color: rgba(#000,0.8);
      margin-top: 0;

      opacity: 1;

      transition:opacity 0.2s ease;


      &:before{
        font-size: 22px;
        color:#ffffff;
        opacity: 1;
      }

      &.slick-disabled:before{
        opacity: 0;
      }

  }

  .slick-next{
    right:0;
      // width: calc(17% - 2px);

  }
  .slick-prev{
    left:0;
  }
}


.dashplans-item{

  // margin-left: 20px;
  // margin-right: 20px;

  text-align: center;
  float: left;

  @media (min-width:768px){
    // display: table-cell;
    // vertical-align: top;
    width: 194px;

    &.is-labels{

      width: 158px;

    }
  }

  @media (min-width:1024px){

  }

}

.dashplans-item-inner{

  .dashplans-item:last-child &{
    @media (min-width:768px){
      margin-right: 2px;
    }
  }

}

.dashplans-row{

  display: table;
  width: 100%;

  min-height: 1px;

  border-bottom:1px solid #e6e7e8;


  border-left:1px solid #e6e7e8;


    border-right:1px solid #e6e7e8;

      @media (min-width:768px){
        border-right: 0;

        .dashplans-item:last-child &{
          border-right:1px solid #e6e7e8;

        }

      }

      @media (min-width:1024px){

      }


     &.is-title{
      border-left: 0;
      border-right: 0 !important;
      }





}

.dashplans-row-comingsoon{

color: #5bc5c4;

}

.dashplans-row-label{

  display: table-cell;
  font-size: 15px;
  line-height: 19px;
  color:#231f20;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width:768px){
    display: none;

    .dashplans-item.is-labels &{
      display: table-cell;
      text-align: left;
    }



  }



    .is-title &{

    display: table-cell;
    // min-height: 56px;
    padding-top:21px ;
    padding-bottom: 21px;
    color:#5bc5c4;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    @include font-Halis-Bold;
      }

  .is-current .is-title &{

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
 background-color: #eef9f9;

      }


  .is-current &{

  }


  .is-planname &{
    display: table-cell;

  }

}

.dashplans-row-planname-title{

  font-size: 22px;
  line-height: 18px;
  margin-bottom: 10px;
  color:#231f20;
    @include font-Halis-Bold;
    margin-top: 5px;
    text-transform: uppercase;


}

.dashplans-row-planname-cost{

    @include font-Halis-Bold;
    font-size: 16px;
    line-height: 16px;
    color:#231f20;
    margin-bottom: 15px;


}

.dashplans-row-planname-cost-dollars{

font-size: 30px;
line-height: 30px;
display: inline-block;

  @media (min-width:768px){
   font-size: 39px;
   line-height: 39px;
  }

  @media (min-width:1024px){

  }
}




.dashplans-row-planname-description{

  color:#666666;
    @include font-Verdana-Regular;

  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 22px;



    @media (min-width:1024px){
      margin-bottom: 27px;

    }

}






.dashplans-row-planname-cta{

margin-bottom: 5px;

}

.dashplans-row-tick{

display: none;

  @media (min-width:768px){

    display: table-cell;
    vertical-align: middle;

    i{
      @include fonticon-tick;
      font-size: 20px;
      color:#5bc5c4;

    }
  }


  .is-current &{
 background-color: #fff;

  }
}

.form-tooltip{



}

.is-label{



}

.is-labels{



}

.is-planname{



}

.is-title{



}

.tooltip{



}








.dashplans-row-label-inner {
    display: inline;

}

.dashplans-row-label-copy {
    // display: inline-block;
    display: inline;
    // text-decoration: underline;
    &:after {
        content: "";
        display: inline;
        width: 0;
        padding-right: 14px;
        padding-left: 8px;
    }
}

.dashplans-row-label-tooltip {
    display: inline-block;
    width: 0;//The magic to avoid the arrow div wrapping.
    position: relative;
    vertical-align: middle;
    margin-top: -2px;
    .tooltip {
        vertical-align: middle;
        line-height: 1;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -7px;         /* Negative Half Icon Height */
        margin-left: -18px;         /* Negative Icon Width */
        width: 14px;
        font-size: 14px;
    }
}







