.dashplanpricing{


    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (min-width: 1024px) {
        padding-left: 86px;
        padding-right: 86px;
    }

}


.dashplanpricing-inner{

    margin: 0 auto;
    max-width: 738px;
    padding-top: 40px;
    padding-bottom: 70px;
    @media (min-width: 768px) {
        padding-top: 50px;
        padding-bottom: 60px;

    }

}



.dashplanpricing-intro{

  margin-bottom: 20px;
  text-align: center;

    @media (min-width:768px){
      margin-bottom: 60px;
    }

    @media (min-width:1024px){

    }

}




.dashplanpricing-intro-title{

      @include font-Halis-Bold;
      font-size: 38px;
      line-height: 38px;
      margin-bottom: 10px;
      color:#000000;
      text-transform: uppercase;

        @media (min-width:768px){
          font-size: 42px;
          line-height: 42px;
        }

        @media (min-width:1024px){

        }


}


.dashplanpricing-intro-description{



}



.dashplanpricing-details{

    border:1px solid #e6e7e8;
    border-radius: 3px;


      @media (min-width:1024px){

      }

}



.dashplanpricing-details-account{

    padding:35px 30px;
    padding-bottom: 75px;


    background-image: url(../../Theme/images/dashplanpricing-details-account.png);
    background-position: bottom right;
    background-size: 71px 67px;
    background-repeat: no-repeat;

      @media (min-width:768px){
        padding:35px 45px;
      }


}



.dashplanpricing-details-account-cta{
  text-align: center;
}




.dashplanpricing-details-account-title{

  font-size: 32px;
  line-height: 32px;

  @include font-Verdana-Regular;
  color:#231f20;
  text-transform: uppercase;
  margin-bottom: 10px;

}

.dashplanpricing-details-account-title-number{

  @include font-Halis-Bold;
  color:#5bc5c4;
  display: inline-block;


}


.dashplanpricing-details-account-address{

  color:#231f20;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 7px;



}

.dashplanpricing-details-account-columns{

  @media (min-width:768px){
    display: table;
    width: 100%;
  }

  @media (min-width:1024px){

  }

}

.dashplanpricing-details-account-column1{

  @media (min-width:768px){
      display: table-cell;
      vertical-align: top;
  }


}

.dashplanpricing-details-account-column2{

  @media (min-width:768px){
      display: table-cell;
      vertical-align: top;
      text-align: right;
      width: 237px;
  }


}





.dashplanpricing-details-account-benefits{



}


.dashplanpricing-details-account-benefits-list{

  margin-bottom: 44px;

    @media (min-width:768px){
      margin-bottom: 0;
    }

    @media (min-width:1024px){

    }


}

.dashplanpricing-details-account-benefits-item{

  display: table;
  width: 100%;
  font-size: 17px;
  line-height: 17px;
  @include font-Verdana-Regular;

  @media (min-width:768px){
  font-size: 20px;
  line-height: 20px;

  }

  @media (min-width:1024px){

  }

  &+&{
    margin-top: 10px;
  }

}

.dashplanpricing-details-account-benefits-item-icon{

  width: 30px;
  display: table-cell;
  vertical-align: middle;

  img{
    width: 100%;
  }

}

.dashplanpricing-details-account-benefits-item-copy{

  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;

}








.dashplanpricing-details-switch-columns{

  margin-bottom: 40px;

  @media (min-width:768px){
display: table;
width: 100%;
      margin-bottom: 0;

  }

  @media (min-width:1024px){

  }

}


.dashplanpricing-details-switch-column1{

  @media (min-width:768px){
    display: table-cell;
vertical-align: top;

  }

  @media (min-width:1024px){

  }
}

.dashplanpricing-details-switch-column2{


  @media (min-width:768px){
    display: table-cell;
      vertical-align: top;
      width: 237px;

  }

  @media (min-width:1024px){

  }

}

.dashplanpricing-details-switch-cta{
  text-align: center;
}


.dashplanpricing-details-concessions{

  overflow: hidden;
    padding:35px 30px;

      @media (min-width:768px){
        padding:35px 45px;
      }

}


.dashplanpricing-details-concessions-thankyou{
  p{
    color:#7DD1D0;
  }
  a{
    color:#7DD1D0;
    text-decoration: underline;
  }
}



.dashplanpricing-details-concessions-list{

  margin-bottom: -20px;

    @media (min-width:768px){
  @include clearfix;
  margin-right: -30px;
  margin-bottom: -30px;

    }

    @media (min-width:1024px){

    }

}


.dashplanpricing-details-concessions-item{

  border:1px solid #e6e6e7;
  border-radius: 2px;
  position: relative;
  min-height: 160px;
  margin-bottom: 20px;

  @media (min-width:768px){

    float: left;
    width: calc(50% - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  min-height: 220px;

  }

  @media (min-width:1024px){

  }

    &.is-addanother{

      border-style: dashed;
      border-color: #d8d8d9;

    }



}

.dashplanpricing-details-concessions-item-inner{

  padding-left: 30px;
  padding-top: 32px;
  padding-bottom: 20px;

}



.dashplanpricing-details-concessions-item-account-item{

  background-color: #eef9f9;
  padding: 25px 28px;
  font-size: 16px;
  line-height: 18px;

  & + &{
    margin-top: 20px;
  }

}


.dashplanpricing-details-concessions-item-account-list{



}


.dashplanpricing-details-concessions-item-name{

  @include font-Verdana-Regular;
  font-size: 25px;
  line-height: 24px;
  margin-bottom: 7px;
  color:#231f20;
  // margin-right: 106px;
  margin-right: 30px;

}


.dashplanpricing-details-concessions-item-status{
  margin-bottom: 17px;
  text-transform: uppercase;
  @include font-Verdana-Regular;
  font-size: 18px;
  line-height: 21px;
  &.is-approved{
    color:#5bc5c4;
  }
  &.is-pending{
    color:#e36b79;
  }
}

.dashplanpricing-details-concessions-item-number{

  @include font-Verdana-Regular;
  font-size: 18px;
  line-height: 16px;
  margin-bottom: 17px;
  text-transform: uppercase;
  color:#999999;



}


.dashplanpricing-details-concessions-item-addanother{

  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  text-align: center;

  background-image: url(../../Theme/images/dashpaymentdetails-addanother.png);
  background-position: bottom left;
  background-size: 181px 52px;
  background-repeat: no-repeat;
  color:#231f20;

}

.dashplanpricing-details-concessions-item-addanother-inner{

  display: inline-table;
  vertical-align: middle;
  height: 100%;
  padding-bottom: 52px;
  padding-top: 52px;


}

.dashplanpricing-details-concessions-item-addanother-copy{

  display: table-cell;
  vertical-align: middle;
  @include font-Verdana-Regular;
  text-transform: uppercase;
  // color:#231f20;

}

.dashplanpricing-details-concessions-item-addanother-icon{

  display: table-cell;
  vertical-align: middle;

  @include font-Verdana-Regular;
  padding-right: 10px;
  // color:#231f20;

  i{
@include fonticon-add;
font-size: 32px;
    // &:before{

    //   content:"+";
    //   height: 33px;
    //   width: 33px;
    //   line-height: 30px;
    //   text-align: center;
    //   display: block;
    //   padding-left:2px;
    //   border:1px solid #918f8f;
    //   border-radius: 100%;
    //   font-size: 20px;


    // }
  }

}

.dashplanpricing-details-concessions-item-tools{

  position: absolute;
  top:0;
  right:0;

}

.dashplanpricing-details-concessions-item-tools-list{

  // width: 100%;
  display: inline-table;
  height: 45px;



}

.dashplanpricing-details-concessions-item-tools-item{


 display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  color:#000000;

  // & + &{
  //   border-left: 1px solid #f3f4f4;
  // }

    // @media (min-width:768px){
    //   padding-left: 10px;
    //   padding-right: 10px;
    // }

    @media (min-width:1024px){

    }

  &:hover{
    background-color: #fffccc;
    color:#000000;

  }

  i{
    font-size: 18px;

      @media (min-width:768px){
        font-size: 18px;
      }

      @media (min-width:1024px){

      }
  }


  &.is-delete{

    i{
      @include fonticon-delete;
    }

  }

  &.is-edit{

    i{
      @include fonticon-edit;
    }

  }

}



.dashplanpricing-details-concessions-title{

      @include font-Verdana-Regular;
      font-size: 26px;
      line-height: 26px;
      color:#231f20;
      text-transform: uppercase;
      margin-bottom: 20px;


}

.dashplanpricing-details-promo{


    background-image: url(../../Theme/images/dashplanpricing-details-promo.png);
    background-position: top center;
    background-size: 414px 310px;
    background-repeat: no-repeat;
    height: 310px;

  margin-left: -30px;
  margin-right: -30px;
    margin-left: -90px;
  text-align: center;
  padding-left: 60px;

  color:#231f20;


      @media (min-width:768px){

        width: 414px;
        margin-left: 0;
        margin-right: 0;

        float: right;
        margin-top: -200px;

      }

      @media (min-width:1024px){

      }



}

.dashplanpricing-details-promo-inner{
      display: inline-table;
      vertical-align: top;
      text-align: left;
      // width: 100%;
      height: 100%;
      width: 220px;

}

.dashplanpricing-details-promo-inner2{

  display: table-cell;
  vertical-align: middle;
  text-align: center;

}


.dashplanpricing-details-promo-title{

      @include font-Halis-Bold;
      font-size: 24px;
      line-height: 24px;
        margin:0 auto;
      text-transform: uppercase;
      margin-bottom: 10px;
      max-width: 150px;


}


.dashplanpricing-details-promo-description{

font-size: 16px;
line-height: 20px;
margin-bottom: 10px;


}

.dashplanpricing-details-promo-link{


    a{

      @include font-Halis-Bold;
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;

      border-bottom: 1px solid #231f20;

    transition:color, border, 0.2s ease;

      &:hover{
        color:#666;
      }

    }


}


.dashplanpricing-details-switch{

    padding:35px 30px;
    overflow: hidden;
    border-bottom:1px solid #e6e7e8;

      @media (min-width:768px){
        padding:35px 45px;
        padding-bottom: 50px;
      }


}



.dashplanpricing-details-switch-benefits{

margin-bottom: 40px;

li{
  position: relative;
  margin-bottom: 13px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 20px;
  color:#231f20;

  &:before{
    content:"";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #5bc5c4;
    left:0;
    top:6px;

  }
}


}



.dashplanpricing-details-switch-title{


      @include font-Verdana-Regular;
      font-size: 26px;
      line-height: 26px;
      color:#231f20;
      text-transform: uppercase;
      margin-bottom: 3px;


}

.dashplanpricing-details-switch-cost{

      @include font-Halis-Bold;
      font-size: 26px;
      line-height: 26px;
      color:#5bc5c4;
      text-transform: uppercase;
      margin-bottom: 5px;


}

.dashplanpricing-details-switch-expiry{

  margin-bottom: 10px;

}



.dashplanpricing-details-title{



}

.dashplanpricing-details-usage{


    padding:35px 30px;
    background-color: #eef9f9;

      @media (min-width:768px){
        padding:35px 45px;
      }

  table{

      color: #231f20;
      width: 100%;
      font-size: 16px;
      line-height: 24px;



      th{
        text-align: left;
        border-bottom: 1px solid #e3e8e9;
        @include font-Hind-SemiBold;
        padding-bottom: 12px;

        &:nth-child(1){
          padding-right: 10px;
        }

        &:nth-child(2){
            width:55px;
        }
        &:nth-child(3){
          width: 35px;
        }


        &.dashplanpricing-details-usage-title{
            text-transform: uppercase;
            @include font-Verdana-Regular;

            font-size:22px;
            line-height: 22px;

            @media (min-width:768px){
                font-size: 26px;
                line-height: 26px;

            }

            @media (min-width:1024px){

            }

        }


      }

      td{
        font-size: 16px;
        border-bottom: 1px solid #e3e8e9;
        padding-bottom: 12px;
        padding-top: 12px;
        vertical-align: top;
        &:nth-child(1){
          padding-right: 10px;
        }

      }


  }

}

