.dashinbox {
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    //needed for list
    @media (min-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (min-width: 1024px) {
        padding-left: 86px;
        padding-right: 86px;
    }
}

.dashinbox-inner {
    margin: 0 auto;
    max-width: 738px;
    padding-top: 40px;
    padding-bottom: 70px;
    @media (min-width: 768px) {
        padding-top: 50px;
        padding-bottom: 60px;
    }
}

.dashinbox-intro {
    margin-bottom: 20px;
    text-align: center;
    @media (min-width: 768px) {
        margin-bottom: 60px;
    }
    @media (min-width: 1024px) {}
}

.dashinbox-intro-title {
    @include font-Halis-Bold;
    font-size: 38px;
    line-height: 38px;
    margin-bottom: 10px;
    color: #000000;
    text-transform: uppercase;
    @media (min-width: 768px) {
        font-size: 42px;
        line-height: 42px;
    }
    @media (min-width: 1024px) {}
}

.dashinbox-intro-description {}

.dashinbox-messages {
    color: #231f20;
}

.dashinbox-messages-header-list {
    display: table;
    width: 100%;
    border-bottom: 1px solid #e6e7e8;
    @media (min-width: 768px) {
        padding-right: 0;
    }
    @media (min-width: 1024px) {}
}

.dashinbox-messages-header-item {
    display: table-cell;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
    @include font-Halis-Bold;
    font-size: 18px;
    line-height: 24px;
    &.is-date {
        width: 33%;
        @media (min-width: 768px) {
            width: 21%;
        }
        @media (min-width: 1024px) {}
    }
    &.is-subject {
        // width: 30%;
        @media (min-width: 768px) {
            width: 43%;
        }
        @media (min-width: 1024px) {}
    }
    &.is-from {
        display: none;
        @media (min-width: 768px) {
            display: table-cell;
        }
        @media (min-width: 1024px) {}
    }
    &.is-icon {
        width: 30px;
    }
}

.dashinbox-messages-list {
    border-bottom: 1px solid #e6e7e8;
    margin-bottom: 40px;
}

.dashinbox-messages-item {
    display: table;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    & + & {
        border-top: 1px solid #e6e7e8;
    }
}

.dashinbox-messages-item-inner {
    display: table;
    width: 100%;
}

.dashinbox-messages-item-date {
    display: table-cell;
    vertical-align: top;
    @include font-Verdana-Regular;
    font-size: 18px;
    line-height: 24px;
    width: 33%;
    padding-right: 10px;
    @media (min-width: 768px) {
        width: 21%;
    }
}

.dashinbox-messages-item-subjectfrom {
    display: table-cell;
    vertical-align: top;
}

.dashinbox-messages-item-subjectfrom-inner {
    @media (min-width: 768px) {
        display: table;
        width: 100%;
    }
    @media (min-width: 1024px) {}
}

.dashinbox-messages-item-subjectfrom-from {
    @include font-Verdana-Regular;
    font-size: 18px;
    line-height: 24px;
    padding-right: 10px;
    @media (min-width: 768px) {
        display: table-cell;
        vertical-align: top;
    }
    @media (min-width: 1024px) {}
}

.dashinbox-messages-item-subjectfrom-subject {
    @include font-Halis-Bold;
    font-size: 18px;
    line-height: 24px;
    padding-right: 10px;
    @media (min-width: 768px) {
        display: table-cell;
        vertical-align: top;
        width: 57.4%;
    }
    @media (min-width: 1024px) {}
}

.dashinbox-messages-item-icon {
    display: table-cell;
    vertical-align: middle;
    width: 30px;
    i {
        @include fonticon-mail;
        color: #d7d7d7;
        font-size: 14px;
        transition:color 0.2s ease;
        .dashinbox-messages-item:hover & {
            color: #5bc5c4;
        }
    }
}



.dashinbox-message{

background-color: #eef9f9;
padding: 30px;
position: relative;


  // &:before{
  //   content:"";
  //   display: block;
  //   position: absolute;
  //   left:0;
  //   right:0;
  //   bottom:0;
  //   top:0;
  //   left:100%;
  //   background-color: #eef9f9;
  //   padding-right: 1000px;
  //   margin-right: -1000px;

  // }


  @media (min-width:768px){
    padding: 40px;

  }

  @media (min-width:1024px){

  }

}

.dashinbox-message-date{


    @include font-Verdana-Regular;
    font-size: 18px;
    line-height: 24px;
    color:#231f20;

}


.dashinbox-message-subject{


    @include font-Verdana-Regular;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 15px;
    color:#231f20;

}

.dashinbox-message-from{

  @include font-Verdana-Regular;
    font-size: 18px;
    line-height: 24px;
  margin-bottom: 15px;
    color:#231f20;

}


.dashinbox-message-copy{

color:#666666;
font-size: 16px;
margin-bottom: -16px;
    @media (min-width:768px){

margin-bottom: -26px;
    }

    @media (min-width:1024px){

    }

}

