.detailsummary {
    border-bottom: 1px solid #e2e2de;
    @include fp(padding-bottom, 30, 80);
    @include fp(margin-bottom, 30, 80);
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        display: table;
        width: 100%;
    }
}

.detailsummary-content {
    border-bottom: 1px solid #e2e2de;
    @include fp(padding-bottom, 30, 80, $end: 1023);


    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        display: table-cell;
        vertical-align: top;
        padding-bottom: 0;
        border-bottom: 0;
        @include fp(padding-right, 20, 40, $start: 1024);
    }
}

.detailsummary-sidebar {
    @include fp(padding-top, 30, 80, $end: 1023);
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        display: table-cell;
        vertical-align: top;
        width: 336px;
        padding-left: 40px;
        padding-top: 0;
        border-left: 1px solid #dcdcdc;
        @include fp(padding-left, 20, 50, $start: 1024);
    }
}

.detailsummary-sidebar-contact {

    @include fp(font-size, 14, 16);
    margin-bottom: 0.5em;
    display: block;


    icon {
        display: inline-block;
        vertical-align: middle;
        color:#000;
        &:before {
            width: 33px;
            text-align: center;
            vertical-align: middle;
            display: inline-block;
            position: relative;
            top:-3px;
            font-size: 23px;
            padding-right: 10px;
        }
    }
    &.is-email {
        icon {
            @include fonticon-mail(middle);
        }
    }
    &.is-phone {
        icon {
            @include fonticon-phone(middle);
        }
    }
}

a.detailsummary-sidebar-contact {
    text-decoration: none;
    &:focus,
    &:hover{
      color:#666;

    }

}


.detailsummary-sidebar-contact-copy {

  display: inline;

  a & {

    border-bottom: 1px solid;
    display: inline;

    transition: border .2s ease,color .2s ease;

    }

    a:focus &,
    a:hover &{
      border-bottom: 6px solid #cccccc;

    }


}

.detailsummary-sidebar-label {
    @include font-Halis-Bold;
    text-transform: uppercase;
    @include fp(font-size, 14, 16);
    line-height: 1;
    margin-bottom: 0.5em;
}

.detailsummary-sidebar-name {
    @include font-Halis-Bold;
    @include fp(font-size, 24, 26);
    margin-bottom: -0.4em;
}

.detailsummary-sidebar-title {
    @include fp(font-size, 16, 18);
    @include font-Halis-Light;
    font-style: italic;
    margin-bottom: 1.5em;
}
