.detailtable {
    width: 100%;
    color: #202021;
    border: 1px solid #e7e7e7;


    @media (max-width: 1023px) {
        display: block;
        border-bottom: 0;
    }
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        border-top: 3px solid #666666;
    }
    td {
        vertical-align: top;
        @media (max-width: 1023px) {
            display: block;
        }
        @media (min-width: 1024px) {
            border: 1px solid #e7e7e7;
            @include fp(padding-left, 10, 16, $start: 1024);
            @include fp(padding-right, 10, 16, $start: 1024);
            @include fp(padding-top, 10, 11, $start: 1024);
            @include fp(padding-bottom, 10, 11, $start: 1024);
        }
    }
    th {
        @media (max-width: 1023px) {
            display: block;
            width: 100%;
            float: left;
            &+th{
                border-top: 1px solid #e7e7e7;
            }
        }

        position: relative;
        @include fp(font-size, 15, 20, $start: 1024);
        @include font-Verdana-Regular;
        text-align: left;
        @include fp(padding-left, 20, 16, $start: 1024);
        @include fp(padding-right, 40, 36, $start: 1024);
        @include fp(padding-top, 10, 15, $start: 1024);
        @include fp(padding-bottom, 10, 18, $start: 1024);
        &.is-sorted-ascending, &.is-sorted-descending {
        background-color: #e7e9eb;
    }

    }
    tr {
        @media (max-width: 1023px) {
            position: relative;
            display: block;
            border-bottom: 1px solid #e7e7e7;
            @include fp(padding-left, 10, 20, $end: 1023);
            @include fp(padding-right, 10, 20, $end: 1023);
            @include fp(padding-top, 10, 16, $end: 1023);
            @include fp(padding-bottom, 10, 16, $end: 1023);
        }

        @media (min-width: 1024px){
            &:hover, &:focus{
              td{
                background-color: #f3f3f3;
              }
            }
        }
    }
    thead {
        @media (max-width: 1023px) {
            display: none;
        }
    }

    &.is-show-header{
        @media (max-width: 1023px) {
        .detailtable-header{
            @include clearfix;
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
        thead{
                display: block;
        }
        }
    }

    tbody {
        @media (max-width: 1023px) {
            display: block;
        }
    }
    .detailtable-date {

        @include fp(font-size, 12, 14);
        line-height: 1.6;

        @media (max-width: 1023px) {
            display: inline-block;
            position: relative;
            padding-right: 8px;
            margin-right: 2px;
            color: #666666;
            margin-bottom: 10px;
            vertical-align: top;
            &:after {
                content: "";
                position: absolute;
                right: 0;
                top: 8px;
                height: 25px;
                margin-top: -5px;
                width: 1px;
                background-color: #cccccc;
            }
        }
        @media (min-width: 768px) {}
        @media (min-width: 1024px) {
          // width: 15%;
          width: 195px;
          font-size: 14px;
        }

        // &.is-nodivider{
        //     &:after {
        //         content: "";
        //         position: absolute;
        //         right: 0;
        //         top: 50%;
        //         height: 0;
        //         margin-top: -5px;
        //         width: 0;
        //         background-color: transparent;
        //     }
        // }
    }
    .detailtable-type {

        @include fp(font-size, 12, 14);
        line-height: 1.6;

        @media (max-width: 1023px) {
            display: inline-block;
            color: #666666;
            margin-bottom: 20px;
        }
        @media (min-width: 768px) {}
        @media (min-width: 1024px) {
          //width: 18%;
        }
    }

    .detailtable-type-label{



          color: #666666;
          position: relative;
          padding-left: 18px;
          @include fp(font-size, 10, 11);
          @include font-Halis-Bold;
          text-transform: uppercase;
          margin-top: 2px;

          @media (min-width:1024px){
            padding-left: 19px;
            display: table-cell;
            text-align: left;
            margin-bottom: 0;
            vertical-align: middle;
            margin-top: 0;
          }

          &:before{
            content: "•";
            font-size: 30px;
            //color: #007bc3;
            top: -18px;
            padding-right: 10px;
            display: block;
            position: absolute;
            left: 0;

            @media (min-width:1024px){
            top: -17px;

            }
          }



 @each $name, $color in $industries {
 &.is-#{$name}:before{
 color: $color;
 }
}


            // &.is-energy:before{
            //   color: #7938af;
            // }

            // &.is-water:before{
            //   color: #006dbd;
            // }

            // &.is-transport:before{
            //   color: #4b954b;
            // }



            // &.is-localgoverment:before{
            //   color: #e11c1c;
            // }


            // &.is-specialreview:before{
            //     color: #077782;
            // }





    }

    .detailtable-type-title{
        @include fp(font-size, 13, 14);
        padding-left: 18px;
        margin-top:-4px;

            @media (min-width:1024px){
              margin-top:0;

            }

    }

  .detailtable-content {
    @media (max-width: 1023px) {
      // margin-bottom: 5px;
        @include fp(padding-bottom, 20, 26, $end: 1023);

    }
  }

}


.detailtable-content-description {
    font-size: 13px;
    line-height: 22px;
}

.detailtable-content-title {
    font-size: 16px;
    line-height: 22px;
}


.detailtable-content-submissions{
    font-size: 13px;
    line-height: 15px;
    margin-top: 15px;
    display: inline-block;
}


.detailtable-entity{
    width: 300px;
}

.detailtable-name{
    width: 300px;
}


.detailtable-documents {

  position: relative;

  @media (max-width:1023px){

    // @include fp(margin-left, -21, -31, $end: 1023);
    // @include fp(margin-right, -22, -32, $end: 1023);
    // @include fp(margin-bottom, -22, -28, $end: 1023);

    // @include fp(margin-bottom, -20, -26, $end: 1023);


  }

  @media (min-width:768px){

  }

  @media (min-width:1024px){

    width: 153px;
    // height: 95px; // treated as a min as we are a td in a table


    // padding-top: 0;
    // padding-bottom: 0;

  }

}

.detailtable-documents-cta {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;

    @media (max-width: 1023px) {
    // @include fp(padding-left, 20, 30, $end: 1023);
    // @include fp(padding-right, 20, 30, $end: 1023);
    // padding-bottom: 20px;
    // padding-top: 20px;
  }

    &:hover, &:focus {
      text-decoration: none;
      // @media (min-width: 1024px) {
      //     background-color: #007bc3;
      //     text-decoration: none;
      //     color: #fff;
      // }
    }
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        // position: absolute;
        // left: 0px;
        // right: 0px;
        // top: 0px;
        // bottom: 0px;
    }
}

.detailtable-documents-cta-inner {
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        // width: 100%;
        // height: 100%;
        // display: table;
    }
}

.detailtable-documents-cta-inner2 {
        display: table;
        width: 100%;
        line-height: 1;

    @media (max-width: 1023px) {
    }
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        // display: table-cell;
        // vertical-align: middle;
        // text-align: center;
    }
    .is-compact &{
        // display: table;
        // width: 100%;
        // text-align: center;
    }
}


.detailtable-documents-cta-icon {

        display: table-cell;
        vertical-align: middle;
        width: 15px;
        padding-right: 10px;


    // @media (max-width: 1023px) {
    //     // display: table-cell;
    //     // vertical-align: middle;
    //     display: inline-block;
    //     vertical-align: middle;
    //     // @include fp(width, 32, 38);
    //     margin-right: 14px;
    //     // margin-bottom: 0;


    //   // .is-compact &{

    //   //   margin-bottom: 12px;
    //   //   margin-right: 0;

    //   // }

    // }

    @media (min-width: 1024px) {

      // margin-bottom: 12px;
      // display: inline-block;
      // vertical-align: middle;


    }

    // .is-compact &{
    //   //   // display: table-cell;
    //   //   display: inline-block;
    //   //   vertical-align: middle;
    //   //   // @include fp(width, 32, 38);
    //   //   padding-right: 14px;
    //   margin-bottom: 0;


    // }

    // &.is-submissions{
    //     @include fp(width, 86, 38);
    // }


    icon {
        vertical-align: top;
        color: #007bc3;
        // @include fp(font-size, 20, 25);
        font-size: 25px;
    transition: color .2s ease;
    display: block;
    // padding-right: 5px;

        .is-download &{
          @include fonticon-download;
        }

        .is-submissions &{
          @include fonticon-discuss;
        }

        .is-video &{
          @include fonticon-video;
        }

        .is-gallery &{
          @include fonticon-gallery;
        }

        .is-webpage &{
          @include fonticon-webpage;
        }

        .is-register &{
          @include fonticon-register;
        }



    a:hover &, a:focus &{
        // @media (min-width: 1024px) {
        //   color:#ffffff;
        // }
      }

    }
}


.detailtable-documents-cta-content-number {
  // display: inline-block;
  display: block;
  vertical-align: top;
        // @include fp(font-size, 15, 20);
        font-size: 20px;

  // font-size: 20px;
  line-height: 1;
  @include font-Halis-Thin;
  // position: relative;
  // top:3px;
  // left:2px;
}

.detailtable-documents-cta-content {
    font-size: 11px;
    line-height: 1.2;
    color: #666666;
    // display: inline-block;

        display: table-cell;
        vertical-align: middle;


    // @media (max-width: 1023px) {
    //     // display: table-cell;
    //     display: inline-block;
    //     vertical-align: middle;

    // }
    // // .is-compact &{
    //     vertical-align: middle;
    //   display: inline-block;


    //       // @media (max-width:1023px){
    //       //   display: block;

    //       // }
    // }

    // .is-submissions &{

    //   @media (max-width: 1023px) {
    //     padding-top: 17px;
    //   }

    // }
}

.detailtable-documents-cta-content-copy{
  display: inline;
  vertical-align: top;
    transition: color .2s ease,  border .2s ease;
    border-bottom: 1px solid transparent;
      a.detailtable-documents-cta:hover &, a.detailtable-documents-cta:focus &{


      color:#007bc3;
      // border-bottom-color: #007bc3;
      text-decoration: underline;

      // @media (min-width: 1024px) {
      // color:#ffffff;
      // border-bottom-color: transparent;

      // }

    }
}

.detailtable-documents-cta {}

.detailtable-documents-cta-copy {}



.detailtable-documents-cta-inner {}

.detailtable-header {}











.detailtable-header-sort{
display: block;
line-height: 1;
// height: 42px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
position: absolute;
// right:0;
top:0;
bottom:0;
left:0;
right: 0;
text-align: right;

// position: relative;





icon{
    display: inline-block;
    vertical-align: top;
}


}


.detailtable-header-sort-caption{
    position: absolute;
    left:-9999px;
}

.detailtable-header-sort-ascend{
height: 7px;
position: absolute;
right:0;
top:50%;
margin-top: -8px;
        @include fp(padding-right, 10, 16, $start: 1024);


    icon{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 7px 5px;
        border-color: transparent transparent #666666 transparent;

        .is-sorted-ascending &{
            border-bottom-color: #007bc3;
        }
        .is-sorted-descending &{
            border-bottom-color: #d3d5d6;
        }


    }


}

.detailtable-header-sort-descend{
height: 7px;

position: absolute;
right:0;
top:50%;
margin-top: 1px;
        @include fp(padding-right, 10, 16, $start: 1024);


    icon{

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 5px 0 5px;
        border-color: #666666 transparent transparent transparent;

        .is-sorted-ascending &{
            border-top-color: #d3d5d6;
        }

        .is-sorted-descending &{
            border-top-color: #007bc3;
        }

    }


}

