.detailtabs{


  @media (min-width:768px){

  }

  @media (min-width:1024px){
    background-color: #e7e9eb;

    border:1px solid #d2d2d2;
  }

}

.detailtabs-inner{


  // @include fp(padding-left,20,50);
  // @include fp(padding-right,20,50);



    margin:0 auto;

    @include fp(max-width, 280,1328);


  @media (max-width:1023px){


  @include fp(padding-top,44,60);
  // @include fp(padding-bottom,30,60);




    // @include fp(max-width, 320,700, $end:1023);

  }




    @media (min-width:1024px){

      @include fp(max-width, (1024-100),1328, $start:1024);


    }
    @media (min-width:768px){

    }

    @media (min-width:1024px){

    // max-width: 1428px;

      // @include fp(max-width, 913,1428, $start:1024);

    }


}



.detailtabs-mobilemenu{
position: relative;

      @media (min-width:768px){

      }

      @media (min-width:1024px){
        display: none;
      }

    &:after{
      display: block;
      @include fonticon-icon-down-small(top,false);
      position: absolute;
      z-index: 1;
      right:20px;
      top:50%;
      font-size: 12px;
      margin-top: -5px;
      color:#007bc3;

    }

  select{
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    height: 50px;
    border:1px solid #e7e7e7;

    @include font-Halis-Bold;
    // font-size: 14px;

  // http://stackoverflow.com/a/7655319/1500312
  // Disable Auto Zoom in Input “Text” tag - Safari on iPhone
  // "In summary the answer is: set the font size to at least 16px"
  font-size: 16px;

    &:focus{
      border-color:#202021;
    }



    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 40px;

    option{
      @include font-Halis-Regular;
      font-size: 14px;
      text-transform: none;

    }
  }

}

.detailtabs-list{

  display: none;

  @media (min-width:768px){

  }

  @media (min-width:1024px){
   display: table;
   width: 100%;
   table-layout: fixed;
   border-collapse: collapse;
   margin-bottom: -1px;

  }

}


.detailtabs-item{

  display: table-cell;
  vertical-align: middle;

    @include font-Halis-Black;
    @include fp(font-size, 14,16);
    line-height: 1;
    text-align: center;

    @include fp(padding-top, 10,26);

    @include fp(padding-bottom, 10,26);
    // padding-left: 40px;
    // padding-right: 40px;
    padding-left: 10px;
    padding-right: 10px;

    border-left:1px solid #d2d2d2;
    border-right:1px solid #d2d2d2;
    border-bottom:1px solid #d2d2d2;
    text-transform: uppercase;
    position: relative;


  color:#202021;

&:before{
  content:"";
  display: block;
  position: absolute;
  left:0;
  top:-4px;
  right:0;
  height: 3px;
  background-color: #202021;
  display: none;
}

  &:focus,
  &:hover{

    background-color: #0a7fc3;

    color:#fff;
    text-decoration: none;
  }

  &.is-active{

    background-color: #fff;
    border-bottom-color: #fff;

    &:focus,
    &:hover{

      color:#202021;

    }

  }
  &.is-active:before{
    display: block;
  }


}

