.detailheader{

background-color: #f1f1f1;

}



.detailheader-inner{

  @include fp(padding-top,30,60);
  @include fp(padding-bottom,30,60);


  // @include fp(padding-left,20,50);
  // @include fp(padding-right,20,50);
  display: table;
  width: 100%;





    @include fp(max-width, 280,1328);
      margin:0 auto;



    @media (min-width:1024px){

      @include fp(max-width, (1024-100),1328, $start:1024);


    }
    @media (min-width:768px){

    }

    @media (min-width:1024px){

      // max-width: 1428px;


    }



}


.detailheader-title{

@include typography-heading-b;

}

.detailheader-content{


  @media (min-width:768px){

  }

  @media (min-width:1024px){

    display: table-cell;
    vertical-align: top;

  }

}

.detailheader-data{


  @media (max-width:1023px){

    border:1px solid #d2d2d2;
    @include fp(padding,20,50);
    @include fp(margin-bottom,23,40);

  }

  @media (min-width:768px){

  }

  @media (min-width:1024px){

  }



}

.detailheader-data-list{


  @media (min-width:768px){

  }

  @media (min-width:1024px){

    @include clearfix;
    margin-right: -30px;
    margin-bottom: -30px;

  }

}


.detailheader-data-item{

  @media (max-width:1023px){
    & + &{
      margin-top: 0.7em;
    }

  }
  @media (min-width:768px){

  }

  @media (min-width:1024px){

    // display: inline-block;
    // display: table-cell;
    // vertical-align: top;
    float: left;

    // padding-left: 30px;
    margin-bottom: 30px;

    border-right: 1px solid #dbdbdb;

    padding-right: 30px;
    margin-right: 30px;

    &:first-child{

      padding-left: 0;

    }

    &:last-child{
      border-right: 0;
      // padding-right: 30px;
    }

    & + &{
    }

  }

  & + &{



      @media (min-width:768px){

      }

      @media (min-width:1024px){

      }
  }

}

.detailheader-data-item-label{

  @include fp(font-size,14,16);
  @include font-Halis-Bold;
  text-transform: uppercase;
  line-height: 1;
}

.detailheader-data-item-value{

  @include fp(font-size,16,20);
  @include font-Halis-Light;
  margin-top: -0.2em;

  a{
    text-decoration: none;
    border-bottom: 1px solid;
    display: inline;
    transition: border .2s ease, color .2s ease;

    &:hover{
      border-bottom: 6px solid #ccc;
      color: #666;
    }

  }

}



.detailheader-panel{

  border:1px solid #d2d2d2;
  margin-bottom: 12px;

}

.detailheader-panel-days{

  background-color: #fff;
  text-align: center;
  border-bottom: 1px solid #d2d2d2;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;


}

.detailheader-panel-days-inner{

  display: inline-table;
  vertical-align: top;

}

.detailheader-panel-days-number{

  @include fp(font-size,38,44);
  @include font-Halis-Thin;
  display: table-cell;
  vertical-align: middle;
  padding-right: 0.35em;

}


.detailheader-panel-days-copy{

  font-size: 14px;
  @include font-Halis-Book;
  display: table-cell;
  vertical-align: middle;
  text-align: left;

}


.detailheader-panel-deadline{


  border-bottom: 1px solid #d2d2d2;

background-color: #fff;

text-align: center;
font-size: 12px;

@include font-Verdana-Bold;
text-transform: uppercase;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 10px;
padding-right: 10px;


}

.detailheader-panel-haveyoursay{

background-color: #ee5d16;

  color:#fff;
  display: block;
&:focus,
&:hover{
  background-color: #e2e2de;
  color:#000;
  text-decoration: none;
}

padding-left: 20px;
padding-right: 20px;


    @media (min-width:768px){

    }

    @media (min-width:1024px){
    }

}

.detailheader-panel-haveyoursay-icon{

  position: absolute;
  @include fp(font-size,32,45);


  width:1em;
  height: 1em;
  right:0;
  top:50%;

  margin-top: -0.5em;

  @media (min-width:768px){

  }

  @media (min-width:1024px){
    right:auto;
    left:0;
  }

  icon{
    vertical-align: top;

  @include fonticon-edit;

  }

}

.detailheader-panel-haveyoursay-inner{

  // @include fp(padding-right,32,45);
  position: relative;

}

.detailheader-panel-haveyoursay-label{


@include font-Halis-Bold;
text-transform: uppercase;
font-size: 15px;
line-height: 1;
  @include fp(padding-top,25,28);
  @include fp(padding-bottom,25,28);


  @media (max-width:1023px){
  @include fp(padding-right,32,45);
  margin-right: 1em;

  }



    @media (min-width:768px){

    }

    @media (min-width:1024px){

      margin-left: 1em;
      @include fp(padding-left,32,45);

    }


}



.detailheader-sidebar-whatishaveyoursay{

  display: block;
  text-align: center;

}

.detailheader-sidebar-whatishaveyoursay-inner{
display: inline-block;
vertical-align: top;
}
.detailheader-sidebar-whatishaveyoursay-icon{
      color:#666666;

margin-left: 9px;
display: inline-block;
  vertical-align: middle;

  icon{
    display: block;
      width: 22px;
      height: 22px;
      font-size: 14px;

      background-color: #fff;
      border-radius: 100%;

    &:before{
      content:"?";
      display: block;
      line-height: 22px;
      text-align: center;
      @include font-Verdana-Bold;
      vertical-align: top;
      height: 22px;
    }
  }



}

.detailheader-sidebar-whatishaveyoursay-label{

  font-size: 12px;
  @include font-Halis-Regular;
  color:#666666;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;

}

.detailheader-sidebar{

  @media (min-width:1024px){

    display: table-cell;
    vertical-align: top;
    width: 290px;//261px was too small to fix subscribe link
    padding-left: 40px;

  }


}

.detailheader-sidebar-subscribe {
  text-align: center;
  margin-bottom: 22px;
}


.detailheader-subheading{

  display: inline-block;
  @include fp(font-size,12,22);
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;

  @include fp(padding-top,5,7);
  @include fp(padding-bottom,5,7);

   @include fp(margin-bottom,9,23);


  background-color: #aaa;
  color:#fff;

  padding-left: 22px;
  padding-right: 22px;
  @include fp(padding-left,10,22);
  @include fp(padding-right,10,22);



 @each $name, $color in $industries {
 &.is-#{$name}{
 background-color: $color;
 }
}


            // &.is-energy {
            //     background-color: #7938af;
            // }

            // &.is-water{
            //     background-color: #007bc3;
            // }


            // &.is-transport{
            //     background-color: #4b954b;
            // }

            // &.is-localgovernment{

            //   background-color: #e11c1c;

            // }

            // &.is-specialreviews {

            //   background-color: #077782;

            // }

}

.detailheader-subheading-category{

  @include font-Halis-Black;
  display: inline-block;
  vertical-align: top;

}

.detailheader-subheading-label{

  @include font-Halis-Light;
  display: inline-block;
  vertical-align: top;

  &:before{
    content:"-";
    display: inline-block;
    vertical-align: top;
    padding-left: 0.25em;
    padding-right: 0.5em;
  }


}


.addthis-animated {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration:0.2s !important;
    animation-duration: 0.2s !important;
}

.detailheader-panel-share{
  cursor: pointer;
  display: block;
  //transition: color .2s ease;
  color: #007bc3;
}


.detailheader-panel-share-inner{
  cursor: pointer;
  display: block;
  transition: color .2s ease;
  color: #007bc3;
  background-color: #ffffff;


  &:hover,
  &:focus{
      background-color: #007bc3;
      color: #fff;
      text-decoration: none;
  }

  .is-show &{
    display: none
  }

}

.detailheader-panel-shareiconandcopy{
  display: table;
  //width: 100%;
  @include fp(padding-top,15,17);
  @include fp(padding-bottom,15,17);
  @include fp(padding-left,21,17);
  @include fp(padding-right,21,22);



}

.detailheader-panel-shareicon{
  display: table-cell;
  color: #007bc3;
  vertical-align: middle;
  @include fp(font-size, 32, 38);
  transition: color .2s ease;
  width: 50px;

  @include fonticon-share;

  @media (min-width:1024px){
    width: 54px;
  }



  .detailheader-panel-share:hover &, .detailheader-panel-share:focus &{
      color:#ffffff;

  }

}


.detailheader-panel-sharecopy{
  display: table-cell;
  vertical-align: middle;
  @include fp(font-size,14,15);
  line-height: 1;
  @include font-Halis-Bold;
  text-transform: uppercase;
  &:hover,
  &:focus{
      background-color: #007bc3;
      color: #fff;
      text-decoration: none;
  }
}


.detailheader-panel-download{
  display: block;
  background-color: #fff;

  &:hover,
  &:focus{
      background-color: #007bc3;
      color: #fff;
      text-decoration: none;
  }

}

.detailheader-panel-sharebuttons-out{
  display: none;
  background-color: #fff;

  .is-show &{
    display: block;
  }
}

.detailheader-panel-sharebuttons{
  display: table;
  width: 100%;
  height: 72px;

}

.detailheader-panel-sharebuttons-inner{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: 1;
}
.detailheader-panel-downloadiconandcopy{
  display: table;
  //width: 100%;
  @include fp(padding-top,15,17);
  @include fp(padding-bottom,15,17);
  @include fp(padding-left,21,17);
  @include fp(padding-right,21,22);


}

.detailheader-panel-downloadicon{
  display: table-cell;
  color: #007bc3;
  vertical-align: middle;
  @include fp(font-size, 32, 38);
  transition: color .2s ease;
  width: 50px;

  @include fonticon-download;

  @media (min-width:1024px){
    width: 54px;
  }



  a:hover &, a:focus &{
      color:#ffffff;

  }

}

.detailheader-panel-downloadcopy{
  display: table-cell;
  vertical-align: middle;

}


.detailheader-panel-downloadcopy-main{
  transition: color .2s ease,  border .2s ease;
  @include fp(font-size,14,15);
  @include fp(margin-bottom,9,4);
  line-height: 1;
  @include font-Halis-Bold;
  color: #006dbd;
  text-transform: uppercase;
  a:hover &, a:focus &{
      color:#ffffff;

  }

}

.detailheader-panel-downloadcopy-sub{
  transition: color .2s ease,  border .2s ease;
  @include fp(font-size,12,11);
  line-height: 1;
  @include font-Verdana-Regular;
  color: #666666;
  text-transform: uppercase;
  a:hover &, a:focus &{
      color:#ffffff;

  }

}
