.detailtimeline {}

.detailtimeline-list {}

.detailtimeline-carousel {

// background-color: red;
  @media (max-width: 1023px){

padding-top: 42px;
padding-bottom: 42px;


  }

    @media (min-width:1024px){

    padding-left: 84px;
    padding-right: 84px;
}

    .slick-track {
        @media (min-width: 768px) {}
        @media (min-width: 1024px) {
            display: table;
        }
    }
    .slick-slide {
        @media (min-width: 1024px) {
            display: table-cell;
            vertical-align: top;
            float: none;
        }
    }



  .slick-prev,.slick-next{
    // margin-top: -24px;
    // width: 22px;



width: 30px;
height: 15px;

margin-top: 0;




      &:before{
        // font-size: 22px;
        color:#666666;

        font-size: 30px;
        position: relative;

        top:7px;


          @media (min-width:1024px){
          font-size: 45px;
          }

    }
        &.slick-disabled{
              display: none !important;
          &:before{
              // opacity: 0;
            }
        }




      @media (min-width:768px){

      }

      @media (min-width:1024px){
        margin-top: -46px;

      width: 45px;
    height: 54px;
    top:50%;


      }

  }

  .slick-prev{
    margin-left:-15px;
  top:-42px;

      @media (min-width:1024px){
margin-left: -15px;
left:-82px;
    }

  }
  .slick-next{
    margin-left:-15px;
  bottom:-42px;
      @media (min-width:1024px){
margin-right: -15px;
right:-82px;
    }

  }








}

.detailtimeline-item {
    text-align: center;
    // outline: 0;

&:focus{
        outline:1px dotted #007bc3;
}

// // slick-slide
//     &.slick-current{
//      outline:1px dotted #000;
//     }

}

.detailtimeline-item-inner {
  @media (max-width: 1023px){
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-top: 16px;
    margin-bottom: 16px;
  }
    // .detailtimeline-item:last-child &{
    //   margin-bottom: 0;
    // }

  @media (min-width:1024px){

  }
}

.detailtimeline-item-line {
  @media (max-width: 1023px){

    width: 30px;
    display: table-cell;
    position: relative;
  }

    @media (min-width:1024px){

      height: 30px;
    position: relative;
    }
    &:before {
        content: "";
        background-color: #e7e9eb;
        position: absolute;

        @media (max-width: 1023px){
          left: 50%;
          margin-left: -2px;
          margin-top: -32px;
          top: -500px;
          bottom: 100%;
          width: 4px;
          margin-bottom: -28px;
        }
        @media (min-width:1024px){
          top: 50%;
          margin-top: -2px;
          // margin-top: -32px;
          left: -500px;
          right: 50%;
          height: 4px;
        }

        .is-past & {
            background-color: #202021;
            z-index: 1;
        }
        .is-current & {
            background-color: #202021;
            z-index: 1;
        }
    }
    &:after {
        content: "";
        background-color: #e2e2de;
        position: absolute;
        @media (max-width: 1023px){
        top: 27px;
        right: 7px;
        width: 15px;
        height: 1px;


      }
        @media (min-width:1024px){

        left: 50%;
        bottom: 7px;
        height: 15px;
        width: 1px;
        margin-left: -1px;

      }
        .is-past & {
            background-color: #202021;
            z-index: 1;
        }
        .is-current & {
            background-color: #202021;
            z-index: 1;
        }
    }
}

.detailtimeline-item-details {
  @media (max-width: 1023px){
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }
  @media (min-width: 1023px){
    padding-top: 19px;

  }
}

.detailtimeline-item-details-cta {

margin-top: 25px;
margin-bottom: 1px;

position: relative;
text-transform: uppercase;
font-size: 14px;
color:#fff;
padding:9px;


&.is-haveyoursay{
background-color: #ee5d16;

}


&.is-register{
background-color: #007bc3;

}



  &:focus, &:hover{
    background-color: #202021;
    color:#fff;
    text-decoration: none;

  }


@include font-Halis-Bold;
text-align: center;
display: block;

&:before{
  position: absolute;
  //top:-8px;
  top:-8px;
  left:50%;
  margin-left: -5px;
  content: "";
  display: block;
  width: 0;
height: 0;
border-style: solid;
border-width: 0 5px 8px 5px;
border-color: transparent transparent #ee5e16 transparent;
    transition: border.2s ease;



  left:18px;






  @media (min-width:768px){

  }

  @media (min-width:1024px){

  left:50%;
  }





}

&.is-haveyoursay:before{
border-bottom-color: #ee5d16;

}


&.is-register:before{
border-bottom-color: #007bc3;

}


&:focus:before, &:hover:before{
  border-bottom-color:#202021;

}


}

.detailtimeline-item-details-days {

  font-size: 13px;
  background-color: #e7e9eb;
  display: block;
  padding:11px;
  text-align: center;


}

.detailtimeline-item-info {
  @media (max-width: 1023px){
    display: table-cell;
    vertical-align: top;
    text-align: right;
  }

  @media (min-width:768px){

  }

  @media (min-width:1024px){
padding-bottom: 5px;
  }

}

.detailtimeline-item-info-inner {
    background-color: red;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 53px;
    background-color: #e2e2de;
    font-size: 13px;
    width: 80px;
    line-height: 1;
    text-align: center;
    padding: 12px 0;
    position: relative;
    border: 2px solid transparent;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    // @include fp(margin-left,(140-80),(314-80), $end:1024);
    @media (max-width: 1023px) {

  }

    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        // margin-bottom: 26px;
    }
    .is-past & {
        background-color: #fefefe;
        color: #202021;
        border-color: #202021;
    }
    .is-current & {
        background-color: #202021;
        color: #fff;
    }
    &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        @media (max-width: 1023px) {

        border-style: solid;
        border-width: 5px 0 5px 8px;
        border-color: transparent transparent transparent #e2e2de;
        right: -9px;
        top: 50%;
        margin-top: -5px;

        }

        @media (min-width: 1024px) {

        border-style: solid;
        border-width: 8px 5px 0 5px;
        border-color: #e2e2de transparent transparent transparent;
        bottom: -9px;
        left: 50%;
        margin-left: -3px;


        }

        .is-past & {
          @media (max-width: 1023px) {
            border-left-color: #202021;
          }
          @media (min-width: 1024px) {
            border-top-color: #202021;
          }
        }
        .is-current & {
          @media (max-width: 1023px) {
            border-left-color: #202021;
          }
          @media (min-width: 1024px) {
            border-top-color: #202021;
          }
        }
    }
    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;

        @media (max-width: 1023px) {

        right: -6px;
        top: 50%;
        margin-top: -4px;
        border-style: solid;
        border-width: 4px 0 4px 6px;
        border-color: transparent transparent transparent #e2e2de;

      }

        @media (min-width: 1024px) {

        border-style: solid;
        border-width: 6px 4px 0 4px;
        border-color: #e2e2de transparent transparent transparent;
        bottom: -6px;
        left: 50%;
        margin-left: -2px;


        }
        .is-past & {
          @media (max-width: 1023px) {
              border-left-color: #fefefe;
          }
          @media (min-width: 1024px) {
              border-top-color: #fefefe;
          }
        }
        .is-current & {
        @media (max-width: 1023px) {
            border-left-color: #202021;
        }
          @media (min-width: 1024px) {
              border-top-color: #202021;
          }
        }
    }
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        font-size: 14px;
        padding: 13px 5px;
    }
}

.detailtimeline-item-info-date {
    @include font-Verdana-Bold;
    padding: 0 5px;
}

.detailtimeline-item-info-year {
    padding: 0 5px;
}

.detailtimeline-item-label {
font-size: 14px;
line-height: 17px;

  @media (min-width:768px){

  }


}


.detailtimeline-item-label-link{
  color: #202021;

  &:hover,
  &:focus{
    color: #007bc3 !important;
    text-decoration: none;
  }
}

.detailtimeline-item-details-inner{

max-width: 139px;

  @media (min-width:1024px){
      margin:0 auto;
  }

}

.detailtimeline-title {
    @include typography-heading-d;
    text-align: center;
}

.is-current {}

.is-open {}

.is-past {}

