.detailcontent{



}

.detailcontent-inner{

  @include fp(padding-top,40,80);
  @include fp(padding-bottom,40,80);

    margin:0 auto;


  @media (max-width:1023px){
    @include fp(max-width, 280,1328);
  }


    @media (min-width:1024px){

      @include fp(max-width, (1024-100),1328, $start:1024);


    }

  @media (max-width:1023px){






    // @include fp(max-width, 320,700, $end:1023);

  }

    @media (min-width:768px){

    }

    @media (min-width:1024px){

    // max-width: 1428px;


    }


}

.detailreports-table{
  &.is-multiple{
    @include fp(margin-bottom,30,50);
  }
}

.detailreports-table{
  @include fp(padding-bottom,13,21);
}



.detailreports-pagination,
.detailreports-intro{
  @include fp(padding-bottom,30,30);
}

.detailreports-declare{
    @include fp(font-size, 12,13);
    color: #666666;
    text-align: center;

}




.detailreports-search{
margin-bottom: 30px;
}

.detailreports-search-inner{

    @media (min-width:768px){

    }

    @media (min-width:1024px){
  display: table;
  width: 100%;

    }
}

.detailreports-search-input{

    @media (min-width:768px){
    }

    @media (min-width:1024px){
     display: table-cell;
     vertical-align: top;

    }


}

.detailreports-search-button{

    @media (min-width:768px){
    }

    @media (min-width:1024px){
     display: table-cell;
     vertical-align: top;
     width: 65px;

    }
}

.detailreports-search-button-element{
  height: 50px;
  width: 100%;

  @media (min-width:1024px){
  width: 64px;
  height: 62px;

  }

}


.detailreports-search-button-element-inner{
  display: table;
  height: 50px;
  width: 100%;

  @media (min-width:1024px){
  border: 1px solid #d2d2d2;
  width: 64px;
  height: 62px;

  }

  background-color: #007bc3;
  text-decoration: none;
  color: #fff;
  &:focus,
  &:hover{
      background-color: #e2e2de;
      text-decoration: none;
      color: #202021;
  }

  &.disable{
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
  }
}

.detailreports-search-button-icon{

  display: none;


  icon{
    @include fonticon-search;
  }


  @media (min-width:1024px){
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
  }

}


.detailreports-search-button-copy{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  @include font-Halis-Bold;
  @media (min-width:1024px){
    display: none
  }

}
