.donateform{

    position: relative;
    background-color: #ebfbff;
    overflow: hidden;

}



.donateform-inner{

    position: relative;
    z-index: 2;
    // max-width: 927px+20px+20px;
    margin:0 auto;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;

        @media (min-width:980px){
            // max-width: 927px+50px+50px;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 95px;
            padding-bottom: 100px;
        }

        @media (min-width:1320px){

        }

}


.donateform-form{


    max-width: 827px;
    margin:0 auto;

        // @media (min-width:980px){
        //     max-width: 827px;
        // }

}

.donateform-title{

    color:#333333;
    text-align: center;
    margin-bottom: 28px;

      @media (min-width:980px){

        margin-bottom: 25px;
      }

      @media (min-width:1320px){

      }
}


.donateform-title-label{

    font-size: 24px;
    line-height: 26px; // To match design
    @include font-SaturdaySans-Bold;
    letter-spacing: -0.038em;
    margin-bottom: 12px;

    @media (min-width:980px){

      font-size: 60px;
      line-height: 60px; // To match design
      margin-bottom: 9px;

    }

    @media (min-width:1320px){

    }


}

.donateform-subtitle-label{
  color:#666666;

    font-size: 17px;
    line-height: 19px; // To match design
    letter-spacing: -0.03em;

    max-width: 827px;
    margin:0 auto;

    @media (min-width:980px){

        font-size: 20px;
        line-height: 25px; // To match design

    }

    @media (min-width:1320px){

    }

}


.donateform-title-field{

    margin-bottom: 25px;
    padding:0 10px;

    @media (min-width:980px){
        margin-bottom: 30px;
    }

    @media (min-width:1320px){

    }

}




.donateform-instructions{

  text-align: center;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 10px;


  @media (min-width:980px) {

    font-size: 17px;
    line-height: 25px;
  margin-bottom: 13px;


  }

}

.donateform-amounts{
    margin-bottom: 25px;

    @media (min-width:980px){
        margin-bottom: 48px;
    }

    @media (min-width:1320px){

    }


}


.donateform-amounts-box{

    // border-radius: 13px;
    // overflow: hidden;

    @include clearfix;


}

.donateform-amounts-list{

    display: inline-table;
    table-layout: fixed;
    height: 50px;
    width: 100%;
    position: relative;
    z-index: 1;
    // border-collapse: collapse;
    // border-style: hidden;

        @media (min-width:980px){
            height: 57px;
            width: 75%;
            float: left;
        }

        @media (min-width:1320px){

        }


}


.donateform-amounts-item{

    display: table-cell;
    // overflow: hidden;
    width: 100%;
    border:1px solid #c6c6c6;
    position: relative;
    border-right: 0;
    background-color: #fff;
    padding-bottom: 1px; // To match design
    cursor: pointer;
    // border-left:1px solid #c6c6c6;
    // border-radius: 13px;
    // padding-left: 10px;

    // padding-bottom: 15px;
    vertical-align: middle;

    & > * { pointer-events: none; }//for FastClick - https://github.com/ftlabs/fastclick/issues/60#issuecomment-12542481


    &:first-child{
        border-top-left-radius: 13px;

            @media (min-width:980px){
                border-bottom-left-radius:13px;

            }

            @media (min-width:1320px){

            }
        // border-left: 0;
    }
    &:last-child{

        border-right:1px solid #c6c6c6;
        border-top-right-radius: 13px;
        // border-bottom-right-radius:13px;

        @media (min-width:980px){

        border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius:0;
        }

        @media (min-width:1320px){

        }
    }


}


.donateform-amounts-item-background{

    .donateform-amounts-item:first-child &{
        border-top-left-radius: 13px;

            @media (min-width:980px){
                border-bottom-left-radius:13px;

            }

            @media (min-width:1320px){

            }
        // border-left: 0;
    }
    .donateform-amounts-item:last-child &{

        border-top-right-radius: 13px;
        // border-bottom-right-radius:13px;

        @media (min-width:980px){

            border-top-right-radius: 0;
            border-bottom-right-radius:0;
        }

        @media (min-width:1320px){

        }
    }


}

.donateform-amounts-item-background, .donateform-amounts-other-background{

    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 50px;
    margin:-1px;
    z-index: 1;

    background: rgb(242,109,109); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjI2ZDZkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmNTM1MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg, rgba(242,109,109,1) 0%, rgba(239,83,83,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(242,109,109,1)), color-stop(100%,rgba(239,83,83,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(242,109,109,1) 0%,rgba(239,83,83,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(242,109,109,1) 0%,rgba(239,83,83,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(242,109,109,1) 0%,rgba(239,83,83,1) 100%); /* IE10+ */
    background: linear-gradient(135deg, rgba(242,109,109,1) 0%,rgba(239,83,83,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26d6d', endColorstr='#ef5353',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */


        opacity: 0;

        transition-property: opacity;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);


    @media (min-width:980px){
        height: 57px;
    }

    @media (min-width:1320px){

    }


    .donateform-amounts-is-active &{

        opacity:1;


    }


}

.donateform-amounts-item-inner{


position: relative;
z-index: 2;
    font-size: 17px;

        transition-property: color;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);


        @media (min-width:980px){
            font-size: 25px;
        }

        @media (min-width:1320px){

        }

    // @include font-Univers-Roman;
    color:#ef4e4e;
    text-align: center;



    .donateform-amounts-is-active &{
        color:#fff;
    }

    input{
        // position: absolute;
        // left:-999px;
        @include hidden;
    }


}

.donateform-amounts-other{

    display: inline-table;
    table-layout: fixed;
    position: relative;
    width: 100%;
    z-index: 2;
    cursor: pointer;

    & > * { pointer-events: none; } //for FastClick - https://github.com/ftlabs/fastclick/issues/60#issuecomment-12542481


        @media (min-width:980px){
    width: 25%;
        right:1px;
    // left:-1px;

    float: right;
        }

        @media (min-width:1320px){

        }
}


.donateform-amounts-other-inner{

    display: table-cell;
    vertical-align: middle;
    // border-left:1px solid #c6c6c6;
    border:1px solid #c6c6c6;
    background-color: #fff;
    position: relative;
    border-top: 0;
    // overflow: hidden;

    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;

    @media (min-width:980px){
        border-top:1px solid #c6c6c6;
        border-bottom-left-radius: 0;

        border-top-right-radius: 13px;
        border-bottom-right-radius: 13px;
    }

    @media (min-width:1320px){

    }

}

.donateform-amounts-other-background{
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;

    @media (min-width:980px){
        border-bottom-left-radius: 0;

        border-top-right-radius: 13px;
        border-bottom-right-radius: 13px;
    }

    @media (min-width:1320px){

    }
}


.donateform-amounts-other-inner2{

    position: relative;

}


.donateform-amounts-other-dollar{

    position: absolute;
    left:10px;
    top:0;
    line-height: 46px;

    width: 15px;
    font-size: 17px;
    z-index: 1;

    // @include font-Univers-Roman;
    color:#ef4e4e;
    text-align: left;

        transition-property: color;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);


    .donateform-amounts-is-active &{
        color:#fff;
    }


    @media (min-width:980px){
        font-size: 25px;
        width: 25px;
        line-height: 53px;
        left:20px;

    }

    @media (min-width:1320px){

    }

}

.donateform-amounts-other-field{

    position: relative;
    // left: 0px;
    // right: 0px;
    // top: 0px;
    // bottom: 0px;
    z-index: 2;

    input{
        pointer-events: auto; //undo for FastClick - https://github.com/ftlabs/fastclick/issues/60#issuecomment-12542481

        border:0;
        margin:0;
        padding:0;
        // padding-top: 2px;
        padding-left: 25px + 10px;
        padding-bottom: 3px;

        padding-top: 10px;
        padding-bottom: 10px;

        width: 100%;
        text-align: left;
        height: 48px;
        line-height: 28px;
        font-size: 17px;

        background:transparent;

        // @include font-Univers-Roman;
        color:#ef4e4e;

        -moz-appearance:textfield;

        // border:1px solid transparent;


        border-bottom-left-radius:13px;

        border-bottom-right-radius:13px;

        transition-property: color;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);



        &:focus{
            outline: 0;
            // border-color:#ef4e4e;
        }




        @media (min-width:980px){
            height:55px;
            line-height: 35px;
            font-size: 25px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 30px + 10px;

            border-top-right-radius: 13px;

            border-bottom-left-radius:0;


        }

        @media (min-width:1320px){

        }

        .donateform-amounts-is-active &{
            color:#fff;
        }

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }


        @include placeholder {

            color:#c6c6c6;
            // padding-top: 3px;
            transition-property: color;
            transition-duration: .2s;
            transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);

            // height: 55px;
            // line-height: 55px;
            // padding-top:0;
            // padding-bottom:0;

            .donateform-amounts-is-active &{
                color:#fad1d1;

            }

        }


    }




}


.donateform-amounts-other-radio{
    position: absolute;
    left:-9999px;
}


.donateform-infodisclaimers{

text-align: center;

}

.donateform-infodisclaimers-breakdown{

    display: inline-table;
    vertical-align: top;
    text-align: left;
    margin-bottom: 30px;

}

.donateform-infodisclaimers-breakdown-copy{

display: table-cell;
vertical-align: top;
padding-left: 10px;

    @media (min-width:980px){
        // padding-left: 15;
    }

    @media (min-width:1320px){

    }

}

.donateform-infodisclaimers-breakdown-icon{



width: 24px;

display: table-cell;
vertical-align: top;

    @media (min-width:980px){
width: 33px;

    }

    @media (min-width:1320px){

    }

    img{
        width: 100%;
        height: auto;
    }

}


.donateform-infodisclaimers-information{
    margin-bottom: 20px;

    // @include font-Univers-Roman();
    font-size: 13px;

        @media (min-width:980px){
            font-size: 14px;
        }

        @media (min-width:1320px){

        }

    p {
        margin-bottom: 10px;
        color:#aaaaaa;

        @media (min-width: 980px) {
            margin-bottom: 3px;
        }
    }


}

.donateform-infodisclaimers-disclaimer{

    // @include font-Univers-Roman();
    font-size: 13px;

        @media (min-width:980px){
            font-size: 14px;
        }

        @media (min-width:1320px){

        }

        p{
            color:#c6c6c6;
        }
}


.donateform-infodisclaimers-inner{



}













.donateform-options{

    // border-radius: 13px;
    // overflow: hidden;

    @include clearfix;
    margin-bottom: 25px;

    text-align: center;

        @media (min-width:980px){
            margin-bottom: 40px;
        }

        @media (min-width:1320px){

        }


}

.donateform-options-list{

    display: inline-table;
    table-layout: fixed;
    // height: 50px;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    // border-collapse: collapse;
    // border-style: hidden;


    &.donateform-options-list--solo{
        @media (min-width:980px){
            width: 50%;
        }
    }



        @media (min-width:980px){
            // height: 57px;
            // width: 75%;
            // float: left;
        }

        @media (min-width:1320px){

        }


}


.donateform-options-item{

    display: table-cell;
    // overflow: hidden;
    width: 100%;
    // border:1px solid #c6c6c6;
    position: relative;
    border-left: 0;
    background-color: #fff;
    padding-bottom: 3px;
    cursor: pointer;
    // border-left:1px solid #c6c6c6;
    // border-radius: 13px;
    // padding-left: 10px;


    border: 1px solid #c6c6c6;
    border-left: 0;

    border-top-right-radius: 13px;
    border-bottom-right-radius:13px;


    // padding-bottom: 15px;
    vertical-align: top;

    & > * { pointer-events: none; }//for FastClick - https://github.com/ftlabs/fastclick/issues/60#issuecomment-12542481

    &:first-child{
        border-top-left-radius: 13px;
        border-bottom-left-radius:13px;
        border-left:1px solid #c6c6c6;

        border-top-right-radius: 0;
        border-bottom-right-radius:0;


        .donateform-options-list--solo &{
            border-top-right-radius: 13px;
            border-bottom-right-radius:13px;

        }
    }
    &:last-child{


        @media (min-width:980px){

        // border-right: 0;
            // border-top-right-radius: 0;
            // border-bottom-right-radius:0;
        }

        @media (min-width:1320px){

        }
    }


    input{
        position: absolute;
        left:-9999px;
    }


}


.donateform-options-item-background{

    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    // height: 50px;
    bottom: 0;
    margin:-1px;

    z-index: 1;

    background: rgb(242,109,109); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjI2ZDZkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmNTM1MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg, rgba(242,109,109,1) 0%, rgba(239,83,83,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(242,109,109,1)), color-stop(100%,rgba(239,83,83,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(242,109,109,1) 0%,rgba(239,83,83,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(242,109,109,1) 0%,rgba(239,83,83,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(242,109,109,1) 0%,rgba(239,83,83,1) 100%); /* IE10+ */
    background: linear-gradient(135deg, rgba(242,109,109,1) 0%,rgba(239,83,83,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26d6d', endColorstr='#ef5353',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */


        transition-property: opacity;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);






    border-top-right-radius: 13px;
    border-bottom-right-radius:13px;


    vertical-align: middle;



    .donateform-options-item:first-child &{
        border-top-left-radius: 13px;
        border-bottom-left-radius:13px;

    border-top-right-radius: 0;
    border-bottom-right-radius:0;

        .donateform-options-list--solo &{
            border-top-right-radius: 13px;
            border-bottom-right-radius:13px;

        }

    }


    .lt-ie9 &{
        height: 600px;
        display: none;
    }


    .modern &{
        filter:none;
        opacity:0;
    }

    .donateform-options-is-active &{
        display: block;

        .lt-ie9 &{

            display: block;
        }

        .modern &{

            opacity:1;

        }
    }


}

.donateform-options-item-inner{


position: relative;
z-index: 2;
    font-size: 17px;
    padding:10px 20px;

        transition-property: color;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);


        @media (min-width:980px){
            font-size: 25px;
            padding: 20px 20px;
        }

        @media (min-width:1320px){

        }

    color:#ef4e4e;
    text-align: center;

    .donateform-options-is-active &{
        color:#fff;
    }



}








.donateform-options-item-title{


    font-size: 20px;
    // @include font-Univers-Bold;
    line-height: 1em;
    margin-bottom: 5px;

    @media (min-width:980px){
        font-size: 30px;
    }

    @media (min-width:1320px){

    }
}


.donateform-options-item-subtitle{

font-size: 14px;
    // @include font-Univers-Roman;
    line-height: 1em;

    margin-bottom: 5px;

    @media (min-width:980px){
        font-size: 17px;
    }

    @media (min-width:1320px){

    }

}



.donateform-options-item-description{

    font-size: 15px;

    color:#5d5d5d;
    margin-bottom: 20px;

        transition-property: color;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);



    @media (min-width:980px){
        font-size: 20px;

    }

    @media (min-width:1320px){

    }

    .donateform-options-is-active &{
        color:#fff;
    }



}

.donateform-options-item-icon{

    max-width: 180px;
    margin:0 auto;

}


.donateform-options-item-icon-inner{

    overflow: hidden;
    height: 0;
    padding-bottom: 50%;
    position: relative;

    img{
        width: 100%;
        height: auto;
        position: absolute;
        top:0;
        left:0;

        .donateform-options-is-active &{

            position: relative;
            margin-top: -50%;

        }

    }

}







.donateform-paymentmethods{

    margin-bottom: 10px;

        @media (min-width:980px){
            margin-bottom: 10px;
        }

        @media (min-width:1320px){

        }

}

.donateform-paymentmethods-inner{



}


.donateform-paymentmethods-list{

    text-align: center;

}


.donateform-paymentmethods-item{


    display: block;

    margin-bottom: 15px;

    @media (min-width:980px){

        display: inline-block;
        margin: 0 10px;
        margin-bottom: 20px;
    }

    @media (min-width: 980px) {

    }

    @media (min-width:1320px){

    }

}







.donateform-cta{

  text-align: center;

}



.donateform-background{
      @media (min-width:980px){

   position: absolute;
    left:0;
    bottom:0;
    right:0;
    z-index: 0;

      }

      @media (min-width:1320px){

      }

}
.donateform-background-inner{

 }



.donateform-background-image-box{

    // max-width: 1920px;
    height: 100%;
    text-align: left;

    height:240px;

      @media (min-width:980px){
    height: 540px;
    margin-left: -90px;

      }

      @media (min-width:1320px){

      }

    img{
        width: auto;
        height: 100%;
    }

}

.donateform-background-image{

}

.donateform-error{



    color: #ff3b3b;
    // display: none;
    font-size: 14px;
    // @include font-Univers-Roman;
    text-align: center;
    display: none;
    margin-bottom: 25px;


        @media (min-width:980px){
            margin-bottom: 40px;
        }



}

.donateform-error-inner{



}

