$emergencybanner-height-mobile: 71px;
$emergencybanner-height-tablet: 110px;

.emergencybanner {
    display: block;
	height: $emergencybanner-height-mobile;
	position: relative;
	overflow: hidden;
    // z-index: 5;
    z-index: $z-index-emergencybanner;

	@media (min-width: 980px) {
		height: $emergencybanner-height-tablet;
	}
}


.emergencybanner-image-box {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    position: absolute;
    height: $emergencybanner-height-mobile;

    @media (min-width: 980px) {
        margin-top: 0;
        position: absolute;
        width: 100%;
        height: $emergencybanner-height-tablet;
    }
}


.emergencybanner-image-mobile {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    z-index: 1;

    @media (min-width: 768px) {
        display: none;
    }
}

// .emergencybanner-image-tablet {
//     position: absolute;
//     top: 0;
//     display: none;
//     width: 100%;
//     z-index: 1;

//     @media (min-width: 768px) and (max-width: 1259px) {
//         display: block;
//     }
// }

.emergencybanner-image-desktop {
    position: absolute;
    top: 0;
    display: none;
    @media (min-width: 768px) {
        display: block;
    }
}


.emergencybanner-image-frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    background-color: rgb(48,48,50); // IE8 fallback
    background-color: rgba(48,48,50,0.6);
    border: 5px solid rgb(204,0,0); // IE8 fallback
    border: 5px solid rgba(204,0,0,0.4);

    -moz-border-image: -moz-linear-gradient(left, rgba(226,88,88,0.4) 0%, rgba(204,0,0,0.4) 100%);  
    -webkit-border-image: -webkit-linear-gradient(left, rgba(226,88,88,0.4) 0%, rgba(204,0,0,0.4) 100%);  
    border-image: linear-gradient(to right, rgba(226,88,88,0.4) 0%, rgba(204,0,0,0.4) 100%);  
    border-image-slice: 1; 


    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; // IE8
    .modern & {
        filter: none; // Don't affect IE9+
    }

    @media (min-width: 980px) {
        border-width: 10px;
    }
}


.emergencybanner-content {
	display: table;
	height: $emergencybanner-height-mobile;
	//width: 100%;
    position: relative;
    z-index: 2;
    padding-left: 15px;
    padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	max-width: 480px;

	border: 5px solid transparent;

	@media (min-width: 980px) {
		border-width: 10px;
		height: $emergencybanner-height-tablet;
		max-width: none;
	}
}

.emergencybanner-media,
.emergencybanner-text,
.emergencybanner-cta {
	display: table-cell;
	vertical-align: middle;
}

.emergencybanner-cta {
	display: none;

	@media (min-width: 980px) {
		display: table-cell;
		padding-left: 30px;
	}
}

.emergencybanner-cta-button {

}


.emergencybanner-icon {
	width: 25px;
	margin: 0 3px 0 0;

	@media (min-width: 980px) {
		width: 50px;
		margin: 0 10px 0 0;
	}
}


.emergencybanner-text {

	font-size: 16px;
	line-height: 1;

	@media (min-width: 980px) {
		font-size: 24px;
	}

	@media (min-width: 1260px) {
		font-size: 35px;
	}

}

.emergencybanner-text-cta {
    display: inline;
    color: #fff;
    text-transform: uppercase;
    @include font-Univers-Black;
    letter-spacing: -0.02em;

    .copy-white & {
        color: #fff;
        a:hover & {
            color: #ccebff;
            @media (min-width: 980px) {
                color: #fff;
            }
        }

    }
    .copy-white a:hover & {
        color: #ccebff;
    }
}

.emergencybanner-text-cta-label {
    // display: inline-block;
    display: inline;
    // text-decoration: underline;
    transition: color 0.2s ease;

    &:after {
        content: "";
        display: inline;
        width: 0;
        padding-right: 1em;
        padding-left: 0.25em;

        @media (min-width: 980px) {
        	display: none;
        }
    }
}

.emergencybanner-text-cta-arrow {
    display: inline-block;
    width: 0;
    //The magic to avoid the arrow div wrapping.
    position: relative;
    vertical-align: middle;
    top: -2px;
    transition: color 0.2s ease;

    i {
        vertical-align: middle;
        line-height: 1;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -0.5em;
        /* Negative Half Icon Height */
        margin-left: -1em;
        /* Negative Icon Width */
        @include fonticon-arrow;
        width: 1em;
        font-size: 1em;
    }

    @media (min-width: 980px) {
    	display: none;
    }
}