.faq {
  background-color: #fff;
}

.faq-inner {
    // padding-left: 20px;
    // padding-right: 20px;
    @include fp(padding-top, 38, 74);
    @include fp(padding-bottom, 50, 120);

    @include fp(max-width, 280,980);


  margin:0 auto;
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        // padding-left: 40px;
        // padding-right: 40px;
    }


    @media (min-width:1024px){

      @include fp(max-width, (1024-100),1328, $start:1024);


    }
}

.faq-title{
    text-align: center;
    @include fp(font-size, 20,38);
    line-height: 1.2;
    @include font-Halis-Bold;
    @include fp(margin-bottom, 10,20);
}

.faq-content{
    @include fp(margin-bottom, 30,40);
}

.faq-button{
    text-align: center;
}

.faq-button-seeall {
  position: relative;
    display: inline-block;
    vertical-align: top;
    @include fp(font-size, 14, 18);
    text-transform: uppercase;
    @include font-Halis-Black;
    color: #666666;
    padding: 1em 1em;
    text-align: center;
    max-width: 300px;
    width: 100%;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        border: 1px solid #666666;
        transition: border 0.2s ease;
    }
        &:focus:before,
        &:hover:before {
            border-width: 3px;
        }
    &:focus,
    &:hover {
        color: #666666;
        text-decoration: none;
    }

    &.is-wide{
        max-width: 422px;
    }
}


.faq-block{
    @include fp(padding-bottom, 45,75);

    &:last-child{
        padding-bottom: 0;
    }
}
