
.faq-section-category-list {
    @include clearfix;
    background-color: #fff;
    // padding: 20px;
    @media (min-width: 721px) {}
    @media (min-width: 1000px) {
        // padding: 60px;
    }
    @media (min-width: 1200px) {}
    @media (min-width: 1400px) {}
}

.faq-section-category {
    border-top: 1px solid #d5d9d8;
    &:last-child {
        margin-bottom: 0;
        border-bottom: 1px solid #d5d9d8;
    }
}

.faq-section-category-content {
    // &.js-slide-hidden {
    //     position: absolute;
    //     left: -9999px;
    //     top: -9999px;
    //     @media (min-width: 1024px) {
    //          position: relative;
    //         left: 0;
    //         top: 0;
    //     }
    // }
}

.faq-section-category-content-inner {
    border-top: 1px solid #d5d9d8;
}

.faq-section-category-inner {}

.faq-section-category-title {
    display: table;
    width: 100%;
    cursor: pointer;
    padding-top: 25px;
    padding-bottom: 25px;
}

.faq-section-category-title-copy {
    font-size: 23px;
    line-height: 28px;
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
    color: #464646;
    @media (min-width: 721px) {}
    @media (min-width: 1000px) {
        font-size: 25px;
        line-height: 31px;
    }
    @media (min-width: 1200px) {}
    @media (min-width: 1400px) {}
}

.faq-section-category-title-toggle {
    font-size: 12px;
    line-height: 14px;
    color: #000;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}

.faq-section-category-title-toggle-copy {
    display: inline-block;
}

.faq-section-category-title-toggle-icon {
    display: inline-block;
    color: #cc0033;
}

.faq-section-category-title-toggle-collapse {
    display: none;
    icon {
       // @include fonticon-collapse;
    }
    .is-accordion-category-open & {
        display: block;
    }

    .is-open & {
        display: block;
    }
}

.faq-section-category-title-toggle-expand {
    display: block;
    icon {
        //@include fonticon-expand;
    }

    .is-accordion-category-open & {
        display: none;
    }

    .is-open & {
        display: none;
    }
}


.faq-section-reed{
    // background-color: #f2f4f3;
    // padding:40px;
    // margin-bottom: 10px;
    // margin-bottom: 25px;

    border-top: 1px solid rgba(0,0,0,0.15);
    position: relative;
    display: block;
    &:before {
        position: absolute;
        content: '';
        display: block;
        height: 0;
        top:0;
        //border-top: 1px solid #d6d6d6;
        left:0;
        right:0;

          // @media (min-width:768px){

          //   margin-right: -500px;
          //   padding-right: 500px;

          // }

          @media (min-width:1024px){
                //border-top: none;

          }
    }

    &:last-child{
        border-bottom: 1px solid rgba(0,0,0,0.15);
    }

    &:last-child:after {
        position: absolute;
        content: '';
        display: block;
        height: 0;
        bottom:0;
        //border-top: 1px solid #d6d6d6;
        left:0;
        right:0;

          // @media (min-width:768px){

          //   margin-right: -500px;
          //   padding-right: 500px;

          // }

          @media (min-width:1024px){
                border-top: none;

          }

    }






}




.featurepanel-list-inner{
  @media (min-width:1024px){

    display: inline-block;
    vertical-align: top;
    margin-bottom: -56px;
    width: 100%;
    margin-right: -30px;

  }
}

.featurepaen-reed-innerlaccordion {
    // padding-top:25px;

}

.faq-section-reed-list {}

.faq-section-reed-title {
    display: table;
    width: 100%;
    cursor: pointer;
}

.faq-section-reed-title-copy {

    // @include font-Halis-Bold;
    @include font-Halis-Light;
    display: table-cell;
    vertical-align: top;
    //padding: 30px 0;

    color: #202021;
    // font-size: 20px;
    // line-height: 20px;



    @include fp(font-size, 18, 20);
    padding: 15px 0;
    line-height: 1;
    //@include font-Verdana-Regular;

    transition:color 0.2s ease;
      @media (min-width:1024px){
         padding: 25px 0;

      }

    // @media (min-width: 768px) {
    //     padding: 30px 0;
    //     font-size: 30px;
    //     line-height: 38px;
    // }

    .is-accordion-reed-open & {
        //color: #007bc3;
        @include font-Halis-Bold;
    }
    .faq-section-reed-title:focus &,
    .faq-section-reed-title:hover & {
        //color: #007bc3;
    }
}

.faq-section-reed-title-toggle {
    display: table-cell;
    vertical-align: middle;
    //padding-top: 25px;


    color: #000;
    line-height: 1;
    text-align: right;
    white-space: nowrap;


    @media (min-width: 1024px) {
        //display: none;
    }
}

.faq-section-reed-title-toggle-collapse {
    color: #007bc3;
    display: none;
    span {
        //@include fonticon-collapse;
        font-size: 23px;

        @media (min-width: 768px) {
            // @include icon-accordion-reed-title-toggle-collapse;
        }

    }

    .is-accordion-reed-open & {
        display: inline-block;
        line-height: 16px;
        margin-left: 16px;


    }

    // .is-open & {
    //     display: inline-block;
    //     line-height: 16px;
    //     margin-left: 16px;


    // }
}

.faq-section-reed-title-toggle-expand {
    color: #007bc3;
    display: inline-block;
    line-height: 16px;
    margin-left: 16px;
    span {
        //@include fonticon-expand;
        font-size: 23px;

        @media (min-width: 768px) {
            // @include icon-accordion-reed-title-toggle-expand;
        }
    }
    .is-accordion-reed-open & {
        display: none;
    }

    // .is-open & {
    //     display: none;
    // }
}

.faq-section-reed-content {
        display: none;



    // &.js-slide-hidden {
    //     position: absolute;
    //     left: -9999px;
    //     top: -9999px;
    //     @media (min-width: 1024px) {
    //          position: relative;
    //         left: 0;
    //         top: 0;
    //     }
    // }
}

.faq-section-reed-content-inner {
    @include fp(padding-bottom, 10, 10);

    // margin-top: 14px;
    @include clearfix();

    @media (min-width: 1024px) {
        max-width: 980px;
    }
}

.faq-section-reed-content-inner2 {
    //padding-bottom: 20px; // so margins collapse

    @media (min-width: 768px) {
        //padding-bottom: 20px; // so margins collapse
    }

    .richtext{
        margin-bottom: 0;
    }
}


// .faq-section-more{
//   width: 100%;
//   padding-bottom: 20px;
//   @media (min-width:1024px){
//     float: right;
//     width: 130px;
//     padding-bottom: 0;
//     position: relative;
//   }


// }


.faq-section-more{
    display: none;
    background-color: #6dbae7;
    transition:background-color 1.5s ease;
    &.is-active{
        background-color: #fff;
    }
}

.faq-section-item-content-text-button{
    position: absolute;
    top: 0;
    display: table;
    width :100%;

    @include font-Halis-Black;
    @include fp(font-size, 14,16);
    line-height: 1;
    text-align: center;

    @include fp(padding-top, 13,13);

    @include fp(padding-bottom, 13,13);

    @include fp(padding-right, 19,20);

    @include fp(padding-left, 19,20);

    text-transform: uppercase;
    position: relative;
    background-color: #0a7fc3;
    color:#ffffff;

      @media (min-width:1024px){
            right: -30px;
      }

    &:focus,
    &:hover{

      background-color: #e2e2de;

      color:#202021;
      text-decoration: none;
    }
}

.faq-section-item-content-text-button-copy{
  display: table-cell;
  text-align: left;
  vertical-align: middle;


}
.faq-section-item-content-text-button-icon{
  display: table-cell;
    width: 25px;
    font-size: 23px;

    icon{
      @include fonticon-arrowline-right(top);
    }
}

.faq-section-item-content-text-button-copy-desktop{
  display: none;
  @media (min-width:1024px){
    display: block
  }

}


.faq-section-item-content-text-button-copy-mobile{
    display: block;
  @media (min-width:1024px){
    display: none
  }
}
