.faqs {
	@media (min-width: 1024px) {
		max-width: 1040px;
		margin: 0 auto;
	}
}

.faqs-title {
	text-align: center;
	margin-bottom: 20px;

	@media (min-width: 768px) {
		margin-bottom: 30px;
	}
}

.faqs-inner {
	position: relative;

	&:before,
	&:after {
		position: absolute;
		content: '';
		display: block;
		height: 0;
		border-top: 1px solid #d6d6d6;
		width: 200%;
		margin-left: -50%;
	}

	&:after {
		bottom: 0;
	}


	
}