.featurepanel {

}


.featurepanel {
  background-color: #f1f1f1;
}

.featurepanel-inner {
    // padding-left: 20px;
    // padding-right: 20px;
    //@include fp(padding-top, 38, 74);
    @include fp(padding-bottom, 50, 120);

    @include fp(max-width, 280,1328);


  margin:0 auto;
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        // padding-left: 40px;
        // padding-right: 40px;
    }


    @media (min-width:1024px){

      @include fp(max-width, (1024-100),1328, $start:1024);


    }
}

