// filter
// ----------------------------
//
//
// // Fields
// ----------------------------
//


.filter {
  background-color: #f1f1f1;
  position: relative;
}


.filter-results-loading{
position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(#000,0.8);
  padding-top: 50px;
  text-align: center;
  color:#fff;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition:opacity 0.2s ease, visibility 0s ease 0.2s;

  animation-name:loadingtextanimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;


  .is-loading &{
    opacity: 1;
    visibility: visible;
    transition:opacity 0.2s ease, visibility 0s ease 0s;
  }
}

.filter-inner {
  // @include fp(padding-top, 50, 80);
  // @include fp(padding-bottom, 50, 80);
  // @include fp(padding-left, 20, 50);
  // @include fp(padding-right, 20, 50);
  position: relative;
  display: table;
  width: 100%;
  @include fp(max-width, 280, 1328);
  margin: 0 auto;

  @media (min-width:1024px) {
    @include fp(max-width, (1024-100), 1328, $start: 1024);
  }

  @media (min-width:768px) {
  }

  @media (min-width:1024px) {
    // max-width: 1428px;
  }
}

.filter-control {
  @include fp(margin-bottom, 40, 60);
}

.filter{
  .is-filter-industry{
    select{
      .sod_label{
        border-right: 1px solid #d2d2d2 !important;
      }
    }
  }

  .is-filter-main-keywords{
    input{
      &[disabled] {
        background-color: #f4f4f4 !important;
        border-top: none !important;
        border-botoom: none !important;
        border-left: 1px solid #d2d2d2 !important;
        border-right: 1px solid #d2d2d2 !important;
        color: #b2b2b2;

        @media (min-width:1024px) {
          border-left: none !important;
          border-right: none !important;
          border-top: 1px solid #d2d2d2 !important;
          border-bottom: 1px solid #d2d2d2 !important;

        }
      }


      &:focus{
        @media (min-width:1024px) {
          border-left:  1px solid #202021 !important;
          border-right:  1px solid #202021 !important;
          border-top: 1px solid #202021 !important;
          border-bottom: 1px solid #202021 !important;

        }
      }
    }
  }



}
