.footer{

background-color: #202021;

    @media print{
      display: none;
    }


}


.footer-decoration{
display: table;
width: 100%;
table-layout: fixed;
height: 8px;
position: relative;
z-index: 1;
border-bottom: 3px solid #fff;

  @media (min-width:768px){

  }

  @media (min-width:1024px){
height: 10px;

  }

&:before{
content:"";
display: table-cell;
background-color: #007bc3;
border-right: 2px solid #fff;

}
&:after{
content:"";
display: table-cell;
background-color: #202021;
border-left: 1px solid #fff;
}

}

.footer-inner{


    // padding-left: 20px;
    // padding-right: 20px;
    @include fp(padding-top, 47, 100);
    @include fp(padding-bottom, 47, 150);
// max-width: 500px;



    @include fp(max-width, 280,1228);
  margin:0 auto;

    // @media (min-width:1024px){

    //   @include fp(max-width, 913,1328, $start:1024);

    // }



  // margin:0 auto;
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        // padding-left: 40px;
        // padding-right: 40px;


      @include fp(max-width, (1024-100),1228, $start:1024);

  display: table;
  width: 100%;
  // max-width: (1328px + 80px);
    }



}


.footer-logosocial{

border-bottom: 1px solid #343434;
padding-bottom: 30px;

  @media (min-width:768px){

  }

  @media (min-width:1024px){

border-bottom: none;

display: table-cell;
vertical-align: top;
width: 30%;
border-right: 1px solid #343434;
// padding-right: 100px;
padding-right: 40px;
padding-bottom: 0;
  }


}



.footer-logo{
max-width: 284px;
  margin:0 auto;
  display: none;
  margin-bottom: 50px;

    @media (min-width:768px){

    }

    @media (min-width:1024px){
      margin-left: 0;
      display: block;
    }

}

.footer-logo-inner{
  img{
    width: 100%;
  }
}




.footer-social{

max-width: 284px;
  margin:0 auto;
  text-align: center;

    @media (min-width:1024px){
      margin-left: 0;
    }



}


.footer-social-list{

display: inline-block;
margin-right: -40px;


}


.footer-social-item{

display: inline-block;
vertical-align: top;
margin-bottom: 10px;
margin-right:40px;
&:focus,
&:hover{
  text-decoration: none;
}
// & + &{
// }


}

.footer-social-item-copy{

font-size: 14px;
@include font-Halis-Black;
text-transform: uppercase;
  color:#cccccc;
display: inline-block;
vertical-align: top;

transition:color 0.2s ease;
a:focus &,
a:hover &{
  color:#6dbae7;
}


  @media (min-width:768px){

  }

  @media (min-width:1024px){
    font-size: 15px;
  }


}

.footer-social-item-icon{

color:#6dbae7;
display: inline-block;
vertical-align: top;
padding-right: 17px;

icon{
  font-size: 22px;
  .is-twitter &{
    @include fonticon-twitter;
  }
  .is-youtube &{
    @include fonticon-youtube;
  }
}

}




.footer-login{
padding-top: 30px;
padding-bottom: 30px;

border-bottom: 1px solid #343434;
padding-bottom: 30px;


  @media (min-width:768px){

  }

  @media (min-width:1024px){

display: table-cell;
vertical-align: top;
width: 30%;
padding-bottom: 0;
border-bottom: 0;
padding-top: 0;

  }


}


.footer-login-inner{

// max-width: (240px + 40px);
max-width: 400px;
  margin:0 auto;
  padding-left: 20px;
  padding-right: 20px;


    // @include fp(max-width, 280,1328);


  @media (min-width:768px){

  }

  @media (min-width:1024px){
    max-width: (240px + 40px);

  }

}


.footer-login-title{


font-size: 14px;
color:#cccccc;

@include font-Halis-Black;
text-transform: uppercase;
margin-bottom: .5em;


  @media (min-width:768px){

  }

  @media (min-width:1024px){
    font-size: 15px;
  }

}

.footer-login-form{



}


.footer-login-row-item-field{

  input{
    background-color: #1a1a1b;
    border:1px solid #1a1a1b !important;
    height: 45px !important;
    color:#ffffff;
    transition:border 0.2s ease;
    font-size: 14px !important;


      @media (min-width:768px){

      }

      @media (min-width:1024px){
        font-size: 16px !important;
      }
    &:focus{
      border:1px solid #fff !important;

    }
  }

}


.footer-login-row-item-field-button{

  color:#6dbae7;
  @include font-Halis-Black;
  font-size:14px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 100%;
  height: 45px;
  line-height: 1;
  position: relative;


    padding: 1em 1em;
    text-align: center;
    max-width: 422px;
    width: 100%;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        border: 1px solid #6dbae7;
        transition: border 0.2s ease;
    }

    &:focus:before,
    &:hover:before {
        border-width: 3px;
    }

    &:focus,
    &:hover {
        color: #6dbae7;
        text-decoration: none;
    }


    @media (min-width:768px){

    }

    @media (min-width:1024px){
      font-size: 16px;
    }
}

.footer-login-row-item-label{



}

.footer-login-row-item-list{

margin-bottom: -7px;

}

.footer-login-row-item{

margin-bottom: 7px;

}


.footer-menus{



  @media (min-width:768px){

padding-top: 30px;
  }

  @media (min-width:1024px){
display: table-cell;
vertical-align: top;
padding-left: 20px;
padding-top: 0;
padding-bottom: 0;

  }


}

.footer-menu-column-list{

margin-bottom: -30px;


  @media (min-width:768px){

display: table;
width: 100%;
table-layout: fixed;
  margin:0 auto;
  }

  @media (min-width:1024px){

  }

}

.footer-menu-column-item{

padding-bottom: 30px;
padding-top: 30px;

& + &{
border-top: 1px solid #343434;

  @media (min-width:768px){
    border-top: 0;
  }

  @media (min-width:1024px){

  }

}



  @media (min-width:768px){

display: table-cell;
vertical-align: top;
border-bottom: 0;
padding-top: 0;
padding-bottom: 0;
  }

  @media (min-width:1024px){

  }


}



.footer-menu{



}



.footer-menu-inner{



}


.footer-menu-list{

margin-bottom: -25px;

}



.footer-menu-item{

  display: block;
  position: relative;
  padding-left: 8px;
  margin-bottom: 25px;
  padding-right: 10px;

@include font-Halis-Book;
font-size: 14px;
line-height: 18px;
color:#cccccc;
text-transform: uppercase;

  @media (min-width:768px){

  }

  @media (min-width:1024px){
    font-size: 15px;
    line-height: 19px;
  }

  &:before{
    content:"";
    background-color: #6dbae7;
    width: 3px;
    height: 14px;
    position: absolute;
    left:0;
    top:50%;
    margin-top: -7px;
    opacity: 0;

    transition:opacity 0.2s ease;


  }

  &:focus, &:hover{
      color:#ffffff;
      text-decoration: none;
  }

  &:focus:before, &:hover:before{
    opacity: 1;

  }
}
