

.formset-address{



}


.formset-address-inner{

    padding-left: 20px;
    padding-right: 20px;

}

.formset-address-row1{


    @media (min-width:500px){

        display: table;
        width: 100%;
        table-layout: fixed;

    }


}




.formset-address-unitstreetnumber{

    @media (min-width:500px){
        display: table-cell;
        vertical-align: top;
        padding-right: 10px;
        width: 42%;
    }



}


.formset-address-unitstreet-inner{

    display: table;
    width: 100%;
    table-layout: fixed;

}


.formset-address-unit{

    display: table-cell;
    vertical-align: top;

    padding-right: 10px;

}


.formset-address-streetnumber{


    display: table-cell;
    vertical-align: top;

    padding-left: 10px;


}



.formset-address-streetnumbertype{

    @media (min-width:500px){
        display: table-cell;
        vertical-align: top;
        padding-left: 10px;
    }


}

.formset-address-streetnumbertype-inner{

    display: table;
    width: 100%;
    table-layout: fixed;


}

.formset-address-streetname{

    @media (min-width:500px){
        display: table-cell;
        vertical-align: top;
        padding-right: 10px;
        width: 58%;

    }


}

.formset-address-streettype{

    @media (min-width:500px){
        display: table-cell;
        vertical-align: top;
        padding-left: 10px;
    }


}





.formset-address-row2{



    @media (min-width:500px){

        display: table;
        width: 100%;
        table-layout: fixed;

    }


}




.formset-address-suburb{

    @media (min-width:500px){
        display: table-cell;
        vertical-align: top;
        padding-right: 10px;
    }


}


.formset-address-statepostcode{

    @media (min-width:500px){
        display: table-cell;
        vertical-align: top;
        padding-left: 10px;
        width: 58%;
    }


}

.formset-address-statepostcode-inner{

    display: table;
    width: 100%;
    table-layout: fixed;

}




.formset-address-state{

    display: table-cell;
    vertical-align: top;
    padding-right: 10px;


    @media (min-width:768px){

        width: 58%;

    }

    @media (min-width:1320px){

    }

}


.formset-address-postcode{

    display: table-cell;
    vertical-align: top;
    padding-left: 10px;


}




.formset-address-row3{



    @media (min-width:500px){

        display: table;
        width: 100%;
        table-layout: fixed;

    }



}





.formset-address-country{



    @media (min-width:500px){

        display: table-cell;
        vertical-align: top;

    }



}
