// FORM
// Base form and form layout styles
// ------------------------------
.form {
  &.is-inline {
    position: relative;

    @media (min-width:1024px) {
      display: table;
      width: 100%;
      table-layout: fixed;
    }
  }

  &.is-genericheader-search {

    @media (min-width:1024px) {
      table-layout: auto;
    }
  }
}


// Expandable form - with toggle to expand/collapse
// ------------------------------
.form-expandable {
}

.form-expandable-toggle {
  display: block;
  padding: 10px 20px;
  height: 50px;
  border: 1px solid #d2d2d2;
  background-color: #fff;
  color: #006dbd;
  transition: background-color .2s ease, border-color .2s ease, color .2s ease;

  @media (min-width:768px) {
    height: 62px;
    line-height: 40px;
    padding: 10px 20px;
  }


  &:hover,
  .is-form-expandable-open & {
    background-color: #e2e2de;
    border-color: #e2e2de;
    color: #202021;
    cursor: pointer;
  }


  &.is-focused{
    border-color: #202021;

  }

}

.form-expandable-toggle-inner {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.form-expandable-title {
  display: table-cell;
  vertical-align: middle;
  @include font-Halis-Bold;
  font-size: 14px;
  line-height: 2em;
  text-transform: uppercase;

  @media (min-width:768px) {
    font-size: 16px;
  }

}

.form-expandable-icon {
  display: table-cell;
  vertical-align: middle;
  width: 17px;

  icon {
    font-size: 17px;
    @include fonticon-expand;

    .is-form-expandable-open & {
      @include fonticon-collapse;
    }

  }

}

.form-expandable-content {

  display: none;
  //position: absolute;
  width: 100%;
  left: 0;
  @include fp(padding-top, 24, 40);
  @include fp(padding-bottom, 24, 40);
  @include fp(padding-left, 20, 40);
  @include fp(padding-right, 20, 40);

  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-top: 0;
  //opacity: 0;
 // transform: translateY(-23px);
  transition-property: opacity, transform, visibility;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: 0, 0, 0.5s;
  //visibility: hidden;

  @media (min-width:1024px) {
  }

  // .is-form-expandable-open & {
  //   z-index: $z-index-form-advanced;
  //   opacity: 1;
  //   transition-delay: 0;
  //   visibility: visible;
  //   transform: translateY(0);
  // }
}


// FORM GROUPINGS
// Grouping of a form label and a form control
// ------------------------------
.form-group {
  margin-bottom: 20px;
  position: relative;

  @media (min-width:1024px) {
    margin-bottom: 10px;
  }

  &:last-child {
    //margin-bottom: 0;
  }

  .is-inline > & {
    margin-top: -1px;
    margin-bottom: 0;

    @media (min-width:1024px) {
      display: table-cell;
      vertical-align: top;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &.is-mobile-detached {
    margin-top: 21px;

    @media (min-width:1024px) {
      margin-top: 0;
    }
  }

  &.is-advanced-toggle {
    @media (min-width:1024px) {
      width: 250px;
      position: static;
    }
  }


  &.is-joined{
    @media (min-width:1024px) {
      display: table;
      width: 100%;
    }

  }

  &.is-filter-button{

    @media (min-width:1024px) {
      width: 60+20px;
      padding-right: 20px;
    }

  }

  &.is-filter-industry{

    @media (min-width:1024px) {
      width: 360px;
    }

  }
}


.form-goup-label{
    @media (min-width:1024px) {
      display: table-cell;
      width: 180px;
      border-left: 1px solid #e3e3e3;
      border-bottom: 1px solid #e3e3e3;
      border-top: 1px solid #e3e3e3;
      vertical-align: middle;
      text-align: left;
      padding-left: 20px;
    }
}


.form-goup-field{
    @media (min-width:1024px) {
      display: table-cell;
    }
}






// FORM LABELS
// ------------------------------
.form-label {
  display: block;
  @include font-Halis-Regular;
  margin-bottom: 4px;
  color: #202021;
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;

  @media (min-width:768px) {
    font-size: 16px;
  }

  .form-goup-label &{

    @media (min-width:768px) {
        margin-bottom: 0;
    }
  }

  .is-indent-from &{

    @media (min-width:1024px) {
      position: absolute;
      top: 18px;
      left: 18px;
      z-index: 2;
    }
  }

  .is-indent-to &{

    @media (min-width:1024px) {
      position: absolute;
      top: 18px;
      left: 18px;
      z-index: 2;
    }
  }

  .is-lowercase &{
    font-size: 15px;

    @include font-Verdana-Regular;
    text-transform: none;
    margin-bottom: 15px;
    @media (min-width:1024px) {
      font-size: 16px;
    }
  }


  &.is-lowercase{
    font-size: 15px;

    @include font-Verdana-Regular;
    text-transform: none;
    margin-bottom: 15px;
    @media (min-width:1024px) {
      font-size: 16px;
    }
  }





.is-meta &{

   @include fp(font-size,14,16);
    line-height: 1.38;

    @include font-Halis-Bold;


    color:#342e2e;
    margin-bottom: 0px;
    text-transform: uppercase;


}




  .is-invalid &{

    color:#d31111;

  }

}


.form-label-hidden{
    display: none;
    @media (min-width:1024px) {
      display: inline-block;
    }

}

.form-label--invisible {
  @include hidden;
}

// FORM CONTROLS - TEXT/TEXTAREA
// ------------------------------
input[type="date"],
input[type="url"],
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #e3e3e3;
    outline: 0;
    border-radius: 0;
    transition: border 0.2s ease;
    @include font-Verdana-Regular;


    // http://stackoverflow.com/a/7655319/1500312
    // Disable Auto Zoom in Input “Text” tag - Safari on iPhone
    // "In summary the answer is: set the font size to at least 16px"

    font-size: 16px;

    // font-size: 13px;

    // @media (min-width: 768px) {
    //   font-size: 14px;
    // }




    .is-filter-main-keywords &{
          border-left: 1px solid #d2d2d2;
          border-right: 1px solid #d2d2d2;

    @media (min-width:1024px) {
          border-top: 1px solid #d2d2d2;
          border-bottom: 1px solid #d2d2d2;
          border-left: none;
          border-right: none;
          font-size: 14px;
       }
    }
}


input[type="date"],
input[type="url"],
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
  color: #202021;
  background-color: #ffffff;


  &:focus {
    border-color: #202021;
    outline: 0;
    position: relative;
    //needed to pop focus border above other overlaping borders
    z-index: 1;
    //needed to pop focus border above other overlaping borders
  }

  &.is-invalid,
  .is-invalid & {
    border-color: #d31111;
    outline: 0;
    background-color: #fff;
  }


  &[disabled] {
    background-color: #f4f4f4 !important;
    color: #b2b2b2 !important;
    cursor: default !important;
    border: 1px solid #e3e3e3 !important;
    opacity: 0.5 !important;
  }

  @include placeholder {
    color: #666;
  }

}

input[type="date"],
input[type="url"],
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="number"] {
    height: 50px;

    @media (min-width:768px) {
    }

    @media (min-width:1024px) {

      height: 55px;
    }

    .is-tall &{

      @media (min-width:1024px) {
        height: 62px;
      }
    }

    .is-indent-from & {
      @media (min-width:1024px) {
        padding-left: 78px;
        z-index: 1;
      }
    }

    .is-indent-to & {
      @media (min-width:1024px) {
        padding-left: 48px;
        z-index: 1;
      }
    }


}

textarea {
  line-height: 20px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  resize: none;
  vertical-align: top;
  height: 233px;

  @include fp(height,233,255);


  // @media (min-width:1320px) {
  //   height: 130px;
  // }

}


.form-field{
  position: relative;

    &.is-narrow{
    @media (min-width:1024px){
      width: 50%;
      padding-right: 10px;
    }
  }




}

.form-field + .form-field{
    margin-top: 15px;
}




.form-meta{


    @include fp(font-size,18,20);
      line-height: 1.38;

      @include font-Halis-Light;


      color:#342e2e;
      margin-bottom: 0px;
      text-transform: none;

    &.is-plain{
      font-size: 13px;

      @media (min-width:1024px){
        font-size: 14px;
      }

    }

}



.form-plaintext{


font-size: 13px;
color:#666666;

  @media (min-width:768px){

  }

  @media (min-width:1024px){
    font-size: 14px;
  }

    // @include fp(font-size,18,20);
    //   line-height: 1.38;

    //   @include font-Halis-Light;


    //   color:#342e2e;
    //   margin-bottom: 0px;
    //   text-transform: none;


}



.form-dollar-input{
    padding-left: 20px!important;

    @media (min-width:1024px){
    padding-left: 30px!important;
  }
}


.form-dollar{

    position: absolute;
    @include fp(font-size,13,14);
    @include fp(top,14,15);
    @include fp(left,15,20);
    z-index: 11;

}



.form-field-countdown{
  font-size: 11px;

padding-top: 5px;
  line-height: 1.538;
  text-align: right;
  @include font-Verdana-Regular;
  color:#666666;


    @media (min-width:768px){

    }

    @media (min-width:1024px){
      font-size: 12px;
    }
}

.form-field-countdown-current{
    @include font-Verdana-Bold;

}


.form-field-countdown-total{
    // @include font-Verdana-Bold;
}


// FORM CONTROLS - DATE
// ------------------------------
input[type=date] {
  &::-webkit-datetime-edit-text,
  &::-webkit-datetime-edit-day-field[aria-valuetext=blank],
  &::-webkit-datetime-edit-month-field[aria-valuetext=blank],
  &::-webkit-datetime-edit-year-field[aria-valuetext=blank] {
    color: #999;
  }
}


// FORM CONTROLS - CHECKBOX/RADIO
// ------------------------------
.form-check {
  //margin-left: -4px;
  display: block;
  margin-top: -5px;
  margin-bottom: -5px;
  position: relative;

  input {
    position: absolute;
    left: -99999em;
    margin:0;
  }

}

// .form-check-svg {
//   width: 29px;
//   height: 24px;
//   position: absolute;
//   top: 3px;
//   left: 11px;
//   z-index: 1;

//   path {
//     stroke-dashoffset: 35.96575164794922px;
//     transition: stroke-dashoffset 0.2s ease;

//     input:checked ~ & {
//       // animation: formcheckanimation 0.4s linear forwards;
//       stroke-dashoffset: 0;
//     }

//   }

// }

.form-check-label {
  transform: rotateZ(0);
  @include icon-form-check-normal;

  input:focus ~ &, .form-checkboxlabel:hover &, .form-check:hover &{
    @include icon-form-check-focused(top);
  }

  input:checked + & {
    @include icon-form-check-checked(top);
  }

  input:focus:checked + & , .form-checkboxlabel:hover input:checked + &, .form-check:hover input:checked + &{
    @include icon-form-check-checked-focused(top);
  }

}


.form-checkboxlabel {
  display: table;
  height: 30px;
}

.form-checkboxlabel-checkbox {
  display: table-cell;
  width: 48px;
  vertical-align: middle;
  @include fp(padding-right, 15,17);
}

.form-checkboxlabel-label {
  @include fp(font-size, 13,14);
  display: table-cell;
  vertical-align: middle;
  line-height: 1.538;
  user-select: none;
  padding-top: 0;
  @include font-Verdana-Regular;
  color: #666666;


  @media (min-width:1024px) {
  }


  a{
    text-decoration: underline;
  }
}






// FORM CONTROLS - CHECKBOX/RADIO
// ------------------------------
.form-radio {
  //margin-left: -4px;
  display: block;
  margin-top: -5px;
  margin-bottom: -5px;
  position: relative;

  input {
    position: absolute;
    left: -99999em;
     margin:0;
 }

}

// .form-radio-svg {
//   width: 29px;
//   height: 24px;
//   position: absolute;
//   top: 3px;
//   left: 11px;
//   z-index: 1;

//   path {
//     stroke-dashoffset: 35.96575164794922px;
//     transition: stroke-dashoffset 0.2s ease;

//     input:checked ~ & {
//       // animation: formcheckanimation 0.4s linear forwards;
//       stroke-dashoffset: 0;
//     }

//   }

// }

.form-radio-label {
  transform: rotateZ(0);
  @include icon-form-radio-normal;

  input:focus ~ & , .form-radiolabel:hover &, .form-radio:hover &{
    @include icon-form-radio-focused(top);
  }

  input:checked + & {
    @include icon-form-radio-checked(top);
  }

  input:focus:checked + & , .form-radiolabel:hover input:checked + &, .form-radio:hover input:checked + & {
    @include icon-form-radio-checked-focused(top);
  }

}


.form-radiolabel {
  display: table;
  height: 30px;
}

.form-radiolabel-radio {
  display: table-cell;
  width: 48px;
  vertical-align: middle;
  @include fp(padding-right, 15,17);
}

.form-radiolabel-label {
  @include fp(font-size, 13,14);
  display: table-cell;
  vertical-align: middle;
  line-height: 1.538;
  user-select: none;
  padding-top: 0;
  @include font-Verdana-Regular;
  color: #666666;


  @media (min-width:1024px) {
  }

  a{
    text-decoration: underline;
  }


}




// FORM VALIDATION STYLES
// ------------------------------
.form-validation {
  display: none;
}

.form-validation-icon {
  display: none;
}

.form-validation-message {
  padding-top: 5px;
  display: block;
  overflow: hidden;
  font-size: 16px;

  .is-valid & {
    color: #80b900;
    display: none;
  }

  .is-invalid & {
    color: #d31111;
  }

}



.form-radio-list{

  &.is-inline{

    @media (min-width:1024px){
      width: 100%;
      display: table;
      table-layout: fixed;
    }
  }
}

.form-radio-item{

&+&{
  margin-top: 16px;
}

  .is-inline &{

    @media (min-width:1024px){
      display: table-cell;
    }
  }

}



.form-row-list{
@include fp(margin-bottom,-25,-40);
}


.form-row{

  @include fp(margin-bottom,25,40);

  &.is-mergedwithaboverow{

    @include fp(margin-top,-8,-13);

  }

 &.is-meta{
      @include fp(margin-bottom, 20,30);

 }


 .refineyoursearch-list-item &{
      @include fp(margin-bottom, 17,18);

      &:last-child{
        margin-bottom: 0;
      }
 }

}



.form-separator{
  margin-top: 35px;
  margin-bottom: 35px;
  border-top: 1px solid #f0f0ed;
}



.form-column-list{


  @media (min-width:768px){

  }

  @media (min-width:1024px){

    border-style: hidden;
    border-collapse: collapse;
    display: table;
    width: 100%;
    table-layout: fixed;

  }

}

.form-column-item{

  @media (min-width:768px){

  }

  @media (min-width:1024px){

    border:20px solid transparent;
    display: table-cell;
    vertical-align: top;

  }

}




.form-explanation{

  @include fp(font-size, 13,14);
  @include fp(line-height, 20,24);
  line-height: 1;
  user-select: none;
  padding-top: 0;
  @include font-Verdana-Regular;
  color: #666666;
  margin-top: 20px;


}


.form-sectiontitle{

  @include typography-heading-e;
  display: block;

}


.form-intro{
  @include fp(font-size, 15,16);
  @include fp(line-height, 24,28);
  @include font-Verdana-Regular;
  color: #666666;

  @include fp(margin-bottom, 34,40);

}


.form-description{
  @include fp(font-size, 13,14);
  @include fp(line-height, 20,24);
  // line-height: 1;
  user-select: none;
  padding-top: 0;
  @include font-Verdana-Regular;
  color: #666666;
  margin-bottom: 20px;

    a{
      text-decoration: underline;
    }
  }


.form-upload{
  position: relative;
overflow: hidden;
  // max-width: 280px;
  display: inline-block;
  vertical-align: top;
  min-width: 280px;
  border:1px solid #e2e2de;
  cursor: pointer;





  input{
    font-size: 1000px;

      opacity: 0;
      filter: alpha(opacity=0);
      height: 1000px;
      width: 1000px;
      font-size: 1000px;
      position: absolute;
      top: -10px;
      // bottom: 0;
      right: -10px;
      direction: rtl;

      &::-webkit-file-upload-button {
        cursor:pointer;
      }

  }

}



.form-upload-label{

  width: 100%;
  display: table;
  @include fp(height,75,83);



  color:#006dbd;

  transition: background-color .2s ease,color .2s ease;




  .form-upload:hover &{
    color:#fff;
    background-color: #006dbd;
  }




  input:focus + &{
    color:#fff;
    background-color: #006dbd;
  }

  input:active + &{
    color:#006dbd;
    background-color: #fff;
  }




}

.form-upload-label-icon{

  display: table-cell;
  vertical-align: middle;
  padding-left: 26px;
  padding-right: 26px;
  width: 30px;

  icon{
    @include fp(font-size ,30,35);
    @include fonticon-upload;


  }

}



.form-upload-label-copy{

display: table-cell;
vertical-align: middle;
padding-right: 28px;

}

.form-upload-label-copy-title{
font-size: 14px;
  line-height: 1;

    @include font-Halis-Black;
    margin-bottom: 3px;
    text-transform: uppercase;


  @media (min-width:768px){

  }

  @media (min-width:1024px){
    font-size: 15px;
  }

}


.form-upload-label-copy-info{

  font-size: 14px;
  line-height: 1;

    @include font-Halis-Regular;


}


















.form-multipleupload{



}

.form-multipleupload-display{

// max-width: 430px;

@include fp(max-width,280,430);
  margin-top: 10px;


}



.form-multipleupload-display-list{



}


.form-multipleupload-display-item{

border-bottom: 1px solid #e2e2de;
display: none;
// opacity: 0.5;
width: 100%;

color:#202021;
font-size: 13px;
height: 40px;

  @media (min-width:768px){


  }

  @media (min-width:1024px){
    font-size: 14px;
  }

&.is-active{
display: table;
// background-color: red;
}

}



.form-multipleupload-display-copy{

display: table-cell;
vertical-align: middle;



-ms-word-break: break-all;
     word-break: break-all;

     // Non standard for webkit
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
        padding:8px 0;
        line-height: 1.2;



}

.form-multipleupload-display-delete{

display: table-cell;
vertical-align: middle;
width: 30px;
text-decoration: none;
padding:8px 12px;
  color:#006dbd;

&:hover{
  text-decoration: none;
  background-color: #006dbd;
  color:#fff;
}


icon{
  font-size: 20px;
  line-height: 1;
  display: block;


  &:before{
    display: block;
    content:"\00d7";

  }
}

}

.form-multipleupload-display-icon{

  display: table-cell;
  vertical-align: middle;
  width: 30px;
  font-size: 13px;

    @media (min-width:768px){

    }

    @media (min-width:1024px){
      font-size: 14px;
    }

  icon{
    font-size: 19px;
    color:#2f2f2f;
    @include fonticon-document;
    padding-right: 14px;
  }


}


.form-multipleupload-uploaders{


}



.form-multipleupload-uploaders-list{



}


.form-multipleupload-uploaders-item{


display: none;

// opacity: 0.5;
&.is-active{
  display: block;
// background-color: red;
}


}


.form-checkbox-list{

}

.form-checkbox-item{
  margin-bottom: 20px;
  &:last-child{
    margin-bottom: 0;
  }

}









// .form-overviewmessage{

//   display: table;
//   width: 100%;
//   @include fp(margin-bottom,25,40);

//   @include fp(padding-bottom,20,30);
//   border-bottom: 1px solid #e7e9eb;

//   display: none;

//   &.is-error{
//     color:#d31111;
//   }
// }

// .form-overviewmessage-icon{

//   display: table-cell;
//   vertical-align: top;
//   width: 28px;

//   icon{

//     .is-error &{
//       border:1px solid #d31111;
//       border-radius: 100%;
//       display: block;
//       width: 28px;
//       height: 28px;
//       text-align: center;
//       line-height: 27px;
//       font-size: 17px;
//     @include font-Halis-Bold;

//       &:before{
//         content:"!";
//         display: block;
//       }

//     }

//   }

// }



.form-overviewmessage-copy{

  display: table-cell;
  vertical-align: top;
  font-size: 13px;
  padding-left: 10px;
  padding-top: 4px;

  @media (min-width:768px){
  }

  @media (min-width:1024px){
    font-size: 14px;
    padding-top: 3px;

  }


}




// .form-imagecheck{
// background-color: red;
// display: block;


// }





.form-imagecheck {
  display: block;
  position: relative;


    width: 132px;
    height: 126px;

  input {
    position: absolute;
    left: -99999em;
  }

}

// .form-check-svg {
//   width: 29px;
//   height: 24px;
//   position: absolute;
//   top: 3px;
//   left: 11px;
//   z-index: 1;

//   path {
//     stroke-dashoffset: 35.96575164794922px;
//     transition: stroke-dashoffset 0.2s ease;

//     input:checked ~ & {
//       // animation: formcheckanimation 0.4s linear forwards;
//       stroke-dashoffset: 0;
//     }

//   }

// }

.form-imagecheck-label {
  // @include icon-form-check-normal;


border:1px solid #e3e3e3;


  input:focus ~ &{
    // @include icon-form-check-focused(top);

    border-color:#000;
  }

  .form-imagecheck:hover &{
    // @include icon-form-check-focused(top);

    background-color: #ace0ff;

    // svg *{
    //   fill:#fff;
    // }

  }

  input:checked + & {
    // @include icon-form-check-checked(top);
background-color: #006dbd;

    svg *{
      fill:#fff;
    }
    .form-imagecheck-label-content{
      color: #fff;
    }

  }

  input:focus:checked + &{
    // @include icon-form-check-checked-focused(top);
    border-color:#000;

   .form-imagecheck-label-content{
      color: #fff;
    }
  }


  .form-imagecheck:hover input:checked + &{
    // @include icon-form-check-checked-focused(top);
background-color: #005e95;
.form-imagecheck-label-content{
      color: #fff;
    }
  }


}

.form-imagecheck-list{
  // margin-right: -200px;
  overflow: hidden;
  margin-right: -20px;
   @media (min-width:1024px){
    margin-right: -49px;

  }


  //   @media (min-width:981px){

  //     text-align: justify;
  //   }

  // &:before{
  //     content: '';
  //     display: block;
  //     width: 100%;
  //     margin-bottom: -1.2em;
  // }


  // &:after {
  //     content: '';
  //     display: inline-block;
  //     width: 100%;
  // }

}


.form-imagecheck-item{
  // width: 132px;
  // display: inline-block;
  display: block;
  vertical-align: top;
  position: relative;
  margin-right: 18px;
  margin-bottom: 20px;
  float: left;


  @media (min-width:1024px){
    margin-right: 49px;

  }
  // margin-right: 49px;
//     display: inline-block;
// top:1.2em;

  //   @media (min-width:320px){

  //     @include fp(margin-right,18,171, $start:320, $end:621);
  // }


  //   @media (min-width:622px){

  //     @include fp(margin-right,20,96, $start:622, $end:959);
  // }

  //   @media (min-width:960px){

  //     @include fp(margin-right,20,70, $start:960, $end:1355);


  //   }
    // @media (min-width:1356px){

    //   @include fp(margin-right,20,49, $start:1356);

    // }

}

.form-imagecheck-label{
  border-radius: 4px;
}


.form-imagecheck-label-inner{
  display: table;
  width: 100%;
  height: 124px;
}

.form-imagecheck-label-content{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: #666666;


}

.form-imagecheck-label-copy{
  font-size: 14px;
  line-height: 1.2;
}

.form-imagecheck-label-icon{
  width: 53px;
  height: 53px;
  margin: 0 auto;
  margin-bottom: 4px;

  svg{
    vertical-align: top;
  }
}


.form-field-list{
  margin-bottom: -20px;
}
