.formlayout{



}


.formlayout-inner{



      margin:0 auto;
    @include fp(padding-top, 37,77);
    @include fp(padding-bottom, 37,77);


}

.formlayout-content{



}

.formlayout-content{
  margin:0 auto;

  &.is-narrow{

      @media (max-width:767px){
        @include fp(max-width, 280,510, $end:767);

      }

          @media (min-width:768px){

          @include fp(max-width, 590,980, $start:768);

    }

  }



&.is-wide{


          @include fp(max-width, 280,1330);

  }


}

  .formlayout-form{


      // @include fp(padding-top, 20,50);
      // @include fp(padding-bottom, 20,50);







      @media (min-width:768px){
      border:1px solid #e3e3e3;

      @include fp(padding-left, 40,60, $start:1024);
      @include fp(padding-right, 40,60, $start:1024);

      @include fp(padding-top, 30,50, $start:1024);
      @include fp(padding-bottom, 30,50, $start:1024);



      }

      @media (min-width:1024px){

      }

      // &.is-noborder{
      //   border: none;
      // }


}

.formlayout-header{

text-align: center;

    @include fp(max-width, 280,1328);
        margin:0 auto;


}

.formlayout-header-pretitle{

   @include fp(font-size,14,16);
    line-height: 1.38;

    @include font-Halis-Bold;


    color:#342e2e;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.formlayout-header-title{

  @include fp(font-size,26,38);
  @include fp(line-height,28,45);

  @include font-Halis-Bold;


  color:#342e2e;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 30px;
  }
}

.formlayout-header-subtitle{
    color:#342e2e;
    @include font-Halis-Light;
    @include fp(font-size,18,26);
    line-height: 1.38;

    margin-bottom: 30px;

    a {
      border-bottom: 1px solid;
      color: #006dbd;
      text-decoration: none;

      transition: border .2s ease,color .2s ease;

      &:focus,
      &:hover{
        border-bottom: 6px solid #cccccc;
        color:#666;
      }
    }

    strong{
    @include font-Halis-Bold;

    }
}


.formlayout-meta{

      // @include fp(margin-bottom, 20,30);


}

.formlayout-form{

}


.formlayout-content-table{
  margin-bottom: -13px;
  @media (min-width:768px){
    margin-bottom: -21px;
  }
  @include fp(padding-bottom, 40,80);

}

.formlayout-content-cta{
  text-align: center;
}

.formlayout-content-cta-button {
  position: relative;
    display: inline-block;
    vertical-align: top;
    @include fp(font-size, 14, 18);
    text-transform: uppercase;
    @include font-Halis-Black;
    color: #666666;
    padding: 1em 1em;
    text-align: center;
    max-width: 300px;
    width: 100%;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        border: 1px solid #666666;
        transition: border 0.2s ease;
    }
        &:focus:before,
        &:hover:before {
            border-width: 3px;
        }
    &:focus,
    &:hover {
        color: #666666;
        text-decoration: none;
    }

    &.is-wide{
        max-width: 422px;
    }
}



.formlayout-content-pagination{

   // padding-left: 20px;
    // padding-right: 20px;
    // @include fp(padding-top, 36, 75);
    // @include fp(padding-bottom, 43, 80);
//
      // @include fp(padding-bottom, 40,80);


    @include fp(max-width, 280,1228);


  margin:0 auto;

    // @media (min-width:1024px){

    //   @include fp(max-width, (1024-100),1228, $start:1024);


    // }

}
