.formmeta{

@include clearfix;

}

.formmeta-list{


      @include fp(margin-bottom, -20,-30);

}

.formmeta-item{

      @include fp(margin-bottom, 20,30);



}


.formmeta-item-title{

//    @include fp(font-size,14,16);
//     line-height: 1.38;

//     @include font-Halis-Bold;


//     color:#342e2e;
//     margin-bottom: 0px;
//     text-transform: uppercase;

// form-label is-meta
}



.formmeta-item-content{

   @include fp(font-size,18,20);
    line-height: 1.38;

    @include font-Halis-Light;


    color:#342e2e;
    margin-bottom: 0px;
    text-transform: none;


}



.formmeta-item-intro{
  @include fp(font-size, 15,16);
  @include fp(line-height, 24,28);
  @include font-Verdana-Regular;
  color: #666666;
}



.formmeta-item-link{
  // a{
  //   // @include fp(font-size, 15,16);
  //   // @include fp(line-height, 24,28);
  //   // @include font-Halis-Black;
  //   // text-transform: uppercase;
  //   // color: #006dbd;
  //   // &:focus,
  //   // &:hover{
  //   //   color: #666666;
  //   //   text-decoration: none;
  //   // }
  // }
}
