.formset{
    //don't style, used in various places
}

// .formset {
//     &.formset--with-sidebar {
//         @include columns;
//         .formset-column-1 {
//             @media (min-width:1024px) {
//                 width: 50% - (4%/2);
//                 margin-right: 4%;
//                 float: left;
//             }
//         }
//         .formset-column-2 {
//             @media (min-width:1024px) {
//                 width: 50% - (4%/2);
//                 float: right;
//             }
//         }
//         .formset-column-2-inner {
//             @media (min-width:1024px) {
//                 max-width:350px;
//             }
//         }
//     }
//     &.formset--with-separator {
//         margin-bottom:40px;
//         padding-bottom:40px;
//         border-bottom:1px solid #cdcdd0;
//         @media (min-width:768px) {
//             margin-bottom:0;
//             padding-bottom:0;
//             border-bottom:0;
//         }
//     }
// }
// .formset-form {
//     @media (min-width:768px) {
//         border:1px solid #cdcdd0;
//         padding:43px;
//     }
// }


.formset-field-icon{
    width: 25px;
    height: 25px;
    position: absolute;
    top:50%;
    right:10px;
    margin-top:(-24px/2);

    &.formset-field-icon--loading{

        // @include icon-input-progress;

    }
}


// .formset-icon-progress{
// }



// .formset-grid {

//     @include clearfix;

//     margin-bottom:25px;

//     @media (min-width:768px){

//         margin-right:-4%;

//     }

//     .formset-row{

//         @media (min-width:480px){

//         }
//         @media (min-width:768px){
//             width:50%-4%;
//             margin-right: 4%;
//             float:left;

//             &:nth-child(2n+1){
//                 clear:left;
//             }

//         }
//         @media (min-width:1300px){
//             width:33.33%-4%;
//             margin-right: 4%;

//             &:nth-child(2n+1){
//                 clear:none;
//             }

//             &:nth-child(3n+1){
//                 clear:left;
//             }

//         }
//         @media (min-width:1400px){

//         }



//     }

// }




.formset-overviewerror{

    margin-bottom:20px;
    color:#ff3b3b;
    padding:15px;
    border:1px solid #c61856;

    p{
        color:#c61856;
    }

    ul{
        margin-bottom:0 !important;
    }
}


.formset-overviewsuccess{

    background-color: #f3f3f3;
    padding: 25px 25px;
    color: #fff;
    border: 1px solid #cccccc;
    border-left: 4px solid #8cca00;
    margin-bottom:20px;


    ul{
        margin-bottom:0 !important;
    }
}




.formset-label {

    color:#5d5d5d;
    //margin-bottom: 15px;
    // text-transform: uppercase;
    display: block;
    margin-left: 15px;

    font-size: 14px;
    letter-spacing: -0.04em;
    line-height: 1;
    margin-bottom: 7px; // As per Design QA
    display: block;
    transition-property:color;
    transition-duration:0.2s;
    transition-timing-function:ease;

    // letter-spacing:-0.025em;

    @media (min-width:768px){
        font-size:17px;
        //margin-bottom: 15px;
        margin-bottom: 11px; // As per Design QA
        margin-left: 20px;
    }

    .is-invalid &{
        color:#ff3b3b;
    }

    .is-focused &{
        color:#ef4e4e;
    }

}

.formset-label-info{
    color:#c6c6c6;
}

.formset-row {
    margin-bottom: 19px; // As per Design QA

    @media (min-width: 768px) {
        margin-bottom:30px; // As per Design QA
    }
    // &:last-child {
    //     margin-bottom:0;
    // }
}
// .formset-checkbox {
//     display: block;
//     @include clearfix;
//     .form-checkbox {
//         float:left;
//         margin-right:15px;
//     }
//     .formset-checkbox-label {
//         cursor:pointer;
//         overflow:hidden;
//         color:#7f8789;
//         padding-top:3px;
//         display: block;
//         a {
//             // @include font-medium;
//             color:#7f8789;
//             text-decoration:underline;
//             &:hover {
//                 color: #000;
//             }
//         }
//     }
// }
// .formset-radio {
//     display: block;
//     @include clearfix;
//     .form-radio {
//         float:left;
//         margin-right:15px;
//     }
//     .formset-radio-label {
//         cursor:pointer;
//         overflow:hidden;
//         color:#7f8789;
//         padding-top:3px;
//         display: block;
//         a {
//             // @include font-medium;
//             color:#7f8789;
//             text-decoration:underline;
//             &:hover {
//                 color: #000;
//             }
//         }
//     }
// }


// .formset-radio-button {
//     display: block;
//     @include clearfix;
//     .form-radio-button {
//         float:left;
//         margin-right:15px;
//     }


//     .formset-radio-button-label {

//     }
// }

.formset-radio-group{

    @include clearfix;

    .formset-radio-group-item{
        margin-bottom:10px;
        @include clearfix;
    }

    &.formset-radio-group--horizontal{

        .formset-radio-group-item{
            @media (min-width:1024px){
                float:left;
                width: 50%;

            }

        }


    }


    &.formset-radio-group--inline{

        .formset-radio-group-item{
            display: inline-block;

        }


    }




}

.formset-field {
    // padding-right:15px + 21px;
    position: relative;

    &.formset-field--with-icon{

        input{
            padding-right:(10px + 25px + 10px);
        }

        textarea{
            padding-right:(10px + 25px + 10px);
        }


    }

    // &.formset-field--extendedonmobile{
    //     padding-right:0;

    //     @media (min-width:721px){
    //         // padding-right:15px + 21px;
    //     }
    //     @media (min-width:1000px){

    //     }
    //     @media (min-width:1200px){

    //     }
    //     @media (min-width:1400px){

    //     }



    // }


}


.formset-field-help {
    margin-left: 15px;
    margin-top: 1em;

    color:#aaa;
    @include font-Univers-Roman;
    font-size: 13px;

    @media (min-width:768px){
        margin-left: 20px;
        font-size:14px;
    }
}


.formset-fieldgroup{

    display: table;
    width: 100%;

    .formset-fieldgroup-item{
        display: table-cell;
        vertical-align: top;
    }

}







.formset-validation {
    display: none;

}
.formset-validation-icon {
    // position: absolute;
    // right:0;
    // top:20px;
    margin-top: 7px;
    display: inline-block;
    float:left;
    margin-right: 10px;

    .is-valid & {
        @include icon-form-validation-valid;
        display: none; // Not using this, as per design QA
    }
    .is-invalid & {
        @include icon-form-validation-invalid;
        display: none; // Not using this, as per design QA
    }
}
.formset-validation-message {
    margin-left: 15px; // As per Design QA
    padding-top:5px;
    display: block;
    overflow: hidden;
    font-size: 14px;
    @include font-Univers-Roman;

    .is-valid & {
        color: #80b900;
        //No need for message when field is valid
        display: none;
    }
    .is-invalid & {
        color: #ff3b3b;
    }

    @media (min-width: 768px) {
        margin-left: 20px; // As per Design QA
    }
}

.formset-submit{

    text-align: center;

}

.formset-field-calendaricon{
	width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    top: 9px;
    display: block;
	img{
		width: 100%;

	}
}
























