.formsection{


}

.formsection-intro{

    padding-top: 30px;
    padding-bottom: 30px;
    @media (min-width: 768px) {
        padding-bottom: 40px;
        padding-top: 60px;
    }
    @media (min-width: 1024px) {
        padding-top: 40px + 70px;

    }

}

.formsection-intro-line-list{


  // margin-bottom: -10px;

  @include typography-headingsub;
  text-align: center;

}

.formsection-intro-line-item{
  // margin-bottom: 10px;
  display: block;
  color:#5c5c5c;

}


.formsection-intro-title{


  // color:#231f20;


    text-align: center;


  @include typography-heading1;



}


.formsection-list{



}


.formsection-item{

  border-top:1px solid #e6e7e8;
  padding-top: 30px;
  padding-bottom: 30px;


    @media (min-width:768px){
      padding-top: 55px;
      padding-bottom: 55px;
    }

    @media (min-width:1024px){

    }

}

.formsection-title{

text-align: center;

}

.formsection-content{

    max-width: 400px;
    margin:0 auto;


  @media (min-width:768px){
    max-width: none;
  }

  @media (min-width:1024px){

  }

}

.formsection-description{

  margin-bottom: 20px;
  text-align: center;





}

.formsection-clarification{
  text-align: center;
  margin-top: 15px;
}

.formsection-clarification--monthly, .formsection-clarification--annually{
  display: none;
}


.formsection-fields-list{

    @media (min-width:768px){
  display: table;
  width: 100%;
  border-style: hidden;
  border-collapse: collapse;
  table-layout: fixed;
    }

}

.formsection-fields-item{
    @media (min-width:768px){
    border:20px solid transparent;
    display: table-cell;
    vertical-align: top;
    &.is-streetnumber{
      width: 20%;
    }
    &.is-streettype{
      width: 20%;
    }
  }
}


.formsection-fields-item--title{
    @media (min-width:768px){
    width: 20%;
  }
}




.formsection-fields-list{

    @media (min-width:768px){
  display: table;
  width: 100%;
  border-style: hidden;
  border-collapse: collapse;

    }

}

.formsection-dobcontact{


    @media (min-width:768px){
  display: table;
  width: 100%;
  border-style: hidden;
  border-collapse: collapse;
    table-layout: fixed;
    }
}

.formsection-dobcontact-dob{
    @media (min-width:768px){
    border:20px solid transparent;
    display: table-cell;
    vertical-align: top;
    width: 33.33%;
  }
}


.formsection-dobcontact-contact-label{
  @media (min-width:768px){
    width: 200%;
  }


}

.formsection-dobcontact-contact{
    @media (min-width:768px){
    // border:20px solid transparent;
    display: table-cell;
    vertical-align: top;
  }
}

.formsection-dobcontact-contactandcontactnumber{
    @media (min-width:768px){
    display: table-cell;
    vertical-align: top;
  }

}

.formsection-dobcontact-contactandcontactnumber-inner{
  display: table;
  width: 100%;
  table-layout: fixed;
}


.formsection-dobcontact-contactnumber{
    // @media (min-width:768px){
    // border:20px solid transparent;
    display: table-cell;
    vertical-align: top;
  // }
}

.formsection-dobcontact-contactnumber-label{
    // @media (min-width:768px){
      @include hide-text;
    // }
}




.formsection-creditcardordirectdebit-directdebit{

}


.formsection-passwordinstructions{
  margin-top: -15px;
}
