.fullscreencarousel{

position: relative;

}


.fullscreencarousel-inner{


height: 100%;

}



.fullscreencarousel-background{


  background-color: green;
  z-index: 1;
  margin:0 auto;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

}

.fullscreencarousel-background-carousel{

height: 100%;

}


.fullscreencarousel-background-list{


  height: 100%;

  .slick-list{
    height: 100%;

  }

  .slick-track{
    height: 100%;
  }

}

.fullscreencarousel-background-item{

  border:1px solid blue;
  height: 100%;

}


.fullscreencarousel-content{

  // position: relative;
  // z-index: 2;
  // margin:0 auto;
  // display: table;
  // width: 100%;
  // height: 100%;
  // table-layout: fixed;



}

.fullscreencarousel-content-inner{

  // display: table-cell;
  // vertical-align: middle;
  // text-align: center;

}

.fullscreencarousel-content-carousel{

  max-width: 600px;
  margin:0 auto;
  background-color: red;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform:translateX(-50%) translateY(-50%);

}

.fullscreencarousel-content-item{



}

.fullscreencarousel-content-item-inner{



}

.fullscreencarousel-content-item-title{



}

.fullscreencarousel-content-list{



}
