.gallerywiththumbnails{


  max-width: 600px;
  margin:0 auto;


}

.gallerywiththumbnails-display{



}

.gallerywiththumbnails-display-carousel{



}

.gallerywiththumbnails-display-list{



}

.gallerywiththumbnails-display-item{


    img{

        width:100%;

    }

}


.gallerywiththumbnails-thumbnails{

// background-color: #fff;

}

.gallerywiththumbnails-thumbnails-carousel{

      padding-left: 20px;
      padding-right: 20px;

}

.gallerywiththumbnails-thumbnails-list{


      padding-left: 20px;
      padding-right: 20px;

}


.gallerywiththumbnails-thumbnails-item{

    transition-property: opacity;
    transition-duration: .5s;
    transition-timing-function: ease;
    opacity: 0.5;

    max-width: 100px;

    img{

        width:100%;

    }

    &.slick-center{
      // transform:scale(1.2);
      opacity: 1;
    }

}
