.generalcontent{



}

.generalcontent-inner{

    padding:0 20px;
    max-width: 800px + 20px+20px;
    margin:0 auto;
    padding-bottom: 20px;

        @media (min-width:768px){
            padding:0 50px;
            max-width: 800px + 50px+50px;
            padding-bottom: 50px;
        }

        @media (min-width:1320px){

        }


    @media (min-width:1300px){
            // padding:0;
    }


}

