.genericheader-search {

}

.genericheader-search-inner {
    @include fp(max-width, 280,1328);


    margin:0 auto;

    @media (min-width:1024px){

      @include fp(max-width, (1024-100),1228, $start:1024);


    }
}



.genericheader-results-button{
  display: table;
  height: 50px;
  width: 100%;

  @media (min-width:1024px){
  border: 1px solid #d2d2d2;
  width: 64px;
  height: 62px;

  }

  background-color: #007bc3;
  text-decoration: none;
  color: #fff;
  &:focus,
  &:hover{
      background-color: #e2e2de;
      text-decoration: none;
      color: #202021;
  }

  &.disable{
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
  }
}

.genericheader-results-button-icon{

  display: none;


  icon{
    @include fonticon-search;
  }


  @media (min-width:1024px){
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
  }

}


.genericheader-results-button-copy{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  @include font-Halis-Bold;
  @media (min-width:1024px){
    display: none
  }

}

.genericheader-search-inner {

  .is-genericheaderkeyword{
    @media (min-width:1024px){
      width: 930px;
    }

    input{
      border: 1px solid #d2d2d2;
      @media (min-width:1024px) {
        border-left: 1px solid #d2d2d2;
        border-right: none;
        border-top: 1px solid #d2d2d2;
        border-bottom: 1px solid #d2d2d2;
      }

      &:focus{
        border: 1px solid #202021;
        @media (min-width:1024px) {
          border-left: 1px solid #202021;
          border-right: 1px solid #202021;
          border-top: 1px solid #202021;
          border-bottom: 1px solid #202021;
        }
      }
    }
  }

  .is-genericheadercategory{

    @media (min-width:1024px){
      width: 340px;
    }
  }

  .is-genericheaderbutton{
    @media (min-width:1024px){
      width: 64px;
    }
  }

}


.genericheader-search-results{
  @include typography-genericheader-subtitle;
  line-height: 1;
  @include fp(padding-bottom, 9, 15);


}

.genericheader-search-title{
  @include typography-genericheader-subtitle;
  line-height: 1;
  @include fp(padding-bottom, 9, 15);
  @include typography-heading-a;
  @include fp(margin-bottom, 9, 19);



}

