// genericheader
// ----------------------------
// The site uses this header on pages where there's no image
//
// // Fields
// ----------------------------
// 3 text fields:
// - title (text only)
// - subtitle (is optional, text, can contain links)
// - action (is optional, will contain another component, like a "subscribe" link)

.genericheader {
  background-color: #f1f1f1;
}

.genericheader-inner {
  @include fp(padding-top, 50, 80);
  @include fp(padding-bottom, 50, 80);
  // @include fp(padding-left, 20, 50);
  // @include fp(padding-right, 20, 50);
  display: table;
  width: 100%;
  @include fp(max-width, 280, 1328);
  margin: 0 auto;

  @media (min-width:1024px) {
    @include fp(max-width, (1024-100), 1328, $start: 1024);
  }

  @media (min-width:768px) {
  }

  @media (min-width:1024px) {
    // max-width: 1428px;
  }

}

.genericheader-content {
  text-align: center;
  @media (min-width:768px) {
  }

  @media (min-width:1024px) {
    display: table-cell;
    vertical-align: top;
  }
}

.genericheader-title {
  @include typography-heading-a;

  &:last-child {
    margin-bottom: 0;
  }
}

.genericheader-subtitle {
  @include typography-genericheader-subtitle;

  &:last-child {
    margin-bottom: 0;
  }
}

.genericheader-action {
  line-height: 1;
  @include fp(margin-top, 16, 24);
}
