.giveagiftnodata{



}


.giveagiftnodata-inner{


    // margin:0 auto;
    // max-width:1043px;
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: center;

        @media (min-width:768px){
            padding-top: 50px;
            padding-bottom: 100px;
        }

        @media (min-width:1320px){

        }


}

