.giveagifttools{

    position: relative;

    margin-bottom: 20px;
    min-height: 50px;

    @media (min-width:980px){
        margin-bottom: 17px;
        min-height: 107px;

    }

    @media (min-width:1320px){

    }

}


.giveagifttools-inner{

    // display: table;
    // width: 100%;

    @media (min-width:768px){

    }

    @media (min-width:1320px){

    }

}


.giveagifttools-cardpagination{

    padding-bottom: 20px;

    @media (min-width:980px){

        padding-top: 37px;

    }
}


.giveagifttools-cardpagination-inner{

    display: table;
    width: 162px;
    height: 50px;


    @media (min-width:768px){
        width: 225px;
    }

    @media (min-width:1320px){

    }


}

.giveagifttools-cardpagination-inner2{

    display: table-cell;
    vertical-align: middle;


}


.giveagifttools-backtoresults{

    padding-bottom: 20px;

    @media (min-width:980px){

        padding-top: 37px;

    }

}


.giveagifttools-backtoresults-inner{

    display: table;
    width: 162px;
    height: 50px;

    @media (min-width:768px){
        width: 225px;
    }

    @media (min-width:1320px){

    }


}

.giveagifttools-backtoresults-inner2{

    display: table-cell;
    vertical-align: middle;


}




.giveagifttools-filters{

        // display: table-cell;
        // vertical-align: top;

    @media (min-width:768px){

    }

    @media (min-width:1320px){

    }

}

.giveagifttools-filters-toggle{

    display: block;
    padding-bottom: 20px;


    margin-right: 166px + 10px;

    @media (min-width:768px){

    margin-right: 265px + 10px;

    }

    @media (min-width:980px){
        display: none;
    }

}

.giveagifttools-filters-toggle-inner{

    display: table;
    max-width: 108px;
    height: 50px;

    &:hover{
        color:#ef4e4e;
    }


}

.giveagifttools-filters-toggle-copy{

    display: table-cell;
    vertical-align: middle;
    padding:0;
    padding-right: 9px;
    font-size: 17px;
    line-height: 1;
    @include font-Univers-Roman;

}

.giveagifttools-filters-toggle-icon{

    display: table-cell;
    vertical-align: middle;
    padding:0;


    i{
        position: relative;
        top:-2px;
        font-size: 16px;

        @include icon-accordion-reed-title-toggle-expand-mobile(middle);

        .giveagifttools-filters--is-open &{

            @include icon-accordion-reed-title-toggle-collapse-mobile(middle);

        }

    }

}



.giveagifttools-basket{

    position: absolute;
    top:0;
    right:0;
    // left:108px;//room for toggle
    font-size: 17px;
    line-height: 1;


    @media (min-width:768px){
        font-size: 20px;
    }

    @media (min-width:980px){
        // position: relative;
        // left:auto;
        // right:auto;
        // top:auto;
        // display: table-cell;
        // vertical-align: top;
        // width: 266px;
        padding-top: 37px;

    }

}

.giveagifttools-basket-inner{

    // width: 100%;
    width:100px;
    margin-left: auto;
    display: block;


    @media (min-width:768px){
        width: 100%;
        width:265px;
    }

    @media (min-width:1320px){

    }

}

.giveagifttools-basket-inner2{

    display: table;
    width: 100%;
    height: 50px;

}


.giveagifttools-basket-label{
    display: table-cell;
    vertical-align: middle;
    border:1px solid #c6c6c6;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    background-color: #fff;
    padding:0 0 0;
    border-right:0;

    padding-left: 10px;

    @media (min-width:768px){
        padding-left: 5px;
        padding-right: 5px;

        border-right:1px solid #c6c6c6;
    }

    @media (min-width: 980px){
        padding-left: 10px;
        padding-right: 10px;
    }
}

.giveagifttools-basket-label-inner{

    display: inline-table;
    // width: 100%;
    vertical-align: middle;
    border-collapse: collapse;

}

.giveagifttools-basket-label-icon{

    display: table-cell;
    vertical-align: middle;

    i {
        color:#ef4e4e;
        @include fonticon-basket;
        font-size: 20px;
        transition: color 0.2s ease;

        a:hover & {
            color: #5ebfff;
        }

        @media (min-width:768px){
            font-size: 25px;
        }
    }

}

.giveagifttools-basket-label-copy{

    display: none;
    transition: color 0.2s ease;

    a:hover & {
        color: #5ebfff;
    }

    @media (min-width:768px){
        padding-left: 5px;
        display: table-cell;
        vertical-align: middle;
        color:#ef4e4e;
        white-space: nowrap;
    }

}

.giveagifttools-basket-quantity{
    display: table-cell;
    vertical-align: middle;
    border:1px solid #c6c6c6;
    text-align: center;
    padding:0 0 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    font-size: 14px;

    border-left:0;

    padding-right: 10px;

    @media (min-width:768px) {
        font-size: 20px;
    }

    @media (min-width:980px) {
        padding-left: 10px;
        padding-right: 10px;
    }


}

.giveagifttools-basket-quantity-inner{

    display: inline-table;
    color:#ef4e4e;
    vertical-align: middle;
    transition: color 0.2s ease;
    line-height: 0.9em; // As per Design QA

    a:hover & {
        color: #5ebfff;
    }
    @media (min-width: 980px) {
        line-height: 25px; // Icon height, as per Design QA
    }
}


.giveagifttools-basket-quantity-number{

    display: table-cell;
    vertical-align: middle;
    padding-right: 3px;
    padding-left: 5px;

    @include font-Univers-Bold;

    @media (min-width: 980px) {
        padding-left: 0;
        padding-right: 5px;
    }


}

.giveagifttools-basket-quantity-copy{

    display: table-cell;
    vertical-align: middle;


}

.giveagifttools-filter-list-outer{

    display: block;


        @media (min-width:768px){
            margin-right: -20px;

        }

        @media (min-width:980px){
            // margin-top: 0;
            // margin-right: 4px;
            display: block;
            // vertical-align: top;
        }

        @media (min-width:1320px){

        }

    &.js-slide-hidden{
        @media (max-width:979px){

            display: none;

        }
            @media (min-width:980px){
                display: block !important;
            }

    }

}


.giveagifttools-filter-list{
    @include clearfix;

    @media (min-width:980px){
        // margin-bottom: -20px;
        margin-right: 283px;

    }


}


.giveagifttools-filter-item{


    display: inline-block;
    min-width: 280px;
    margin-bottom: 20px;

    width: 100%;
    float: left;

    @media (min-width:768px){
            // width: 50%;
        min-width: 0;
        padding-right: 20px;
        width: 33.33%;
    }


    @media (min-width:980px){
        width: 100%;
        // max-width: 300px;
        width: 33.33%;
        // padding-bottom: 0;
    }

    @media (min-width:1320px){

    }

    // &:last-child{
    //  @media (max-width:767px){

    //      margin-right: 0;

    //  }

    //  @media (min-width:1320px){

    //  }
    // }


}

.giveagifttools-filter-item-field{



}

.giveagifttools-filter-item-title{

    color:#5d5d5d;
    margin-bottom: 15px;
    // text-transform: uppercase;
    display: block;
    margin-left: 15px;

    font-size: 14px;
    margin-bottom: 5px;
    letter-spacing: -0.04em;
    display: block;
    transition-property:color;
    transition-duration:0.2s;
    transition-timing-function:ease;

    @media (min-width:768px){
        font-size:17px;
        margin-bottom: 15px;
        margin-left: 20px;
    }

    .is-focused &{
        color:#ef4e4e;
    }
}

