.giveagift{



}

.giveagift-inner{

    padding:0 20px;
    max-width: 1260px + 20px+20px;
    margin:0 auto;

        @media (min-width:768px){
            padding:0 50px;
            max-width: 1260px + 50px+50px;
        }

        @media (min-width:1320px){

        }


    @media (min-width:1300px){
            // padding:0;
    }


}

