.giveagiftchoosedetail {
    padding-bottom: 45px;

    @media (min-width: 768px) {
        padding-bottom: 95px;
    }
}

.giveagiftchoosedetail-gift {
    margin-bottom: 30px;

    @media (min-width: 980px) {
        margin-bottom: 75px;
    }
}

.giveagiftchoosedetail-gift-inner {
    @media (min-width: 980px) {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
}

.giveagiftchoosedetail-gift-media,
.giveagiftchoosedetail-gift-content {
    @media (min-width: 980px) {
        display: table-cell;
        vertical-align: top;
    }
}

.giveagiftchoosedetail-gift-media {
    @media (min-width: 980px) {
        width: 42.8%;
    }
}

.giveagiftchoosedetail-gift-content {
    @media (min-width: 980px) {
        width: 57.2%;
    }
}

.giveagiftchoosedetail-gift-image {
    position: relative;
}

.giveagiftchoosedetail-gift-image-needed {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 8px 10px;
    z-index: 2;

    background-color: #ff13a1;
    color: #fff;
    @include font-Univers-Roman;
    font-size: 14px;
    text-transform: uppercase;

    @media (min-width: 1320px) {
        padding: 10px 15px;
        font-size: 17px;
    }

    > i {
        @include fonticon-alert;
        margin-right: 5px;

        @media (min-width: 1320px) {
            margin-right: 10px;
        }
    }
}

.giveagiftchoosedetail-gift-content-title {
    margin-bottom: 10px;
    padding-bottom: 5px;
    margin-top: -0.1em;

    border-bottom: 1px solid #c9c9c9;
    font-size: 25px;
    line-height: 1.08em;

    @media (min-width: 768px) {
        font-size: 40px;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
}

.giveagiftchoosedetail-gift-content-price {
    margin-bottom: 5px;

    color: #f09;
    @include font-Univers-Light;
    font-size: 25px;
    line-height: 1;

    @media (min-width: 768px) {
        margin-bottom: 10px;
        font-size: 30px;
    }
}

.giveagiftchoosedetail-gift-content-cta {
    margin-bottom: 30px;

    @media (min-width: 768px) {
        margin-bottom: 40px;
    }
}

.giveagiftchoosedetail-gift-content-shortdesc {
    margin-bottom: 25px;

    @media (min-width: 768px) {
        // Same
    }
}

.giveagiftchoosedetail-gift-image {
    margin-bottom: 20px;

    @media (min-width: 980px) {
        margin-bottom: 0;
        margin-right: 40px;
    }

    img{
        width: 100%;
        height: auto;
    }
}

.giveagiftchoosedetail-gift-image-mobile{
    display: block;

    @media (min-width:768px) {
        display: none;
    }
}

.giveagiftchoosedetail-gift-image-desktop{
    display: none;

    @media (min-width:768px) {
        display: block;
    }
}




.giveagiftchoosedetail-gift-footer {
    margin-bottom: 40px;

    @media (min-width: 768px) {
        margin-bottom: 60px;
        max-width: 900px;
    }
}

.giveagiftchoosedetail-gift-footer-cta-copy {
    margin-bottom: 15px;

    color: #000;
    @include font-Univers-Light;
    font-size: 25px;
    line-height: 30px;

    @media (min-width: 768px) {
        font-size: 30px;
        line-height: 35px;
    }
}

.giveagiftchoosedetail-gift-footer-price {
    margin-bottom: 6px;

    color: #f09;
    font-size: 25px;
    line-height: 1;

    @media (min-width: 768px) {
        font-size: 30px;
    }
}


.giveagiftchoosedetail-gift-footer-cta-button{
    margin-top: 10px;

        @media (min-width:768px){
            margin-top: 20px;
        }

        @media (min-width:1320px){

        }
}


.giveagiftchoosedetail-story {

}


.giveagiftchoosedetail-story-inner {



    img{
        width: 100%;
        height: auto;
        margin-bottom: 25px;
        margin-top: 20px;

        @media (min-width: 768px) {
            margin-bottom: 50px;
            margin-top: 40px;
        }
    }

    p, h1, h2, h3, h4, h5, h6, .richtext-quote{

        max-width: 900px;

    }


}

.giveagiftchoosedetail-story-title {
    @include typography-heading2;
    margin-bottom: 20px;

    @media (min-width: 768px) {
        margin-bottom: 40px;
        max-width: 900px;
    }
}


.giveagiftchoosedetail-story-image-mobile{
    display: block;

    @media (min-width:768px) {
        display: none;
    }
}

.giveagiftchoosedetail-story-image-desktop{
    display: none;

    @media (min-width:768px) {
        display: block;
    }
}

.giveagiftchoosedetail-story-detail {
    @media (min-width: 768px) {
        max-width: 900px;
    }
}


.giveagiftchoosedetail-utility-addthis {
    margin-bottom: 20px;

    @media (min-width: 768px) {
        margin-bottom: 30px;
    }
}
