.giveagiftcheckout {
    margin-bottom: 45px;

    @media (min-width: 768px) {
        margin-bottom: 95px;
    }
}


.giveagiftcheckout-item {
    margin-bottom: 30px;
    padding-bottom: 30px;

    border-bottom: 1px solid #c9c9c9;

    // &:first-child {
    //  margin-top: 0;
    //  padding-top: 0;
    //  border-top: none;
    // }

    @media (min-width: 768px) {
        margin-bottom: 40px;
        padding-bottom: 40px;
    }
}


// Layout

.giveagiftcheckout-item-inner {
    @media (min-width: 768px) {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
}

.giveagiftcheckout-item-gift,
.giveagiftcheckout-item-card {
    @media (min-width: 980px) {
        display: table-cell;
        vertical-align: top;
        width: 50%;
    }
}


.giveagiftcheckout-item-gift-inner,
.giveagiftcheckout-item-card-inner {
    @media (min-width: 568px) {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
}

.giveagiftcheckout-item-gift-image,
.giveagiftcheckout-item-giftcopy,
//.giveagiftcheckout-item-card-image,
.giveagiftcheckout-item-cardcopy {
    @media (min-width: 568px) {
        display: table-cell;
        vertical-align: top;
        //width: 50%;
    }
}


// Styles
.giveagiftcheckout-item-gift {
    margin-bottom: 15px;

    @media (min-width: 568px) {
        margin-bottom: 20px;
    }
}


.giveagiftcheckout-item-gift-image {
    margin-bottom: 10px;

    @media (min-width: 568px) {
        width:40%;
        padding-right: 20px;
    }

    @media (min-width: 768px) {
        margin-bottom: 0;
    }
}


.giveagiftcheckout-item-gift-image-inner {
    display: block;
    overflow: hidden;
    height: 0;
    padding-bottom: 60%; // 474x284


    img{
        width: 100%;
        height: auto;
    }

}

.giveagiftcheckout-item-gift-image-mobile{
    display: block;

    @media (min-width:768px) {
        display: none;
    }

}

.giveagiftcheckout-item-gift-image-desktop{
    display: none;

    @media (min-width:768px) {
        display: block;
    }

}

.giveagiftcheckout-item-gift-intro,
.giveagiftcheckout-item-cardcopy-intro {
    margin-bottom: 5px;
    color: #000;
    @include font-Univers-Light;
    font-size: 21px;
    line-height: 1em;

    @media (min-width: 768px) {
        margin-bottom: 10px;
        font-size: 30px;
    }
}

.giveagiftcheckout-item-gift-title,
.giveagiftcheckout-item-cardcopy-firstname {
    color: #09f;
    @include font-Univers-Bold;
    font-size: 21px;
    line-height: 1em;

    @media (min-width: 768px) {
        font-size: 30px;
    }
}



.giveagiftcheckout-item-card-image {
    display: none;
    // @media (min-width: 568px) {
    //  width: 0;
    // }
    @media (min-width: 768px) {
        display: table-cell;
        width: 120px;
        padding-right: 20px;
    }
    @media (min-width: 980px) {
        padding-left: 20px;
    }

    @media (min-width: 1320px) {
        width: 150px;
        padding-left: 30px;
    }

    .giveagiftcheckout-item-card--is-nocard & {
        filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
        filter: grayscale(100%);
        filter: gray, alpha(opacity = 40);
        -webkit-filter: grayscale(100%);
        opacity:0.4;
    }
}



.giveagiftcheckout-item-card-image-inner {
    img {
        width: 100%;
        height: auto;
    }
}

.giveagiftcheckout-item-cardcopy {
    @media (min-width: 768px) {
        position: relative;
        padding-right: 100px; // Make room for price that is absolutely positioned
        padding-bottom: 25px; // Make room for edit and remove that is absolutely positioned
    }
}

.giveagiftcheckout-item-cardcopy-deliverymethod {
    margin-bottom: 10px;

    .giveagiftcheckout-item-card--is-nocard & {
        color: #c6c6c6;
    }
}

.giveagiftcheckout-item-cardextra {
    position: relative;

    @media (min-width: 768px) {
        position: static; // Reset position relative;
    }
}

.giveagiftcheckout-item-cardextra-edit {
    display: block;
    margin-bottom: 20px;
    line-height: 1;

    @media (min-width: 768px) {
        position: absolute;
        margin-bottom: 0;
        bottom: 0;
        left: 0;
    }
}

.giveagiftcheckout-item-cardextra-edit-icon {
    @include fonticon-pencil;
    font-size: 0.75em;
    position: relative;
    top: -2px;
}

.giveagiftcheckout-item-cardextra-remove {
    display: block;
    line-height: 1;

    @media (min-width: 768px) {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.giveagiftcheckout-item-cardextra-remove-icon {
    @include fonticon-bin;
    font-size: 0.75em;
    position: relative;
    top: -2px;
}

.giveagiftcheckout-item-cardextra-price {
    position: absolute;
    right: 0;
    bottom: 0;

    color: #ff0099;
    @include font-Univers-Light;
    line-height: 1;

    @media (min-width: 768px) {
        position: absolute;
        top: 8px;
        right: 0;
        bottom: auto;
        font-size: 20px;
    }
}



.giveagiftcheckout-total {
    margin-bottom: 28px;

    color: #f09;
    font-size: 21px;
    line-height: 1;
    text-align: right;

    @media (min-width: 768px) {
        font-size: 30px;
    }
}

.giveagiftcheckout-total-copy {
    @include font-Univers-Light;
}

.giveagiftcheckout-total-amount {
    @include font-Univers-Bold;
}



.giveagiftcheckout-buttons {
    margin-bottom: 50px;
    text-align: right;

    @media (min-width: 768px) {
        margin-bottom: 75px;
    }

    .button--donate {
        margin-bottom: 20px;
    }


    .button--outlineblue {
        @media (min-width: 768px) {
            min-width: 369px;
        }
    }

    .button--outlineblue-inner {
        @media (min-width: 768px) {
            padding: 19px 20px;
            font-size: 25px;
        }
    }
}




.giveagiftcheckout-disclaimer {
    padding-top: 30px;

    border-top: 1px solid #c9c9c9;
    color: #aaa;
    @include font-Univers-Roman;
    font-size: 13px;
    line-height: 1.4em;

    @media (min-width: 768px) {
        font-size: 14px;
        line-height: 1.43em;
    }
}






