.giveagiftpromo{

    // max-width: 1680px;
    margin:0 auto;
    position: relative;
    background-color: #444;


    text-align: center;
    overflow: hidden;


}



.giveagiftpromo-background{


}


.giveagiftpromo-background-image-box{

        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;

        margin:0 auto;
        // max-width: 1920px;
        overflow: hidden;


}

.giveagiftpromo-background-image-cite {
    text-transform: uppercase;
    position: absolute;
    bottom: 5px;
    right: 10px;
    left:0;
    color: #fff;
    @include opacity(0.4);
    z-index: 3;
    font-size: 8px;
    @media (min-width: 768px) {
        bottom: 15px;
        right: 20px;
        font-size: 10px;

    }
    @media (min-width: 1024px) {
        // right: 30px;
    }
}

.giveagiftpromo-background-image-cite-inner {

    // max-width: 1260px;
    margin:0 auto;
    text-align: right;
    position: relative;
    //padding-right: 10px; Do positioning on outer div
    //top:-5px; Do positioning on outer div
    @media (min-width: 768px) {

        // top:-90px - 10px;

    }
    @media (min-width: 1024px) {
        // top:-130px - 10px;
        // padding-right: 40px
    }

}


.giveagiftpromo-background-image-desktop{

    position: absolute;
    // top: 0;
    // left:0;
    // width: 100%;
    // height: 100%;


    // height: 100%;
    // width:auto;
    z-index: 1;
    // left:0;
    // transform:translateX(-50%);

   // /* IE8+ - must be on one line, unfortunately */
   // -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";
    // margin: auto;
    // left: 0px;
    // right: 0px;
    // top: 0px;
    // bottom: 0px;

    display: none;


    @media (min-width:768px){
        display: block;
    }

}

// img.giveagiftpromo-background-image-desktop{
//      max-width: 1920px;
// }


.giveagiftpromo-background-image-mobile{

    position: absolute;
    // top: 0;
    // left:0;
    // width: 100%;
    // height: 100%;


    display: block;


    // height: 100%;
    // width:auto;
    z-index: 1;

    // left:50%;
    // transform:translateX(-50%);


    @media (min-width:768px){
        display: none;
    }

}

.giveagiftpromo-background-image-mobile-box{
    // position: absolute;
    // top:0;
    // width:100%;

}

.giveagiftpromo-content{
    position: relative;
    z-index: 3;
    // padding-bottom: 87%;


    @media (min-width:768px){

        max-width: 1260px;
        margin:0 auto;
        padding-bottom: 0;
        // min-height: 768px;

    }

}


.giveagiftpromo-content-inner{

    margin:0 auto;
    padding:40px 20px;

    @media (min-width:768px){


        width: 90%;
        padding-top: 100px;
        padding-bottom: 100px;

        padding-left: 50px;
        padding-right: 50px;


    }

    @media (min-width:980px){


        // padding-top: 100px;
        // padding-bottom: 100px;

        // padding-left: 50px;
        // padding-right: 50px;


    }

}

.giveagiftpromo-content-button{

    margin-bottom: 30px;

    // text-align: center;

    @media (min-width:768px){

        // text-align: left;

    }


}

.giveagiftpromo-content-cta{

    // text-align: center;


    @media (min-width:768px){

        // text-align: left;
    }


}
