.giveagiftsign{



}


.giveagiftsign-inner{


    margin:0 auto;
    max-width:1043px;
    padding-bottom: 50px;

        @media (min-width:768px){
            padding-bottom: 100px;
        }

        @media (min-width:1320px){

        }


}




.giveagiftsign-personalise-inner{


        @media (min-width:768px){
            display: table;
            width: 100%;
        }


}


.giveagiftsign-title{

    font-size: 25px;

    @include font-Univers-Light;
    letter-spacing: -0.04em; // As per Design QA
    //line-height: 1.2;
    line-height: 1.08;
    text-align: center;

    border-bottom:1px solid #c9c9c9;
    padding-bottom: 13px;
    margin-bottom: 28px;

    @media (min-width:768px){
        font-size: 40px;
        padding-bottom: 20px;
        margin-bottom: 37px;
    }

    @media (min-width:1320px){

    }

}

.giveagiftsign-subtitle{

    @include font-Univers-Light;

    text-align: center;

    line-height: 1.2;

    color:#010101;
    font-size: 21px;

    margin-bottom: 15px;

        @media (min-width:768px){
            margin-bottom: 43px;
            font-size: 30px;
        }

        @media (min-width:1320px){

        }

}



.giveagiftsign-personalise{

    margin-bottom: 47px;

    @media (min-width:768px){
        margin-bottom: 74px;

    }

}

.giveagiftsign-personalise-card{


    max-width: 195px;
    margin:0 auto;
    margin-bottom: 45px;

    @media (min-width:768px){
    max-width: none;
    margin-bottom: 0;
    display: table-cell;
    vertical-align: top;
    padding-right: 40px;

    }

    @media (min-width:1320px){

    }

    img{
        width: 100%;
        height: auto;
    }

}

.giveagiftsign-personalise-form{
    @media (min-width:768px){

    display: table-cell;
    vertical-align: top;
    width: 58%;

    }

    @media (min-width:1320px){

    }
}




.giveagiftsign-personalise-form-relationshipoccasion{

    @media (min-width:1024px){
        display: table;
        width: 100%;
        table-layout: fixed;
    }

}


.giveagiftsign-personalise-form-relationshipoccasion-1{

    @media (min-width:1024px){
        display: table-cell;
        vertical-align: top;
        padding-right: 20px;
    }

}
.giveagiftsign-personalise-form-relationshipoccasion-2{


    @media (min-width:1024px){
        display: table-cell;
        vertical-align: top;
        padding-left: 20px;

    }

}



.giveagiftsign-deliverymethod {
    @media (min-width: 980px) {
        max-width: 780px;
        margin: 0 auto;
    }
}


.giveagiftsign-deliverymethod-content-pane {
    display: none;
}


.giveagiftsign-deliverymethod-content-pane-is-active {
    display: block;
}



.giveagiftsign-deliverymethod-body{

    max-width: 611px;
    margin:0 auto;

}




.giveagiftsign-submit{

    text-align: center;
    //padding-top: 37px;
    padding-top: 37px - 19px; // Minus margin from last formset-row, as per Design QA
    //display: none;

    @media (min-width:768px){
        //padding-top: 50px;
        padding-top: 50px - 30px; // Minus margin from last formset-row, as per Design QA
    }

    @media (min-width:1320px){

    }

}










.giveagiftsign-deliverymethod-post{
    //display: none;
}




.giveagiftsign-footer{
    margin-top: 50px;

    @media (min-width:768px){
        margin-top: 100px;
    }



}


.giveagiftsign-footer-inner{

    display: table;
    width: 100%;
    table-layout: fixed;

}


.giveagiftsign-footer-cardpagination{

    display: table-cell;
    vertical-align: middle;
    width: 162px;

        @media (min-width:768px){
            width: 225px;
        }

        @media (min-width:1320px){

        }

}

.giveagiftsign-footer-skip{

    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    text-align: right;


    @media (min-width:980px){
        padding-right:  225px + 10px;
        text-align: center;
    }

    @media (min-width:1320px){

    }
    .cta{
        text-align: left;
        display: inline-block;
        transition: color 0.2s ease; // As per Design QA
    }

}

// .giveagiftsign-personalise-message {
//  height: 160px;

//  @media (min-width: 768px) {
//      height: 120px;
//  }
// }
