.giveagiftchoose{
padding-bottom: 50px;

    @media (min-width:768px){
        padding-bottom: 75px;
    }

    @media (min-width:1320px){

    }

}

.giveagiftchoose-title{

    @include font-Univers-Light;
    font-size: 25px;
    margin: 0;
    margin-bottom: 23px;
    color:#ef4e4e;

    @media (min-width:768px){
        font-size: 40px;
        margin-bottom: 30px;
    }

    @media (min-width:1320px){

    }

}

.giveagiftchoose-list {
    @include clearfix();

    margin-bottom: 30px;

    @media (min-width: 568px) {
        margin-left: -10px;
        margin-right: -10px;
    }

    @media (min-width: 768px) and (max-width: 1023px), (min-width: 1320px) {
        margin-left: -17px;
        margin-right: -17px;
    }


}

.giveagiftchoose-item {
    margin-bottom: 14px;
    float: left;
    width: 100%;

    @media (min-width: 568px) {
        margin-bottom: 20px;
        padding: 0 10px;
        width: 50%;
    }

    @media (min-width: 768px) {
        width: 50%;
    }

    @media (min-width: 768px) and (max-width: 1023px), (min-width: 1320px) {
        margin-bottom: 34px;
        padding: 0 17px;
    }

    @media (min-width: 1024px) {
        // margin-bottom: 40px;
        // padding: 0 20px;
        width: 33.33%;
    }
}

.giveagiftchoose-item-inner {
    position: relative;
    border: 3px solid #f6f6f6;
    border-radius: 2px;
}

.giveagiftchoose-item-image{
    display: block;
    overflow: hidden;
    height: 0;
    padding-bottom: 60%; // 560x336

    img{
        width: 100%;
        height: auto;
    }

}

.giveagiftchoose-item-image-needed {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 8px 10px;
    z-index: 2;

    background-color: #ff13a1;
    color: #fff;
    @include font-Univers-Roman;
    font-size: 14px;
    text-transform: uppercase;

    @media (min-width: 1320px) {
        padding: 10px 15px;
        font-size: 17px;
    }

    > i {
        @include fonticon-alert;
        margin-right: 5px;

        @media (min-width: 1320px) {
            margin-right: 10px;
        }
    }
}

.giveagiftchoose-item-image-mobile{


    display: block;

    @media (min-width:768px) {

        display: none;
    }

}

.giveagiftchoose-item-image-desktop{
    display: none;

    @media (min-width:768px) {

        display: block;
    }

}


.giveagiftchoose-item-content{
    padding: 20px;
    background-color: #fff;

    @media (min-width: 768px) {
        padding: 30px 40px 40px;
    }
}

.giveagiftchoose-item-content-title {
    margin-bottom: 8px;
    padding-bottom: 8px;

    border-bottom: 1px solid #ccc;
    font-size: 21px;
    line-height: 1.05em;

    @media (min-width: 768px) {
        font-size: 30px;
        padding-bottom: 8px;
        margin-bottom: 8px;
    }
}

.giveagiftchoose-item-content-price {
    margin-bottom: 10px;

    color: #f09;
    @include font-Univers-Light;
    font-size: 17px;

    @media (min-width: 768px) {
        font-size: 20px;
    }
}

.giveagiftchoose-item-content-story {
    padding-bottom: 38px;

    @media (min-width: 568px) {
        padding-bottom: 25px;
    }
}


