.glossary{

}

.glossary-listing-title{
    margin-bottom: 40px;
    @media (min-width:721px){
        // margin-bottom: 80px;
    }

    h2{
        text-align: left;
    }
    
} 

.glossary-listing{
    font-size: 25px;
    @include font-CelliniRegular; 
    padding-right:5px;


}
a.glossary-listing{
    text-decoration: underline;

    &:hover{
        // color: #7c8082;
    }

}




.gloassary-goto{
    font-size: 25px;
    @include font-CelliniMedium;
    color: #34393b;
    padding-right: 5px;

    @media (min-width:721px){
    padding-right: 25px;
        
    }
    @media (min-width:1000px){
        
    }
    @media (min-width:1200px){
        
    }
    @media (min-width:1400px){
        
    }
}
.glossary-listing-category{
    margin-bottom: 50px;
}

.glossary-item-title{
    font-size: 15px;
    color: #34393b;
    text-transform: uppercase;
}

.glossary-section{
    margin-bottom: 45px;
}

.glossary-label{
    h2{
        text-align: left;
    }
}