.haveyoursay-link{

  position: fixed;
  right:0;
  top:0;
  bottom:0;
  width: 0;
  z-index: 2;
  display: none;
    @media (min-width:768px){

      display: block;

    }

    @media (min-width:1024px){

    }

}

.haveyoursay-link-button{

  position: absolute;
  top:50%;
  right:0;
  width: 173px;
  height: 45px;
  background-color: #ee5d16;

  @include font-Halis-Black;
  font-size: 14px;
  color:#fff;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;

    transform: rotate(-90deg) translateX(50%)  translateY(-100%);
    transform-origin: 100% 0;
  &:focus,
  &:hover{
    background-color: #e2e2de;
    color:#202021;
    text-decoration: none;
  }


}




.popup-haveyoursay-outer{


    &.mfp-bg{
      opacity: 0.5;
    }

    .mfp-container{
      padding:0;
      overflow: hidden;
    }

    .mfp-content{
      text-align: right;
      padding:0;
    }



}


.haveyoursay-popup{
  // right: 90px;
  max-width: 523px;
  // margin-left: 45px;
  position: relative;
  // left:-45px;
  // right:45px;
  // display: block;
  // float: right;
  display: inline-block;
  padding-left: 45px;
  text-align: center;
  overflow: hidden;
  margin-right: 45px;
}


.haveyoursay-popup-inner{
  // padding-left: 45px;
  background-color: #e7e9eb;
}






.haveyoursay-popup-button{

  position: absolute;
  left:0;
  top:50%;
  width: 173px;
  height: 45px;
  background-color: #ee5d16;

  @include font-Halis-Black;
  font-size: 14px;
  color:#fff;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;

    transform: rotate(-90deg) translateX(-50%);
    transform-origin: 0 0;
    transition: background-color 0.2s ease, color 0.2s ease, width 0.4s ease 0.1s;

  &:focus,
  &:hover{
    background-color: #e2e2de;
    color:#202021;
    text-decoration: none;
  }



  .mfp-ready &{
    width: 530px;
  // left:0;
  // right:0;

  }


  .mfp-removing &{
    width: 173px;
  }

// &:before{
//   content: "";
//   display: block;
//   width: 100%;
//   height: 45px;
//   background-color: #ee5d16;
//   position: absolute;
//   left:0;
//   top:0;
//   background-color: red;
//   transform: scaleX(0);
//     transition:transform 0.4s ease;
//     // transform-origin:50% 0;
// z-index: 1;
//   .mfp-ready &{
//     // width: 100%;
//   transform: scaleX(1);

//   }


// }

}
.haveyoursay-popup-inner{
  // margin-left: -45px;

}

.haveyoursay-popup-inner2{
  // position: relative;
  // padding-left: 45px;
}


.haveyoursay-popup-content{
  // min-height: 520px;
  // padding:50px 0;
}





.haveyoursay-section-list{



}


.haveyoursay-section-item{

padding-left: 60px;
padding-right: 60px;
padding-top: 50px;
padding-bottom: 50px;

& + &{
border-top: 1px solid #d3d5d6;

}

}


.haveyoursay-section-item-title{

  @include font-Halis-Light;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 1.2em;

}

.haveyoursay-section-item-button{

  position: relative;
    display: inline-block;
    vertical-align: top;
    @include fp(font-size, 14, 18);
    @include font-Halis-Light;
    font-size: 18px;
    color: #202021;
    padding: 1em 1em;
    text-align: center;
    max-width: 422px;
    width: 100%;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        border: 1px solid #666666;
        transition: border 0.2s ease;
    }
        &:focus:before,
        &:hover:before {
            border-width: 3px;
        }
    &:focus,
    &:hover {
        color: #202021;
        text-decoration: none;
    }

}
