.headerlogin{



}

.headerlogin-inner{

position: relative;
z-index: 2;
padding-left: 20px;
padding-right: 20px;
padding-top: 21px;
padding-bottom: 0;

  @media (min-width:1024px){
    padding-left: 50px;
    padding-right: 50px;
  padding-top: 39px;
  padding-bottom: 0;

  }

  @media (min-width:1024px){

  }



}

.headerlogin-inner2{

  display: table;
  width: 100%;
  max-width: 2560px;
  margin:0 auto;

}


.headerlogin-logo{

  width: 61px;
  display: table-cell;
  vertical-align: middle;



  @media (min-width:768px){

    width: 67px;

  }


  @media (min-width:1024px){

    width: 108px;

  }

  img{
    width: 100%;
    height: auto;
  }

}


.headerlogin-title{

@include hidden;

}

.headerlogin-cta{


  width: 130px;
  display: table-cell;
  vertical-align: middle;
  text-align: right;


    @media (min-width:768px){
      width: 192px;
      padding-right: 11px;


    }

    @media (min-width:1024px){


    }


}
