.header {
    // position: relative;    //can't use because of bodyblocker
    // z-index: 10;
    background-color: #fff;


  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);



    @media (min-width: 1024px) {
      // height: 175px;
    }


    @media print{
      display: none;
    }
}

.header-decoration{
display: table;
width: 100%;
table-layout: fixed;
height: 8px;
position: relative;
z-index: 102;

  @media (min-width:768px){

  }

  @media (min-width:1024px){
height: 10px;

  }

&:before{
content:"";
display: table-cell;
background-color: #007bc3;
border-right: 2px solid #fff;

}
&:after{
content:"";
display: table-cell;
background-color: #202021;
border-left: 1px solid #fff;
}

}



.header-inner {

  @media (min-width:768px){
    // padding-left: 40px;
    // padding-right: 40px;
  }


  @media (min-width:1024px){

  }
    @media (min-width: 1024px) {

      @include fp(padding-left,20,50);
      @include fp(padding-right,20,50);


      @include fp(padding-top,20,36, $start: 1024);
      @include fp(padding-bottom,20,36, $start: 1024);



    }

}

.navigation-full {
    position: relative;
    z-index: $z-index-navigation-full-desktop;

    @media (min-width: 1024px) {
        // background-color: $colour-text-light;
        margin: 0 auto;
        max-width: 1328px;

          //   .is-headerbottomborderfull &{

          // max-width: none;

          // }


      }


    @media (min-width: 1680px) {
        // width: 100%;
        // display: table;
        // table-layout: fixed;
    }
    // a, label {
    //     color: $colour-text-dark;
    // }

        &:after{
          @media (min-width: 1024px) {
            content:"";
            position: absolute;
            left:0;
            right:0;
            bottom:0;
            height: 1px;
            z-index:1;
            margin:0 auto;
            // background-color:#e2e2e2;
            // background-color: rgba($colour-text-dark, 0.25);

            transition-property: left, right, opacity;
            transition-duration: 0.5s;
            transition-timing-function: ease;

            // .is-invertedheader &{

            //   background-color: rgba($colour-text-light, 0.25);

            // }



          }
        }
}

.navigation-full-inner {

    @media (min-width: 1024px) {

        // background-color: $colour-text-light;
        margin: 0 auto;
        max-width: 1328px;
        // border-bottom: 1px solid #e2e2e2;
        position: relative;



        // .is-invertedheader &{
        //   border-bottom: 1px solid transparent;
        // }

        // .is-excludeheader &{
        //   border-bottom: 0;
        // }


    }
    @media (min-width: 1300px) {
    }
    @media (min-width: 1680px) {
    }
}


.navigation-logo {
    display: none;
    @media (min-width: 1024px) {
      // position: absolute;
      // top:(-76px);
      // top:0;
      // left:50%;
      // margin-left: -125px;
      // width: 276px;
      // height: 133px;
      // height: 102px;
// top:0;
        // margin-left: 0;
        // left: 0px;
position: relative;
      display: block;
      width: 21%;
// height: 175px;
// height: 7.8%;
padding-bottom: 7.8%;
z-index: 1;
// padding-top: 35px;
// padding-bottom: 35px;
      // @include responsive-size(20vw, 170px, 276px);


    }
    @media (min-width: 1300px) {
    }
    @media (min-width: 1680px) {
    }
}



.navigation-logo-inner {
    // padding: 0 15%;
    // max-width: 355px;
      position: absolute;
      left:0;
      top:50%;
      width: 100%;


      transform:translateY(-50%);

    @media (min-width: 1300px) {
        // margin-left: -20px;
    }
    @media (min-width: 1320px) {}
    img {
        width: 100%;
        height: auto;
    }
}

.navigation-primary {
    @media (min-width: 1024px) {
      // padding-left: (40px + 276px);
      // padding-left: 231px;
      position: absolute;
      bottom:-5px;
      right:0;
      padding-left: calc(21% + 40px);
      // max-width: 1230px;
      max-width: 1230px;
      width: 100%;

      margin-left: auto;
      // padding-top: 109px;
    }
}

.navigation-primary-inner {
    @media (min-width: 1024px) {
        position: relative;
        z-index: 10;
        // margin-left: auto;
        margin-right: -15px;
    }
}

.navigation-primary-list {
    @media (min-width: 1024px) {
        width: 100%;
        position: relative;
        // display: table;
        text-align: justify;
        // font-size: 0.1px;
        line-height: 20px;

        &:after{
          content:"";
          display: inline-block;
          width: 100%;
        }
    }
}

.navigation-primary-item {
    @media (min-width: 1024px) {
        display: table-cell;
        position: relative;
        vertical-align: top;
        display: inline-block;
        margin-bottom: -20px;
        text-align: left;
        // z-index: 2;//needed to be above donate button

        &:after{
          content:"";
          display: block;
          bottom:0;
          left: 0;
          right: 0;
          height: 2px;
          position: absolute;
          // background-color: $colour-text-dark;
          z-index: 1;
          // margin-left: -1px;//needed to fully cover line underneath
          // margin-right: -1px;//needed to fully cover line underneath
          transition-property: transform, opacity;
          transition-duration: .5s;
          transition-timing-function: ease;
          transform:scaleX(0);

          // .is-invertedheader &{
          //   background-color: $colour-text-light;
          // }
          // .heroplainbackground &{
          //   background-color: $colour-highlight;
          // }


        }
        &.navigation-primary-item--has-children:after{
          opacity: 0;
        }


        &:focus:after, &:hover:after, &.is-menu-focused:after, &.is-active:after{
          transform:scaleX(1);
          opacity: 0.999;//for redraw in ie9
        }
        &:focus.navigation-primary-item--has-children:after
        &:hover.navigation-primary-item--has-children:after{
          opacity: 0;
        }


    }
}

.navigation-primary-item-inner {
    @media (min-width: 1024px) {
        display: table;
        width: 100%;
        height: 54px;
        height: 46px;
        // background-color: $colour-text-light;
        position: relative;
        z-index: 2;
        padding-left: 10px;
        padding-right: 10px;
    }
}



.navigation-primary-item-label {




   @media (min-width: 1024px) {
        &:focus{
          text-decoration: none;
          color: #202021;
        }

        display: table-cell;
        vertical-align: middle;
        // position: relative;
        z-index: 3;
        transition-property: color;
        transition-duration: .5s;
        transition-timing-function: ease;
        text-align: center;
        // font-size: 13px;
        // text-transform: uppercase;
        padding: 0;
        @include font-Halis-Medium;
        text-transform: uppercase;
        color:#202021;
        // @include font-SaturdaySans-Regular;
        // border-left: 1px solid transparent;
        // border-right: 1px solid transparent;
        // padding:0 5px;
        // overflow: hidden;
          // color:$colour-text-dark;

        // .is-invertedheader &{
        // color: $colour-text-light;
        // }




        //   @media (min-width:768px){
        // font-size: 15px;

        //   }

        //   @media (min-width:1200px){
        // font-size: 20px;

        //   }


        @include fp(font-size, 16, 20);

        //, 15px


        &:before{
          content:"";
          display: block;
          position: absolute;
          left: 0px;
          right: 0px;
          top: 5px;
          bottom: 5px;
          border:1px solid #666666;
        opacity: 0;
        transform:scale(0.9);
        transition-property: transform, opacity;
        transition-duration: .2s;
        transition-timing-function: ease;

        }

        &:focus:before,
        &:hover:before{
          transform:scale(1);
          opacity: 1

        }
        .navigation-primary-item:focus &,
        .navigation-primary-item:hover &{
            // color:$colour-text-dark;

          // .is-invertedheader &{
          //   color: $colour-text-light;
          // }
          // .heroplainbackground &{
          //   color: $colour-highlight;
          // }
        color:#666666;
        text-decoration: none;

        }
        // .no-touch .navigation-primary-item--has-children:hover &, .touch .navigation-primary-item--has-children.is-menu-active & {
        //     // border-color: #f4f4f4;
        // }
        .navigation-primary-item.is-active & {


        }
        // border-right: 1px solid #0d8fe5;
    }



}




.navigation-utility {
    @media (min-width: 1024px) {
        position: absolute;
        // top: -6px;
        top: -18px;
        right: 0;
        left: 0;
        text-align: right;
        height: 44px;
    }
}

















.navigation-utility-inner {
    @media (min-width: 1024px) {
        max-width: 1328px;
        margin: 0 auto;
        display: block;
        // background-color: red;
    }
    @media (min-width: 1300px) {
    }
}

.navigation-utility-list {
    @media (min-width: 1024px) {
        display: inline-table;
        // width: 100%;
        padding-left: 0;
        vertical-align: top;
        // margin-right: -15px;
        // background-color: red;
    }
}

.navigation-utility-item {
    @media (min-width: 1024px) {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        padding-right: 45px;

        &:before{
          content:"";
          display: block;
          position: absolute;
          right: 22px;
          background-color: #e2e2de;
          height: 13px;
          width: 1px;
          top:50%;
          margin-top: -6px;


        }

          &:last-child:before{
            display: none;
            right: 0;
          }

          &:last-child{
            padding-right: 0;
          }

    }
}

.navigation-utility-item-label {
    @media (min-width: 1024px) {
        display: table;
        // height: 38px;
        height: 44px;
        vertical-align: top;

        color:#202021;

        @include font-Halis-Light;
        // @include font-SaturdaySans-Bold;
        // text-transform: uppercase;
        // font-size: 12px;
        // line-height: 16px;
        font-size: 15px;
        text-align: center;
        transition-property: color, opacity;
        transition-duration: .5s;
        transition-timing-function: ease;
        // opacity: 0.5;
          // color:$colour-text-dark;
&:focus,
&:hover{
text-decoration: none;
color:#007bc3;
}
        .navigation-utility-item:focus &,
        .navigation-utility-item:hover & {
          // color:$colour-text-dark;
          // opacity: 1;
        }
        .navigation-utility-item.is-active & {
          // color:$colour-text-dark;
        }
    }
    @media (min-width: 1024px) {
        // font-size: 13px;
        // padding:10px 33px;
    }
}

.navigation-utility-item-label-inner {
    @media (min-width: 1024px) {

        // height: 45px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        position: relative;
          &:after{
            content:"";
            display: block;
            opacity: 0;
            height: 1px;
            position: absolute;
            width: 100%;
            bottom:11px;
            left:0;
            right:0;
            background-color: #007bc3;
            transition-property: opacity;
            transition-duration: .5s;
            transition-timing-function: ease;
            .navigation-utility-item:focus &,
            .navigation-utility-item:hover & {

              opacity: 1;

            }

          }

    }
}


.navigation-utility-search {
    @media (min-width: 1024px) {
        // padding-left: 30px;
        overflow: hidden;
        //needed because occastionally field will cause scrollbars when sliding right, before hiding itself
        transition-property: width;
        transition-duration: 0.6s;
        transition-timing-function: ease;
        padding-left: 18px;
        height: 44px;
        position: relative;
        width: 44px;
        &.is-focused {
            // width: 120px;
            width: 387px;
        }
    }
}

.navigation-utility-search-field {
    @media (max-width: 1023px) {
        display: none;
    }
}

.navigation-utility-search-label-mobile {
    @media (min-width: 1024px) {
        display: none;
    }
}

.navigation-utility-search-label-desktop {
    display: none;
    @media (min-width: 1024px) {
        cursor: pointer;
        width: 26px;
        height: 44px;
        line-height: 44px;
        // padding: 0 15px;
        // display: table;
        text-align: right;

        // color: $colour-text-dark;



          // .is-invertedheader &{
          // color: $colour-text-light;
          // }

        .navigation-utility-search.is-focused & {
            display: none;
        }
        icon {
              @include fonticon-search;
              font-size: 22px;
            // font-size: 19px;
            // .icon-navigation-search(middle);
            // width: 20px;
            // height: 20px;
            // background-color: red;
            display: table-cell;
            // display: inline-block;
            vertical-align: middle;
            text-align: left;
            opacity: 1;

            // position: relative;
            // top: -2px;
            // .fonticon-bin-1(middle);
            // .is-search-open & {
            //     .fonticon-bin-2(middle);
            // }
            // &:before{
            //   position: relative;
            //   top:0px;
            //   right:-3px;
            // }


        }
    }
}

.navigation-utility-search-field {
    @media (min-width: 1024px) {
        position: absolute;
        top: -9999px;
        right:0;
            height: 44px;
        // top:-999px;
        // visibility: hidden;
        opacity: 0;
        // top:0;
        transition-property: opacity;
        transition-duration: 0.6s;
        transition-timing-function: ease;
        .navigation-utility-search.is-focused & {
            position: absolute;
            top: 0;
            opacity: 1;
            // visibility: visible;

        }
    }
}




.navigation-utility-search-field-input {
    background: none;
    border:0;
    // background-color: $colour-text-light;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 44px !important;
    width: 37px !important;
    border-radius: 0;
    font-size: 15px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-left: 51px !important;
    padding-right: 47px !important;
    transition-property: width !important;
    transition-duration: 0.6s !important;
    transition-timing-function: ease !important;
      // color:$colour-text-dark;

    @include placeholder(1s);

    //  {
    //      // color:$colour-text-dark;
    // }


      // border-bottom: 1px solid $colour-text-dark;

    // .is-invertedheader &{
    //   // border-bottom: 1px solid #e2e2e2;
    //   border-bottom: 1px solid rgba($colour-text-light,0.7);
    // }




    &:focus {
        outline: 0;
        // border-color: #e2e2e2;
    }

    .navigation-utility-search.is-focused & {
        width: 363px !important;
    }
}


.navigation-utility-search-field-icon{
    @media (min-width: 1024px) {
        position: absolute;
        top: 1px;
        height: 42px;
        width: 53px;
        left: 1px;
        border: 0;
        padding: 0;
        display: block;
        text-align: center;
        z-index: 2;
        outline:0;
          // color:$colour-text-dark;

        // .is-invertedheader &{
        // color: $colour-text-light;
        // }

        icon {
            // font-size: 19px;
            // .fonticon-bin-1(top);
              @include fonticon-search(middle);
              font-size: 22px;

            display: inline-block;
            width: 22px;
            height: 22px;
            color:#202021;
            // background-color: red;
            position: relative;
            top:4px;
            vertical-align: middle;
            // .is-search-open & {
            //     .fonticon-bin-2(top);
            // }

            // &:before{
            //   // @include fonticon-search(middle,false,false);
            // }



        }
    }
}

.navigation-utility-search-field-button {
    @media (min-width: 1024px) {
        position: absolute;
        top: 1px;
        height: 42px;
        width: 46px;
        right: 1px;
        border: 0;
        padding: 0;
        background-color: #007bc3;
        display: block;
        text-align: center;
        z-index: 1;
        outline:0;
          // color:$colour-text-dark;

        // .is-invertedheader &{
        // color: $colour-text-light;
        // }

        icon {
            // font-size: 19px;
            // .fonticon-bin-1(top);
              @include fonticon-arrowline-right(middle);
              font-size: 22px;

            display: inline-block;
            width: 22px;
            height: 22px;
            color:#fff;
            // background-color: red;
            position: relative;
            top:-1px;
            vertical-align: middle;
            // .is-search-open & {
            //     .fonticon-bin-2(top);
            // }

            // &:before{
            //   // @include fonticon-search(middle,false,false);
            // }



        }
    }
}

.navigation-utility-search-field-inner {

  position: relative;

}

.navigation-utility-search-field-input {}


#skip a:link, #skip a:hover, #skip a:visited {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip a:active, #skip a:focus {
    position: static;
    width: auto;
    height: auto;
}
