.header {
    @media (max-width: 1023px) {
        // padding-top: 20px;
        height: 62px;
    }
}

.header-inner {
    @media (max-width: 1023px) {
        // padding-top: 20px;
    }
}



.navigation-search {
    @media (max-width: 1023px) {
        // max-width: 400px;
        width: 100%;
        position: absolute;
        right: 0;
        // visibility: hidden;
        // top: 0;
        top: 0;

        padding:5px;
        //-100%;
        // margin-left: 20px;
        margin-top: 62px;
        z-index: $z-index-navigation-full-mobile;
        transform: translateY(-100%);
        opacity: 1;
        //delay moving back up to -99999px until after the slide back will have happened
        transition-property: transform, opacity, visibility;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0,0, 0.5s;
        // background-color: rgba(#f9fafc,0.95);
      background-color: #e7e9eb;
    }

    @media (min-width: 1024px) {
    display: none;
  }

    .is-search-open & {
        @media (max-width: 1023px) {
            transition-delay: 0;
            opacity: 1;
            visibility: visible;
            top: 0;
            transform: translateY(0);
        }
    }
}

.navigation-search-inner {
    display: table;
    width: 100%;
}
.navigation-search-field{
  display: table-cell;
  vertical-align: middle;


  input{
    @include placeholder(1s);
    height: 49px !important;
  }


}

.navigation-search-button{
  display: table-cell;
  vertical-align: middle;
text-align: center;
  background-color: #007bc3;
  width: 50px;
  position: relative;


button{
  position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 50px;
    height: 50px;
    outline: 0;
}

        icon {
            // font-size: 19px;
            // .fonticon-bin-1(top);
              @include fonticon-arrowline-right(middle);
              font-size: 22px;

            display: inline-block;
            width: 22px;
            height: 22px;
            color:#fff;
            // background-color: red;
            position: relative;
            top:-1px;
            vertical-align: middle;


        }
      }



.navigation-full {
    @media (max-width: 1023px) {
        // max-width: 400px;
        width: 100%;
        position: absolute;
        right: 0;
        visibility: hidden;
        // top: 0;
        top: 0;
        //-100%;
        // margin-left: 20px;
        margin-top: 62px;
        z-index: $z-index-navigation-full-mobile;
        // transform: translateX(100%);
        opacity: 0;
        //delay moving back up to -99999px until after the slide back will have happened
        transition-property: opacity, visibility;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0, 0.5s;
        background-color: rgba(#f9fafc,0.95);
    }
    .is-navigation-open & {
        @media (max-width: 1023px) {
            transition-delay: 0;
            opacity: 1;
            visibility: visible;
            top: 0;
            // transform: translateX(0);
        }
    }
}

a.navigation-bodyblocker {
    //Needed to specify A, because a[href] overrides some things
    // @media (max-width: 1023px) {
    cursor: pointer;
    position: fixed;
    left: 0;
    top: 62px;
    bottom: 0;
    bottom: -100px;
    //fix for iOS when scrolling fast
    right: 0;
    z-index: $z-index-navigation-bodyblocker;
    visibility: hidden;
    background-color: #000;
    opacity: 0;
    display: block;
    transition-property: opacity,visibility;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0, 0.5s;
    // @media (min-width: 1024px) {
    //     top: 203px;
    // }
    .is-navigation-open & {
        // .touch &{
        @media (max-width: 1023px) {
            transition-delay: 0;
            opacity: 0.15;
            visibility: visible;
        }
    }
    .is-subnavigation-open & {
        @media (min-width: 1024px) {
            transition-delay: 0;
            opacity: 0.15;
            visibility: visible;
        }
    }
    // }
    .no-touch & {
        @media (min-width: 1024px) {
            display: none;
        }
    }
}

.page {
    &.is-navigation-open-overflow-hidden {
        @media (max-width: 1023px) {
            overflow: hidden;
        }
    }
}

.headermobile {
    display: block;
    // background-//color: $colour-text-light;
    // overflow: hidden;
    position: relative;
    z-index: $z-index-headermobile;
    background-color: #fff;
    // .is-navigation-open & {
    //     box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.5);
    // }
    position: relative;

    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;

    // &:after{
    //   content:"";
    //   position: absolute;
    //   left:20px;
    //   right:20px;
    //   bottom:0;
    //   height: 1px;
    //   z-index:1;
    //   background-color:#e2e2e2;

    //   transition-property: left, right;
    //   transition-duration: 0.5s;
    //   transition-timing-function: ease;


    // }

    .is-navigation-open & {

      background-color: #fff;

    }
    @media (min-width: 1024px) {
        display: none;
    }
    @media (min-width: 1320px) {}

    @media print{
      display: none;
    }

}

.headermobile-inner {
    display: table;
    width: 100%;
    table-layout: fixed;
    height: 54px;

}

.headermobile-logo {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    text-align: left;


    @include fp(padding-left,20,50);


      @media (min-width:1320px){

      }
}

.headermobile-logo-inner {
    // width: 100%;
    width: 106px;
    // height: 63px;
    height:33px;
    margin-left: -10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;


    svg{
      width: 100%;
      height: auto;
    }
}





.headermobile-searchtoggle {
    display: table-cell;
    vertical-align: middle;
    width: 55px;
    text-align: center;
    overflow: hidden;
    line-height: 10px;

      // @media (min-width:768px){
      //   width: 104px;
      // line-height: 10px;
      // }

            transition-property: background-color;
            transition-duration: 0.5s;
            transition-timing-function: ease;

    .is-search-open &{
        background-color: #e7e9eb;
      }


}


.headermobile-searchtoggle-inner{

  icon{
    @include fonticon-search;
    font-size: 19px;
    color:#202021;
  }

}


// .headermobile-searchtoggle-copy{
//   // @include typography-togglemenu;
// display: block;
//   text-align: center;
//   vertical-align: middle;
//   position: relative;
//   top:-2px;
//   // text-transform: uppercase;
//   // color:$colour-text-dark;
//   transition-property: color;
//   transition-duration: 0.5s;
//   transition-timing-function: ease;
//     line-height: 10px;

//   @media (min-width:768px){
//     top:1px;
//     margin-right: 7px;
//     display: inline-block;
//     line-height: 10px;
//     }

//   @media (min-width:1320px){

//   }

//     // .is-invertedheader &{
//     //   // color:$colour-text-light;
//     // }


//     //   .heroplainbackground &,
//     // .is-navigation-open &{
//     //   // color:$colour-text-dark;
//     // }
// }



.headermobile-menutoggle {
    display: table-cell;
    vertical-align: middle;
    width: 55px;
    text-align: center;
    overflow: hidden;
    line-height: 10px;

            transition-property: background-color;
            transition-duration: 0.5s;
            transition-timing-function: ease;


      .is-navigation-open &{
        background-color: #e7e9eb;
      }

      // @media (min-width:768px){
      //   width: 104px;
      // line-height: 10px;
      // }

}



// .headermobile-menutoggle-copy{
//   // @include typography-togglemenu;
// display: block;
//   text-align: center;
//   vertical-align: middle;
//   position: relative;
//   top:-2px;
//   // text-transform: uppercase;
//   // color:$colour-text-dark;
//   transition-property: color;
//   transition-duration: 0.5s;
//   transition-timing-function: ease;
//     line-height: 10px;

//   @media (min-width:768px){
//     top:1px;
//     margin-right: 7px;
//     display: inline-block;
//     line-height: 10px;
//     }

//   @media (min-width:1320px){

//   }

//     // .is-invertedheader &{
//     //   // color:$colour-text-light;
//     // }


//     //   .heroplainbackground &,
//     // .is-navigation-open &{
//     //   // color:$colour-text-dark;
//     // }
// }

// .headermobile-toggle-copy--opened{
//     display: none;
//     .is-navigation-open &{
//         display: inline;
//     }
// }

// .headermobile-toggle-copy--closed{
// display: inline;
//     .is-navigation-open &{
//         display: none;
//     }

// }
.headermobile-menutoggle-inner {
    position: relative;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    icon, iconinner {
        position: absolute;
        top: 50%;
        left: 0;
        // margin-top: -2px;
        margin-left: 0;
        text-indent: -9999px;
        &:before, &:after {
          opacity: 1;
            cursor: pointer;
            height: 2px;
            width: 20px;
            // background: $colour-text-dark;
            background-color: #000000;
            border-radius: 1px;
            position: absolute;
            display: block;
            content: '';
            // transition: all 500ms ease;
            transition-property: background-color, top, bottom, transform, opacity;
            transition-duration: 0.5s;
            transition-timing-function: ease;


        // .is-invertedheader &{
        //   background:$colour-text-light;
        // }


        //   .heroplainbackground &,
        // .is-navigation-open &{
        //   background:$colour-text-dark;
        // }


        }

    }

    icon{

            &:before {
                top: -7px;
                .is-navigation-open & {
                    top: -1px;
                    transform: rotate(-45deg);
                }
            }
            &:after {
                bottom: -7px;
                .is-navigation-open & {
                    bottom: -1px;
                    transform: rotate(45deg);
                    // opacity: 0;
                }
            }
    }



    iconinner{

            &:before {
                top: -3px;
                .is-navigation-open & {
                    top: -1px;
                    transform: rotate(-45deg);
                    opacity: 0;
                }
            }
            &:after {
                bottom: -3px;
                .is-navigation-open & {
                    bottom: -1px;
                    transform: rotate(45deg);
                    opacity: 0;
                }
            }
    }


}


.navigation-utilityandsecondary-inner {
    // @media (max-width: 1023px) {
    //     display: table;
    //     width: 100%;
    // }
}

.navigation-utility {
    // @media (max-width: 1023px) {
    //     display: table-cell;
    // }
}

.navigation-secondary {
    // @media (max-width: 1023px) {
    //     display: table-caption;
    //     caption-side: top;
    // }
}

.navigation-full {}

.navigation-full-inner {}

.navigation-logo {}

.navigation-logo-inner {}

.navigation-primary {}

.navigation-primary-inner {}

.navigation-primary-item {
    @media (max-width: 1023px) {
        // border-left: 4px solid #57afe1;
        position: relative;
        //****************************************
        // menu icon - removed because the interaction model (tap once, tap twice) we are using doesn't fit using an icon
        //****************************************
        // &:before{
        //     @include icon-navigation-collapsed;
        //     content: "";
        //     display: block;
        //     position: absolute;
        //     top:26px;
        //     right:15px;
        //     // margin-top:-5px;
        // }
        // &.is-menu-active:before{
        //   @include icon-navigation-expanded;
        // }
        // &:after {
        //     content: "";
        //     display: block;
        //     position: absolute;
        //     height: 1px;
        //     bottom: 0;
        //     left: 0;
        //     right: 0;
        //     z-index: 1;
        //     @include rgbaBackground($colour-text-dark, 0.1);
        //     // background-color: red;
        //     // .navigation-secondary-item:hover &, .navigation-secondary-item:hover + .navigation-secondary-item &{
        //     //     display: none;
        //     // }

        // }
    }
}

.navigation-primary-item--has-children {}

.navigation-primary-item-label {

    // @include typography-navigationprimary;

    @media (max-width: 1023px) {
        // @include font-SaturdaySans-Regular;
        // font-size: 18px;
        display: table;
        width: 100%;
        text-transform: uppercase;
        //color: $colour-text-dark;
        border-top:1px solid #ffffff;
        border-left:4px solid transparent;


        @include font-Halis-Bold;
        font-size: 18px;
        line-height: 1.2;
        text-transform: uppercase;
            color:#202021;



        .navigation-primary-item:first-child &{
          border-top: 0;
        }
        &:focus,
        &:hover {
            //color: $colour-text-dark;
            text-decoration: none;
            background-color: #ffffff;
            color:#202021;

        }

        // .navigation-primary-item:first-child &{
        //     border-top:0;
        // }

        // &:hover {
        //     // border-left-color:$colour-highlight;
        //     //color: $colour-text-dark;
        // }


        // .is-active &{

        //     // border-left-color:$colour-highlight;
        //     // color:$colour-highlight;
        //     // border-bottom:2px solid $colour-text-dark;

        // }
        // // .is-inverted &{
        // //   color:$colour-text-dark;

        // //   &:hover {
        // //       //color: $colour-text-dark;
        // //   }

        // // }



    }
}

.navigation-primary-item-label-background {
    @media (max-width: 1023px) {
        display: none;
    }
}

.navigation-primary-item-label-inner {
    @media (max-width: 1023px) {
        display: table-cell;
        vertical-align: middle;
        padding: 21px 17px;

  &:after{
          content:"";
          display: block;
          position: absolute;
          right:2px;
          top:0;
          bottom:0;
          width: 3px;

            // .is-energy &{
            //     background-color: #7938af;
            // }

            // .is-water &{
            //     background-color: #007bc3;
            // }


            // .is-transport &{
            //     background-color: #4b954b;
            // }

            // .is-localgovernment &{

            //   background-color: #e11c1c;

            // }

            // .is-specialreviews &{

            //   background-color: #077782;

            // }


 @each $name, $color in $industries {
 .is-#{$name} &{
 background-color: $color;
 }
}




        }
    }
}

.navigation-primary-list {

      @media (max-width: 1023px) {
        // padding-top: 0;
      }

}

.navigation-secondary {}

.navigation-secondary-item-label {
    @media (max-width: 1023px) {
        // @include font-SaturdaySans-Regular;
        font-size: 14px;
        display: table;
        width: 100%;
        // padding-left: 4px; // To align with .navigation-primary-item
        //color: $colour-text-dark;
        &:focus,
        &:hover {
            //color: $colour-text-dark;
        }
    }
}

.navigation-secondary-item-label-inner {
    @media (max-width: 1023px) {
        display: table-cell;
        vertical-align: middle;
        padding: 19px 20px;
    }
}

.navigation-secondary-item {
    @media (max-width: 1023px) {
        position: relative;

    }
}

.navigation-sub-item-label {
    // @include typography-navigationsub;
    border-left:4px solid transparent;

    @media (max-width: 1023px) {
        // font-size: 16px;
        display: table;
        width: 100%;
        //color: $colour-text-dark;

        .navigation-sub-item.is-active & {
            // border-left-color:$colour-highlight;
            // color:$colour-highlight;
        }

    }
}

.navigation-sub-item-label-inner {
    @media (max-width: 1023px) {
        display: table-cell;
        vertical-align: middle;
        padding: 12px 17px;
        // padding-top: 0;
        padding-left:12px + 13px;
;
    }
}

.navigation-sub {
    @media (max-width: 1023px) {
        display: none;
        .is-menu-active & {
            display: block;

        }
    }
    // .is-menu-active &{
    //   display: block !important;
    // }
    @media (min-width: 1024px) {
        display: block !important;
    }
}

.navigation-sub-list {
    @media (max-width: 1023px) {
        // padding-bottom: 10px;
        // position: relative;
        // margin-top: -13px;
        margin-bottom: 13px;
    }
}

.navigation-utility {
    @media (max-width: 1023px) {
        // padding: 10px 0;
    }
}

.navigation-utility-item {
    @media (max-width: 1023px) {
        position: relative;
    }
}

.navigation-utility-item-label {

    // @include typography-navigationutility;

    @media (max-width: 1023px) {
        // @include font-SaturdaySans-Regular;
        // font-size: 14px;
        display: table;
        width: 100%;
        // padding-left: 4px;
        // To align with .navigation-primary-item
        //color: $colour-text-dark;

        border-top:1px solid #ffffff;
        padding-left: 4px;
        color:#202021;
        // .navigation-primary-item:first-child &{
        //     border-top:0;
        // }

        @include font-Halis-Book;
        font-size: 14px;
        line-height: 1.2;
        text-transform: uppercase;

        &:focus,
        &:hover {
            //color: $colour-text-dark;
            text-decoration: none;
            background-color: #ffffff;
            color:#202021;

        }
    }
}

.navigation-utility-item-label-inner {
    @media (max-width: 1023px) {
        display: table-cell;
        vertical-align: middle;
        padding: 20px 20px;


    }
}
