.headersignup{


}

.headersignup-inner{

position: relative;
background-color: #231f20;
z-index: 2;
padding-left: 20px;
padding-right: 20px;
padding-top: 12px;
padding-bottom: 12px;

  @media (min-width:768px){
    padding-left: 70px;
    padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;

  }

  @media (min-width:1024px){

  }



}

.headersignup-inner2{

  display: table;
  width: 100%;
  max-width: 2560px;
  margin:0 auto;

}


.headersignup-logo{

  width: 38px;
  display: table-cell;
  vertical-align: middle;



  @media (min-width:768px){

    width: 67px;

  }


  @media (min-width:1024px){

    width: 73px;

  }

  img{
    width: 100%;
    height: auto;
  }

}


.headersignup-title{

display: table-cell;
vertical-align: middle;
color:#fff;
text-align: center;

padding-left: 10px;
padding-right: 10px;


  @include typography-heading1;



  //   @include font-Halis-Bold;
  //   font-size: 19px;
  //   line-height: 19px;
  //   text-transform: uppercase;



  //   @media (min-width:768px){

  //       font-size: 42px;
  //       line-height: 38px;
  //       padding-left: 30px;
  //       padding-right: 30px;
  //   }


  //   @media (min-width:1024px){
  //     font-size: 48px;
  //     line-height: 48px;
  //   }


  // @media (min-width:1280px){
  //   padding-left: 50px;
  //   padding-right: 50px;



  //       font-size: 72px;
  //       line-height: 70px;


  // }



}




.headersignup-graphic{

position: absolute;
right:0;
top:0;
z-index: 1;
width: 100%;
background-color: red;


}

.headersignup-graphic-inner{
    // max-width: 1560px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    pointer-events:none;
  }

  .headersignup-graphic-inner2{
    position: relative;
    margin-left: auto;
    height: 0;
  // overflow: hidden;

      @media (min-width:1024px){
        width: 748px;

      }

      @media (min-width:1100px){

      }

  }

.headersignup-graphic-inner3{

  position: relative;
  overflow: hidden;
  height: 104px;

  @media (min-width:768px){

    height: 140px;

  }

  @media (min-width:1024px){

    width: 748px;
    height: 290px;

  }

  @media (min-width:1100px){

  }


}

.headersignup-graphic-inner4{

  position: relative;


  @media (min-width:1024px){

    margin-right: -195px;
  }

  @media (min-width:1100px){
    margin-right: 0;

  }


}

.headersignup-graphic-blue{

@include ball("#5CC5C4",0.8);
position: absolute;
z-index: 1;
    width: 30px;
    height: 30px;
    top: 65px;
    right: -5px;

    @media (min-width:768px){
    top:102px;
  }

  @media (min-width:1024px){
    width: 148px;
    height: 146px;
    right: -115px;
    top: 131px;
  }

  @media (min-width:1024px){

  }

}

.headersignup-graphic-yellow{

@include ball("#6dbae7",1);
    position: absolute;
    width: 156px;
    height: 137px;
    top: -37px;
    right: -26px;

  @media (min-width:768px){
    top:0;
  }

  @media (min-width:1024px){

    width:784px;
    height:573px;

    right: -300px;
    top: -232px;

    background-size: 100% 100%;
    transform: rotate(-10deg);
    transform-origin: left bottom;

  }

  @media (min-width:1024px){

  }

}




.headersignup-secure{

  width: 70px;
  display: table-cell;
  vertical-align: middle;



  @media (min-width:768px){

  width: 119px;

  }

  @media (min-width:1024px){

  width: 170px;

  }

  img{
    width: 100%;
    height: auto;
  }

}

