.heroemergencybackground {
    margin: 0 auto;
    position: relative;
    background-color: #444;
    overflow: hidden;
    //needed for mobile
    visibility: hidden;
}


.heroemergencybackground-inner {
    margin: 0 auto;
    position: relative;
    @media (min-width: 980px) {
        max-width: 1920px;
    }
}


.heroemergencybackground-image-cite {
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    right: 0;
    left:0;
    color: #fff;
    @include opacity(0.4);
    z-index: 3;
    font-size: 8px;

    @media (min-width: 768px) {
        font-size: 10px;
    }
}


.heroemergencybackground-image-cite-inner {

    max-width: 1260px;
    margin:0 auto;
    text-align: right;
    position: relative;
    padding-right: 20px;
    top:-20px;

    @media (min-width: 768px) {
        padding-right: 45px;
        top: -45px;
    }
}


.heroemergencybackground-content {
    position: relative;
    z-index: $z-index-hero-content;
}

.heroemergencybackground-image-box {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    position: absolute;

    @media (min-width: 980px) {
        margin-top: 0;
        position: absolute;
        width: 100%;
    }
}


.heroemergencybackground-image-mobile {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    z-index: 1;

    @media (min-width: 768px) {
        display: none;
    }
}

.heroemergencybackground-image-tablet {
    position: absolute;
    top: 0;
    display: none;
    width: 100%;
    z-index: 1;

    @media (min-width: 768px) {
        display: block;
    }

    @media (min-width: 980px) {
        display: none;
    }
}

.heroemergencybackground-image-desktop {
    position: absolute;
    top: 0;
    display: none;
    @media (min-width: 980px) {
        display: block;
    }
}


.heroemergencybackground-image-frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    background-color: rgb(48,48,50); // IE8 fallback
    background-color: rgba(48,48,50,0.6);
    border: 10px solid rgb(204,0,0); // IE8 fallback
    border: 10px solid rgba(204,0,0,0.4);

    -moz-border-image: -moz-linear-gradient(top, rgba(226,88,88,0.4) 0%, rgba(204,0,0,0.4) 100%);
    -webkit-border-image: -webkit-linear-gradient(top, rgba(226,88,88,0.4) 0%, rgba(204,0,0,0.4) 100%);
    border-image: linear-gradient(to bottom, rgba(226,88,88,0.4) 0%, rgba(204,0,0,0.4) 100%);
    border-image-slice: 1;


    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; // IE8
    .modern & {
        filter: none; // Don't affect IE9+
    }

    @media (min-width: 768px) {
        border-width: 25px;
    }
}


.heroemergency {
    display: table;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 10;


    @media (min-width: 980px) {
        background-color: transparent !important;
        //override mobile background color
        max-width: 1260px;
        text-align: center;
        margin-top: 0;
    }
}

.heroemergency-header {
    display: table-row;
    height: 70px;

    @media (min-width: 768px) {
        height: 111px;
    }
}

.heroemergency-header-inner {
    display: table-cell;
}

.heroemergency-content {
    display: table-row;
    //vertical-align: top;
    // position: relative;//can't have because of menu
    // z-index: 2;//can't have because of menu
    width: 100%;
    height: 100%;
    @media (min-width: 980px) {
        width: 55%;
        // height: 100vh;
        //will be overridden, used to ensure the rest of the page is pushed down 100% before js kicks in
        .heroemergency--align-center & {
            width: 65%;
        }
    }
}





.heroemergency-content-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 40px 20px;
    text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);

    @media (min-width: 980px) {
        padding: 40px 50px;
        vertical-align: middle;
    }
}

.heroemergency-content-button {

}

.heroemergency-content-cta {
    color: #fff;
    // font-size: 15px;

    @media (min-width: 980px) {
        // font-size: 20px;
    }

    @media (min-width: 1320px) {}
    a {
        color: #fff;
        &:hover {
            color: #ccebff;
        }
    }
}

.heroemergency-content-icon {
    margin-bottom: 15px;

    @media (min-width: 768px) {
        margin-bottom: 20px;
    }
}

.heroemergency-icon {
    display: inline-block;
    width: 60px;
    height: 60px;

    @media (min-width: 768px) {
        width: 123px;
        height: 123px;
    }
}


.heroemergency-content-title {
    line-height: 0.914em;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 0.1em;
    color: #fff;
    @include font-Univers-Black;
    // letter-spacing: -0.006em;
    @media (min-width: 500px) {
        font-size: 45px;
    }
    @media (min-width: 768px) {
        font-size: 60px;
    }
    @media (min-width: 980px) {
        font-size: 2.4em;
    }
    @media (min-width: 1320px) {}
}

.heroemergency-content-subtitle {
    // font-size: 50px;
    // line-height: 50px;
    font-size: 1em;
    line-height: 1.1em;
    font-size: 22px;
    //margin-bottom: 1em;
    margin-bottom: 12px; // As per Design QA - Emergency
    color: #fff;
    @include font-Univers-Light;
    // letter-spacing: -0.006em;
    // @media (min-width:768px){
    //  margin-bottom: 1em;
    // }
    @media (min-width: 500px) {
        font-size: 23px;
    }
    @media (min-width: 768px) {
        //margin-bottom: 1.5em;
        margin-bottom: 29px; // As per Design QA - Emergency
        font-size: 30px;
    }
    @media (min-width: 980px) {
        font-size: 1em;
    }
}

.heroemergency-logo {


    //display: table-cell;
    width: 154px;
    //vertical-align: middle;
    background: rgb(26, 163, 255);
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFhYTNmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDk5ZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(26, 163, 255, 1) 0%, rgba(0, 153, 255, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(26, 163, 255, 1)), color-stop(100%, rgba(0, 153, 255, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(26, 163, 255, 1) 0%, rgba(0, 153, 255, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(26, 163, 255, 1) 0%, rgba(0, 153, 255, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(26, 163, 255, 1) 0%, rgba(0, 153, 255, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(26, 163, 255, 1) 0%, rgba(0, 153, 255, 1) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aa3ff', endColorstr='#ef4e4e',GradientType=0 );
    /* IE6-8 */
    .modern & {
        filter: none;
    }

    @media (min-width: 768px) {
        width: 227px;
    }

}

.heroemergency-logo-inner {
    padding: 15px 20px;
    img {
        width: 100%;
        height: auto;
    }

    @media (min-width: 768px) {
        padding: 30px 30px 25px 37px;
    }
}


.heroemergency-footer {
    display: table-row;
    height: 70px;
    width: 100%;

    @media (min-width: 768px) {
        height: 111px;
    }
}


.heroemergency-footer-cta {
    display: table-cell;
    text-align: center;
    vertical-align: top;
}

