.herologinbackground {
    // max-width: 1680px;
    margin: 0 auto;
    position: relative;
    background-color: #444;
    // overflow: hidden;
    //needed for mobile\
    z-index: 3;
    visibility: hidden;
    // @media (min-width: 1200px) {}
}

.herologinbackground-inner {
    margin: 0 auto;
    // max-width: 414px;
    // position: relative;//can't have to allow -box to fill height
    @media (min-width: 1200px) {
        // max-width: 1920px;
        // max-width: 1920px;
    }
}

.herologinbackground-content {
    position: relative;
    z-index: 2;
}



.herologinbackground-image-box {
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 0;
    position: absolute;
    width: 100%;
    }

.herologinbackground-image-mobile {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50% 0;
    @media (min-width: 1200px) {
        display: none;
    }
}

// .herologinbackground-image-tablet {
//     position: absolute;
//     top: 0;
//     display: none;
//     height: 100%;
//     width: 100%;
//     background-size: cover;
//     background-position: 50% 0;

//     @media (min-width: 768px) {
//         display: block;
//     }
//     @media (min-width: 1200px) {
//         display: none;
//     }
// }

.herologinbackground-image-desktop {
    position: absolute;
    top: 0;
    display: none;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50% 0;

    @media (min-width: 1200px) {
        display: block;
    }
}


.herologin{

    overflow: hidden;
    margin-top: 33px;

        @media (min-width:768px){

        }

        @media (min-width:1200px){
            margin-top: -41px;
        }

}


.herologin-inner{

    position: relative;


    width: 320px;
      margin:0 auto;

                padding-bottom: 75px;


        @media (min-width:768px){

          padding-bottom: 90px;

        }

        @media (min-width:1200px){
            // width: 1186px;
            width: 1004px;
          padding-bottom: 190px;

        }


}


.herologin-form{

    margin-left: -155px;
    margin-right: -155px;

}

.herologin-form-inner{


    width: 461px;
    height:461px;
    background-size: 100% 100%;
    background-position: 50% 50%;
    z-index: 2;
    margin:0 auto;
    position: relative;
    background-image: url(../images/herologin-form.png);
    display: table;
    background-repeat: no-repeat;


        @media (min-width:768px){
            width: 520px;
            height: 520px;
            right:120px;
        }



        @media (min-width:1200px){


    width: 642px;
    height:636px;

            right:266px;
            background-size: 642px 636px;

        }


}

.herologin-form-inner2{

    display: table-cell;
    vertical-align: middle;
    // padding-top: 55px;
    padding-top: 60px;
    padding-bottom: 40px;

    @media (min-width:768px){

    }

    @media (min-width:1200px){

// padding-top: 119px;
padding-left: 114px;
padding-right: 124px;
// padding-bottom: 71px;
    }

}


.herologin-sidebar{

    margin-left: -155px;
    margin-right: -155px;
    margin-top: -40px;


      @media (min-width:768px){
        margin-top: 0;
      }

      @media (min-width:1320px){

      }

}

.herologin-sidebar-inner{

    position: relative;

    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 1;
    margin:0 auto;
    display: table;
    width: 496px;
    height: 434px;


        @media (min-width:768px){
            margin-top:-100px;

            left:120px;

    width: 547px;
    height: 432px;

        }

        @media (min-width:1200px){
    width: 607px;
    height: 532px;

            margin-top:-460px;

            left:300px;
        }
}


.herologin-sidebar-inner2{

    display: table-cell;
    vertical-align: middle;

    padding-left: 50px;
    padding-right: 50px;
  padding-bottom: 34px;
  padding-bottom: 169px;
  padding-top: 75px;

        @media (min-width:768px){


        }

      @media (min-width:1200px){
          padding-bottom: 207px;
        // padding-top: 16px;
      }

}


.loginform{

    width: 280px;
  margin:0 auto;


      @media (min-width:768px){
      width: 350px;
      }

      @media (min-width:1200px){


        width: 404px;

      }

}

.loginform--forgotthanks{
  display: none;
}

.loginform--forgot{
  display: none;
}


.loginform-title{

    text-align: center;
    @include typography-heading2;

}


.loginform-content{

    padding-top: 13px;

}


.loginform-content-form{

    margin-bottom: 20px;

    @media (min-width:768px){

        margin-bottom: 36px;

    }

    @media (min-width:1320px){

    }


}





.loginform-content-linkcta{



  @media (min-width:768px){
display: table;
width: 100%;
margin-bottom: 16px;

  }

  @media (min-width:1320px){

  }


}

.loginform-content-linkcta-link{


  margin-bottom: 5px;
  //   padding-top: 7px;

  @media (min-width:768px){
  margin-bottom: 0;
  display: table-cell;
  vertical-align: middle;
  }

}

.loginform-content-linkcta-cta{


  margin-bottom: 15px;
  //   padding-top: 7px;

  @media (min-width:768px){
    margin-bottom: 0;
    display: table-cell;
    vertical-align: middle;
  }

}


.loginform-content-rememberforgot{

display: table;
width: 100%;
margin-bottom: 16px;


}



.loginform-content-rememberforgot-remember{

display: table-cell;
vertical-align: top;

}


.loginform-content-rememberforgot-forgot{

    display: table-cell;
    vertical-align: top;
    text-align: right;


    padding-top: 7px;

  @media (min-width:768px){
    padding-top: 3px;
  }

}

.loginform-content-cta{

    text-align: center;

  @media (min-width:768px){
    padding-top: 20px;
  }

  @media (min-width:1320px){

  }
}


.loginsidebar{


  color:#fff;
  text-align: center;

  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;

    margin:0 auto;


      @media (min-width:768px){
        max-width: none;
    // padding-bottom: 30px;
      }

      @media (min-width:1320px){

      }


  h3{
    color:#fff;
  }

  p{
    color:#fff;
  }

  a{

    // border-bottom:1px solid #fff;
    @include font-Halis-Bold;
    font-size: 17px;
    line-height: 20px;

  @media (min-width:768px){

    font-size: 22px;
    line-height: 24px;

  }

  @media (min-width:1320px){

  }

    color:#fff;
    text-transform: uppercase;
    text-decoration: underline;

    &:hover{
      color:#6dbae7;
      // border-bottom:1px solid #6dbae7;
    }

  }

}

