.herohome-subtiles{
    padding:10px;
    padding-top: 0;
    padding-bottom: 25px;
    text-align: left;

    @media (min-width:768px){
    padding:0;
    }

    @media (min-width:1024px){
        padding:0 30px;
    }

    @media (min-width:1320px){
        padding:0; // Align to edge of nav
    }
}

.herohome-subtiles-inner{


}


.herohome-subtiles-list{

    @media (min-width:768px){
        display: table;
        width: 100%;
        border-collapse: collapse;
        border-style: hidden;
        table-layout: fixed;

    }

}

.herohome-subtiles-item{
    display: block;
    margin-bottom: 5px;

    &:last-child{
        margin-bottom: 0;
    }

    @media (min-width:768px){
        margin-bottom: 0;
        border:15px solid transparent;
        display: table-cell;
        vertical-align: middle;
    }

}


.herohome-subtiles-item-inner{

    display: table;
    width: 100%;
    table-layout: fixed;
    height: 70px;
    @media (min-width:768px){
        height:90px;
    }
    @media (min-width:1024px){

        height: 130px;

    }
}


.herohome-subtiles-item-image{
    display: table-cell;
    //vertical-align: middle;
    vertical-align: top; // Resolve IE8 alignment issue
    position: relative;
    overflow: hidden;
    width: 94px;

    @media (min-width:768px){
        width:42%;
    }
    @media (min-width:1024px){


    }

}



.herohome-subtiles-item-image-background{

    position: absolute;
    left: 0px;
    width: 500px;
    top: 0px;
    // bottom: 0px;
    height: 500px;
    @include rgbaBackground(#000,.65);
    z-index: 1;

}


// .herohome-subtiles-item-image-inner{

//  overflow: hidden;
//  position: relative;
//  z-index: 2;
// }

.herohome-subtiles-item-image-element{

    width: 100%;
    height: auto;
    position: absolute;
    top:0;
    z-index: 2;
    // width: 1px;
    // height: 1px;
    // height: 94px;

    @media (min-width:768px){
        // height:90px;
    }
    @media (min-width:1024px){

        // height: 130px;

    }
}

.herohome-subtiles-item-content{

    display: table-cell;
    vertical-align: middle;
    position: relative;
    text-transform: uppercase;
    @include font-Univers-Bold;

    padding:10px 17px;

    // font-size: 13px;
    overflow: hidden;

    @media (min-width:768px){
            font-size: 12px;
    width:58%;


    }

    @media (min-width:1024px){

        // font-size: 15px;
        padding:10px 24px;

    }


    @media (min-width:1200px){

        // font-size: 18px;
    }

    @media (min-width:1320px){
        padding:10px 25px;
    }

}


.herohome-subtiles-item-content-background{

    position: absolute;
    left: 0px;
    right: 0px;
    top: -40px;
    // bottom:0;
    height: 500px;

    @include rgbaBackground(#000,.5);
    z-index: 1;

}



.herohome-subtiles-item-content-inner{

    position: relative;
    z-index: 2;


    .cta{
        color:#fff;
        font-family: "Univers LT W01_65 Bold",sans-serif;

        font-size: 13px;

        @media (min-width:768px){
                font-size: 12px;
        }

        @media (min-width:1024px){

            font-size: 15px;

        }


        @media (min-width:1200px){

            font-size: 18px;
        }

        a:hover &{
            color:#ff0099;
        }

        .cta-arrow{
            color:#ff0099;
        }
    }


}
