.heroplainbackground{

    margin: 0 auto;
    position: relative;

    // @media (min-width: 980px) {
    //     overflow: hidden;
    // }

}

.heroplainbackground-content{




        padding:0 20px;
        max-width: 1260px + 20px+20px;
        margin:0 auto;

        @media (min-width:768px){
            padding:0 50px;
            max-width: 1260px + 50px+50px;
        }

        @media (min-width:1320px){

        }


}




.heroplain-breadcrumb{

	padding-top: 10px;
	// padding-left: 20px;

	@media (min-width:768px){
		// padding-left: 50px;
	}

	@media (min-width:1300px){
			// padding-left: 0;
	}

}


.heroplain-content{

	text-align: center;

}


.heroplain-title{

    line-height: 1em;
    // text-transform: uppercase;
    font-size: 35px;
    line-height: 1em;
    margin-bottom: 0.1em;
    color: #ef4e4e;
    @include font-Univers-Bold;
    letter-spacing: -0.006em;
	margin-top: 30px;
	margin-bottom: 30px;

    @media (min-width: 768px) {
        // font-size: 2.4em;
        // font-size:75px;
        font-size: 70px; // To match design

	margin-top: 60px;
	margin-bottom: 60px;

    }

    @media (min-width: 1320px) {}
    // font-size: 40px;
    // @media (min-width:768px){
    // font-size: 60px;
    // }
    // @media (min-width:1322px){
    // font-size: 100px;
    // }

 }

