.herohomebackground{

	background-color: green;


}

.herohomebackground-inner{

  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;




}

.herohomebackground-image-box{
  overflow: hidden;
  position: relative;
  background-color: #766f21;



  // @media (max-width:979px) {


  //   height: calc(340px);

  //   @media (min-height:340px) {

  //   height: calc(100vh) !important;

  //   }

  //   @media (min-height:439px) {

  //     height: calc(439px) !important;

  //   }

  // }


  // @media (min-width:980px) {

  //   height: calc(100vh);

  //   @media (min-height:817px) {

  //     height: calc(817px) !important;

  //   }

  //   @media (max-height:624px) {

  //     height: calc(624px) !important;

  //   }

  // }


}

.herohomebackground-image-mobile{
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 1px;//force unveil
  min-width: 1px;//force unveil
  display: block;
  background-size: 980px;
  background-position: 50% 0;
  background-repeat: no-repeat;
    @media (min-width:980px){
      display: none;

    }

}

.herohomebackground-image-desktop{
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 1px;//force unveil
  min-width: 1px;//force unveil
  display: none;
  background-size: 1680px;
  background-position: 50% 0;
  background-repeat: no-repeat;
   @media (min-width:980px){
    display: block;

    }

}



.herohomebackground-content{
    position: relative;
    z-index: 2;



}


.herohomebackground-content-background{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 1;

  background-color: #111;
  transition-property:opacity, visibility;
  transition-duration:0.5s;
  transition-delay:0.5s,0;
  transition-timing-function:ease;
  visibility: visible;

  .herohomebackground-content.is-loaded &{
  opacity: 0;
  visibility: hidden;
  }

}

.herohome{
  display: table;
  width: 100%;


  // @media (max-width:979px) {


  //   height: calc(340px - 91px);

  //   @media (min-height:340px) {

  //   height: calc(100vh - 91px) !important;

  //   }

  //   @media (min-height:439px) {

  //     height: calc(439px - 91px) !important;

  //   }

  // }


  // @media (min-width:980px) {

  //   height: calc(100vh - 155px);

  //   @media (min-height:817px) {

  //     height: calc(817px - 155px) !important;

  //   }

  //   @media (max-height:624px) {

  //     height: calc(624px - 155px) !important;

  //   }

  // }


}

.herohome-inner{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-bottom: 66px;
  padding-top: 16px;
  vertical-align: bottom;



    @media (min-width:980px){
      vertical-align: middle;
      padding-top: 90px;
      padding-bottom: 90px;

      // transform:translateY(3%)
    }

}


.herohome-content{
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width:980px){
    padding-left: 40px;
    padding-right: 40px;
  }
}

.herohome-content-title{
  margin:0 auto;
  color:#fff;
  text-shadow: 0 0 10px rgba(2, 2, 2, 0.2);
  margin-bottom: 16px;
  max-width: 390px;
  @media (min-width:980px){
    margin-bottom: 23px;
    max-width: 1140px;
  }
}



.herohome-arrow{
  background-color: red;
  position: absolute;
  left:50%;
  height: 28px;
  width: 32px;
  margin-left: (-32px / 2);
  bottom:17px;

  @media (min-width:980px){
    bottom:30px;
    width: 47px;
    height: 40px;
    margin-left: (-47px / 2);
  }
}
