.herohome{



}


@keyframes fadeOutDown {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
}


.herohome-arrow{
  text-align: center;

  padding-top: 10px;
  padding-bottom: 5px;
  display: block;
    color:#007bc3;


&:hover{

      color: #202021;

  }

&:focus{

      border-color: #202021;

  }

  @media (min-width:768px){

    }

    @media (min-width:1024px){
  padding-top: 10px;
  padding-bottom: 10px;

    }
  icon{
    @include fonticon-arrow-down;
    font-size: 25px;




  animation-name: fadeOutDown;
  animation-duration:4s;
  animation-iteration-count: infinite;


  @media (min-width:768px){

  }

  @media (min-width:1024px){
    font-size: 50px;

  }

  }





}

.herohome-inner{

  position: relative;

}


.herohome-slides{
position: relative;
z-index: 1;


}


.herohome-slides-arrows{
  position: absolute;
  left:0;
  right:0;
  top:50%;


    @media (min-width:768px){

    }

    @media (min-width:1024px){
      display: none;
    }

}

.herohome-slides-arrows-inner{
  // max-width: 408px;
  margin:0 auto;
  position: relative;

@include fp(max-width,280,1328);


}


.herohome-slides-carousel{

    .slick-slider{
      height: 100%;
    }

    .slick-list{
      height: 100%;
    }

  .slick-track{

    height: 100%;

  }

  .slick-prev,.slick-next{
    // margin-top: -24px;
    // width: 22px;


@include fp(margin-top,-22,-30);

@include fp(width,22,30);
@include fp(height,22,30);


      &:before{
        // font-size: 22px;
        color:#666666;

@include fp(font-size,22,30);



    }
        &.slick-disabled{
          &:before{
              opacity: 0;
            }
        }

  }

  .slick-prev{
    left:7px;
  }
  .slick-next{
    right:7px;
  }


}


.herohome-slides-list{

visibility: hidden;
&.slick-initialized{
  visibility: visible;
}

}


.herohome-slides-item{
position: relative;
min-height: 1px;


}


.herohome-slides-item-image{

  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 1;

}

.herohome-slides-item-image-mobile{

  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-size: cover;
  background-position: center center;

  @media (min-width:768px){

  }

  @media (min-width:1024px){
    display: none;

  }

}

.herohome-slides-item-image-desktop{

  display: none;

  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-size: cover;
  background-position: center center;

  @media (min-width:768px){

  }

  @media (min-width:1024px){
      display: block;
  }

}


.herohome-slides-item-content{

  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  user-select:none;

}


.herohome-slides-item-content-inner{

  display: table-cell;
  vertical-align: middle;
  text-align: center;

  // padding-top: 190px;
  // padding-bottom: 140px;

}


.herohome-slides-item-content-inner2{

padding-top: 20px;
padding-bottom: 20px;
// max-width: 500px;
  margin:0 auto;
  // padding-left: 20px;
  // padding-right: 20px;


@include fp(max-width,280,1328);


    @media (min-width:768px){
      // padding-left: 50px;
      // padding-right: 50px;
    }

    @media (min-width:1024px){
      // max-width: none;
      // max-width: 1328px;
    }

}

.herohome-slides-item-content-copy{

// font-size: 60px;
text-transform: uppercase;
color: #202021;
// font-size: 20px;


@include fp(font-size,20,60);

@include fp(line-height,20,78);


@include font-Halis-Bold;

line-height: 1;

      // padding-right: 20px;
      // padding-left: 20px;



//   @media (min-width:768px){

// font-size: 30px;
// line-height: 1.1;

//   }

//   @media (min-width:1024px){
//     line-height: 1.3;
//     font-size: 50px;

//   }


//   @media (min-width:1300px){
//     font-size: 60px;

//   }



}
.herohome-slides-item-content-copy-inner{
background-color: rgba(#fff,0.9);

// padding-top: 30px;
// padding-bottom: 50px;

// padding-left: 35px;
// padding-right: 35px;


  @include fp(padding-left,35, 50, $end:1023);
  @include fp(padding-right,35, 50, $end:1023);


  @include fp(padding-top,30, 50, $end:1023);
  @include fp(padding-bottom,50, 70, $end:1023);

  @media (min-width:768px){

  }

  @media (min-width:1024px){
  // box-shadow: 30px 0 0 rgba(#fff,0.9), -30px 0 0 rgba(#fff,0.9);
  // box-shadow: 0, 0 , 30px 0 0 rgba(#fff,0.9), -30px 0 0 rgba(#fff,0.9);
  background: transparent;
  // display: inline;

  padding-top: 0;
  padding-bottom: 0;

  padding-left: 1px;
  padding-right: 1px;

  }

  @media (min-width:1680px){

  }

  // display: inline;
  // background: orange;
  // box-shadow: 30px 0 0 orange, -30px 0 0 orange;


}

.herohome-slides-item-content-copy-line {
  display: inline;

  @media (min-width:1024px){
    display: block;
    margin-bottom: 2px;
  }
}

.herohome-slides-item-content-copy-inner2{
  display: inline;

  @media (min-width:768px){

  }

  @media (min-width:1024px){
    background-color: rgba(#fff,0.9);
  line-height: 1.35;
  display: inline-block;
  padding: 0 30px;

  }

}

.herohome-slides-item-content-cta{

margin-top: -20px;

  @media (min-width:768px){

  }

  @media (min-width:1024px){
    margin-top: 0;
  }

}

.herohome-slides-item-content-cta-button{

  background-color: #007bc3;

  @include font-Halis-Bold;
  color:#ffffff;

  // font-size:13px;
  line-height: 1;
  text-transform: uppercase;

  // padding:0 15px;
  // padding-top: 13px;
  // padding-bottom: 9px;
  display: inline-block;


  @include fp(font-size, 13,22);

  @include fp(padding-left, 15,40);
  @include fp(padding-right, 15,40);

  @include fp(padding-top, 13,18);
  @include fp(padding-bottom, 9,14);

  @media (min-width:768px){

  }

  @media (min-width:1024px){
    // font-size: 22px;

    // padding:0 40px;
    // padding-top: 18px;
    // padding-bottom: 14px;

  }

  &:after{
    @include fonticon-arrowline-right(middle, false);
    // font-size: 24px;
    // padding-left: 46px;
    position: relative;
    top:-2px;


    @include fp(padding-left, 47,74);



  @include fp(font-size, 24,41);


  // @media (min-width:768px){

  // }

  // @media (min-width:1024px){
  //   font-size: 41px;
  // }

  }
  &:focus,
  &:hover{
    text-decoration: none;
    background-color: #e2e2de;
    color: #202021;
  }

}








.herohome-buttons{

position: absolute;
bottom: 0;
left:0;
right:0;

z-index:2;



}

.herohome-buttons-carousel{

  max-width: 1328px;
  margin:0 auto;


.slick-list{

}

  .slick-track{

    display: table;



  }

  .slick-slide{
    display: table-cell;
    vertical-align: middle;
    float: none;
height: 110px;
      @media (min-width:768px){

      }

      @media (min-width:1024px){
    height: 117px;

      }

    }

}

.herohome-buttons-item{

cursor: pointer;
  background-color: #282625;

  text-align: center;
  position: relative;
  top:21px;
  padding-bottom: 20px;

    transition:background-color 0.8s ease;
    will-change:background-color;

    outline:0;


  @media (min-width:768px){

  }

  @media (min-width:1024px){
    & + &{
      border-left: 1px solid #4d4d4d;
    }
  }


  &:after{
    content:"";
    display: block;
    position: absolute;
    left:0;
    top:-6px;
    right:0;
    height: 6px;
    transform:scaleY(0);
    transform-origin:0 100%;
    transition:background 0.8s ease, transform 0.8s ease;
    background-color: #282625;
    will-change:background-color, transform;
  }

  &:before{

  content:"";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 15px 12px;
  border-color: transparent transparent #282625 transparent;
  position: absolute;
  top:-20px;
  left:50%;
  margin-left: -12px;
    transform:scaleY(0);
    transform-origin:0 22px;
    transition:border 0.8s ease, transform 0.8s ease;
    will-change:border, transform;


}


&:focus,
&:hover{

    background-color: #0a7fc3;

    &:before{
    border-bottom-color: #0a7fc3;
      // transform:scaleY(1);
    }
    &:after{
      // transform:scaleY(1);
      background-color: #0a7fc3;
    }

  }



  &.slick-current{

    background-color: #666666;

    &:before{
    border-bottom-color: #666666;
      transform:scaleY(1);
    }
    &:after{
      transform:scaleY(1);
      background-color: #666666;
    }

  }




}

.herohome-buttons-item-inner{

// font-size: 13px;
color:#fff;
// line-height: 15px;
padding-top: 10px;
padding-bottom: 10px;

padding-left: 10px;
padding-right: 10px;

max-width: 320px;

  margin:0 auto;

@include font-Halis-Book;


@include fp(font-size,13,18);
@include fp(line-height,15,24);

  // @media (min-width:768px){

  // }

  // @media (min-width:1024px){
  //   font-size: 18px;
  //   line-height: 24px;

  // }

}

.herohome-buttons-list{

visibility: hidden;
&.slick-initialized{
  visibility: visible;
}


}
