.howdonatingworks{

}

.howdonatingworks-inner{

  max-width: 835px;
  margin:0 auto;


}

.howdonatingworks-title{

  .typography-heading1 {
    letter-spacing: -.04em;
  }

  text-align: center;


  @media (min-width:768px){

    padding-bottom: 30px;
  }

  @media (min-width:1320px){

  }

}

.howdonatingworks-content{

  @media (min-width:768px){

    display: table;
    width:100%;
    border-style:hidden;
    border-collapse: collapse;
    table-layout: fixed;

  }

  @media (min-width:1320px){

  }
}

.howdonatingworks-content-donateonce{

  padding-bottom: 20px;
  @media (min-width:768px){
    padding-bottom: 0;
    display: table-cell;
    vertical-align: top;
    border:40px solid transparent;
  }


}

.howdonatingworks-content-donatemonthly{

  @media (min-width:768px){
    display: table-cell;
    vertical-align: top;

    border:40px solid transparent;

  }

}


.howdonatingworks-content-disclamer{

  p{
    color: #aaa;
    @include font-Univers-Roman;
    font-size:14px;

  }

}


.howdonatingworks-content-list{



}

.howdonatingworks-content-subtitle{



}

.howdonatingworks-content-title{

  margin-bottom: 0;

  @media (min-width: 768px) {
    margin-bottom: 4px;
  }


}

