.howinspiredgiftswork{

    text-align: center;


}

.howinspiredgiftswork-title{



}


.howinspiredgiftswork-steps-description{
    margin: 0 auto 20px;
    max-width: 950px;
}

.howinspiredgiftswork-steps-list{

    max-width: 950px;
    margin:0 auto;
    @include clearfix;

    @media (min-width:768px){

        margin-bottom: 50px;
        margin-left: -22px;
        margin-right: -22px;
    }

    @media (min-width:980px){
        margin-left: auto;
        margin-right: auto;
    }

    @media (min-width:1320px){

    }

}


.howinspiredgiftswork-steps-item{
    margin-bottom: 30px;
    padding-top: 30px + 19px; // Plus height of arrow icon

    position: relative;

    &:first-child {
        padding-top: 0;

        &:before {
            display: none;
        }
    }

    @media (min-width:768px){
        float: left;

        width: 33%;
        margin-bottom: 0;
        padding-top: 0;

        padding-left: 22px;
        padding-right: 22px;
    }

    @media (min-width:1320px){

    }

    &:before {
        display: inline-block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        @include icon-inspiredgiftsarrow-mobile;

        @media (min-width: 768px) {
            top: 55px;
            left: -11px;
            right: auto;
            @include icon-inspiredgiftsarrow-desktop;
        }

        @media (min-width: 980px) {
            top: 75px;
        }
    }


}


.howinspiredgiftswork-steps-item-title{

    @include font-Univers-Bold;
    color:#ff0099;

    font-size: 20px;

        @media (min-width:768px){
            font-size: 30px;

        }
    }


.howinspiredgiftswork-steps-item-content {

    padding:0 40px;
    color:#ff0099;
    font-size: 17px;

        @media (min-width:768px){
            font-size: 20px;
            padding:0;
        }

        @media (min-width:1024px){
        //padding:0 40px;
            padding: 0;

        }

        @media (min-width:1320px){
            // padding:0 75px;
        }
}



.howinspiredgiftswork-steps-item-icon{

    max-width: 164px;
    margin:0 auto;
    margin-bottom: 15px;

    @media (min-width: 768px){

        //max-width: 205px;
        margin-bottom: 25px;

    }

    @media (min-width: 980px){

        max-width: 205px;
        margin-bottom: 25px;

    }

    @media (min-width:1320px){

    }


}

.howinspiredgiftswork-steps-item-icon-image{

    width: 100%;
    height: auto;

}



.howinspiredgiftswork-steps-item-inner{



}

.howinspiredgiftswork-steps-item-title{
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 12px;
    min-width: 105px;

    background-color: #fbf1f7;
    border-radius: 20px;
    line-height: 1;

    @media (min-width: 768px) {
        margin-bottom: 15px;
        padding: 16px;
        min-width: 164px;

        border-radius: 30px;
    }
}





