.imagegallerywithcontent{


  // margin-bottom: 50px;

  @media (min-width:768px){
    margin-bottom: 40px;
  }

  @media (min-width:1320px){

  }
}

.imagegallerywithcontent-carousel{


}




.imagegallerywithcontent-list{

  opacity: 0;
  transition-property: opacity;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  height: 0;


  &.slick-initialized{
    height: auto;
    opacity: 1;
  }

}

.imagegallerywithcontent-item-inner{

  position: relative;
  z-index: 1;
  opacity:0.8;

  margin: 0 4.1%;
  border:3px solid #f6f6f6;
  border-radius: 3px;

  transition-property: opacity;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);


    @media (min-width:768px){

      margin:0 11%;

    }


  .slick-center &{
    opacity: 1;
  }

}

.imagegallerywithcontent-item{

  position: relative;


}

.imagegallerywithcontent-title{
  text-align: center;
  margin:0 auto;
  max-width: 700px;
}

.imagegallerywithcontent-item-content{
  @include clearfix;

  background-color: #fff;

  padding:18px 20px;


  @media (min-width:768px){

    padding:36px 40px;

  }

  @media (min-width:1320px){

  }

  p:last-child{
    margin-bottom: 0;
  }
}

.imagegallerywithcontent-item-image{

  width: 100%;
  height: 0;
  padding-bottom: 60.5%;
  background-color: green;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

}

.imagegallerywithcontent-item-dots{
  pointer-events:none;

  overflow: hidden;
  position: absolute;
  left: -11%;
  top: 0;
  margin-top: 31%;
  width: 22%; //10% is too small sometimes
  // margin-top: -1%;
  // margin-top: -9%;
  height: 0;
  padding-bottom: 5%;

  display: none;

  @media (min-width:768px){
    display: block;

    .slick-slide:first-child &{
      display: none;
    }

  }

  @media (min-width:1320px){

  }


  div{
    width: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 10px;
    background-color: #ffcbea;
    /* float: left; */
    // position: absolute;
    // margin-top: 26%;
    float: left;

    // &:nth-child(1){
    //   right:17%;
    // }

    // &:nth-child(2){
    //   right:42%;
    //   // margin-top: -9%;
    // }
    // &:nth-child(3){
    //   right:67%;
    //   // margin-top: -19%;

    // }
    margin-left: 1.85%;


  }


  .imagegallerywithcontent-item-dots-dot{

    margin-top: 8%;


  }

  .imagegallerywithcontent-item-dots-linesmall{

  padding-bottom: 11%;
  margin-top: 4%;

  }

  .imagegallerywithcontent-item-dots-linelarge{

  padding-bottom: 19%;
  background-color: #ff61c0;

  }



}


.imagegallerywithcontent-item-image-title{

  background-color: #ff0099;
  display: inline-block;
  position: absolute;
  top:0;
  left:0;
  color:#fff;

    font-size: 17px;
    padding:6px 10px;
      @include font-Univers-Bold;

      margin-bottom: 0;
      line-height: 1.06;
    @media (min-width:768px){
      font-size: 30px;
  padding:9px 25px;
  margin-bottom: 0;
    }

}
