.keyfacts{

  text-align: center;


}

.keyfacts-carousel{



  .bx-wrapper .bx-controls-direction a{

    top:55px;

  }

  .bx-loading{
    background-color: #fbfbfb;
  }

  @media (min-width: 768px) {
    margin-top: 40px;

    max-width: 1024px; // As per Design QA - Donation
    margin-left: auto;
    margin-right: auto;
  }

}


.keyfacts-list{


}


.keyfacts-item{


  @media (min-width:768px){
    //ensure items all float on one line, so they can be unveil'd all at once, width will be overriden by plugin

    float: left;
    min-width: 1px;
  }

  @media (min-width:1320px){

  }
}


.keyfacts-item-inner{


}

.keyfacts-item-content{

  padding:0 40px;
  color:#ff0099;
  font-size: 17px;

    @media (min-width:768px){
      font-size: 20px;
      padding:0 20px;
    }

    @media (min-width:1024px){
    padding:0 40px;

    }

    // @media (min-width:1320px){
    //  padding:0 75px;
    // }


}

.keyfacts-item-icon{

  max-width: 110px;
  margin:0 auto;
  margin-bottom: 10px;

  @media (min-width:768px){

    max-width: 154px;
    //margin-bottom: 40px;
    margin-bottom: 32px; // To match Design QA - Donations

  }

  @media (min-width:1320px){

  }


}

.keyfacts-item-icon-image{

  width: 100%;
  height: auto;

}





.keyfacts-cta{

  padding-top: 40px;

  @media (min-width:768px){

    padding-top: 60px;

  }


}
