.landinghero {


}

.landinghero-inner {

    @include fp(height, 173,330);
    position: relative;

}


.landinghero-background{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}


.landinghero-background{

}

.landinghero-background-image{
    background-size: cover;
    height: 100%;

    &.is-mobile{
      display: block;
      @media (min-width: 1024px) {
        display: none;
      }

    }
    &.is-desktop{
      display: none;
      @media (min-width: 1024px) {
        display: block;
      }

    }
}


.landinghero-text{
    // padding-left: 20px;
    // padding-right: 20px;
    // @include fp(padding-top, 47, 100);
    // @include fp(padding-bottom, 47, 150);

    @include fp(max-width, 280,1328);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;


    margin:0 auto;
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        // padding-left: 40px;
        // padding-right: 40px;
    }


    @media (min-width:1024px){

      @include fp(max-width, (1024-100),1228, $start:1024);


    }
}

.landinghero-text-inner{
    display: table-cell;
    vertical-align: middle;

}

// .landinghero-title-catalog{
// display: inline-block;
// vertical-align: top;
// }
// .landinghero-title-catalog-inner{
//     height: 8px;
//     width: 100%;
//     // @include fp(font-size, 12, 22);
//     // @include fp(padding-top, 5, 6);
//     // @include fp(padding-bottom, 4, 6);
//     // @include fp(padding-left, 12, 26);
//     // @include fp(padding-right, 12, 26);
//     @include fp(margin-bottom, 1, 2);
//     // @include fp(line-height, 12, 22);
//     // color: #ffffff;
//     // background-color: #7f41b2;
//     display: inline-block;
//     vertical-align: top;
//     // @include font-Halis-Black;
//     // text-transform: uppercase;







// }


.landinghero-title-title{}
.landinghero-title-title-inner{
    @include fp(font-size, 28, 65);
    color: #342e2e;
    @include fp(padding-top, 3, 6);
    @include fp(padding-bottom, 5, 12);
    @include fp(padding-left, 12, 20);
    @include fp(padding-right, 12, 20);
    @include fp(line-height, 28, 65);

    background-color: rgba(255,255,255,.9);
    border-top: 7px solid #000;


     @each $name, $color in $industries {
     .is-#{$name} &{
     border-top-color: $color;
     }
        }

    display: inline-block;
    @include font-Halis-Black;
    text-transform: uppercase;
}


