.landingintro {
  background-color: #f1f1f1;
}

.landingintro-inner {
    // padding-left: 20px;
    // padding-right: 20px;
    @include fp(padding-top, 38, 74);
    @include fp(padding-bottom, 38, 80);

    @include fp(max-width, 280,1328);


  margin:0 auto;
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        // padding-left: 40px;
        // padding-right: 40px;
    }


    @media (min-width:1024px){

      @include fp(max-width, (1024-100),1328, $start:1024);


    }
}


.landingintro-text{
    @include fp(font-size, 18, 26);
    @include fp(line-height, 24, 36);
    @include fp(margin-bottom, 15, 18);
    @include font-Halis-Light;
    text-align: center;
}

.landingintro-link{
    text-align: center;
}





.landingintro-link-text{
  text-align: center;
}


  .landingintro-link-text-copy{

    border-bottom: 1px solid;
    // border-bottom: 1px solid currentColor;
    display: inline;

  }

