.featureoverview {
  background-color: #f1f1f1;
}

.featureoverview-inner {
    // padding-left: 20px;
    // padding-right: 20px;
    //@include fp(padding-top, 47, 100);
    @include fp(padding-bottom, 47, 150);

    @include fp(max-width, 280,1328);


  margin:0 auto;
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        // padding-left: 40px;
        // padding-right: 40px;
    }


    @media (min-width:1024px){

      @include fp(max-width, (1024-100),1328, $start:1024);


    }
}



.featureoverview-list{


  // max-width: 500px;

    @include fp(max-width, 280,1328);

    // @include fp(max-width, 325,1328);

      margin:0 auto;
  // @include clearfix;
  @include clearfix;

    @media (min-width:768px){

    }

    @media (min-width:1024px){

      @include fp(max-width, (1024-100),1328, $start:1024);


    }

}

.featureoverview-list-inner{

display: inline-block;
vertical-align: top;
margin-bottom: -30px;
//width: 100%;
  @media (min-width:768px){

  }

  @media (min-width:1024px){
    margin-right: -30px;

  }
}


.featureoverview-item{

  display: block;
  margin-bottom: 30px;

  @media (min-width:768px){

  }

  @media (min-width:1024px){
  width: 50%;
  float: left;

  }



}


.featureoverview-item-inner{
 background-color: #ffffff;
  //border-top: 3px solid #fff;



  //box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.1);


  @media (min-width:768px){

  }

  @media (min-width:1024px){

  margin-right: 30px;
  }

}


.featureoverview-item-content{
  @include clearfix;

  @media (min-width:1024px){
    box-shadow: 1px 2px 0 0 rgba(0,0,0,.1);
  }

  // @include fp(padding-top,21,46);
  // @include fp(padding-left,21,46);
  // @include fp(padding-right,21,46);

}

.featureoverview-item-content-inner{

  @media (min-width:1024px){
    display: table;
    width: 100%;
  }

}

.featureoverview-item-content-image{
    background-size: cover;
    background-position: center;
    width :100%;
    padding-bottom: 42%;
  @media (min-width:1024px){
    display: table-cell;
    width: 37%;
    vertical-align: top;
  }
}

.featureoverview-item-content-text{
  @media (min-width:1024px){
    display: table-cell;
    width: 63%;
    vertical-align: top;
  }
}

.featureoverview-item-content-text-inner{
  display: block;
  @include fp(padding-top,10,20);
  @include fp(padding-bottom,10,20);
  @include fp(padding-left,21,30);
  @include fp(padding-right,21,30);

}



.featureoverview-item-content-text-title{
  @include fp(font-size,20,26);
  color: #007bc3;
  @include font-Halis-Bold;
  @include fp(margin-bottom,4,10);

}


.featureoverview-item-content-text-button-wrap{
  width: 100%;
  @media (min-width:1024px){
    float: right;
    width: 130px;
  }

}

.featureoverview-item-content-text-button{
    display: table;
    width :100%;

    @include font-Halis-Black;
    @include fp(font-size, 14,16);
    line-height: 1;
    text-align: center;

    @include fp(padding-top, 13,13);

    @include fp(padding-bottom, 13,13);

    @include fp(padding-right, 19,20);

    @include fp(padding-left, 19,20);

    text-transform: uppercase;
    position: relative;
    background-color: #0a7fc3;
    color:#ffffff;

    &:focus,
    &:hover{

      background-color: #e2e2de;

      color:#202021;
      text-decoration: none;
    }
}

.featureoverview-item-content-text-button-copy{
  display: table-cell;
  text-align: left;
  vertical-align: middle;


}
.featureoverview-item-content-text-button-icon{
  display: table-cell;
    width: 25px;
    font-size: 23px;

    icon{
      @include fonticon-arrowline-right(top);
    }
}

.featureoverview-item-content-text-copy{
  &.richtext{
    margin-bottom: 0;
  }
}

.featureoverview-item-content-text-button-copy-desktop{
  display: none;
  @media (min-width:1024px){
    display: block
  }

}


.featureoverview-item-content-text-button-copy-mobile{
    display: block;
  @media (min-width:1024px){
    display: none
  }

}
