.latestreviews {
    background-color: #f1f1f1;
}

.latestreviews-inner {
    // padding-left: 20px;
    // padding-right: 20px;
    @include fp(padding-top, 47, 100);
    @include fp(padding-bottom, 47, 100);
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        // padding-left: 40px;
        // padding-right: 40px;
    }
}

.latestreviews-title {
    text-align: center;
    @include typography-heading-a;
}

.latestreviews-form {
    @include fp(margin-bottom, 30, 82);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.latestreviews-form-field-list {
    display: inline-block;
    vertical-align: top;
}

.latestreviews-form-field-item {
    display: inline-block;
    vertical-align: top;
    @include fp(font-size, 18, 26);
    @include font-Halis-Light;
    margin-bottom: 1em;
}

.latestreviews-form-field-item-field {
    display: inline-block;
    vertical-align: top;
    padding-right: 0.75em;
}

.latestreviews-form-field-item-label {
    display: inline-block;
    vertical-align: top;
    padding-right: 0.5em;
}

.latestreviews-reviews {


    // margin-bottom: 30px;
    // @media (min-width: 768px) {}
    // @media (min-width: 1024px) {
    //     margin-bottom: 80px;
    // }


    @include fp(margin-bottom, 30, 80);


}

.latestreviews-showall {
    text-align: center;
}

.latestreviews-showall-button {
  position: relative;
    display: inline-block;
    vertical-align: top;
    @include fp(font-size, 14, 18);
    text-transform: uppercase;
    @include font-Halis-Black;
    color: #666666;
    padding: 1em 1em;
    text-align: center;
    max-width: 422px;
    width: 100%;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        border: 1px solid #666666;
        transition: border 0.2s ease;
    }
        &:focus:before, 
        &:hover:before {
            border-width: 3px;
        }
    &:focus,     
    &:hover {
        color: #666666;
        text-decoration: none;
    }
}
