// a.link-brand{

//     border-bottom: 0 solid #6dbae7;
//     box-shadow: inset 0 -9px 0 #6dbae7;
//     color:#231f20;

//     transition: border 0.2s ease,box-shadow 0.2s ease;

//     font-size: 16px;
//     line-height: 20px;
//     user-select:none;

//     @include font-Halis-Bold;

//     color:#231f20;

//     @media (min-width:768px){

//       font-size: 18px;
//       line-height: 24px;

//     }


//     &:focus,
//     &:hover{

//         box-shadow: inset 0 -2px 0 #6dbae7;
//         border-bottom: 7px solid #6dbae7;

//     }

//   }


// a.link-brand-inline{

//     border-bottom: 0 solid #6dbae7;
//     box-shadow: inset 0 -0.9em 0 #6dbae7;
//     color:#231f20;

//     transition: border 0.2s ease,box-shadow 0.2s ease;

//     // font-size: 16px;
//     // line-height: 20px;
//     user-select:none;

//     // @include font-Halis-Bold;

//     color:#231f20;

//     // @media (min-width:768px){

//     //   font-size: 18px;
//     //   line-height: 24px;

//     // }



//     &:hover{

//         box-shadow: inset 0 -0.30em 0 #6dbae7;
//         border-bottom: -0.18em solid #6dbae7;

//     }

//   }





.arrow-link-label{

    @include fp(font-size, 15,16);
    @include fp(line-height, 24,28);
    @include font-Halis-Black;
    text-transform: uppercase;
    color: #006dbd;
    &:focus,
    &:hover{
      color: #666666;
      text-decoration: none;
    }


    &:after{
        content:"";
        display:inline;
        width:0;
        padding-right:14px; /*Space + Icon Width*/
    }
}


.arrow-link-icon{
    display: inline-block;
    width: 0; /*The magic to avoid the arrow div wrapping.*/
    position:relative;
    vertical-align:top;

}


  .arrow-link-icon-inner{
        display: block;
        // width: 4px; /* Icon Width */
        // height: 7px; /* Icon Height */
        position:absolute;
        top:50%;
        left:0;
        //margin-top:-3px; /* Negative Half Icon Height */
        margin-left:-8px; /* Negative Half Icon Width */

        /* background: red url(); */

        /* Optional CSS Triangle Arrow
        Could instead replace background:red above
        with a background-image */

    // transition: margin-left 0.25s;
    // -moz-transition: margin-left 0.25s;
    // -webkit-transition: margin-left 0.25s;
    // -o-transition: margin-left 0.25s;

            transition:transform 0.25s ease;


    }


.arrow-link-icon-inner {
    .arrow-link:focus &,
    .arrow-link:hover &{
        transform:translateX(4px);

            // margin-left:-4px; /* Negative Half Icon Width */
    }
}








