.list {}

@mixin listWithIcon {
    li {
      position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
        }

        li:first-child{
          margin-top: 24px;
        }
    }


    // a{
    //   border-bottom: none;
    //   text-decoration: none;
    //   color: #202021;

    //   &:hover{
    //     color: #007bc3
    //   }
    // }

}

@mixin list-dot {
    @include listWithIcon;
    @include fp(margin-bottom ,15,26);

    position: relative;


    li {


        vertical-align: top;
        padding:0 0 10px 20px;

        @include fp(font-size ,14,15);

        &:last-child{
          padding-bottom: 0;
        }

        position: relative;


        &:before{
            content: "•";
            font-size: 20px;
            color:#007bc3;

            top:-4px;


        }




    }
}
.list-dot {

    @include list-dot;

}



@mixin list-number{
    @include listWithIcon;
    @include fp(margin-bottom ,15,26);

    position: relative;

    li {

        list-style-type: decimal;
        margin-bottom: 0;
        position: relative;
        vertical-align: top;
        margin-left: 24px;
        position: relative;


        position: relative;
        vertical-align: top;
        padding:0 0 10px 0;
        @include fp(font-size ,14,15);


        &:last-child{
          padding-bottom: 0;
        }


        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;

        }


  }
}
.list-number {

    @include list-number;

}



@mixin list-arrow{
    @include listWithIcon;
    @include fp(margin-bottom ,15,26);

    position: relative;


    li {

        position: relative;
        vertical-align: top;
        padding:0 0 13px 20px;
        @include fp(font-size ,14,15);


        &:last-child{
          padding-bottom: 0;
        }




        &:before{
           @include fonticon-icon-arrow-right-small(top, false);
            font-size: 12px;
            color:#007bc3;

            top:7px;



        }

    }


    a{
      border-bottom: none;
      text-decoration: none;
      color: #202021;

      &:hover{
        color: #007bc3
      }
    }

}
.list-arrow {

    @include list-arrow;

}



@mixin list-sidebar-arrow{
    @include listWithIcon;

    position: relative;

    li {

        position: relative;
        vertical-align: top;
        padding: 15px 0 22px 20px;
        @include fp(font-size ,14,15);
        border-bottom: 1px solid #e2e2de;


        // &:last-child{
        //   padding-bottom: 0;
        // }



        &:first-child{
            border-top: 1px solid #e2e2de;
        }


        &.is-active{
            background-color: #f1f1f1;
            @include font-Verdana-Bold;

            &:before{
                display: none;
                content: "";
            }
        }





        &:before{
            font-size: 12px;
            color:#007bc3;
            top:22px;

          @include fonticon-icon-arrow-right-small(top, false);

        }



    }
}
.list-sidebar-arrow {

    @include list-sidebar-arrow;

}
