.makealastingimpact{

  p:last-child{
    margin-bottom: 0;
  }

  @media (min-width:768px){
  }

  @media (min-width:1320px){

  }
}

.makealastingimpact-inner{

  max-width: 835px;
  margin:0 auto;


}

.makealastingimpact-title{

  .typography-heading1 {
    letter-spacing: -.04em;
  }

  text-align: center;


  @media (min-width:768px){

    padding-bottom: 30px;
  }

  @media (min-width:1320px){

  }

}

.makealastingimpact-content{

  @media (min-width:768px){


  }

  @media (min-width:1320px){

  }
}
