.monthlydonations{

    // max-width: 1680px;
    margin:0 auto;
    position: relative;
    background-color: #444;


    overflow: hidden;//needed for mobile


    @media (min-width:1024px){


    }

}



.monthlydonations-background{

    // margin:0 auto;
    // position: absolute;
    // top: 0;
    // left:0;
    // // bottom:0;
    // left:0;
    // width:100%;
    // right: 0;

    // @media (min-width:1024px){
    //  // max-width: 1920px;
    //  max-width: 1920px;
    //  position: absolute;
    //  bottom:auto;
    //  top:0;
    //  height: 100%;

    // }

}


.monthlydonations-background-image-box{
    // overflow: hidden;

    // width: 100%;
    // height: 0;
    // bottom:0;
    // left:0;
    // // padding-bottom: 75%;

    // position: absolute;
    // margin-top: 71px;

    @media (min-width:1024px){

        // margin-top: 0;
        // padding-bottom: 0;

        // position: absolute;
        // width: 100%;
        // height: 100%;

                position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;

        margin:0 auto;
        // max-width: 1920px;
        overflow: hidden;

    }



}



.monthlydonations-background-image-mobile{

    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    z-index: 1;


    @media (min-width:768px){
        display: none;
    }


}

.monthlydonations-background-image-tablet{

    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    z-index: 1;


    @media (min-width:768px){
        display: block;
    }

    @media (min-width:1024px){

        display: none;

    }


}

.monthlydonations-background-image-desktop{

    position: absolute;
    top: 0;
    display: none;


    @media (min-width:1024px){
        display: block;
    }

}

// img.monthlydonations-background-image-desktop{
//      max-width: 1920px;
// }



.monthlydonations-background-image-mobile-box{
    // position: absolute;
    // top:0;
    // width:100%;

}

.monthlydonations-content{
    position: relative;
    z-index: 2;
    padding-bottom: 87%;


    @media (min-width:1024px){

        max-width: 1260px;
        margin:0 auto;
        padding-bottom: 0;
        // min-height: 980px;

    }

}

.monthlydonations-content-inner{

    @media (min-width:1024px){
        width:60%;
    }

}


.monthlydonations-content-inner{

    padding:40px 20px;
    padding-bottom: 0;
    @media (min-width:768px){

        padding-top: 100px;
        padding-bottom: 100px;

        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 0;

}

    @media (min-width:1024px){

        padding-top: 100px;
        padding-bottom: 100px;

        padding-left: 50px;
        padding-right: 0;
    }

    @media (min-width:1320px){
        padding-left: 0;
        padding-right: 0;
    }

    // @media (min-width:980px){

    //  padding-top: 100px;
    //  padding-bottom: 100px;

    //  padding-left: 50px;
    //  padding-right: 50px;


    // }

    // @media (min-width:1024px){


    //  padding-top: 100px;
    //  padding-bottom: 100px;

    //  padding-left: 50px;
    //  padding-right: 50px;

    // }

}

.monthlydonations-content-list {
    ul {
        @media (min-width: 768px) {
            max-width: 66%;
        }

        @media (min-width: 1024px) {
            max-width: 75%;
        }
    }
}

.monthlydonations-content-button{

    margin-bottom: 30px;

    text-align: center;

    @media (min-width:768px){

        text-align: left;

    }


}

.monthlydonations-content-cta{

    // font-size: 18px;
    text-align: center;


    @media (min-width:768px){
        // font-size: 23px;
        text-align: left;
    }


}


.monthlydonations-background-image-cite {
    text-transform: uppercase;
    position: absolute;
    bottom: 5px;
    right: 10px;
    left:0;
    color: #fff;
    @include opacity(0.4);
    z-index: 3;
    font-size: 8px;
    @media (min-width: 768px) {
        bottom: 15px;
        right: 20px;
        font-size: 10px;

    }
    @media (min-width: 1024px) {
        // right: 30px;
    }
}

.monthlydonations-background-image-cite-inner {

    // max-width: 1260px;
    margin:0 auto;
    text-align: right;
    position: relative;
    //padding-right: 10px; Do positioning on outer div
    //top:-5px; Do positioning on outer div
    @media (min-width: 768px) {

        // top:-90px - 10px;

    }
    @media (min-width: 1024px) {
        // top:-130px - 10px;
        // padding-right: 40px
    }

}
