.naturallanguageform{

	line-height:60px;
	font-size:30px;
	padding: 20px;
	color:#aaa;
	text-align: center;
	
}


.naturallanguageform-text{
	display: inline;
	// vertical-align: middle;
		// font-size: 16px;
		// padding:10px 0;

}


.naturallanguageform-screenreader{
	position: absolute;
	left:-9999px;
}


.naturallanguageform-field-select{
	display: inline-block;
	vertical-align: middle;


}

.naturallanguageform-textgroup{
	display: inline-block;
}


.naturallanguageform-field-select{
	display: inline-block;
	vertical-align: middle;
	padding:10px 0;

}

.naturallanguageform-field-input{
	// display: table-cell;
	// vertical-align: middle;
	// width: 100%;
	width: 120px;
	display: inline-block;
	vertical-align: middle;
	padding:10px 0;
	input{
		background-color: #eee;
		padding:0 10px;
		width: 100%;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border:0;
        padding:0;
        margin:0;
        // color:#000;
		// font-size: 16px;
        font-size: inherit;
        color: inherit;
        height: 70px;
        line-height: 70px;
        vertical-align: top;// aligns better than middle in chrome
        // background-color: inherit;
        // font-size: inherit;
        font-family: inherit;
        text-decoration: underline;
		// width:50px;
		text-align: center;
        // color:#000;
		@include placeholder{

	        text-decoration: underline;
	        // color:#000;

		}

        &:focus, &:active,.touch &:hover{
			text-decoration: none;
	        color:#000;
	        outline:1px solid #000;

        }
    }
}