.navigation-mobileheader {
    background-color: #34393b;
    height: 67px;
    position: relative;
    @media (min-width: 721px) {}
    @media (min-width: 1000px) {
        display: none;
    }
    @media (min-width: 1200px) {}
    @media (min-width: 1400px) {}
}

.navigation-mobileheader-inner {
    display: table;
    width: 100%;
}

.navigation-mobileheader-title {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding: 9px 20px;
     
    @media (min-width: 380px) {
        padding: 10px 20px;

    }

}

.navigation-mobileheader-toggle {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
}

.navigation-mobileheader-breakdown {
    color: #a8adb3;
    line-height: 15px;
}

.navigation-mobileheader-breakdown-copy {
    display: inline-block;
    font-size: 12px;

    a{
        color: #a8adb3;
        line-height: 15px;
        font-size: 12px;
    }
}

.navigation-mobileheader-breakdown-number {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    a{
        color: #a8adb3;
        @include font-Verdana-Bold;

    }
}

.navigation-mobileheader-toggle-icon {
    position: relative;
    height: 50px;
    width: 50px;
    border-right: 1px solid #5c6063;
    i {
        top: 50%;
        left: 50%;
        margin-top: -2px;
        margin-left: -15px;
        text-indent: -9999px;
        &, &:before, &:after {
            cursor: pointer;
            height: 4px;
            width: 30px;
            background: #a8adb3;
            position: absolute;
            display: block;
            content: '';
            // transition: all 500ms ease;
            transition-property: background-color, top, bottom, transform;
            transition-duration: 0.6s;
            transition-timing-function: ease;
        }
        & {
            .is-navigation-open & {
                background-color: transparent;
            }
        }
        &:before {
            top: -9px;
            .is-navigation-open & {
                top: 0px;
                transform: rotate(45deg);
            }
        }
        &:after {
            bottom: -9px;
            .is-navigation-open & {
                bottom: 0px;
                transform: rotate(-45deg);
            }
        }
    }
}