.page {

  padding-top: 200px;

  @media (max-width:999px){
    position: relative;
    height: 100%;
    // left:0;
    transition-property:transform;
    transition-duration:.4s;
    transition-timing-function:ease;
    transition-delay:.1s;

  }

  .is-navigation-open &{

    @media (max-width:999px){
      // left:270px;
      // transform:translateX(370px);
      // transition-duration:0.2s;
    }

    @media (max-width:721px){
      // transform:translateX(270px);

    }

  }

}

#site{

  &.is-navigation-open-overflow-hidden{
    @media (max-width:999px){
      overflow: hidden;
    }
  }

}


.navigation-full{

  @media (max-width:999px){

    width:100%;
    position: absolute;
    top: 67px;
    left: 0;
    visibility: hidden;
    background-color: #34393b;

    // transform:translateX(-370px);
    opacity:0;
    z-index: 100000;

    //delay moving back up to -99999px until after the slide back will have happened
    transition-property:opacity, visibility;
    transition-duration:.3s;
    transition-timing-function:ease;
    // transition-delay:.8s;


    // @include forceHardwareAcceleration;

  }

  // @media (max-width:721px){
  //  width:100%;
  //  // left: -270px;
  //  // transform:translateX(-270px);
  //  transform:translateY(0);

  // }

  .is-navigation-open  &{
    // left:0;

    transform:translateY(0);
    opacity:1;
    // top:0;
    visibility: visible;
    transition-delay:.3s;
  }


}



.navigation-primary{

  @media (max-width:999px){

    border-top:1px solid #4c5356;

  }

}


.navigation-utility{

  @media (max-width:999px){

    // border-bottom:1px solid #4c5356;

  }

}



.navigation-primary-item{

  @media (max-width:999px){

    border-bottom:1px solid #4c5356;
    padding-bottom:13px;

  }

}


.navigation-utility-item{
  @media (max-width:999px){

    border-bottom:1px solid #4c5356;
    padding-bottom:10px;

    &:last-child{
      border-bottom:0;
    }

  }
}


.navigation-primary-item-label{

  @media (max-width:999px){
    display: block;
    font-size:22px;
    line-height: 26px;
    // @include font-CelliniRegular;
    color:#b8c4cc;
    padding:0 20px;
    padding-top:23px;
    padding-bottom:10px;

    &:hover{
      color:#8dbfcf;
    }

    .navigation-primary-item.is-active &{
      color:#8dbfcf;
    }

  }

}


.navigation-utility-item-label{

  @media (max-width:999px){
    display: block;
    font-size:22px;
    line-height: 26px;
    // @include font-CelliniRegular;
    color:#b8c4cc;
    padding:0 20px;
    padding-top:23px;
    padding-bottom:10px;

    &:hover{
      color:#8dbfcf;
    }

    .navigation-utility-item.is-active &{
      color:#8dbfcf;
    }

  }

}


.navigation-secondary-list, .navigation-utility-secondary-list{

  @media (max-width:999px){

    padding-top:14px;
    padding-bottom:14px;

  }

}

.navigation-secondary-item-label{

  @media (max-width:999px){
    display: block;
    font-size:14px;
    line-height: 20px;
    // @include font-Verdana-Regular;
    color:#8b979e;
    padding:6px 20px;

    &:hover{
      color:#8dbfcf;
    }
        .navigation-secondary-item.is-active &{
      color:#8dbfcf;
        }


  }

}


.navigation-utility-secondary-item-label{

  @media (max-width:999px){
    display: block;
    font-size:14px;
    line-height: 20px;
    // @include font-Verdana-Regular;
    color:#8b979e;
    padding:6px 20px;

    &:hover{
      color:#8dbfcf;
    }
        .navigation-utility-secondary-item.is-active &{
      color:#8dbfcf;
        }


  }

}






.navigation-search{



}

.navigation-search-item{



}


.navigation-search-item-separator{


  @media (max-width:999px){

    display: none;

  }


}


.navigation-search-item-breakdown{


  @media (max-width:999px){

    display: none;

  }

}

.navigation-search-item-breakdown-copy{



}

.navigation-search-item-breakdown-number{



}

.navigation-search-item-field{

  @media (max-width:999px){
    display: table;
    width: 100%;
    height: 50px;
    padding:0 14px;
    position: relative;
  }

}


.navigation-search-item-field-inner{
  @media (max-width:999px){
    display: table-cell;
    vertical-align: middle;

  }
}


.navigation-search-item-field-inner2{
  @media (max-width:999px){
    position: relative;

  }
}


.navigation-search-item-field-label{

  @media (max-width:999px){
    position: absolute;
    left:9px;
    top:50%;
    margin-top:-11px;
    z-index: 2;

    i{

      // @include icon-navigation-search-mobile;

    }
  }
}

.navigation-search-item-field-input{
  @media (max-width:999px){

  position: relative;
  z-index: 1;

    input{

      height: 34px;
      width:100%;
      padding:8px 10px;
      padding-left:9px + 10px + 23px;
      background-color: #4b5357;
      border:0;
      border-radius: 17px;
      color:#fff;

      font-size:16px;
      line-height: 20px;
      // @include font-Verdana-Regular;



    }


  }
}


.navigation-search-item-field-button{

  @media (max-width:999px){
    position: absolute;
    left:-9999px;

  }

}

.navigation-search-list{



}

.navigation-search-wrap{
  @media (max-width:999px){
    width: 100%;
    position: absolute;
    top: -16px;
    left: 0;
    z-index: 1;
    display: block;

  }

  }
