.navigation-primary {
    @media (min-width: 721px) {}
    @media (min-width: 1000px) {
        position: relative;
        z-index: 10;
		border-bottom: 1px solid #eaebed;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: -2000px;
            right: -2000px;
            height: 1px;
            background-color: #eaebed;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: -1px;
            left: -2000px;
            right: -2000px;
            height: 1px;
            background-color: #eaebed;
        }

    }
    @media (min-width: 1200px) {}
    @media (min-width: 1400px) {}

}

.navigation-primary-list {
    @media (min-width: 721px) {}
    @media (min-width: 1000px) {
        display: table;
        width: 100%;
        padding: 0 25px;
        position: relative;
        height: 51px;
    }
    @media (min-width: 1200px) {
        padding: 0 35px;
    }
    @media (min-width: 1400px) {}
}

.navigation-primary-item {
    @media (min-width: 721px) {}
    @media (min-width: 1000px) {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        // background-color: rgba(255,0,0,0.2);
        // outline:1px solid red;
    }
    @media (min-width: 1200px) {}
    @media (min-width: 1400px) {}
    &.navigation-primary-item--home {
        @media (min-width: 1000px) {
            display: none;
        }
    }
}

.navigation-primary-item-holder {
    @media (min-width: 1000px) {
        position: relative;
        z-index: 1;
    }
    &:before {
        @media (min-width: 1000px) {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-bottom: 8px solid #82bacc;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            position: absolute;
            top: 35px;
            left: 50%;
            margin-left: -8px;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s linear 0.1s,opacity 0.1s linear;
            z-index: 10;
            .navigation-primary-item--has-children:hover & {
                visibility: visible;
                opacity: 1;
                transition-delay: 0s;
            }
        }
    }
}

.navigation-primary-item-label {
    @media (min-width: 1000px) {
        // @include font-CelliniMedium;
        font-size: 17px;
        line-height: 17px;
        color: #48535a;
        padding: 8px 0;
        display: block;
        .navigation-primary-item:hover &, &:hover {
            color: #8dbfcf;
        }
        .navigation-primary-item.is-active &, &:active {
            color: #5f92a3;
        }
    }
}

.navigation-secondary-list {
    @media (min-width: 1000px) {
        // display: none;
        background-color: #82bacc;
        padding: 23px 0;
        position: absolute;
        left: 50%;
        top: 42px;
        width: 270px;
        margin-left: (-270px / 2);
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 0.1s,opacity 0.1s linear;

        border-top:1px solid #eaebed;

        .navigation-primary-item:hover & {
            visibility: visible;
            opacity: 1;
            transition-delay: 0s;
        }
    }
    @media (min-width: 1200px) {}
    @media (min-width: 1400px) {}
    .navigation-primary-item--align-secondary-left & {
        @media (min-width: 1000px) {
            margin-left: 0;
            left: 0;
        }
    }
    .navigation-primary-item--align-secondary-right & {
        @media (min-width: 1000px) {
            margin-left: 0;
            left: auto;
            right: 0;
        }
    }
}

.navigation-secondary-item {}

.navigation-secondary-item-label {
    @media (min-width: 1000px) {
        text-align: left;
        display: block;
        padding: 7px 30px;
        font-size: 14px;
        line-height: 18px;
        // @include font-Verdana-Regular;
        color: #fff;
        &:hover {
            background-color: #69a3b6;
            color: #fff;
        }
        .navigation-secondary-item.is-active &, &:active {
            background-color: #69a3b6;
            color: #fff;
        }
    }
}