.navigation-search {
    @media (min-width: 721px) {}
    @media (min-width: 1000px) {
        position: absolute;
        top: 42px;
        left: 35px;
        z-index: 20;
    }
    @media (min-width: 1200px) {
        left: 60px;
    }
    @media (min-width: 1400px) {}
}

.navigation-search {}

.navigation-search-item {}

.navigation-search-item-field-label {
    @media (min-width: 1000px) {
        cursor: pointer;
        position: relative;
        top: 4px;
        display: block;
        i {
            // @include icon-navigation-search-desktop;
        }
    }
}

.navigation-search-item-field {
    @media (min-width: 1000px) {
        position: relative;
    }
}


.navigation-search-wrap{

    @media (min-width: 1000px) {
        width: 15%;
        position: absolute;
        top:0;
        left: 20px;
        z-index: 1;
        display: block;

        
    }

    .is-focused & {

        @media (min-width: 1000px) {
            width: 100%;
            left: 0; 
            display: block;
            transition: width  0.5s ease-in-out;
        }
    }
    
    
}



    
.navigation-search-item-field-input {
    @media (min-width: 1000px) {
        position: absolute;
        //left: -9999px;
        top: -11px;
        left: -9999px;
        width: 100%;
        .is-focused & {
            left: 0;
            right: 0;
            top: -11px;
        }
        input {
            width: 100%;
            background-color: #f8fbfc;
            border: 1px solid #a8adb3;
            height: 40px;
            vertical-align: top;
            padding: 8px;
            outline: 0;
            border-radius:0;
		    -webkit-appearance:none;  /* Remove default shadow */
        }
    }
}

.navigation-search-item-field-button {
    @media (min-width: 1000px) {
        border: 0;
        background: transparent;
        position: absolute;
        //left: -9999px;
        top: 0;
        left: -9999px;
        margin-top: -11px;
        padding: 10px 13px;
        z-index: 11;

        .is-focused & {
            right: 0;
            left: auto;
        }
        i {
            // @include icon-navigation-search-desktop;
            vertical-align: middle;
        }
    }
}

.navigation-search-item-field-inner {
    @media (min-width: 1000px) {
        display: table;
    }
}

.navigation-search-item-field-inner2 {
    @media (min-width: 1000px) {
        display: table-cell;
        vertical-align: middle;
    }
}

.navigation-search-item-separator {
    @media (min-width: 1000px) {
        font-size: 12px;
        line-height: 20px;
        @include font-Verdana-Regular;
        color: #7c8082;
        padding: 0 15px;
        display: table-cell;
        vertical-align: middle;
    }
}

.navigation-search-item-breakdown {
    @media (min-width: 1000px) {
        display: table-cell;
        vertical-align: middle;
        font-size: 12px;
        line-height: 20px;
        @include font-Verdana-Regular;
        color: #7c8082;
        padding-top: 2px;
    }
}

.navigation-search-item-breakdown {}

.navigation-search-item-breakdown-copy {}

.navigation-search-item-breakdown-number {
    @media (min-width: 1000px) {
        a{
            margin-left: 8px;
            @include font-Verdana-Bold;

            color: #7c8082;;
        }
    }
}

.navigation-search-list {}