.otherwaystogive{

    text-align: center;


    // padding-top: 75px;

    @media (min-width:768px){
        // padding-top: 95px;

    }

    @media (min-width:1320px){

    }

}

.otherwaystogive-button{



}

.otherwaystogive-subtitle{



}

.otherwaystogive-title{



}
