.pagination{

	text-align: center;

  @media print{

    display: none;


  }

}

.pagination-inner{

	display: inline-block;
	vertical-align: top;

}




.pagination-next{
	color: #666666;
	display: table-cell;
  	vertical-align: middle;
  	width: 43px;
  	height: 43px;
  	font-size: 20px;

	icon{
		@include fonticon-arrow-right;
	}

&.is-disabled{
    opacity: 0.5;
  }


	&:focus,
	&:hover{
	  	color:#666666;
		text-decoration: none;
	}
}

.pagination-prev{
	color: #666666;
	display: table-cell;
  	vertical-align: middle;
  	width: 43px;
  	height: 43px;

  	font-size: 20px;
	icon{
		@include fonticon-arrow-left;
	}

&.is-disabled{
    opacity: 0.5;
  }



	&:focus,
	&:hover{
	  	color:#666666;
		text-decoration: none;
	}
}


.pagination-page-list{

	display: inline-table;
	vertical-align: middle;

}


.pagination-page-showall{
text-align: center;
margin-top: 22px;
}

.pagination-page-showall-link{

    text-transform: uppercase;
    @include font-Halis-Medium;
    font-size: 15px;
    text-decoration: underline;

}



.pagination-page{
	display: table-cell;
  	vertical-align: middle;
  	width: 43px;
  	height: 43px;
	color:#666666;
	text-decoration: none;

    @include font-Halis-Black ;
    font-size: 18px;
    line-height: 18px;


  &.is-disabled{
    opacity: 0.5;
  }

	&:focus,
	&:hover{
	  	color:#666666;
		text-decoration: none;
		border: 1px solid #666666;
	}

	&.is-active{
		border: 1px solid #666666;
	}

}








