.form-creditcard-icons {
  display: table;
  margin-top: 9px;
  // margin-left: 15px;

  @media (min-width: 768px) {
    // margin-left: 20px;
  }

  > div {
    display: table-cell;
    padding-right: 7px;
  }
}

.form-creditcard-icons-mastercard {
  > i {
    @include icon-cc-mastercard-inactive;
  }

  &.is-active > i {
    @include icon-cc-mastercard-active;
  }
}

.form-creditcard-icons-visa {
  > i {
    @include icon-cc-visa-inactive;
  }

  &.is-active > i {
    @include icon-cc-visa-active;
  }
}

.form-creditcard-icons-amex {
  > i {
    @include icon-cc-amex-inactive;
  }

  &.is-active > i {
    @include icon-cc-amex-active;
  }
}

.form-creditcard-icons-diners {
  > i {
    @include icon-cc-diners-inactive;
  }

  &.is-active > i {
    @include icon-cc-diners-active;
  }
}
