.popup-dash-outer{



  @media (min-width:1024px){

  }

  // &.mfp-bg{
  //     background-color: #231f20;

  //   //   background-color: rgba(#231f20,0.8);

  //   .no-probablymobile &{
  //     background-color: #999999;

  //   }
  // }

  // &.mfp-fade.mfp-bg.mfp-ready{
  //        opacity: 1;

  //   .no-probablymobile &{
  //         opacity: 0.7;

  //   }
  // }


  .mfp-close{
    color:#908f90;

    position: absolute;
    top:-70px;
    right:0;

    // .no-probablymobile &{
    //     position: absolute;
    //   }

      @media (min-width:1024px){

      }
  }

  .mfp-container{
    padding:0;
  }

  .mfp-content{
    vertical-align:top;


  .no-probablymobile &{
    vertical-align: middle;
  }

      @media (min-width:1024px){

      }
  }


}




.popup-dash{

    background-color: #231f20;
    // border-radius: 10px;
    max-width: 738px;
      margin:0 auto;
      position: relative;

    margin-top: 63px;
    margin-bottom: 40px;

    .no-probablymobile &{
        margin-top: 0;

      }

      @media (min-width:1024px){


      }

}

.popup-dash-controls{

  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 2;



    // background-color: #231f20;


    .no-probablymobile &{
      position: relative;

    }




}

.popup-dash-controls-inner{

    max-width: 738px;
    margin:0 auto;
    height: 100%;
    position: relative;

    .slick-prev {
        // text-align: left;
        height: 50px;
        width: 50px;
        // left: 0;
        margin-top: -25px;

        // position: fixed;

        //   .no-probablymobile &{
            position: absolute;
            // left:-50px;
              left: 0;
          // }

          @media (min-width:1024px){

          }
        // @media (min-width: 768px) {
        //     width: 28px;
        //     height: 20px;
        //     left: -28px;
        //     margin-top: -10px;
        // }
        &:before {
            font-size: 26px;
            color: #999999;
            padding-left: 2px;
            // @media (min-width: 768px) {
            //     font-size: 20px;
            //     padding-left: 2px;
            // }
        }
    }
    .slick-next {
        // text-align: right;
        height: 50px;
        width: 50px;
        // right: 0;
        margin-top: -25px;
        // position: fixed;
        // z-index: 1;

        //   .no-probablymobile &{
            position: absolute;
            // right: -50px;
            right: 0;
          // }

        // @media (min-width: 768px) {
        //     width: 28px;
        //     height: 20px;
        //     margin-top: -10px;
        //     right: -28px;
        // }
            &:before {
            font-size: 26px;
            color: #999999;
            padding-right: 2px;
            // @media (min-width: 768px) {
            //     font-size: 20px;
            //     padding-right: 2px;
            // }
        }
    }

}




.popup-dash-title{
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 2;


    // background-color: #231f20;


    .no-probablymobile &{
      position: relative;

    }

    @media (min-width:1024px){

    }
}


.popup-dash-title-inner{
    @include font-Halis-Bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
  background-color: #231f20;
  border-bottom: 1px solid #333333;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 65px;
  padding-left: 65px;
  // position: fixed;
  top:0;
  left:0;
  right:0;

    max-width: 738px;
      margin:0 auto;


    .no-probablymobile &{
      position: relative;
      font-size: 32px;
      line-height: 32px;

    }

    @media (min-width:1024px){

    }

}














.popup-dash-quicktour-carousel {
  padding-left: 50px;
  padding-right: 50px;

  // position: fixed;
    // border: 3px solid #d0cfca;
    // border-radius: 100%;
    // margin: 0 auto;
    // width: 180px;
    // height: 180px;
    // transition:border-color, 0.2s ease;
    // &:hover{
    //     border-color: #fff;
    // }
    // cursor:pointer;
    // @media (min-width: 768px) {
    //     width: 126px;
    //     height: 126px;

    // }

    .slick-dots{
      position: fixed;
      bottom:0;
      left:0;
      right:0;
      background-color: #231f20;
      height: 40px;

      max-width: 738px;
      margin:0 auto;


      .no-probablymobile & {
        position: static;
      }

    }
    .slick-list {
        // border-radius: 100%;
        position: relative;
        // &:after {
        //     border-radius: 100%;
        //     content: "";
        //     position: absolute;
        //     left: 0px;
        //     right: 0px;
        //     top: 0px;
        //     bottom: 0px;
        //     box-shadow: inset 0px 0px 20px 10px rgba(37, 35, 35, 1);
        //     z-index: 1;
        //     pointer-events:none;
        // }
    }

}


.popup-dash-content{
      padding-top: 30px;
      position: relative;
      z-index: 2;


      max-width: 738px;
      margin-left: 50px;
      margin-right: 50px;
      // margin:0 auto;

      &:before{
        content:"";
      position: fixed;
      bottom:0;
      top:0;
      left:0;
      right:0;
      background-color: #231f20;

      max-width: 738px;
      margin:0 auto;


      }
}
