.popup-editform{
  background-color:#fff;
  max-width: 738px;
  margin:0 auto;
  position: relative;
padding-left: 30px;
padding-right: 30px;
padding-top: 65px;
padding-bottom: 65px;
    @media (min-width:768px){
      padding-top: 50px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
    }

    @media (min-width:1024px){

    }
}



.popup-editform-intro{

  margin-bottom: 30px;

}

.popup-editform-intro-title{
  font-size: 32px;

  line-height: 36px;

  @include font-Halis-Bold;
  text-align: center;
  color:#231f20;
  text-transform: uppercase;
  margin-bottom: 5px;

}


.popup-editform-intro-description{
  margin-bottom: 5px;
  text-align: center;

}


.popup-editform-outer{

  .mfp-container {
    padding: 0 20px;

    @media all and (min-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
    }

    @media all and (min-width: 1024px) {
        padding-left: 132px;
        padding-right: 20px;
    }

  }

}


.popup-editform-submit{
  margin-top: 40px;
  text-align: center;
}

.popup-editform-cancel{
  padding-top: 20px;
  text-align: center;
}


.popup-editform-cancel-link{
  text-transform: uppercase;
  @include font-Verdana-Regular;
  color:#999999;
  text-decoration: underline;

  &:hover{
    color:#000;
    text-decoration: underline;
  }

}



.popup-editform-creditcardordirectdebit{
    margin-bottom: 32px;
    margin-top: 20px;
    @media (min-width: 768px) {
        margin-bottom: 36px;
        margin-top: 24px;
    }

}


.popup-editform-linkedaccounts{

  background-color: #eef9f9;

  padding: 40px 30px;

    @media (min-width:768px){

     padding:35px 30px;

    }

    @media (min-width:1024px){

    }


}

.popup-editform-linkedaccounts-item{

  display: none;

  &.is-visible{
    display: block;
  }

  & + &{
    margin-top: 10px;
  }

}

.popup-editform-linkedaccounts-list{



}

.popup-editform-linkedaccounts-title{

  @include font-Halis-Bold;

  color:#231f20;

  font-size: 18px;
  line-height: 18px;
  margin-bottom: 5px;

}











.popup-editform-linkedaccounts-addanother{

  // position: absolute;
  // left: 0px;
  // right: 0px;
  // top: 0px;
  // bottom: 0px;
  // text-align: center;

  // background-image: url(../../Theme/images/dashpaymentdetails-addanother.png);
  // background-position: bottom left;
  // background-size: 181px 52px;
  // background-repeat: no-repeat;
  color:#231f20;
  margin-top: 20px;
  display: block;

}

.popup-editform-linkedaccounts-addanother-inner{

  display: inline-table;
  vertical-align: top;
  height: 100%;
  // padding-bottom: 20px;


}

.popup-editform-linkedaccounts-addanother-copy{

  display: table-cell;
  vertical-align: middle;
  @include font-Verdana-Regular;
  text-transform: uppercase;
  // color:#231f20;

}

.popup-editform-linkedaccounts-addanother-icon{

  display: table-cell;
  vertical-align: middle;

  @include font-Verdana-Regular;
  padding-right: 10px;
  // color:#231f20;

  i{
@include fonticon-add;
font-size: 32px;
    // &:before{

    //   content:"+";
    //   height: 33px;
    //   width: 33px;
    //   line-height: 30px;
    //   text-align: center;
    //   display: block;
    //   padding-left:2px;
    //   border:1px solid #918f8f;
    //   border-radius: 100%;
    //   font-size: 20px;


    // }
  }

}


.popup-editform-concessionintro{
  margin-bottom: 30px;
}

.popup-editform-explanation{
  font-size: 16px;

  a{
    text-decoration: underline;
  }
}


.popup-editform-concessiontype{
  display: none;
}


.popup-editform-subtitle{

  color:#5bc5c4;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 13px;
      @include font-Halis-Bold;
      text-transform: uppercase;

    @media (min-width:768px){
      font-size: 32px;
      line-height: 32px;
    }

    @media (min-width:1024px){

    }

}


.popup-editform-subsubtitle{
      @include font-Halis-Bold;
      text-transform: uppercase;
      color:#231f20;
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 13px;

}
