.popup-generalcontent-outer{


}



.popup-generalcontent-inner{



}




.popup-generalcontent{


    background-color:#fff;
    // max-width: 1157px;
    margin:0 auto;
    position: relative;
    @include fp(padding-left,20,50);
    @include fp(padding-right,20,50);

    @include fp(padding-top,38,60);
    @include fp(padding-bottom,38,60);

    @include fp(max-width,300,1157);
    border-radius: 3px;

}


.popup-generalcontent-title{
    @include fp(font-size,20, 38);
    line-height: 1;
    @include font-Halis-Bold;
    text-align: center;
    @include fp(margin-bottom,25, 50);

}


.popup-generalcontent-content{



}
