.popup-dash-outer {
    @media (min-width: 1024px) {}
    // &.mfp-bg{
    //     background-color: #231f20;
    //   //   background-color: rgba(#231f20,0.8);
    //   .no-probablymobile &{
    //     background-color: #999999;
    //   }
    // }
    // &.mfp-fade.mfp-bg.mfp-ready{
    //        opacity: 1;
    //   .no-probablymobile &{
    //         opacity: 0.7;
    //   }
    // }
    .mfp-close {
        color: #908f90;
        // position: absolute;
        // top:-70px;
        // right:0;
        // .no-probablymobile &{
        //     position: absolute;
        //   }
        @media (min-width: 1024px) {}
    }
    .mfp-container {
        padding: 0;
    }
    // .mfp-content{
    //   vertical-align:top;
    // .no-probablymobile &{
    //   vertical-align: middle;
    // }
    //     @media (min-width:1024px){
    //     }
    // }



    .slick-track {
        // &:before,&:after{
        //   display: none;
        // }
        @media (min-width: 768px) {
            display: table;
            height: 100%;
        }
        @media (min-width: 1024px) {}
    }
    .slick-slide {
        @media (min-width: 768px) {
            display: table-cell;
            vertical-align: middle;
            float: none;
        }
        @media (min-width: 1024px) {}
    }



    .slick-prev {
        // text-align: left;
        height: 50px;
        width: 50px;
        // left: 0;
        margin-top: -25px;
        left: -40px;
        // position: fixed;
        @media (min-width: 768px) {
            width: 75px;
            left: -65px;
            // left:-40px;
        }
        @media (min-width: 1024px) {}
        // @media (min-width: 768px) {
        //     width: 28px;
        //     height: 20px;
        //     left: -28px;
        //     margin-top: -10px;
        // }
        &:before {
            font-size: 26px;
            color: #999999;
            padding-left: 2px;
            // @media (min-width: 768px) {
            //     font-size: 20px;
            //     padding-left: 2px;
            // }

        }
        &:after {
            display: none;
        }
    }
    .slick-next {
        // text-align: right;
        height: 50px;
        width: 50px;
        // right: 0;
        margin-top: -25px;
        // position: fixed;
        // z-index: 1;
        //   .no-probablymobile &{
        // position: absolute;
        right: -40px;
        // right: 0;
        // }
        @media (min-width: 768px) {
            width: 75px;
            right: -65px;
        }
        @media (min-width: 1024px) {}
        // @media (min-width: 768px) {
        //     width: 28px;
        //     height: 20px;
        //     margin-top: -10px;
        //     right: -28px;
        // }
        &:before {
            font-size: 26px;
            color: #999999;
            padding-right: 2px;
            // @media (min-width: 768px) {
            //     font-size: 20px;
            //     padding-right: 2px;
            // }

        }
        &:after {
            display: none;
        }
    }
}

.popup-dash {
    background-color: #231f20;
    max-width: 738px;
    margin: 0 auto;
    position: relative;
    // DIFFERENT BREAK POINT
    @media (min-width: 738px) {
        border-radius: 5px;
    }
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {}
    @media (min-width: 1024px) {}
    // margin-top: 63px;
    // margin-bottom: 40px;
    // .no-probablymobile &{
    //     margin-top: 0;
    //   }
    //   @media (min-width:1024px){
    //   }
}

.popup-dash-controls-inner {
    position: relative;
}

.popup-dash-title {}

.popup-dash-title-inner {
    @include font-Halis-Bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    // background-color: #231f20;
    border-bottom: 1px solid #333333;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 65px;
    padding-left: 65px;
    color: #fff;
    @media (min-width: 768px) {
        font-size: 32px;
        line-height: 32px;
    }
    @media (min-width: 1024px) {}
}

.popup-dash-quicktour-carousel {
    // padding-left: 50px;
    // padding-right: 50px;
    // position: fixed;
    // border: 3px solid #d0cfca;
    // border-radius: 100%;
    // margin: 0 auto;
    // width: 180px;
    // height: 180px;
    // transition:border-color, 0.2s ease;
    // &:hover{
    //     border-color: #fff;
    // }
    // cursor:pointer;
    // @media (min-width: 768px) {
    //     width: 126px;
    //     height: 126px;
    // }
    .slick-dots {
        height: 45px;
    }
    .slick-list {
        // border-radius: 100%;
        position: relative;
        // &:after {
        //     border-radius: 100%;
        //     content: "";
        //     position: absolute;
        //     left: 0px;
        //     right: 0px;
        //     top: 0px;
        //     bottom: 0px;
        //     box-shadow: inset 0px 0px 20px 10px rgba(37, 35, 35, 1);
        //     z-index: 1;
        //     pointer-events:none;
        // }

    }
}

.popup-dash-content {
    padding-top: 30px;
    position: relative;
    z-index: 2;
    padding-bottom: 45px;
    // margin:0 auto;
    margin-left: 40px;
    margin-right: 40px;
    @media (min-width: 768px) {
        margin-left: 65px;
        margin-right: 65px;
        padding-top: 40px;
    }
    @media (min-width: 1024px) {}
}

.popup-dash-quicktour-carousel {
    &:before {
        content: "";
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        // box-shadow: inset 0px 0px 20px 10px rgba(red, 1);
        box-shadow: inset 0px 0px 20px 10px rgba(#231f20, 1);
        z-index: 1;
        pointer-events: none;
    }
}

.popup-dash-quicktour-item {
    padding-left: 20px;
    padding-right: 20px;
    // background-color: green;
}

.js-popup-dash-close {}

.popup-dash-quicktour-info {
    padding-bottom: 30px;
    @media (min-width: 768px) {
        width: 100%;
        display: table;
        padding-bottom: 40px;
    }
    @media (min-width: 1024px) {}
}

.popup-dash-quicktour-info-image {
    padding-bottom: 30px;
    @media (min-width: 768px) {
        display: table-cell;
        vertical-align: middle;
        padding-bottom: 0;
    }
    @media (min-width: 1024px) {}
    img {
        width: 100%;
        margin: 0 auto;
        max-width: 284px;
        @media (min-width: 768px) {
            margin: 0;
            width: 284px;
        }
        @media (min-width: 1024px) {}
    }
}

.popup-dash-quicktour-info-content {
    color: #fff;
        margin: 0 auto;
        max-width: 284px;

    @media (min-width: 768px) {
        margin:0 auto;
        max-width: none;
        display: table-cell;
        vertical-align: middle;
        padding-left: 30px;
    }
    @media (min-width: 1024px) {}
}

.popup-dash-quicktour-info-content-cta {
  margin-top: 20px;
}

.popup-dash-quicktour-info-content-cta-button {}


.popup-dash-quicktour-info-content-title {
    @include font-Halis-Bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;


}

.popup-dash-quicktour-info-content-description {
  font-size: 16px;
}


.popup-dash-quicktour-item {}

.popup-dash-liveusage {
    text-align: center;
}

.popup-dash-liveusage-title {
    @include font-Halis-Bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
}

.popup-dash-liveusage-value {
    @include font-Halis-Bold;
    font-size: 70px;
    line-height: 70px;
    color: #6dbae7;
    // margin-bottom: 20px;
    @media (min-width: 768px) {
        font-size: 105px;
        line-height: 105px;
    }
    @media (min-width: 1024px) {}
}

.popup-dash-liveusage-label {
    @include font-Verdana-Regular;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
}

.popup-dash-liveusage-description {
    font-size: 16px;
    p {
        color: #d7d7d7;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
