.popup-submissions-outer{

  .mfp-container{
    padding:0;
  }


.mfp-preloader {
  width: 100px;
  height: 50px;
  background-color: #f1f1f1;
  opacity: 1;
  margin: 0 auto;
  line-height: 50px;
  text-align: center;
    border: 1px solid #d2d2d2;
    color:#202021;
  @include font-Halis-Book;
    box-shadow: 0 5px 10px rgba(#000,0.5);
    border-radius: 3px;

}



}


.popup-submissions{


    background-color:#fff;
    // max-width: 1157px;
    margin:0 auto;
    position: relative;
    @include fp(padding-left,20,50);
    @include fp(padding-right,20,50);

    @include fp(padding-top,38,60);
    @include fp(padding-bottom,38,60);

    @include fp(max-width,300,1157);
    border-radius: 3px;

}


.popup-submissions-title{
    @include fp(font-size,20, 38);
    line-height: 1;
    @include font-Halis-Bold;
    text-align: center;
    @include fp(margin-bottom,25, 50);

}
