.progresscircle {
	position: relative;
	width: 100%;
	height: 100%;
	svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	circle {
		//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: stroke-dashoffset 1s linear;
	}
	&:after {
		content: attr(data-percent);
		position: absolute;
		top: 50%;
		left: 50%;
		text-align: center;
		//Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(-50%) translateY(-50%);
	}
}
.progressbutton {
	display: block;
	border: 0;
	height: 50px;
	max-width: 200px;
	width: 100%;
	position: relative;
	margin: 0 auto;
	padding: 0;
	background-color: transparent;
	&:active {
		outline: 0;
	}
	&:focus {
		outline: 0;
	}
	&.is-loading {
		.progressbutton-design {
			border-radius: 50%;
			width: 50px;
			left: 50%;
			transform: translateX(-50%);
		}
		.progresscircle {
			visibility: visible;
		}
		.progressbutton-label {
			display: none;
		}
	}
	.progresscircle {
		visibility: hidden;
	}
}
.progressbutton-design {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border: 0;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(86, 229, 142);
	border-radius:5px;
	transition: width 0.1s linear, border 0.1s linear;
	margin: 0 auto;
}
.progressbutton-label {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}