.promotionboxes{

  margin:0 auto;

  max-width: 600px;

  @media (min-width: 980px) {

    max-width: none;

  }

}

.promotionboxes-list{

  @media (min-width: 980px) {

    // display: table;
    // width: 100%;
    // table-layout: fixed;
    // border-style: hidden;
  margin-left: -20px;
  margin-right: -20px;
  }

}


.promotionboxes-item{

  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 980px) {


    // padding-left: 0;
    // padding-right: 0;

    // display: table-cell;
    // vertical-align: top;
    // border:20px solid transparent;

  }

}



.promotionboxes-cta{



}

.promotionboxes-description{

  margin-bottom: 20px;

  @media (min-width: 980px) {

    margin-bottom: 30px;

  }


}

.promotionboxes-image{

  background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */

  height: 0;
  padding-bottom: 100% * (9 / 16);

  margin-bottom: 20px;

  @media (min-width: 980px) {

    margin-bottom: 25px;

  }

}

.promotionboxes-title{



}

