.refineyoursearch {

}

.refineyoursearch-inner {
    // padding-left: 20px;
    // padding-right: 20px;
    border-top: 2px solid #202021;
    @media (min-width: 1024px) {
    border-top: 3px solid #202021;

    }

    @include fp(padding-top, 22, 22);
    @include fp(padding-bottom, 36, 25);

    // @include fp(max-width, 280,1228);


  // margin:0 auto;
  //   @media (min-width: 768px) {}
  //   @media (min-width: 1024px) {
  //       // padding-left: 40px;
  //       // padding-right: 40px;
  //   }


  //   @media (min-width:1024px){

  //     @include fp(max-width, (1024-100),1228, $start:1024);


  //   }
}

.refineyoursearch-title {
    text-align: left;
    @include fp(font-size, 14,16);
    line-height: 1;
    @include font-Halis-Black;
    text-transform: uppercase;
    @include fp(padding-bottom, 20, 23);
}

.refineyoursearch-list{
    // li{
    //   @include fp(margin-top, 28, 28);

    //   &:first-child{
    //     margin-top: 0;
    //   }

    //   &.is-hastopspacing{
    //     @include fp(margin-top, 28, 28);
    //   }
    // }
}

.refineyoursearch-list-item{
  @include fp(margin-top, 28, 28);

      &:first-child{
        margin-top: 0;
      }

      &.is-hastopspacing{
        @include fp(margin-top, 28, 28);
      }
}


.refineyoursearch-filter-showmore{
  padding-top: 20px;
}


.refineyoursearch-filter-showmore-link{
    text-decoration: none;
    border-bottom: 1px solid;

    transition: border .2s ease,color .2s ease;

    &:focus,
    &:hover{
      color:#666;
      border-bottom: 6px solid #cccccc;
        text-decoration: none;

    }
}


.refineyoursearch-toggle-content{
  display: none;
}
