.relatedarticles {

}

.relatedarticles-inner {

}


.relatedarticles-list {
  //width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -25px;


  @media (min-width:768px) {
  }

  @media (min-width:1024px) {
    margin-right: -30px;
  }

}



.relatedarticles-item {
  display: block;
  margin-bottom: 25px;

  @media (min-width:768px) {
  }

  @media (min-width:1024px) {
    padding-right: 30px;
    width: 33.33%;
    float: left;
  }

}


.relatedarticles-item-outer{
  border: 1px solid #d2d2d2;

}

.relatedarticles-item-inner{
  @include fp(padding-top, 22, 43);
  @include fp(padding-bottom, 22, 50);
  @include fp(padding-left, 19, 43);
  @include fp(padding-right, 19, 43);

}

.relatedarticles-item-dateandtype{

  @include fp(margin-bottom, 20, 25);

}


.relatedarticles-item-date{
  display: inline-block;
  vertical-align: top;

}


.relatedarticles-item-type{
  display: inline-block;
  text-align: left;
  vertical-align: top;
}


.relatedarticles-item-date-label{
  @include fp(font-size, 12, 14);
  line-height: 1.6;
  display: inline-block;
  position: relative;
  padding-right: 8px;
  margin-right: 0;
  color: #666666;
  margin-bottom: 10px;
  vertical-align: top;
  &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      height: 30px;
      margin-top: -8px;
      width: 1px;
      background-color: #cccccc;
  }


  @media (min-width:1024px) {
  padding-right: 13px;
  margin-right: 2px;

  }

}


.relatedarticles-item-type-label{
   color: #666666;
  position: relative;
  padding-left: 18px;
  @include fp(font-size, 10, 11);
  @include font-Halis-Bold;
  text-transform: uppercase;
  margin-top: 0;



  &:before{
    content: "•";
    font-size: 30px;
    //color: #007bc3;
    top: -18px;
    padding-right: 10px;
    display: block;
    position: absolute;
    left: 0;

    @media (min-width:1024px){
    top: -17px;

    }
  }


    // &.is-energy:before{
    //   color: #7938af;
    // }

    // &.is-water:before{
    //   color: #006dbd;
    // }

    // &.is-localgoverment:before{
    //   color: #d31111;
    // }

    // &.is-transport:before{
    //   color: #4b954b;
    // }



 @each $name, $color in $industries {
 &.is-#{$name}:before{
 color: $color;
 }
}



  }


  .relatedarticles-item-type-title{
    @include fp(font-size, 13, 14);
    padding-left: 18px;
    margin-top:-4px;

        @media (min-width:1024px){
          margin-top:-2px

        }
  }


  .relatedarticles-item-content{

  }

  .relatedarticles-item-content-title{
    font-size: 17px;
    line-height: 22px;

  }

  .relatedarticles-item-content-description{
    font-size: 14px;
    line-height: 22px;


  }
