.relatedreviews {
    background-color: #f1f1f1;
}

.relatedreviews-inner {
    // padding-left: 20px;
    // padding-right: 20px;
    @include fp(padding-top, 47, 100);
    @include fp(padding-bottom, 47, 100);
    // @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        // padding-left: 40px;
        // padding-right: 40px;

      // @include fp(max-width, 924,1228, $start:1024);

    }


    // @include fp(max-width, 325,1328);

      margin:0 auto;

}

.relatedreviews-title {
    text-align: center;
    @include typography-heading-d;

}


.relatedreviews-reviews {


    // margin-bottom: 30px;
    // @media (min-width: 768px) {}
    // @media (min-width: 1024px) {
    //     margin-bottom: 80px;
    // }


    // @include fp(margin-bottom, 30, 80);


}
