.reviews-list {
  // max-width: 500px;
  @include fp(max-width, 280, 1328);
  // @include fp(max-width, 325, 1328);
  margin: 0 auto;
  // @include clearfix;
  @include clearfix;
  position: relative;

  @media (min-width:768px) {
  }

  @media (min-width:1024px) {
    @include fp(max-width, (1024-100), 1328, $start: 1024);
  }

}

.reviews-list-loading{
position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(#000,0.8);
  padding-top: 50px;
  text-align: center;
  color:#fff;
  z-index: 1;
  opacity: 0;
  transition:opacity 0.2s ease;
  animation-name:loadingtextanimation;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  .is-loading &{
    opacity: 1;
  }
}



.reviews-list-inner {
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px;

  @media (min-width:768px) {
  }

  @media (min-width:1024px) {
    margin-right: -30px;
  }

}

.reviews-item {
  display: block;
  margin-bottom: 30px;

  @media (min-width:768px) {
  }

  @media (min-width:1024px) {
    width: 33.33%;
    float: left;
  }

}

.reviews-item-inner {
  background-color: #ffffff;
  border-top: 3px solid #fff;
  box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.1);

  @media (min-width:768px) {
  }

  @media (min-width:1024px) {
    margin-right: 30px;
  }

  // .is-energy & {
  //   border-top-color: #7938af;
  // }

  // .is-water & {
  //   border-top-color: #007bc3;
  // }

  // .is-transport & {
  //   border-top-color: #4b954b;
  // }

  // .is-localgovernment & {
  //   border-top-color: #e11c1c;
  // }

  // .is-specialreviews & {
  //   border-top-color: #077782;
  // }


 @each $name, $color in $industries {
 .is-#{$name} &{
  border-top-color: $color;
 }
}



}

.reviews-item-category {
  @include font-Halis-Black;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  @include fp(margin-bottom, 35, 50);
  @include fp(font-size, 12, 15);




 @each $name, $color in $industries {
 .is-#{$name} &{
  color: $color;
 }
}


  // .is-energy & {
  //   color: #7938af;
  // }

  // .is-water & {
  //   color: #007bc3;
  // }

  // .is-transport & {
  //   color: #4b954b;
  // }

  // .is-localgovernment & {
  //   color: #e11c1c;
  // }

  // .is-specialreviews & {
  //   color: #077782;
  // }

}

.reviews-item-content {
  @include clearfix;
  display: block;
  @include fp(padding-top, 21, 46);
  @include fp(padding-left, 21, 46);
  @include fp(padding-right, 21, 46);
  color: #202021;
  &:focus,
  &:hover{
      text-decoration: none;
      .reviews-item-title{
        @each $name, $color in $industries {
         .is-#{$name} &{
          color: $color;
         }
      }
    }
  }
}

.reviews-item-description {
  font-size: 15px;
  color: #666666;
  line-height: 1.6;
  max-height: (24px * 3);
  overflow: hidden;
  @include fp(margin-bottom, 35, 80);
}

.reviews-item-title {
  @include fp(font-size, 20, 26);
  line-height: 1.15;
  @include font-Halis-Bold;
  margin-bottom: 0.5em;
  // color: #202021;
  display: block;
}

.reviews-item-tools {
  border-top: 1px solid #e5e5e5;
  @include clearfix;
}

.reviews-item-tools-inner {
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 117px;
  float: right;
}

.reviews-item-tools-tool {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border-left: 1px solid #e5e5e5;

  &:first-child {
    border-left: 0;
  }

  &:last-child {
    @media (max-width:1023px) {
      display: table-caption;
      caption-side: bottom;
      text-align: left;
      width: 100%;
    }

    &.is-registerforhearing,
    &.is-learnmore {
      background-color: #007bc3;
    }

    &.is-haveyoursay {
      background-color: #ee5d16;
    }

    &.is-cta {
      color: #fff;

      &:focus,
      &:hover {
        background-color: #e2e2de;
        text-decoration: none;
        color: #202021;
      }

    }

  }

  @media (min-width:768px) {
  }

  @media (min-width:1024px) {
  }

}

.reviews-item-tools-tool-inner {
  height: 113px;
  display: table;
  width: 100%;
  position: relative;

  @media (max-width:1023px) {
    .is-cta & {
      height: 65px;
    }

  }

}

.reviews-item-tools-tool-inner2 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;

  .is-cta & {
    @media (max-width:1023px) {
      padding-left: 20px;
    }

  }

}

.reviews-item-tools-tool-icon {
  @include font-Halis-Thin;
  margin-bottom: 8px;
  line-height: 0.8;

  .is-cta & {
    @media (max-width:1023px) {
      position: absolute;
      right: 20px;
      top: 50%;
      margin-top: -15px;
      margin-bottom: 0;
    }

  }

  .is-days & {
    @include fp(font-size, 38, 44);
  }

  .is-duedate &{
    @include fp(font-size, 38, 44);
  }

  icon {
    vertical-align: top;
    @include fp(font-size, 28, 35);

    .is-learnmore & {
      @include fonticon-arrowline-right(top);
    }

    .is-consultation & {
      @include fonticon-clock(top);
    }

    .is-haveyoursay & {
      @include fonticon-edit(top);
    }

    .is-submissionsclosed & {
      @include fonticon-papers(top);
    }

    .is-registerforhearing & {
      @include fonticon-register(top);
    }

    .is-cta & {
      @include fp(font-size, 32, 40);
    }

    .is-inprogress & {
      @include fonticon-icon-inProgress(top);
    }

    .is-reviewclosed & {
      @include fonticon-icon-reviewClosed(top);
    }

    .is-reviewcompleted & {
      @include fonticon-tickcircle(top);
    }

    .is-reviewopened & {
      @include fonticon-icon-reviewOpened(top);
    }

  }

}

.reviews-item-tools-tool-caption{
  @include font-Halis-Book;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 3px;

}

.reviews-item-tools-tool-label {
  @include font-Halis-Book;
  font-size: 14px;
  line-height: 16px;

  .is-cta & {
    // color: #fff;
    @include font-Halis-Bold;
    font-size: 15px;
    text-transform: uppercase;

    @media (max-width:1023px) {
      padding-right: 60px;
      text-align: left;
    }

    @media (min-width:768px) {
    }

    @media (min-width:768px) {
    }

    @media (min-width:1024px) {
      font-size: 13px;
      padding-right: 0;
    }

  }

}
