.reviewlisting {

}

.reviewlisting-inner {
    // padding-left: 20px;
    // padding-right: 20px;
    @include fp(padding-top, 47, 100);
    @include fp(padding-bottom, 47, 150);

    @include fp(max-width, 280,1228);


  margin:0 auto;
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        // padding-left: 40px;
        // padding-right: 40px;
    }


    @media (min-width:1024px){

      @include fp(max-width, (1024-100),1228, $start:1024);


    }
}


.reviewlisting-fitler{

}

.reviewlisting-fitler-inner{

}

.reviewlisting-fitler-pagination{

}

.reviewlisting-fitler-pagination-inner{
   // padding-left: 20px;
    // padding-right: 20px;
    @include fp(padding-top, 36, 75);
    @include fp(padding-bottom, 43, 80);

    @include fp(max-width, 280,1228);


  margin:0 auto;
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        // padding-left: 40px;
        // padding-right: 40px;
    }


    @media (min-width:1024px){

      @include fp(max-width, (1024-100),1228, $start:1024);


    }
}
