.richtextdownload {

}

.richtextdownload-outer {
    @include fp(padding-top, 20, 50);

}


.richtextdownload-inner {
    // padding-left: 20px;
    // padding-right: 20px;
    border-top: 1px solid #e2e2de;
    @include fp(padding-top, 15, 25);
    padding-bottom: 0;

    //@include fp(max-width, 280,1228);


    margin:0 auto;
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        // padding-left: 40px;
        // padding-right: 40px;
    }


    @media (min-width:1024px){

      //@include fp(max-width, (1024-100),1228, $start:1024);

    }
}


.richtextdownload-copy{
    @include font-Halis-Light;
    @include fp(font-size, 18, 26);
    color: #202021;
}

.richtextdownload-link{
    text-decoration: none;
    border-bottom: 1px solid;

    transition: border .2s ease,color .2s ease;

    &:focus,
    &:hover{
      color:#666;
      border-bottom: 6px solid #cccccc;
        text-decoration: none;

    }
}
