.richtext{

// margin-bottom: -15px;
//   @media (min-width:768px){

//   }

//   @media (min-width:1024px){
// margin-bottom: -26px;



//   }

&.is-hasbottom{
    margin-bottom: 0
}


font-size: 15px;


@include fp(margin-bottom,-15,-26);

img{
  max-width: 100%;
  @include fp(margin-bottom,15,30);

}

hr{
    border: 0;
    height: 1px;
    background: #e7e7e7;
    @include fp(margin-bottom,15,30);

}

p{


    @include fp(margin-bottom,15,26);
    @include fp(font-size ,14,15);

    // margin-bottom: 15px;
    // @media (min-width: 768px) {
    //     margin-bottom: 26px;
    // }

}


ul, .list-dot{

    @include list-dot;

    // ul{
    //   @include list-dot();
    //     margin-top: 20px;
    //     margin-bottom: 0;
    //    // li{
    //    //  // &:before{
    //    //  //   color:blue
    //    //  // }
    //    // }

    // }

  }




  ol, .list-number{

    @include list-number;

    // ul{
    //     margin-top: 25px;
    //     margin-bottom: 0;
    //    li{
    //    }
    // }

    // a{
    //   border-bottom: none;
    //   text-decoration: none;
    //   color: #202021;

    //   &:hover{
    //     color: #007bc3
    //   }
    // }

  }


  ul.list-arrow{

    @include list-arrow;

    // ul{
    //   @include list-arrow();
    //     margin-top: 25px;
    //     margin-bottom: 0;
    //    li{
    //    }

    // }

    // a{
    //   border-bottom: none;
    //   text-decoration: none;
    //   color: #202021;

    //   &:hover{
    //     color: #007bc3
    //   }
    // }

  }




  h2{
    @include typography-heading-j;
    @include fp(margin-bottom,30, 39);
  }
  h3{
    @include typography-heading-e;
    @include fp(margin-bottom, 10, 10);
  }
  h4{
    @include typography-heading-h;
    margin-top: 0;
    @include fp(margin-bottom, 15, 15);

  }
  h5{
    @include typography-heading-i;
    margin-top: 0;
    @include fp(margin-bottom, 14, 15);
  }





  a{
    text-decoration: none;
    border-bottom: 1px solid;

    transition: border .2s ease,color .2s ease;

    &:focus,
    &:hover{
      color:#666;
      border-bottom: 6px solid #cccccc;

    }
  }


  table {
    width: 100%;
    color: #202021;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    @include fp(margin-bottom, 15, 30);



    @media (max-width: 1023px) {
        display: block;
        border-top: 3px solid #666666;
    }
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        border-top: 3px solid #666666;
    }

    td {
        @include fp(font-size, 13, 14);
        @media (max-width: 1023px) {
            display: block;
            padding-bottom: 5px;
            &:last-child{
              padding-bottom: 0;
            }
        }
        @media (min-width: 1024px) {
            //border: 1px solid #e7e7e7;
            @include fp(padding-left, 20, 27, $start: 1024);
            @include fp(padding-right, 20, 30, $start: 1024);
            @include fp(padding-top, 20, 22, $start: 1024);
            @include fp(padding-bottom, 20, 22, $start: 1024);
        }
    }
    th {
        @include fp(font-size, 15, 20);
        @include font-Verdana-Regular;
        @media (max-width: 1023px) {
            display: block;
            text-align: left;
            padding-bottom: 5px;
            &:last-child{
              padding-bottom: 0;
            }
        }
        @media (min-width: 1024px) {
            // @include font-Halis-Book;
            text-align: left;
            @include fp(padding-left, 20, 30, $start: 1024);
            @include fp(padding-right, 20, 30, $start: 1024);
            @include fp(padding-top, 10, 15, $start: 1024);
            @include fp(padding-bottom, 10, 15, $start: 1024);
        }
    }
    tr {

        @media (max-width: 1023px) {
            position: relative;
            display: block;
            border-bottom: 1px solid #e7e7e7;
            @include fp(padding-left, 20, 30, $end: 1023);
            @include fp(padding-right, 20, 30, $end: 1023);
            @include fp(padding-top, 20, 26, $end: 1023);
            @include fp(padding-bottom, 20, 26, $end: 1023);
        }

        @media (min-width: 1024px){
            &:hover, &:focus{
              td, th{
                background-color: #f3f3f3;
              }
            }

            border-bottom: 1px solid #e7e7e7;

        }
    }
    thead {
        @media (max-width: 1023px) {
            //display: none;
            display: block;
        }
    }
    tbody {
        @media (max-width: 1023px) {
            display: block;
        }
    }

  }


}


.richtext-outer{
  background-color: #ffffff;
}


.richtext-inner{
    @include fp(padding-top, 33, 75);
    @include fp(padding-bottom, 33, 75);

    @include fp(max-width, 280,1328);


  margin:0 auto;
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        // padding-left: 40px;
        // padding-right: 40px;
    }


    @media (min-width:1024px){

    @include fp(max-width, (1024-100),1328, $start:1024);


    }
}

.richtext-table{

}

.richtext-table-inner{

}








.richtext-three-cols{
  //border-top: 1px solid #e7e7e7;
}




.richtext-three-cols-inner{
   //@include fp(padding-top,40,75);
   @include fp(padding-bottom,15,30);

  display: inline-block;
  vertical-align: top;
  margin-bottom: 0;

  @media (min-width:768px) {
  }

  @media (min-width:1024px) {
    margin-right: -70px;
  }

  .is-borderbottom{
    border-bottom: 1px solid #e7e7e7;
  }

}



.richtext-three-cols-item {
  display: block;
  margin-bottom: 30px;

  @media (min-width:768px) {
  }

  @media (min-width:1024px) {
    width: 33.33%;
    float: left;
    margin-bottom: 0;
  }

}

.richtext-three-cols-item-inner {
  background-color: #ffffff;
  margin-bottom: -30px;

  @media (min-width:768px) {
  }

  @media (min-width:1024px) {
    margin-right: 70px;
  }

}



.richtext-three-cols{

}




.richtext-two-cols-inner{


  display: inline-block;
  vertical-align: top;
  @include fp(padding-bottom,15,30);

  @media (min-width:768px) {
  }

  @media (min-width:1024px) {
    margin-right: -100px;
  }

}



.richtext-two-cols-item {
  display: block;
  margin-bottom: 0;

  @media (min-width:768px) {
  }

  @media (min-width:1024px) {
    margin-bottom: -30px;
    width: 50%;
    float: left;
  }

}

.richtext-two-cols-item-inner {
  background-color: #ffffff;

  @media (min-width:768px) {
  }

  @media (min-width:1024px) {
    margin-right: 100px;
  }

}


