.richtext{


    ul{

        @include list-dot;

    ul{
      @include list-dot(true);
      margin-top: 20px;
      margin-bottom: 0;
       li{
        // &:before{
        //   color:blue
        // }
       }

    }

    }


    a{
        // position: relative;
        border-bottom:2px dotted #b8c2c9;

        &[class]{
            border-bottom:0;
        }
    }

    img{

        max-width: 100%;
        display: block;

    }



    // h1{
    //  @include typography-heading1;

    // }


    // h2{
    //  @include typography-heading2;

    // }

    // h3{
    //  @include typography-heading3;

    // }













}


.richtext-disclaimer{
    font-size: 13px;


    @media (min-width:768px){

        font-size: 14px;

    }

    @media (min-width:1320px){

    }

    p{

        color:#aaaaaa;

    }
    a{

        border-bottom: 0;
        @include font-SaturdaySans-Regular;
        transition: color 0.2s ease;

    }


}


.richtext-columns{

    margin-bottom: 20px;


    @media (min-width:768px){

        display: table;
        vertical-align: top;
        width: 100%;
        table-layout: fixed;

    }

    @media (min-width:1320px){

    }

    ul, ol, p{
          &:last-child{

            margin-bottom: 0;
        }
    }


}

.richtext-column-1{

    @media (min-width:768px){

display: table-cell;
vertical-align: top;
padding-right: 20px;
    }

    @media (min-width:1320px){

    }

}

.richtext-column-2{

    ul {
        margin-top: 13px;
        @media (min-width: 768px) {
            margin-top: 0;
        }
    }

    // Don't display horizontal line when stacked for the last list item
    @media (max-width: 767px) {
        li:last-child:after {
            display: none;
        }
    }


    @media (min-width:768px){

display: table-cell;
vertical-align: top;
padding-left: 20px;
    }

    @media (min-width:1320px){

    }


}












.richtext-quote{



    margin-bottom: 30px;

        @media (min-width:768px){
            margin-bottom: 50px;
        }

        @media (min-width:1320px){

        }


}


.richtext-quote-inner{
position: relative;


}

.richtext-quote-icon{

        position: absolute;
        left:-14px;
        top:0;
        //font-size: 76px;
        font-size: 80px; // To match design
        line-height: 1;
        color:#e1f1fb;


        @media (min-width:768px) and (max-width:979px), (min-width:1300px){
            top:0;
            left:-25px;
            font-size: 120px;
        }


        i{
            @include fonticon-quote;
            vertical-align: top;

        }



}

.richtext-quote-content{
    z-index: 1;
    position: relative;
    padding-top: 20px;

    @media (min-width:768px){
        padding-top: 35px;
    }

    @media (min-width:1320px){

    }



}

.richtext-quote-content-copy{

    @include font-SaturdaySans-Regular;
    font-size: 30px;
    line-height: 35px; // To match design

    margin-bottom: 15px;
    color:#ef4e4e;


    @media (min-width:1024px){

        font-size: 40px;
        line-height: 45px; // To match design

    }


}
.richtext-quote-content-author{

font-size: 15px;

    color:#ef4e4e;

    @media (min-width:1024px){
        font-size: 20px;
    }


}



