.scalendar{
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}

.scalendar-inner{
	width: 100%;
	// min-width: 1000px;

  min-width:963px;

	table{
    width: 100% !important;

    a{
      display: inline-block;
      background-color: #eee;
      border-radius: 8px;
      padding:5px;
      border:1px solid #ddd;
      margin:5px;
      color:#000;
      &:hover{
        color:#000;
      }
    }
    td{
      height: 100px;
    }

		tr:first-child{
      td{
        height: auto;
      }

      td:first-child{
        background-color: #eee !important;
        tr:first-child{
          a{
            text-indent: 100%;
            overflow: hidden;
            white-space: nowrap;
            display: block;
            padding: 15px;
            width: 45px;
            height: 45px;
            line-height: 60px;
            border:0;
            background-color: #57afe1;
            border-bottom:2px solid #4a95c0;
            border-radius: 8px;

            margin:0;
            &:before{
              content:"";
              width: 0;
              height: 0;
              border-style: solid;
              display: block;
            }
          }

          td:first-child a{
            &:before{
              border-width: 8px 10px 8px 0;
              border-color: transparent #fff transparent transparent;
            }

          }

          td:last-child a{
            &:before{
              border-width: 8px 0 8px 10px;
              border-color: transparent transparent transparent #fff;
            }
          }
        }
  		}
    }
	}
}
