.seamlessform{

table{
  width: 100%;

  tr{
  }
  td{
    padding:0;
    // @include fp(padding-bottom,25,40);
    padding-bottom: 10px;
  }
}

  .sys-gen-raddatepicker{
    width: 100% !important;
  }

}

.seamlessform-errors{
  @include fp(margin-bottom,25,40);

    a{
      color: #d31111;
    }
}




.seamlessform-field-date, .seamlessform-field-file{
  input{
        height: 50px !important;

  color: #202021 !important;
  background-color: #ffffff !important;


    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    width: 100%;
    padding: 10px 15px !important;
    border: 1px solid #e3e3e3 !important;
    outline: 0;
    border-radius: 0 !important;
    transition: border 0.2s ease !important;
    @include font-Verdana-Regular;


    // http://stackoverflow.com/a/7655319/1500312
    // Disable Auto Zoom in Input “Text” tag - Safari on iPhone
    // "In summary the answer is: set the font size to at least 16px"

    font-size: 16px;



  &:focus {
    border-color: #202021 !important;
    outline: 0;
    position: relative;
    //needed to pop focus border above other overlaping borders
    z-index: 1;
    //needed to pop focus border above other overlaping borders
  }

        @media (min-width:768px) {
        }

        @media (min-width:1024px) {

          height: 55px !important;
        }


  }
}



.seamlessform-submit{
  input{
        @include button;
    color: #fff;
    width: 100%;
    border: 0;
    display: inline-block;
    background-color: #007bc3;
    border: 1px solid transparent;
    text-align: center;
    text-transform: uppercase;
    @include font-Halis-Bold;
    outline: 0;
    border:1px solid #e3e3e3;
    transition: box-shadow 0.2s ease, background 0.2s ease;

    @include fp(font-size,14,16);
    @include fp(padding-top ,13,15);
    @include fp(padding-bottom ,13,15);


    &:focus {
        border-color: #202021;
    }
    &:focus,
    &:hover {
        color: #fff;
        background-color: #006098;
        // border-bottom-color: #2f76a8;

    }

  }
}

.seamlessform-row-list{
@include fp(margin-bottom,-25,-40);
}


.seamlessform-row{

  @include fp(margin-bottom,25,40);

}


.generic-form-label{
      font-size: 15px;

    @include font-Verdana-Regular;
    text-transform: none;
    margin-bottom: 15px;
    @media (min-width:1024px) {
      font-size: 16px;
    }

}


 .seamlessform-label{

  display: block;
  @include font-Halis-Regular;
  margin-bottom: 4px;
  color: #202021;
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;

  @media (min-width:768px) {
    font-size: 16px;
  }

 }


 .seamlessform-description{
  @include fp(font-size, 13,14);
  @include fp(line-height, 20,24);
  // line-height: 1;
  user-select: none;
  padding-top: 0;
  @include font-Verdana-Regular;
  color: #666666;
  margin-bottom: 4px;

    a{
      text-decoration: underline;
    }
}

.seamlessform-error{

    padding-top: 5px;
    display: block;

  @include fp(margin-bottom,25,40);

    a{
      color: #d31111;
      font-size: 16px;
    }
}


.seamlessform-submit{
    @include fp(padding-top,25,40);

}













.seamlessform-upload{
  position: relative;
overflow: hidden;
  // max-width: 280px;
  display: inline-block;
  vertical-align: top;
  min-width: 280px;
  cursor: pointer;


input{
  height: auto !important;
  width: 280px;

  @media (min-width: 1024px){
  height: auto !important;
  }

}



  // input{
  //   font-size: 1000px;

  //     opacity: 0;
  //     filter: alpha(opacity=0);
  //     height: 1000px;
  //     width: 1000px;
  //     font-size: 1000px;
  //     position: absolute;
  //     top: -10px;
  //     // bottom: 0;
  //     right: -10px;
  //     direction: rtl;

  //     &::-webkit-file-upload-button {
  //       cursor:pointer;
  //     }

  // }

}



.seamlessform-upload-label{

  width: 100%;
  display: table;
  @include fp(height,75,83);

  border:1px solid #e2e2de;
  border-bottom: 0;


  color:#006dbd;

  transition: background-color .2s ease,color .2s ease;




  .seamlessform-upload:hover &{
    color:#fff;
    background-color: #006dbd;
  }




  input:focus + &{
    color:#fff;
    background-color: #006dbd;
  }

  input:active + &{
    color:#006dbd;
    background-color: #fff;
  }




}

.seamlessform-upload-label-icon{

  display: table-cell;
  vertical-align: middle;
  padding-left: 26px;
  padding-right: 26px;
  width: 30px;

  icon{
    @include fp(font-size ,30,35);
    @include fonticon-upload;


  }

}



.seamlessform-upload-label-copy{

display: table-cell;
vertical-align: middle;
padding-right: 28px;

}

.seamlessform-upload-label-copy-title{
font-size: 14px;
  line-height: 1;

    @include font-Halis-Black;
    margin-bottom: 3px;
    text-transform: uppercase;


  @media (min-width:768px){

  }

  @media (min-width:1024px){
    font-size: 15px;
  }

}


.seamlessform-upload-label-copy-info{

  font-size: 14px;
  line-height: 1;

    @include font-Halis-Regular;


}







