.searchform{

	max-width: 600px;
	margin:0 auto;
	margin-bottom: 50px;
}


.searchform-inner{


    display: table;
    width: 100%;
    position: relative;
    z-index: 2;
    vertical-align: top;
	
		@media (min-width:400px){
	padding-left: 70px;
		
		}
	
		@media (min-width:1320px){
				
		}
	
}




.searchform-field{

position: relative;
display: table-cell;
vertical-align: middle;

}


.searchform-field-element{
    @include font-Univers-Light;
    font-size: 25px;
    border:0;
    width: 100%;
    height: 70px;
    padding:0px 30px;
    position: relative;
    z-index: 2;
    background:none;
    outline: 0;
    color:#fff;
    -webkit-user-modify: read-write-plaintext-only; // for for android https://code.google.com/p/android/issues/detail?id=24746#c8

    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

        @include placeholder(0.5s) {
            color:#c6c6c6;

        }


}



.searchform-button{

    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 70px;

}

.searchform-button-element{

    background-color: transparent;
    border:0;
    outline:0;
    width: 70px;
    height: 70px;
    padding: 0;
    margin:0;
    text-align: center;
    line-height: 70px;
    vertical-align: middle;

}

.searchform-button-element-background{
}


.searchform-button-element-icon{

    color:#ef4e4e;
    font-size: 24px;

    i{

        @include fonticon-search;

    }

}
