.searchresults{



}

.searchresults-inner{



}

.searchresults-list{

    padding-bottom: 30px;

}



.search-item{

    margin-bottom: 30px;

}


.search-item-title{

    @include typography-heading3;

    // strong{
    //  @include font-Univers-Black;
    // }



}


.search-item-description{



}

.search-item-meta{
    @include font-Univers-Roman;
    font-size:14px; 
}


.search-item-meta-rank{

    width: 50px;
    display: inline-block;
    float: left;
    background-color: #7DC9FC;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 2px;
    margin-bottom: 2px;

}

.search-item-meta-rank-percent{

    background-color: #ef4e4e;
    height: 17px;

}

.search-item-meta-url{

    color: #767676;
    margin-right: 5px;
    display: inline-block;

}


.search-item-meta-date{

    color: #767676;
    display: inline-block;

}