.sectionalert{

  background-color: #f2f8f8;
  padding-left: 10%;
  padding-right: 10%;

  padding-top: 26px;
  padding-bottom: 26px;
  text-align: center;

  border:1px solid #e6e7e8;
  border-radius: 3px;
  color:#231f20;
  margin-bottom: 30px;

  @media (min-width:980px){

    padding-top: 43px;
    padding-bottom: 43px;
    margin-bottom: 55px;


  }

}

.sectionalert-inner{

  display: inline-table;
  vertical-align: top;

}


.sectionalert-icon{

  width: 35px;
  display: table-cell;
  vertical-align: middle;



    @media (min-width:980px){

    }

    img{
      width: 100%;
    }


}




.sectionalert-content{

display: table-cell;
  vertical-align: middle;
  padding-left: 25px;


  strong{
    @include font-Hind-SemiBold;
  }
}

.sectionalert-content-inner{
display: inline-block;
}

