.sectioncontent-list {}

.sectioncontent-item {
    padding-top: 30px;
    padding-bottom: 30px - 30px;
    text-align: center;
    border-top: 1px solid #e6e7e8;
    @media (min-width: 768px) {
        padding-top: 55px;
        padding-bottom: 55px - 30px;
    }
    @media (min-width: 980px) {}
    &:first-child {
        border-top: 0;
        padding-top: 0;
        @media (min-width: 768px) {
            padding-top: 0;
        }
    }
    a {
        color: #999;
        border-bottom: 1px solid #999;
        display: inline-block;
        margin-bottom: -1px;
    }

}

.sectioncontent-copyhighlight{

  color:#333333;

}


.sectioncontent-disclaimer {

  p{
    font-size: 12px;
    line-height: 14px;
    // color:#666666;

      @media (min-width:1024px){
        font-size: 15px;
        line-height: 17px;
      }

      @media (min-width:980px){

      }
    }
}

.sectioncontent-steps {
  text-align: center;
  margin-top: 32px;
}


.sectioncontent-steps-list {
  margin-bottom: -30px;
  @media (min-width:1024px){

    width: 100%;
    display: table;
    margin-bottom: 0;
    table-layout: fixed;
    }

}

.sectioncontent-steps-item {

margin-bottom: 30px;
    @media (min-width:768px){

    }

    @media (min-width:1024px){

  display: table-cell;

  vertical-align: top;
  margin-bottom: 0;
    }
}

.sectioncontent-steps-item-icon {

  width: 193px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;


  i{
    @include font-Halis-Bold;
    position: absolute;
    top: 6px;
    line-height: 53px;
    width: 53px;
    text-align: center;
    left: 6px;
    font-size: 32px;
    color:#231f20;
  }

  img{
    width: 100%;
  }

}

.sectioncontent-steps-item-label {
    @include font-Halis-Bold;
    font-size: 24px;
    line-height: 24px;

    color:#231f20;
    text-transform: uppercase;

      @media (min-width:768px){

      }

      @media (min-width:1024px){

        font-size: 32px;
        line-height: 32px;

      }

}


.sectioncontent-title {
    @include font-Halis-Bold;
    font-size: 24px;
    line-height: 24px;
    color: #231f20;
    text-transform: uppercase;
    margin-bottom: 6px;
    @media (min-width: 768px) {
        font-size: 44px;
        line-height: 44px;
      margin-bottom: 6px;
    }
    @media (min-width: 1024px) {
    margin-bottom: 6px;

    }
}

.sectioncontent-subtitle{
    @include font-Hind-SemiBold;
    font-size: 16px;
    line-height: 20px;
    color:#666666;
    text-transform: none;
    @media (min-width: 768px) {
        font-size: 18px;
        line-height: 24px;
    }
    @media (min-width: 1024px) {}
}

.tablesolarrates {}

.tablesolarrates-header {}

.tableyourplan {
    border-radius: 3px;
    border: 1px solid #e6e7e8;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tableyourplan-title {
    background-color: #e6e7e8;
    @include font-Halis-Bold;
    font-size: 22px;
    line-height: 18px;
    color: #231f20;
    padding-top: 22px;
    padding-bottom: 22px;
    text-transform: uppercase;
    @media (min-width: 768px) {
        font-size: 22px;
        line-height: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @media (min-width: 1024px) {}
}

.tableyourplan-content {
    position: relative;
    overflow: hidden;
    padding-top: 23px;
    padding-bottom: 36px;
    @media (min-width: 1024px) {
        padding-bottom: 23px;
    }
    @media (min-width: 1024px) {}
    &:after {
        content: "";
        display: block;
        position: absolute;
        background-image: url(../images/tableyourplan.png);
        background-size: cover;
        width: 194px;
        height: 136px;
        bottom: -110px;
        // margin-left: (-194px / 2);
        left: -50px;
        @media (min-width: 1024px) {
            width: 387px;
            height: 272px;
            bottom: -220px;
            left: -146px;
            // margin-left: 0;
        }
        @media (min-width: 980px) {}
    }
}

.tableyourplan-content-disclaimer {
    font-size: 16px;
    @media (min-width: 768px) {
        font-size: 18px;
    }
    @media (min-width: 980px) {}
}

.tableyourplan-content-price {
    color: #231f20;
}

.tableyourplan-content-price-number {
    display: inline-block;
    @include font-Halis-Bold;
    font-size: 30px;
    line-height: 20px;
    // margin-bottom: 17px;
    color: #231f20;
    text-transform: uppercase;
    @media (min-width: 768px) {
        font-size: 40px;
        line-height: 20px;
    }
    @media (min-width: 1024px) {}
}

.tableyourplan-content-price-month {
    display: inline-block;
    @include font-Halis-Bold;
    font-size: 16px;
    line-height: 20px;
    // margin-bottom: 17px;
    color: #231f20;
    @media (min-width: 768px) {
        font-size: 18px;
        line-height: 20px;
    }
    @media (min-width: 1024px) {}
}

.tableyourplan-content-title {
    @include font-Verdana-Regular;
    font-size: 22px;
    line-height: 18px;
    margin-bottom: 25px;
    color: #666666;
    text-transform: uppercase;
    @media (min-width: 768px) {
        font-size: 22px;
        line-height: 20px;
    }
    @media (min-width: 1024px) {}
}

.tabledata {
    border-radius: 2px;
    border: 1px solid #dcdcde;
    color: #231f20;
    margin-bottom: 30px;
    table {
        border-collapse: collapse;
        border-style: hidden;
        width: 100%;
        text-align: left;
        table-layout: fixed;
    }
    td {
        border: 1px solid #dcdcde;
        padding-left: 10px;
        padding-right: 5px;
        padding-top: 15px;
        padding-bottom: 15px;

        font-size: 13px;
        line-height: 14px;


        @media (min-width: 1024px) {
            padding-left: 30px;
            padding-right: 15px;
            padding-top: 15px;
            padding-bottom: 15px;

            font-size: 16px;
            line-height: 20px;

        }


      &.tabledata-cell--mergevert {
          border-top: 0;
          border-bottom: 0;
          &:not(.tabledata-cell--mergevert-first) {
              padding-top: 2px;
              @media (min-width: 1024px) {
                  padding-top: 2px;
              }
          }
          &:not(.tabledata-cell--mergevert-last) {
              padding-bottom: 2px;
              @media (min-width: 1024px) {
                  padding-bottom:2px;
              }
          }
      }


    // &.tabledata-cell--mergevert {
    //     border-top: 0;
    //     border-bottom: 0;
    //     &:not(.tabledata-cell--mergevert-first) {
    //         padding-top: 0;
    //         @media (min-width: 1024px) {
    //             padding-top: 0;
    //         }
    //     }
    //     &:not(.tabledata-cell--mergevert-last) {
    //         padding-bottom: 0;
    //         @media (min-width: 1024px) {
    //             padding-bottom: 0;
    //         }
    //     }
    // }

      &.tabledata-cell--mergehoriz{

        border-left:0;
        border-right: 0;

        &:not(.tabledata-cell--mergehoriz-first) {
            padding-left: 10px;
            @media (min-width: 1024px) {
                padding-left: 10px;
            }
        }
        &:not(.tabledata-cell--mergehoriz-last) {
            padding-right: 0;
            @media (min-width: 1024px) {
                padding-right: 0;
            }
        }

      }




    }
}


.tabledata--rates1 {
  td{

            &:nth-child(1) {
                width: 30.5%;
            }
            &:nth-child(2) {
                width: 48.5%;
            }


        @media (min-width: 1024px) {
            &:nth-child(1) {
                width: 33.9%;
            }
            &:nth-child(2) {
                width: 35.4%;
            }


        }


  }
}




.tabledata--rates2 {
  td{

            &:nth-child(1) {
            width: 50%;
              @media (min-width: 1024px) {
                width: 33.9%;
              }
            }
            // &:nth-child(2) {
            //     width: 48.5%;
            // }



  }
}


.tabledata-header {
    td {
        background-color: #e6e7e8;
        @include font-Hind-SemiBold;
          @media (min-width:980px){

          }
    }
}

.tabledata-header-label-clarify {
  display: inline;
  color:#666666;
        @include font-Hind-Regular;
}


.tabledata-subheader {

  td{
    background-color: #f2f8f8;
    color:#5bc5c4;
        @include font-Hind-Medium;
  }

}
