.section-general {
    // background-color: #fbfbfb;
    overflow: hidden;
}

.section-general-inner {
    padding: 50px 20px;
    max-width: 1260px + 20px + 20px;
    margin: 0 auto;
    @media (min-width: 980px) {
        padding: 95px 50px;
        max-width: 1260px + 50px + 50px;
    }
    .section-general + .section-general & {
        padding-top: 0;
    }
    .section-general--fullwidth & {
        max-width: none;
        padding-left: 0;
        padding-right: 0;
        @media (min-width: 980px) {
            max-width: none;
            padding-left: 0;
            padding-right: 0;
        }
    }
}



// .video{
// background-color: blue;
// height: 500px;
//  margin-left:-20px;
//  margin-right: -20px;

//  @media (min-width:768px){
//    margin-left: -50px;
//    margin-right: -50px;

//  }

// }
