.sectionintro{

  padding-top: 63px;
  text-align: center;
  padding-bottom: 30px;


  @media (min-width:768px){
    padding-top: 105px;
    padding-bottom: 50px;
  }

  @media (min-width:980px){

  }

}

.sectionintro-title{


  text-align: center;

  @include typography-heading1;

}


.sectionintro-description{

  @include typography-headingsub;
  text-align: center;


}
