.sform{



}



.sform-select{

    border-radius: 10px;
    overflow: hidden;
    position: relative;

    select{
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      width: 100%;
      height: 50px;
      -webkit-appearance:none;
      -moz-appearance:none;
      border:0;
      background:none;
      // @include opacity(0);
      font-size:16px !important;
      text-indent: 5px;

    }

  &:before{
    content:"";
    position: absolute;
    top:1px;
    right: 1px;
    width: 20px;
    height: 48px;
    background-color: #fff;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    z-index: 1;

  }

}


.sform-select-face{

}

.sform-select-face-inner{

  background-color: #fff;
  height: 50px;
  line-height: 50px;
  padding:10px;

  border-radius: 10px;

  padding-right: 10px + 5px + 10px;

  border:1px solid #000;



  select:hover + .sform-select-face &{
    border-color: green;
  }

  select:focus + .sform-select-face &{
    border-color: blue;

  }



  &:after{
    content:"";
    position: absolute;
    right:10px;
    top:50%;
    margin-top: -4px;
    z-index: 1;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #000 transparent transparent transparent;


    select:hover + .sform-select-face &{
      border-top-color: green;
    }

    select:focus + .sform-select-face &{
      border-top-color: blue;

    }


  }

}
