.sidebar {

}

.sidebar-inner {


  @media (min-width:1024px){
  border-top: 3px solid #202021;
  padding-top: 18px;

  }
}



.sidebar-mobilemenu{
    position: relative;
    //margin-bottom: 47px;

      @media (min-width:768px){

      }

      @media (min-width:1024px){
        display: none;
      }

    &:after{
      display: block;
      @include fonticon-icon-down-small(top,false);
      position: absolute;
      z-index: 1;
      right:20px;
      top:50%;
      font-size: 12px;
      margin-top: -5px;
      color:#fff;

    }

  select{
    color:#fff;
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: #007bc3;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    height: 50px;
    border:1px solid #007bc3;

    @include font-Halis-Bold;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 40px;

    option{
      @include font-Halis-Regular;
      font-size: 14px;
      text-transform: none;

    }
  }

}

.sidebar-list{

  display: none;

  @media (min-width:768px){

  }

  @media (min-width:1024px){
   display: table;
   width: 100%;
   table-layout: fixed;
   border-collapse: collapse;
   margin-bottom: 30px;

  }

}


.sidebar-head{
    display: none;

  @media (min-width:1024px){
    display: block;
    @include fp(font-size, 15,16);
    @include font-Halis-Black;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
}


.sidebar-arrow{

  @include list-sidebar-arrow;

  // ul{
  //   @include list-sidebar-arrow();
  //     margin-top: 25px;
  //     margin-bottom: 0;
  //    li{
  //    }

  // }

  // a{
  //   border-bottom: none;
  //   text-decoration: none;
  //   color: #202021;

  //   &:hover{
  //     color: #007bc3
  //   }
  // }

}

.sidebar-back-link-wrap{
  display: none;
  @media (min-width:1024px){
    display: block;
  }

}


.sidebar-back-link{
  display: table;
  width: 100%;
  &:focus,
  &:hover{
    color: #0075b9;
    text-decoration: none
  }
}

.sidebar-back-icon{
  display: table-cell;
  width: 30px;
  font-size:  29px;
  vertical-align: middle;

  icon{
    @include fonticon-arrowreturn(top);
  }
}


.sidebar-back-copy{
  @include font-Halis-Black;
  text-transform: uppercase;
  line-height: 1;
  @include fp(font-size, 15,16);
  padding-left: 10px;

  display: table-cell;
  color: #202021;
  vertical-align: middle;
  padding-top: 13px;
  .sidebar-back-link:hover &{
    color: #0075b9;
  }

}
