.sitewide-search-results {

}

.sitewide-search-results-inner {

}


.sitewide-search-results-item{
    margin-bottom: 18px;
    border: 1px solid #d2d2d2;

    @media (min-width:1024px){
      margin-bottom: 0;
      border-left: 1px solid #d2d2d2;
      border-top: 1px solid #d2d2d2;
      border-right: 1px solid #d2d2d2;
      border-bottom: 0;

    }

    &:last-child{


      @media (min-width:1024px){
        border-bottom: 1px solid #d2d2d2;

      }

    }
}

.sitewide-search-results-item-inner{

    @include fp(padding-top, 20, 28);
    @include fp(padding-bottom, 30, 36);
    @include fp(padding-left, 20, 36);
    @include fp(padding-right, 20, 36);

}

.sitewide-search-results-item-titleanddate{
  @media (min-width:1024px){
    display: table;
    width: 100%;
    margin-bottom: 7px;
  }

}

.sitewide-search-results-item-title{
  color: #666666;
  position: relative;
  padding-left: 18px;
  @include fp(font-size, 10, 11);
  @include font-Halis-Bold;
  text-transform: uppercase;
  margin-bottom: 17px;

  @media (min-width:1024px){
    padding-left: 20px;
    display: table-cell;
    text-align: left;
    margin-bottom: 0;
    vertical-align: middle;
  }

  &:before{
    content: "•";
    font-size: 30px;
    //color: #007bc3;
    top: -18px;
    padding-right: 10px;
    display: block;
    position: absolute;
    left: 0;

    @media (min-width:1024px){
    top: -12px;

    }
  }


    // &.is-energe:before{
    //   color: #7938af;
    // }

    // &.is-water:before{
    //   color: #007bc3;
    // }

    // &.is-localgoverment:before{
    //   color: #d31111;
    // }



 @each $name, $color in $industries {
 &.is-#{$name}:before{
  color: $color;
 }
}


}


.sitewide-search-results-item-date{
  @include fp(font-size, 14, 16);
  @include font-Halis-Bold;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 0px;
  @media (min-width:1024px){
    margin-bottom: 0;
    display: table-cell;
    width: 100px;
    text-align: right;
    vertical-align: middle;
  }

}

.sitewide-search-results-item-heading{
  @include fp(font-size, 20, 26);
  @include font-Halis-Bold;
  color: #006dbd;
  @include fp(margin-bottom, 17, 7);
  line-height: 1.1;

  &:hover{
    // text-decoration: none;
  }

}


.sitewide-search-results-item-link{
  margin-top: 18px;
}


.sitewide-search-results-item-link-highlight{
  @include font-Halis-Bold;
  text-transform: uppercase;
  color: #666666;
  @include fp(font-size, 10, 11);

}



.sitewide-search-results-item-copy{
  font-size: 13px;
  color: #666666;
  line-height: 1.7
}


.sitewide-search-results-item-link-copy{
    text-decoration: none;
    border-bottom: 1px solid;

    transition: border .2s ease,color .2s ease;
    font-size: 13px;

    &:focus,
    &:hover{
      color:#666;
      border-bottom: 6px solid #cccccc;
        text-decoration: none;

    }
}

.sitewide-search-results-filter-inner{
  @include fp(margin-bottom, 43, 20);
}



.sitewide-search-results-filter{

}

.sitewide-search-results-filter-datefromanddatetoandsort{
    // @media (min-width:1024px){
    //   display: table;
    //   width: 100%;
    //   table-layout: fixed
    // }
    @media (min-width:1024px){
      margin-right:-20px;
    }

}


.sitewide-search-results-filter-datefromanddateto{
  // @media (min-width:1024px){
  //   display: table-cell;
  //   vertical-align: top;
  //   padding-right: 10%;
  //   width: 67%;
  // }
}


.sitewide-search-results-filter-sort{
  // @media (min-width:1024px){
  //   display: table-cell;
  //   width: 33%;
  //   text-align: right;
  //   vertical-align: top;
  // }
  @media (min-width:1024px){
      width:100%;
      display: table;
    }
}

.sitewide-search-results-filter-sort-inner{
  @media (min-width:1024px){
      width: 100%;
      padding-right: 20px;

    }
}


.sitewide-search-results-filter-datefromanddateto-outer{

}

.sitewide-search-results-filter-datefromanddateto-inner{
  @media (min-width:1024px){
      display: table;
      width: 100%;
      table-layout: fixed;
      margin-right: -20px;
    }
}


.sitewide-search-results-filter-datefrom{
  @media (min-width:1024px){
      display: table-cell;
      vertical-align: top;
      padding-right: 20px;
      width:50%;
    }
}

.sitewide-search-results-filter-dateto{
  @media (min-width:1024px){
      display: table-cell;
      vertical-align: top;
      padding-right: 20px;
      width :50%;
    }
}


.sitewide-search-results-content{
  @include fp(margin-bottom, 15, 25);

}

.sitewide-search-results-info{
  @include fp(font-size, 13, 14);
  @include fp(margin-bottom, 40, 74);

}

.sitewide-search-results-pagination{

}
