.sitewide-search {

}

.sitewide-search-inner {
    // padding-left: 20px;
    // padding-right: 20px;
    @include fp(padding-top, 47, 80);
    @include fp(padding-bottom, 43, 80);

    @include fp(max-width, 280,1328);


  margin:0 auto;
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        // padding-left: 40px;
        // padding-right: 40px;
    }


    @media (min-width:1024px){

      @include fp(max-width, (1024-100),1228, $start:1024);


    }
}


.sitewide-search-filterandresults{
    @media (min-width:1024px){
      display: table;
      width :100%;
    }

}

.sitewide-search-filter{
    @media (min-width:1024px){
      display: table-cell;
      width:23.2%;
      vertical-align: top;
    }
}

.sitewide-search-results{
    @media (min-width:1024px){
      display: table-cell;
      width:76.8%;
      padding-left: 7%;
      vertical-align: top;
    }
}
