.tags{
    //margin: 20px 0;

    @media (min-width: 768px) {
        //margin: 40px 0;
    }
}

.tags-inner{

}

.tags-title{
    margin-bottom: 20px;

    color: #09f;
    @include font-Univers-Bold;
    font-size: 21px;
    line-height: 1;

    @media (min-width: 768px) {
        font-size: 30px;
    }
}

.tags-list{
    @include clearfix;
    padding-left: 0;
    list-style: none;

    margin-left: -5px;
    //margin-top: 10px;
    //margin-bottom: 20px;
}


.tag-item{
    margin-bottom: 10px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
}

.tag-item-link{
    display: inline-block;
    padding: 11px 25px;

    background-color: #fbfbfb;
    border-radius: 20px;
    border: 1px solid #e2e2e2;
    color: #5d5d5d;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    word-break: break-word;

    &:hover {
        //background-color: #a7b4b4;
        color: #09f;
        background-color: #e3f4ff;
        border-color: #09f;

        transition: background-color .2s ease, border-color .2s ease, color .2s ease;

    }

    &:active {
        //background-color: #889696;
        color: #09f;
    }

    &:focus {
        color: #09f;
    }

    @media print{
        border:1px solid #000;
    }
}








