.taxcalculator{



}

.taxcalculator-intro{

    margin-bottom: 30px;

        @media (min-width:768px){
            margin-bottom: 50px;
        }

        @media (min-width:1320px){

        }

}

.taxcalculator-disclaimer{

    p{
        font-size: 12px;
    }

}

.taxcalculator-form{


    @media (min-width:768px){
        display: table;
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        border-style: hidden;
    }

}


.taxcalculator-amount{

    margin-bottom: 20px;
    @media (min-width:768px){
        margin-bottom: 0;
        display: table-cell;
        vertical-align: top;

        border:20px solid transparent;
    }
}

.taxcalculator-income{

    margin-bottom: 20px;
    @media (min-width:768px){
        margin-bottom: 0;
        display: table-cell;
        vertical-align: top;

        border:20px solid transparent;
    }

}


.taxcalculator-saving{
    margin-bottom: 20px;
    @media (min-width:768px){
        margin-bottom: 0;
        display: table-cell;
        vertical-align: top;

        border:20px solid transparent;
    }

}

