.team-listing {

}

.team-listing-inner {

}

.team-listing-title {
    @include typography-heading-j;
    @include fp(margin-bottom,23, 39);
    @include fp(line-height,23, 33);
}



.team-listing-feature{
    @include fp(margin-bottom,42, 80);

}

.team-listing-feature-item-photo-img{
  width: 100%;
  @include fp(padding-bottom,20,22);

}


.team-listing-feature-item{
  border-bottom: 1px solid #d2d2d2;

  &:first-child{
    border-top: 1px solid #d2d2d2;
  }

}

.team-listing-feature-item-copyandphoto{
  @include fp(padding-top,24,45);
  @include fp(padding-bottom,29,40);



  @media (min-width:768px) {
    display: table;
    width: 100%;
  }
}

.team-listing-feature-item-copy{
  .richtext{
    margin-bottom: 0;
  }
  @media (min-width:768px) {
    display: table-cell;
    width:76%;
    vertical-align: top;
    padding-right: 6%;
 }
}

.team-listing-feature-item-photo{
  max-width: 280px;
  margin: 0 auto;
  @media (min-width:768px) {
    display: table-cell;
    width:24%;
    vertical-align: top;
  }
}





.team-listing-viewcv{
  display: block;
  border: 1px solid #d2d2d2;

  &:hover,
  &:focus{
      background-color: #007bc3;
      color: #fff;
      text-decoration: none;
  }

}

.team-listing-viewcv-iconandcopy{
  display: table;
  //width: 100%;
  @include fp(padding-top,15,17);
  @include fp(padding-bottom,15,17);
  @include fp(padding-left,21,17);
  @include fp(padding-right,21,22);


}

.team-listing-viewcv-icon{
  display: table-cell;
  color: #007bc3;
  vertical-align: middle;
  @include fp(font-size, 32, 38);
  transition: color .2s ease;
  width: 50px;

  @include fonticon-download;

  @media (min-width:1024px){
    width: 54px;
  }



  a:hover &, a:focus &{
      color:#ffffff;

  }

}

.team-listing-viewcv-copy{
  display: table-cell;
  vertical-align: middle;

}


.team-listing-viewcv-copy-main{
  transition: color .2s ease,  border .2s ease;
  @include fp(font-size,14,15);
  @include fp(margin-bottom,9,4);
  line-height: 1;
  @include font-Halis-Bold;
  color: #006dbd;
  text-transform: uppercase;
  a:hover &, a:focus &{
      color:#ffffff;

  }

}

.team-listing-viewcv-copy-sub{
  transition: color .2s ease,  border .2s ease;
  @include fp(font-size,12,11);
  line-height: 1;
  @include font-Verdana-Regular;
  color: #666666;
  text-transform: uppercase;
  a:hover &, a:focus &{
      color:#ffffff;

  }

}




.team-listing-list-inner {
  //width: 100%;
  vertical-align: top;
  margin-bottom: -11px;


  @media (min-width:768px) {
    margin-bottom: -31px;
    display: inline-block;
    margin-right: -135px;
  }

}

.team-listing-list-item{
  width: 100%;
  max-width: 280px;
  margin: 0 auto 20px;
  display: block;
  //margin-bottom: 25px;


  @media (min-width:768px) {

    max-width: none;
    padding-right: 135px;
    width: 33.33%;
    float: left;
    padding-bottom: 40px;
  }


    &:nth-child(3n+1){
      @include clearfix;
      clear: both
    }
}


.team-listing-list-item-profile{
  width: 100%;
  img{
    width: 100%;
  }

  @media (min-width:768px) {
  padding-bottom: 25px;

  }
}


.team-listing-list-item-profile-title{
  @include fp(font-size,17,20);
  line-height: 1.2;
  @include font-Halis-Light;

}

.team-listing-list-item-inner{
  display: table;

  @media (min-width:768px) {
    display: block;
  }

}

.team-listing-list-item-profile{
  display: table-cell;
  width: 42%;
  vertical-align: top;
  @media (min-width:768px) {
    display: block;
    width: 100%;
  }

}

.team-listing-list-item-info{
  display: table-cell;
  width: 58%;
  padding-left: 20px;
  vertical-align: top;
  @media (min-width:768px) {
    display: block;
    width: 100%;
    padding-left: 0;
  }

}

.team-listing-feature-title{
   @include fp(font-size,24,32);
   @include fp(line-height,24,24);
    @include font-Halis-Black;
   @include fp(margin-bottom,8,11);
}

.team-listing-feature-level{
   @include fp(font-size,18,20);
   line-height:1;
    @include font-Halis-Light;
   @include fp(margin-bottom,19,24);

}

.team-listing-feature-date{
   @include fp(font-size,14,16);
   @include fp(margin-bottom,14,24);
   line-height:1;
    @include font-Halis-Bold;

}
