.textfeature{

}

.textfeature-inner{




  margin:0 auto;
text-align: center;
// max-width: 79%;

@include font-Halis-Light;
line-height: 1.25;


@include fp(font-size,20,48);

  padding-left: 20px;
  padding-right: 20px;



    @include fp(max-width, 320,1328);
    @include fp(padding-top, 47,100);
    @include fp(padding-bottom, 47,100);



    @media (min-width:1024px){

      padding-left: 40px;
      padding-right: 40px;

    }


  @media (min-width:1680px){

  max-width: 1328px;
  }


}
