[rel="tooltip"]{
  cursor:help;
}

.tooltip{

    display: inline-block;
    width: 13px;
    height: 13px;


    @include icon-tooltip(middle);
    position: relative;
    top:-1px;


    &:before{
        content:"";
        display: block;
        position: absolute;
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
    }
}

#tooltip {
        pointer-events:none;
    text-align: center;
    color: #fff;
    background: #007bc3;
    position: absolute;
    z-index: 100;
    padding: 15px;
    border-radius: 7px;
    // border: 1px solid #f2f2f3;
    @include font-Halis-Regular;
    line-height: 1.2;

    z-index: $z-index-tooltip;
    p{
      color:#fff;
      &:last-child{
        margin-bottom: 0;
      }
    }
    &:after {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #007bc3;
        content: '';
        position: absolute;
        left: 50%;
        top: -10px;
        margin-left: -10px;
    }
    &.top:after {
        border-top: none;
        border-bottom: 10px solid #007bc3;
        top: -10px;
        bottom: auto;
    }
    &.left:after {
        left: 10px;
        margin: 0;
    }
    &.right:after {
        right: 10px;
        left: auto;
        margin: 0;
    }
}
