@keyframes fadebottom {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    25% {
        opacity: 0;
        transform: translateY(20px);
    }
    30% {
        opacity: 0;
        transform: translateY(0px);
    }
    45% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}



.js .inviewfade{
    opacity:0;

    transition-property: opacity, transform;
    transition-duration: .5s;
    transition-timing-function: ease;
        -ms-transform: scale(0.5); /* IE 9 */
        -webkit-transform: scale(0.5); /* Chrome, Safari, Opera */
        transform: scale(0.5); /* Standard syntax */
 
    &.is-inview{
        opacity:1;
        //transform:translateY(0);
        -ms-transform: scale(1); /* IE 9 */
        -webkit-transform: scale(1); /* Chrome, Safari, Opera */
        transform: scale(1); /* Standard syntax */
    }
}