

.twocolumns-outer{
  background-color: #ffffff;
}


.twocolumns-inner{
    @include fp(padding-top, 33, 75);
    @include fp(padding-bottom, 33, 75);

    @include fp(max-width, 280,1328);


  margin:0 auto;
    @media (min-width: 768px) {}
    @media (min-width: 1024px) {
        // padding-left: 40px;
        // padding-right: 40px;
    }


    @media (min-width:1024px){

    @include fp(max-width, (1024-100),1328, $start:1024);


    }
}

.twocolumns-sidebarandcontent{
  @media (min-width:1024px) {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}

.twocolumns-sidebarandcontent-sidebar{
  @media (min-width:1024px) {
    display: table-cell;
    width: 23%;
    vertical-align: top;
  }
}

.twocolumns-sidebarandcontent-content{
  @media (min-width:1024px) {
    display: table-cell;
    width: 77%;
    vertical-align: top;
    padding-left: 90px;
  }
}
