.twitter-typeahead{
  width: 100%;
  display: block !important;
}


.typeahead,
.tt-query,
.tt-hint {
  // width: 396px;
  height: 30px;
  padding: 8px 12px;
  // font-size: 24px;
  line-height: 30px;
  border: 1px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  // width: 422px;
  margin: 3px 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  // border: 1px solid rgba(0, 0, 0, 0.2);
  // -webkit-border-radius: 8px;
  //    -moz-border-radius: 8px;
  //         border-radius: 8px;
  // -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  //    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  //         box-shadow: 0 5px 10px rgba(0,0,0,.2);

              box-shadow: 5px 5px 5px rgba(222,222,222,.5);
}

.tt-suggestion {
  // padding: 3px 20px;
  // font-size: 18px;
  // line-height: 24px;


  @include font-Halis-Bold;
  text-transform: uppercase;



    padding: 10px 20px;
    padding-right: 45px;
    height: 50px;

    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 0;
    font-size: 14px;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;


    @media (min-width:768px) {
      line-height: 40px;
      font-size: 16px;
      height: 55px;
      padding: 7px 20px;

      }








}

.tt-suggestion:hover {
  cursor: pointer;
  // color: #fff;
      background-color: #e7e9eb;
}

.tt-suggestion.tt-cursor {
  color: #fff;
      background-color: #007bc3;

}

.tt-suggestion p {
  margin: 0;
}
