.videowithimagefallback {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.videowithimagefallback-video {
    background-color: #6b93ac;


    object-fit: cover;
    overflow: hidden; // Cuts off the parts of the image poking out

    width: 100%;
    height: 100%;


    .touch & {
        display: none;
    }
}

.videowithimagefallback-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    .no-touch & {
        display: none;
    }
}

.videowithimagefallback-playpause {
    width: 37px;
    height: 37px;
    position: absolute;
    z-index: 99;
    right: 20px;
    bottom: 20px;
    display: block;
    .touch & {
        display: none;
    }
    .no-video & {
        display: none;
    }
}

.videowithimagefallback-icon {
    // @include icon-videowithimagefallback-play;
    width: 100%;
    height: 100%;
    display: block;
    background-color: red;
    opacity: 0.7;
        &:hover{
            opacity: 1;
        }
    .is-playing & {
        background-color: blue;
        // @include icon-videowithimagefallback-pause;
        opacity: 0.7;
        &:hover{
            opacity: 1;
        }
    }
}