.whathappensnext{

  background-color:#5bc5c4;
  color:#fff;
  text-align: center;
  padding-top: 67px;
  padding-bottom: 67px;
  padding-left: 20px;
  padding-right: 20px;


    @media (min-width:768px){
      padding-top: 108px;
      padding-bottom: 108px;
      padding-left: 53px;
      padding-right: 53px;
    }

    @media (min-width:1024px){

    }

  p{

    color:#fff;

  }

  a {
      color: #fff;
      border-bottom: 1px solid #fff;
      display: inline-block;
      margin-bottom: -1px;
  }


}

.whathappensnext-inner{

  max-width: 1260px;
  margin:0 auto;

}



.whathappensnext-title{

  @include font-Halis-Bold;
  text-transform: uppercase;

  font-size: 30px;
  line-height: 30px;
  margin-bottom: 25px;

    @media (min-width:768px){
      font-size: 58px;
      line-height: 50px;
      margin-bottom: 22px;
    }

    @media (min-width:1024px){
      font-size: 72px;
      line-height: 72px;
    }

}
.whathappensnext-list{

  margin-bottom: -30px;

  @media (min-width:768px){
    margin-bottom: 0;
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}



.whathappensnext-item{

margin-bottom: 30px;

  @media (min-width:768px){

display: table-cell;
vertical-align: top;
    margin-bottom: 0;
  }

  @media (min-width:1024px){

  }

}

.whathappensnext-item-icon{

    width:117px;
    margin:0 auto;
    margin-bottom: 12px;



    @media (min-width:768px){
      width:160px;
      margin-bottom: 26px;
    }

    @media (min-width:1024px){

      width:223px;

    }

    @media (min-width:1024px){

    }



  img{
    width: 100%;
  }

}

.whathappensnext-item-title{

  @include font-Halis-Bold;

  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  max-width: 250px;
  margin:0 auto;
  margin-bottom: 7px;


    @media (min-width:768px){

      font-size: 28px;
      line-height: 28px;
      max-width: 320px;
      margin:0 auto;
      margin-bottom: 7px;

    }



    @media (min-width:1024px){
      font-size: 32px;
      line-height: 32px;

    }

}


.whathappensnext-item-description{

max-width: 250px;
margin:0 auto;


    @media (min-width:768px){
      max-width: 320px;
      margin:0 auto;
    }


}
