.wherewilldonationsgo{

    text-align: center;


}

.wherewilldonationsgo-carousel{



    .bx-wrapper .bx-controls-direction a{

        top:55px;

    }

    @media (min-width: 768px) {
        margin-top: 40px;

        max-width: 1024px; // As per Design QA - Donation
        margin-left: auto;
        margin-right: auto;
    }

}


.wherewilldonationsgo-list{


}


.wherewilldonationsgo-item{



}


.wherewilldonationsgo-item-inner{


}

.wherewilldonationsgo-item-content{

    padding:0 40px;
    color:#ff0099;
    font-size: 17px;

        @media (min-width:768px){
            font-size: 20px;
            padding:0 20px;
        }

        @media (min-width:1024px){
        padding:0 40px;

        }

        // @media (min-width:1320px){
        //  padding:0 75px;
        // }


}

.wherewilldonationsgo-item-icon{

    max-width: 110px;
    margin:0 auto;
    margin-bottom: 10px;

    @media (min-width:768px){

        max-width: 154px;
        //margin-bottom: 40px;
        margin-bottom: 32px; // To match Design QA - Donations

    }

    @media (min-width:1320px){

    }


}

.wherewilldonationsgo-item-icon-image{

    width: 100%;
    height: auto;

}





.wherewilldonationsgo-cta{

    padding-top: 40px;

    @media (min-width:768px){

        padding-top: 60px;

    }


}
